*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;transform: prespective(800px);transform-style:preserver-3d}
/*img{ width: 100%; }*/
p{font-size: 0.8rem;color: #3f3f3f;margin: 1rem 0.1rem 1rem 0.1rem;line-height: 1.1rem;}
li{font-size: 0.8rem;color: #3f3f3f;margin: 0rem 0.1rem 0rem 1rem;line-height: 1.1rem;}

#bg{position: absolute;width: 100%;height: 100%;z-index: -1;top: 0;left: 0;}
#logo{position: absolute;width: 100%;top: 0;left: 0;z-index: 0;}
.content{position: absolute;width: 100%;height: 100%;z-index: 100;}
#part1{position: absolute;width: 100%;height: 100%;}
#part2{position: absolute; z-index: 1; width: 100%;height: 100%;display: none;}
.slider{position: absolute;width: 100%;height: 100%;overflow: hidden;}
.btnUp{position: absolute;top: 0;display: none;}
.btnDown{position: absolute;bottom: 0;	transform:scale3d(1,-1,1);	-webkit-transform:scale3d(1,-1,1);}
.picA{position: absolute;width: 75%;height: 61.37%;background-color: #fff;left: 50%;top: 47%;
	transform:translate3d(-50%,-50%,0);	-webkit-transform:translate3d(-50%,-50%,0);}
.p0title{	position: absolute;top: 80%;}
.addShadow{	box-shadow: .2rem .2rem  .5rem #000;}
.p0pic{	position: relative;	width: 91.66%;	left: 4.17%;	top: 3%;}
.p0copy{	position: relative;	width: 91.66%;	left: 4.17%;	top: 3%;}
.picLeft{	transform: translate3d(-110%,-45%,0) rotateZ(-15deg) scale3d(.7,.7,1);
	-webkit-transform: translate3d(-110%,-45%,0) rotateZ(-15deg) scale3d(.7,.7,1);
	opacity: .5;
}
.picRight{	transform: translate3d(-10%,-45%,0) rotateZ(15deg) scale3d(.7,.7,1);
	-webkit-transform: translate3d(-10%,-45%,0) rotateZ(15deg) scale3d(.7,.7,1);
	opacity: .5;
}
/*第二部分*/
.title1{
	position: absolute;
	width: 100%;
	transform:translate3d(0,-50%,0);
	-webkit-transform:translate3d(0,-50%,0);
	top: 50%;
}
.bottomDiv{position: absolute;width: 100%;bottom: 0;}

/*规则*/
#rule{	position: absolute; background: rgba(0,0,0,0.7); width: 100%;height: 100%;display: none;}
#rulebg{	background-color: #000;	opacity: .5;}
#rule1{	position: absolute;	width:82.8%; 	height: 3.6%;	bottom: 86.5%;	left:8.6%;	background-color: #fff;	opacity: .9;}
#rule2{	position: absolute;	width:100%; 	left:0%;	top: 13.5%;	z-index: 1;}
#rule3{	position: absolute;	width:82.8%; 	height: 79.5%;	bottom: 7%;	left:8.6%;	background-color: #fff;	opacity: .9;}
#rule3t{position: absolute;	width: 83.4%;	left: 8.3%;	top: 8%;	height: 88%;	border-bottom: 2px solid #01b4e5;	overflow: scroll;	overflow-scrolling: touch;	-webkit-overflow-scrolling: touch;}
#closeBtn{	width:auto;	height: 100%;	float: right;}
/*第二部分第二页*/
#page2{
	display: none;
}
.userPic{
	position: absolute;
	width: 75%;
	height: 61.37%;
	background-color: #fff;
	left: 50%;
	top: 40%;
	transform:translate3d(-50%,-50%,0);-webkit-transform:translate3d(-50%,-50%,0);
}
#p2btn{
	position: absolute;
	width: 100%;
	bottom: -5%;
	display: none;
}
#phone{
	width: 100%;
}
#btnGroup{
	position: absolute;
	width: 100%;
	top: 0;
}
#page3{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.blackBG{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
	background-color: #000;
}
.userPicx12{
	position: absolute;
	width: 72.5%;
	height: 70%;
	left: 50%;
	top: 50%;
	background-color: #fff;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
}
.picGroup{
	position: relative;
	width: 84%;
	left: 50%;
	top: 5%;
	transform:translate3d(-50%,0,0);
	-webkit-transform:translate3d(-50%,0,0);
}
.Apic{
	display: inline-block;
	width: 48%;
	white-space:nowrap;
	text-align: center;
	padding: .5rem 0 .5rem 0;
/*	padding: 1rem;*/

}
.pic_All{
	border: solid 0.2rem #747474;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	overflow: hidden;
	width: 80%;
}
.picFooter{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#pG2{
	/*display: none;*/
}
#pG3{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
	/*display: none;*/
}
#ending1{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
}
.btnPicClose{
	width: 8.75%;
	right: 0;
	position:absolute;
	padding: .5rem;
}
#shareBtn{
	width: 68.6%;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
#p2btn1 {
	margin-top: -10%;
	visibility: hidden;
}