<html>
<head>
	<meta charset="UTF-8" name="viewport"
		  content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<meta name="format-detection" content="telephone=no">
	<title>omp</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="app" class="contanier">
	<div class="weather-con">
		<div class="today-weather">今日朝阳：小雨转晴 微风3级</div>
		<div class="today-status">较易发过敏</div>
		<div class="tips">辅舒良提醒您，使用空调，如果不注重及时通风，导致房间内的空气不流通，引起吸入性过敏原大量积蓄，就会诱发过敏性疾病。</div>
	</div>
	<div class="today-detail-con">
		<div class="today">今天</div>
		<div class="today-tem">
			<div class="temperature">25°</div>
			<div class="cloud-bar bar">多云</div>
		</div>
		<div class="white-line"></div>
		<div class="today-air-condition">
			<div class="pm2-5-con">
				<span class="nums">125</span>
				<span class="pm2-5">pm2.5</span>
			</div>
			<div class="air-bar bar">空气质量良好</div>
		</div>
	</div>
	<div class="banner"></div>

	<div class="buy-con">
		<div class="buyES-img">
			<img src="img/es-banner.jpg" alt="">
		</div>
		<div class="btns-con">
			<div class="btn buy-btn">立即购买</div>
			<div class="space"></div>
			<div class="btn store-btn" v-on:click="showStore">药房地址一览</div>
		</div>
	</div>

	<div class="class-con">
		<div class="title"></div>
		<div class="questions-con">
			<div v-for="(item, index) in quesionList">
				<a class="question" :href="item.url">
					<div class="text">{{item.question}}</div>
				</a>
			</div>

		</div>
	</div>

	<div class="popUp" v-if="storePopup">
		<div class="pop-con">
			<div class="wrapper" id="wrapper">
				<ul class="content">
					<li v-for="item in storeList" class="storeItem">
						<div class="store-name">{{item.storeName}}</div>
						<div class="address">{{item.address}}</div>
					</li>
				</ul>
				<!--<div class="slidebar">
					<div class="bar"></div>
					<div class="slide"></div>
				</div>-->
			</div>

			<div class="close" v-on:click="closeStore"></div>
		</div>
	</div>

	<div class="loading-con"  v-if="loading">
		<div class="loading">
			<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div>

</div>



<!--<script src="/libs/js/min/jquery.min.js"></script>-->
<!--<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>-->
<script src="/libs/js/min/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="js/bscroll.min.js"></script>
<script src="js/vue-spinner.min.js"></script>
<script src="js/rem.js"></script>
<script src="js/index.js"></script>
<!-- endbuild -->

<script>
	/*$(function () {
			var url = 'http://h5-lbs.api.moji.com/location/location'
			var data = {
					latitude: 39.206463,
					longitude: 117.16287
			}
			$.ajax({
					url: url,
					async: false,
					type: "POST",
					dataType: "JSONP",
					data: data,
					success: function (result) {
							console.log(result);
					},
					error: function (xhr, ajaxOptions, thrownError) {
							console.log(xhr);
					}
			});
	})*/

</script>
</body>
</html>
