// 依赖 sass/base

.slider-normal
	overflow: hidden
	.slide-normal-group
		+posr
		white-space: nowrap
		font-size: 0
		+tran(all,0s,linear)
		.slide-normal
			+w(100%)
			display: inline-block
			vertical-align: topd