<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>画山成岳，致敬心中的江湖</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="//image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="load" class="load">
      <div id="loading" v-show="mounted" style="display: none" class="content">
        <p class="centeralign">LOADING {{progress}}%</p>
      </div>
    </div>
    <div id="main" v-show="mounted" :class="{biger: biger, smaller:smaller}" :style="{width: w+'px',height: h+'px'}" style="display: none" class="main">
      <transition name="page-down">
        <div v-show="noteShow" @click="noteShow = false" :class="{error: noteType}" class="note-message">
          <div class="note-text">{{noteText}}</div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="loading" class="loading-page">
          <div class="ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 1" class="page page-1">
          <div class="content">
            <div class="text-1 fadeInDown animated delay-6"><img src="./img/logo.png"></div>
            <div class="middle-box">
              <div class="text-2 fadeInDown animated delay-7"><img src="./img/homepage-text.png"></div>
              <div class="text-4 fadeInDown animated delay-8"><img src="./img/homepage-text-1.png"></div>
              <div class="text-5 fadeInDown animated delay-9"><img src="./img/homepage-text-2.png"></div>
              <div @click="goNext" class="text-6 fadeInDown animated delay-10"><img src="./img/homepage-text-3.png">
                <div class="arrow"><img src="./img/homepage-text-3-arrow.png"></div>
              </div>
              <div class="box fadeInDown animated delay-13"><img src="./img/homepage-car.png">
                <div class="text-3"><img src="./img/homepage-cd.png">
                  <div class="cd"><img src="./img/cd.png"></div>
                  <div class="icon">
                    <div class="inside"><img src="./img/homepage-cd-icon.png"></div>
                  </div>
                </div>
                <div class="slider">
                  <div class="slide">
                    <mp4 src="http://image.giccoo.com/projects/test/video-build.mp4" poster="./img/poster.jpg" controls="true" playsinline="true"></mp4>
                  </div>
                </div>
              </div>
            </div>
            <div class="logo-down fadeInDown animated delay-16"><img src="./img/logo-down.png"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 2" :class="{blur: formBoxShow}" class="page page-2">
          <div class="content">
            <div id="ugc"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 3" class="page page-3">
          <div :class="'index-'+carIndex" class="content">
            <div class="icon-music">
              <div class="icon icon-1">
                <div class="inside"><img src="./img/icon-music-1.png"></div>
              </div>
              <div class="icon icon-2">
                <div class="inside"><img src="./img/icon-music-2.png"></div>
              </div>
            </div>
            <div class="title fadeInDown animated delay-5"><img src="./img/waitpage-title.png"></div>
            <div class="nickname fadeInDown animated delay-7">
              <input type="text" v-reset-input v-model="nickname" placeholder="请输入您的昵称_">
              <div @click="goShow" class="btn-start"><img src="./img/btn-start.png"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="formShow" class="page page-cover">
          <div class="content">
            <div :class="{on: formBoxShow}" class="form-box">
              <div class="btns">
                <div @click="formBoxShow = !formBoxShow" class="btn btn-form"><img src="./img/btn-form.png"></div>
                <div @click="share" class="btn btn-share"><img src="./img/btn-share.png"></div>
              </div>
              <div class="form-content fadeIn animated">
                <div class="mobile">
                  <input id="mobile" type="number" v-reset-input v-model="mobile" placeholder="请输入您的电话，预约试驾_" @focus="focusEvt" @blur="blurEvt">
                  <div @click="goSubmit" class="btn-start"><img src="./img/btn-start.png"></div>
                </div>
              </div>
            </div>
            <div @click="goWeb" class="btn-web"><img src="./img/btn-web.png"></div>
            <div @click="openSong()" class="btn-music"></div>
            <div @click="formBoxShow = false" class="goNormal"></div>
          </div>
        </div>
      </transition>
      <div v-show="ugcShow" class="pop flashcamera">
        <div class="content">
          <div class="small-size">
            <div @click="closeUGC" class="close"><img src="./img/icon-close.png"></div><img :src="ugc">
            <div class="note">长按保存图片</div>
          </div>
        </div>
      </div>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/jquery.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/pixi.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/ntes.id.js"></script>
    <script src="js/ajap.min.js"></script>
    <script src="js/public_funciton.js"></script>
    <script src="js/build.js?v=1"></script>
    <script src="js/main.js?v=1"></script>
    <script src="js/ani.js?v=1"></script>
  </body>
</html>