@import sass/base
+keyframes(outc)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
+keyframes(inc)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(-360deg))
+keyframes(second)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
// animation, delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

.playsound
	+posa
	+tl(0.5rem,2%)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.planet-note-enter-active
	transition: all 1.6s ease
.planet-note-leave-active
	transition: all 1.6s ease
.planet-note-enter, .planet-note-leave-to
	transform: translateY(120px);
	opacity: 0;

.relative
	+posr
.page-award
	// +show
	z-index: 109
	.time
		+b("../img/award-time-bg.png",no-repeat,right,center,100% 100%)
		+posa
		+tr(3%)
		color: #eee69c
		+font-size(0.8rem)
		+p(5px 20px 5px 10px)
	.topPart
		+iw(640)
	.award-box
		+posr
		+iw(640)

		.award-outside,.award-inside,.award-btn
			+posa
			+tl
			font-size: 0
			transform-orign: center center
		.award-outside
			z-index: 2
		.award-inside
			z-index: 3
		.award-btn
			+posr
			z-index: 4
		&.on
			.award-outside
				+animation(outc,4s,linear,infinite)
			// .award-inside
			// 	+tran(all,2s,linear)
			// 	+transform(rotate(-360deg*2))
		&.open
			.award-outside
				+animation(outc,4s,linear,infinite)
		&.leshiyear
			.award-inside
				+tran(all,3s,ease-out)
				+transform(rotate(-360deg*4-360deg))
		&.ticket
			.award-inside
				+tran(all,3s,ease-out)
				+transform(rotate(-360deg*4-75deg))
		&.leshi
			.award-inside
				+tran(all,3s,ease-out)
				+transform(rotate(-360deg*4-130deg))
		&.none
			.award-inside
				+tran(all,3s,ease-out)
				+transform(rotate(-360deg*4-180deg))

	.award-info
		+posr
		z-index: 2
		+text-center
		a
			color: #c99942
			padding-bottom: 5px
			text-decoration: none
			+show-inline
			border-bottom: solid 1px #c99942
			+font-size(0.8rem)
			margin-right: 10px
			margin-left: 10px
.award-pop
	+hide
	z-index: 110
	+bc(rgba(0,0,0,0.9))
	font-size: 0
	.topPart
		+bc(rgba(0,0,0,0.9))
		+posa
		+tl
		+w
		+h
	.fail
		+posa
		+tl(20%)
		.close
			+posa
			+tr(0,0)
			+wh(50px,50px)
		.share-btn
			+posa
			+bl(0,0)
			+wh(100%,40%)
	.success
		+posa
		+tl(20%)
		.top
			+posr
			.close
				+posa
				+tr
				+wh(50px,50px)
			.title
				+posa
				+tl(23%)
			.name
				+posa
				+tl(62.5%)
			.code
				+posa
				+bl(13%)
				+font-size(0.8rem)
				+text-center
				+w
				+show
				letter-spacing: 1px
				color: #000
		.center
			+b("../img/award-box-center.png",repeat-y,center,top,100% auto)
			+font-size(0.8rem)
			color: #c5923a
			p
				+p(0 10%)
			.btn
				padding-top: 10px
				padding-bottom: 20px
		.bottom
.how
	max-height: 200px
	+touch
	p
		margin-top: 0.4em
		&:first-child
			margin-top: 0
	.note,a
		+font-size(0.6rem)
		color: #aaa
		word-break: break-all

#theGif
	// +show
	+overhide
	border-radius: 8%
	+w(320px)
	+h(320px)
	opacity: 0
	z-index: -1
	+hide
	video
		+w
		+h
		// margin-left: -10%
		margin-left: 0
		// +posa
		// +tl(5%)
		z-index: 100
	#video
		// +hide
	#videogame
		+posa
		// +tl(-1000px,-100px)
		+tl
		+w(70%)
		z-index: 1000
		opacity: 1

.note-pop
	+posa
	+tl
	+w
	+h
	+bc(rgba(0,0,0,0.9))
	z-index: -1
	&.show
		z-index: 99999
	.box
		+posa
		+tl(50%,10%)
		+w(70%)
		+p(5%)
		// +b(rgb(0,0,0))
		+text-center
		margin-top: -10%
		// +transform(translate3d(-50%,-50%,0))
		// border: solid 1px #eee69c
		color: #eee69c
		+b("../img/pop-center.png",repeat,top,center,100% auto)
		&:before
			content: " "
			+posa
			+tl(-20px)
			+w
			+h(20px)
			+b("../img/pop-top.png",repeat,top,center,100% auto)
		&:after
			content: " "
			+posa
			+bl(-20px)
			+w
			+h(20px)
			+b("../img/pop-bottom.png",repeat,bottom,center,100% auto)
		.close
			+posa
			+tr(-80%,-5%)
			+wh(30px,30px)
			font-size: 0
		p
			+font-size(0.8rem)
			line-height: 1.4em



// #game3
// 	+show
// 	z-index: 1000
// 	#theGif
// 		+show
// 	#bigfire,#mainCanvas
// 		+hide

// for iphone 4

// #resultPage
// 	+show
// 	z-index: 999999
#g3btn,#g3btngoon,#goaward
	+posa
	+w
#g3btn
	+bl(19%)
	+h(6%)
	top: auto
#g3btngoon
	+bl(26%)
	+h(6%)
	top: auto
#goaward
	+bl(32%)
	+h(6%)
	top: auto

.topbg
	font-size: 0
.topbg > .topbg
	+posr
.iphone4
	#page1 .topPart
		top: -5%
		&#ruleBtn
			top: 0%
	#g2t
		top: -5%
	#g1t
		top: -2%
	#resultPage > .topPart
		top: -5%
	#resultPage #shareLayer
		top: 5%
	// #game3 #g3BG2
	// 	top: -5%
	.bottomPart
		bottom: -15%
	.page#game3,.page#game2,.page#game1,.page#resultPage
		top: -5%
		.bg
			top: 5%
	#page1
		top: 0

