<!DOCTYPE html>
<html lang="en" ng-app="kelvin" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>陈冠希、蔡依林引领街头潮流，演绎经典zx family鞋款</title>
    <link rel="stylesheet" href="css/base.css">
    <script>
      function showLoad() {
      	 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
      }
      
    </script>
  </head>
  <body>
    <div class="wechat-share-hide"><img src="http://campaign.douban.com/files/campaign/Adidas/img/share.jpg"></div>
    <div ng-controller="MainController" ng-hide="ori" class="wrap">
      <div ng-class="from" class="hideView"></div>
      <div ng-view ng-class="from" class="view-animate {{path}}"></div>
      <div class="public-logo fadeIn delay-10 duration-5"><img src="img/logo.jpg"></div>
      <div id="loading" class="loading loaded">
        <div class="loading-logo">
          <div class="loading-normal"><img src="img/loading-normal.png"></div>
        </div>
      </div>
    </div>
    <div ng-show="ori" class="noteText"><span>请使用竖屏继续浏览</span></div>
    <div class="qrcode">
      <div class="text">建议您使用手机浏览</div><img src="img/qr.png">
    </div>
    <script type="text/ng-template" id="home.html">
      <div parallay ng-controller="swipeController" class="page home">
        <div class="men mark-img slideToLeft duration-5">
          <div class="menNote"><img src="img/men.png"></div>
        </div>
        <div class="women mark-img slideToRight duration-5">
          <div class="womenNote"><img src="img/women.png"></div>
        </div>
        <div class="logo-sub fadeIn delay-10 duration-10"><img src="img/logo-sub.png"></div><a href="#/store" class="nearbtn fadeInUp delay-10 duration-5"><img src="img/near-btn.png"></a>
      </div>
    </script>
    <script type="text/ng-template" id="men1.html">
      <div parallax prePage="" nextPage="men2" ng-controller="swipeController" class="page men1">
        <div ng-controller="menController as men" ng-click="men.Pop(true)" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-15 duration-10"><img src="img/m-1-name.png"></div>
            <div class="logo-sub fadeIn delay-15 duration-5"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-10 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="men.popshow" ng-click="men.Pop(false)" class="pop">
            <div class="content"><img src="img/m-1-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="men2.html">
      <div parallax prePage="men1" nextPage="men3" ng-controller="swipeController" class="page men2">
        <div ng-controller="menController as men" ng-click="men.Pop(true)" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-15 duration-10"><img src="img/m-2-name.png"></div>
            <div class="logo-sub fadeIn delay-15 duration-5"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-10 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="men.popshow" ng-click="men.Pop(false)" class="pop">
            <div class="content"><img src="img/m-2-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="men3.html">
      <div parallax prePage="men2" nextPage="men4" ng-controller="swipeController" class="page men3">
        <div ng-controller="menController as men" ng-click="men.Pop(true)" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-15 duration-10"><img src="img/m-3-name.png"></div>
            <div class="logo-sub fadeIn delay-15 duration-5"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-16 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="men.popshow" ng-click="men.Pop(false)" class="pop">
            <div class="content"><img src="img/m-3-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="men4.html">
      <div parallax prePage="men3" nextPage="men5" ng-controller="swipeController" class="page men4">
        <div ng-controller="menController as men" ng-click="men.Pop(true)" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-15 duration-10"><img src="img/m-4-name.png"></div>
            <div class="logo-sub fadeIn delay-15 duration-5"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-16 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="men.popshow" ng-click="men.Pop(false)" class="pop">
            <div class="content"><img src="img/m-4-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="men5.html">
      <div parallax prePage="men4" nextPage="store" ng-controller="swipeController" class="page men5">
        <div ng-controller="menController as men" ng-click="men.Pop(true)" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-15 duration-10"><img src="img/m-5-name.png"></div>
            <div class="logo-sub fadeIn delay-15 duration-5"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-16 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="men.popshow" ng-click="men.Pop(false)" class="pop">
            <div class="content"><img src="img/m-5-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="women1.html">
      <div parallax prePage="" nextPage="women2" ng-controller="swipeController" class="page women1">
        <div ng-controller="womenController as women" ng-click="women.Pop(true)" class="page-content">
          <div class="box">
            <div class="logo-sub fadeIn delay-15 duration-10"><img src="img/logo-sub.png"></div>
            <div class="nextpoint fadeIn delay-16 duration-5">
              <div class="pointleft"><img src="img/arrow-up.png"></div>
            </div>
          </div>
          <div ng-show="women.popshow" ng-click="women.Pop(false)" class="pop">
            <div class="content"><img src="img/w-1-pop.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="women2.html">
      <div parallax prePage="women1" nextPage="women3" ng-controller="swipeController" class="page women2">
        <div ng-controller="womenController as women" class="page-content">
          <div class="box">
            <div class="m-name fadeInDown delay-8 duration-5"><img src="img/w-2-name.png"></div>
            <div class="nextpoint fadeIn delay-10 duration-5">
              <div class="pointleft"><img src="img/arrow-up-blue.png"></div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="women3.html">
      <div parallax prePage="women2" nextPage="store" ng-controller="swipeController" class="page women3">
        <div ng-controller="womenController as women" class="page-content">
          <div class="box">
            <div class="nextpoint fadeIn delay-15 duration-5">
              <div class="pointleft"><img src="img/arrow-up-blue.png"></div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="store.html">
      <div ng-controller="storeController as store" class="page store"><a href="#/" class="back"><img src="img/back.png"></a>
        <div class="store-list">
          <div class="city">
            <div class="left">
              <input id="beijing" type="radio" value="beijing" name="city" ng-model="city" ng-change="store.changeCity()">
              <label for="beijing" class="bj">北京</label>
            </div>
            <div class="right">
              <input id="shenyang" type="radio" value="shenyang" name="city" ng-model="city" ng-change="store.changeCity()">
              <label for="shenyang" class="sy">沈阳</label>
            </div>
          </div>
          <div class="area">
            <div class="select-template"><span>{{area.name}}</span><em></em>
              <select id="area" name="area" ng-model="area" ng-change="store.changed()" ng-options="key.name for key in store.area">
              </select>
            </div>
          </div>
          <ul class="list">
            <li ng-repeat="shop in store.shoplist" class="shop clearfix">
              <div class="avatar"><img src="img/avatar.png"></div>
              <div class="text">
                <h1>{{shop[1]}}</h1>
                <h2>{{shop[2]}}</h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </script>
    <script src="js/Zepto.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.min.js" type="text/javascript"></script>
    <script src="js/angular-touch.min.js" type="text/javascript"></script>
    <script src="js/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/base.js" type="text/javascript"></script>
  </body>
</html>