extends ../libs/jade/layout-clean
block title
  | 跟上鹿晗，一起#原创不息#

block css
  meta(name="author",content="m.giccoo.com")
  //- link(rel="stylesheet",href="//image.giccoo.com/projects/libs/css/animate.min.css")
  link(rel="stylesheet",href="css/base.css")
  //- script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();

block content
  //- url = "http://image.giccoo.com/projects/adidas-originals-eqt";
  - url = ".";
  iframe(src='http://shangzhibo.tv/watch/568113?player', style='width: 100%; height: 360px; overflow:hidden;', scrolling='no', allowfullscreen='')
  //- #main
  //- video#video(controls)

block js
  - url = "/";
  //- script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
  //- script(src="http://image.giccoo.com/projects/libs/js/min/fastclick.min.js")
  //- script(src="http://image.giccoo.com/projects/libs/js/min/vue.min.js")
  script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
  //- script(src="http://image.giccoo.com/projects/libs/js/min/tweenjs.min.js")
  //- script(src="js/main.js")
  //- script.
    var video = document.getElementById('video');
    if(Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource('http://live.giccoo.com/active/soupdaren.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
      });
     }
     // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
     // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
     // This is using the built-in support of the plain video element, without using hls.js.
     // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
     // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
     else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = 'http://live.giccoo.com/active/soupdaren.m3u8';
        video.addEventListener('loadedmetadata',function() {
          video.play();
        });
      }