*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;}
img{ width: 100%; }
.wechat-share {  position: absolute;  top: -1000px;  left: 0px;  z-index: -100;  width: 1px; }


/*
透视效果 不加body上
			perspective:300;
	-webkit-perspective: 300;
			transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;


		-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
*/




.topPart{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 0;
}
.downPart{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	font-size: 0;
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 0;

}
#mainCanvas{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	left: 0;
	bottom: 0;
}
.alphaBtn{
	position: absolute;
	background-color: #897658;
	opacity: 0;
}
#p0_btn{
	width: 50%;
	height: 30%;
	bottom: 0;
	left: 25%;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#home_btn{
	width: 100%;
	height: 80%;
	bottom: 0;
	left: 0%;
	display: none;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#video1{
	position: absolute;
	width: 90%;
	top:25%;
	left: 5%;
	display: none;
}
#endBtn1{
	width: 50%;
	height: 15%;
	bottom: 0;
	left: 0%;
	display: none;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#endBtn2{
	width: 50%;
	height: 15%;
	bottom: 0;
	right: 0%;
	display: none;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#shareBtn{
	position: absolute;
	width: 11.25%;
	top: 0;
	left: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#closeBtn{
	position: absolute;
	width: 8.75%;
	top: 0;
	left: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
	display:none;
}
.musicBtn{
	position: absolute;
	width: 11.25%;
	top: 0;
	right: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#musicOff{
	opacity: 0;
}