@import sass/base
@import sass/note

$cdn: "http://disk.giccoo.com/projects/qa/"

+keyframes(second)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
+keyframes(light)
	0%,100%
		+transform(translate3d(0,0,0))
		opacity: 0
	10%
		opacity: 1
	70%
		opacity: 1
	80%
		+transform(translate3d(9rem,0,0))
		opacity: 0
+keyframes(ups)
	0%,100%
		+transform(translate3d(-50%,0,0))
	50%
		+transform(translate3d(-50%,-20%,0))




// animation,delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

.wechat-share-hide
	+posa
	+tl(-1000px)
	+hide
	+w(1px)

html,body
	+w
	+h
.hide
	+hide
// .loading

.loading
	+posa
	+tl
	+w
	+h
	+bc(#1c80ce)
	z-index: 999
	.img
		+posa
		+tl(50%)
		+transform(translate3d(0,-50%,0))
		+w
	.text
		+posa
		+tl(68%,50%)
		+transform(translate3d(-50%,-50%,0))
		+text-center
		+font-size(1rem)
		line-height: 1.4em
		color: #ffffff
		.loadtext
			+font-size(1.4rem)
			margin-right: -1rem
			em
				font-style: normal
.main
	// +posa
	// +tl
	+posr
	+w
	+h
	+m
	max-width: 640px
	z-index: 99
	font-size: 0
	.page,.pages
		+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
		+posa
		+tl
		+h
		+w
		+hide
		&.on
			+show
	.pages
		+show
	.info-page, .note-page, .select-page
		.slogan
			+posa
			+tl(5%,50%)
			+iw(520)
			+transform(translate3d(-50%,0,0))
			.iphone4 &
				top: 0
		.qrcode
			+w(25%)
			+m
		.text
			+posa
			+tl(36%,10%)
			+w(80%)
			+font-size(0.8rem)
			color: #162a88
			+text-center
			.iphone4 &
				top: 34%
			h3
				+font-size(1.1rem)
			p,h3
				+m(0.4rem 0)
				line-height: 1.4em
			.companylogo
				display: inline-block
				+w(7rem)
		.btn-join,.btns
			+posa
			+bl(2%,50%)
			+iw(640)
			+transform(translate3d(-50%,0,0))
			+text-center
			.btn
				+show-inline
				+w(36%)
				+m(0 2%)
				+posr
				.p
					+posa
					+bl(30%,50%)
					+w(40%)
					+transform(translate3d(-50%,0,0))
					z-index: -1
					.off
						+posa
						+tl
						z-index: 9
				&.on
					.p
						+animation(ups,2s,linear,infinite)
						.off
							+hide
				
					

		.btns
			+bl(20%,50%)
	.note-page
		.text
			top: 40%
		.btns
			bottom: 30%
	.select-page
		&.on
			.text
				top: 32%
		.text
			p
				+font-size(0.74rem)
				+text-left
			p,h3
				+m(0.2rem 0)
				line-height: 1.4em
	.question-page
		+posa
		+tl
		+w
		+h
		.banner
			+show
			+posa
			+bl
			+w
		.question
			+posr
			+m
			+w
			margin-top: 5%
			color: #ffffff
			.iphone4 &
				margin-top: 0
			> .icon
				+posa
				+tl(-10%,35%)
				+w(15%)
			> .num
				+posa
				+tl(15%,25%)
				+font-size(1.4rem)
				+show-inline
				+w(2rem)
				+text-left
				.iphone4 &
					+tl(15%,26%)
					font-size: (1.2rem)
			> .count
				+posa
				+tr(16%,16%)
				+font-size(0.6rem)
				+text-center
				+w(2rem)
				.iphone4 &
					+tr(16%,13.5%)
					font-size: (0.5rem)
				.num
					+font-size(0.9rem)
					font-weight: bold
					.iphone4 &
						font-size: (0.7rem)
			> .text
				+posa
				+tl(32%,22%)
				+w(60%)
				+font-size(0.8rem)
				&.big
					+font-size(1rem)
				&.small
					+font-size(0.64rem)


		.answers
			+w(80%)
			+m
			+font-size(0.8rem)
			color: #4193d8
			line-height: 1.4em
			ul
				li
					margin-bottom: 0.5rem
			.check
				+show-inline
				+posr
				+wh(1rem,1rem)
				vertical-align: middle
				border: solid 2px #4193d8
				margin-right: 0.8rem
				margin-top: -0.2rem
				border-radius: 0.4rem
				img
					+posa
					+bl(0.1rem,0.1rem)
					+w(1.4rem)
					+hide
					max-width: none
			li
				&.on
					.check
						img
							+show
		.btns		
			+w
			+text-right
			margin-top: 2%
			.next,.restart,.done
				+show-inline
				+w(255/750*100%)
				&:last-child
					margin-right: 10%
	.finished-page
		&.noad
			.content
				top: 30%
				.bg
					top: 0
					bottom: none
		.content
			+posa	
			+bl(5%,50%)
			+transform(translate3d(-50%,0,0))
			+font-size(0.9rem)
			+w
			+text-center
			color: #162a88
			.over
				+posa
				+tl(-20%,50%)
				+w(50%)
				+transform(translate3d(-50%,0,0))

			p
				+m
				line-height: 1.6em
				&:last-child
					+font-size(0.8rem)
			h2
				+font-size(1.6rem)
				color: #df0283
				+m(0.2rem 0)
			.qrcode
				+w(30%)
				+m
			#nums
				color: #fc9400
				+font-size(1.2rem)
			.btn-share
				margin-top: 10%
				+posr
				z-index: 1
			.bg
				+posa
				+bl
				z-index: -1
		.share-box
			+posa
			+tl
			+w
			+h
			+bc(rgba(0,0,0,0.8))
			+hide
			z-index: 1000
			&.on
				+show

.pop
	+posf
	+tl
	+w
	+h
	+bc(rgba(0,0,0,0.8))
	+hide
	&.on
		+show
	.content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+iw(579)
	.form-grounp
		+w
		$labelColor: #ffffff
		$borderColor: #194784
		$inputColor: #194784
		$h: 1.4rem
		> label
			+wh(30%,$h)
			+show-inline
			+font-size(0.8rem)
			+m(0.2rem 0)
			line-height: $h
			vertical-align: top
			color: $labelColor
		> input
			+wh(68%,$h)
			+font-size(0.8rem)
			+bc(#fff)
			+show-inline
			+box
			+m(0.2rem 0)
			+p(0.2rem)
			line-height: $h
			vertical-align: top
			border: solid 1px $borderColor
			color: $inputColor
			outline: none
			border-radius: 0.4rem
		.comb
			+wh(68%,$h)
			+font-size(1rem)
			+show-inline
			+m(0.2rem 0)
			color: $inputColor
			white-space: nowrap
			label
				+wh(30%,$h)
				+show-inline
				+font-size(0.8rem)
				+text-center
				color: $labelColor
			input
				+show-inline
				+w(1rem)
			.select
				+w(48.5%)
				+m
		.select
			+posr
			+wh(68%,$h)
			+show-inline
			+bc(#fff)
			+m(0.2rem 0)
			+box
			+p(0 0.2rem)
			+font-size(0.8rem)
			color: $inputColor
			border: solid 1px $borderColor
			border-radius: 0.4rem
			&:after
				$size: 0.5rem
				content: " "
				+posa
				+tr(50%,$size)
				+transform(translate3d(0,-50%,0))
				z-index: 99
				border-left: $size/2 solid transparent
				border-right: $size/2 solid transparent
				border-top: $size solid $borderColor
			span
				text-overflow: ellipsis
				+show-inline
				+wh(100%,$h)
				+overhide
			select
				+posa
				+tl
				+br
				+w
				+h
				opacity: 0
		.btns
			+w
			+text-center
			margin-top: 1rem
			.btn
				+font-size(0.8rem)
				+show-inline
				+wh(26%,$h*1.4)
				+bc($borderColor)
				color: $labelColor
				+text-center
				line-height: $h*1.4
				+m(0 2%)
				border-radius: 0.4rem
	.box
		.qcode
			+w(80%)
			+m
			margin-top: 20%
		.note-text
			+w(80%)
			+m
			+font-size(0.8rem)
			+text-center
			color: #ffffff
		.close
			+posa
			+tr(1%,1%)
			+w(3rem)

.form
	+w(80%)
	+m
	+p(1.4rem 0)
	$labelColor: #194784
	$borderColor: #194784
	$inputColor: #194784
	.form-grounp
		$h: 1.4rem
		vertical-align: top
		> label
			+wh(30%,$h)
			+show-inline
			+font-size(0.8rem)
			+m(0.2rem 0)
			line-height: $h
			vertical-align: top
			color: $labelColor
		> input
			+wh(68%,$h)
			+font-size(0.8rem)
			+bc(#fff)
			+show-inline
			+box
			+m(0.2rem 0)
			+p(0.2rem)
			line-height: $h
			vertical-align: top
			border: solid 1px $borderColor
			color: $inputColor
			outline: none
			border-radius: 0.4rem
		.comb
			+wh(68%,$h)
			+font-size(1rem)
			+show-inline
			+m(0.2rem 0)
			color: $inputColor
			white-space: nowrap
			label
				+wh(30%,$h)
				+show-inline
				+font-size(0.8rem)
				+text-center
				color: $labelColor
			input
				+show-inline
				+w(1rem)
			.select
				+w(48.5%)
				+m
		.select
			+posr
			+wh(68%,$h)
			+show-inline
			+bc(#fff)
			+m(0.2rem 0)
			+box
			+p(0 0.2rem)
			+font-size(0.8rem)
			color: $inputColor
			border: solid 1px $borderColor
			border-radius: 0.4rem
			&:after
				$size: 0.5rem
				content: " "
				+posa
				+tr(50%,$size)
				+transform(translate3d(0,-50%,0))
				z-index: 99
				border-left: $size/2 solid transparent
				border-right: $size/2 solid transparent
				border-top: $size solid $borderColor
			span
				text-overflow: ellipsis
				+show-inline
				+wh(100%,$h)
				+overhide
			select
				+posa
				+tl
				+br
				+w
				+h
				opacity: 0

	.form-btn
		+text-center
		margin-top: 0.8rem
		button
			+w(40%)
			+m
			+p(2px 0)
			+bc(transparent)
			border: none

	

.slider
	+posr
	white-space: nowrap
	font-size: 0
	+tran(all,0s,linear)
	.slide
		+w(100%)
		display: inline-block
		vertical-align: top


