node_modules
.codekit-cache
.atom-build.json
.sass-cache
config.js
config.codekit
huxiu_ministation/static/.DS_Store
.DS_Store
*.zip
*.mp4
omp-moji/.idea/misc.xml
omp-moji/.idea/modules.xml
omp-moji/.idea/omp-moji.iml
omp-moji/.idea/vcs.xml
omp-moji/.idea/workspace.xml
omp-moji/.idea/inspectionProfiles/Project_Default.xml
your_own_way/img/music_off.png
your_own_way/img/music_on.png
