*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;}
body {
	max-width: 640px;
	margin: 0 auto;
}
img{ width: 100%; }
#gif1{
	/*position: absolute;*/
	width: 100%;
	top: 0;
	left: 0;
}
#hero{
	width: 100%;
}
h1{
	margin-top: .8em;
	margin-bottom: .8em;
	line-height: 1.5em;
	font-size: 1.4em;
}
h2{
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.5em;
	font-size: 1.3em;
}
p{
	    display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.8em;
}
.content{
	/*margin: 1em;*/
	/*font-size: 0;*/
}
.last-img{
	font-size: 0;
}
.content h1,.content h2,.content p,.content .p {
	margin: 1rem 4.04%;
}
#like {
	padding: 1rem 4.04%;
	height: 1.4rem
}
#btn{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 26.7%;
	z-index: 999;
	max-width: 170px;
}
#footer{
	display: block;
	height: 50px;
	
}
b{
	font-weight: 900;
}
a{
	color: #515fb5;
}
#like{
	width: auto;
}
#like1{
	width: 5%;
	position: absolute;
	line-height: 1em;
}
#like2{
	width: 5%;
	position: absolute;
	display: none;
	line-height: 1em;
}
#like1 img,#like2 img {
	vertical-align: top;
}
#likeNum{
	position: absolute;
	left: 10%;
	line-height: 1em;
}

article {
	position: relative;
	max-width: 640px;
	margin: 0 auto;
}