extends ../libs/jade/layout-ng
block title
	| 三个火枪手
block css
	link(rel="stylesheet",href="/ThreeMusketeers/css/base.css")
	script.
		function showLoad() {
			 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
		}

block content
	div.wechat-share-hide
		//- img(src="http://m.giccoo.com/shrimp/img/share.jpg")
	div.wrap(ng-controller="MainController")
		div.hideView
		div.view-animate(ng-view)
		div#loading.loading.loaded
			div.loading-logo
				div.loading-logo-bg(style="display:none")
				img(src="../libs/img/loading.png",onload="showLoad()")
	div.qrcode
		div.text 建议您使用手机浏览
		img(src="../libs/img/qr.jpg")


block ng-template
	script(type="text/ng-template",id="home.html")
		my-canvas(id="GameCanvas",width="640",height="300")
		div.gameCtrl
			move-box.moveBox
				div.point(ng-show="point")
			attack-box.attackBox
	
	
		


block js
	//- script(src="http://cdn.socket.io/socket.io-1.2.1.js",type="text/javascript")
	script(src="http://kelvin-air.local:8888/socket.io/socket.io.js",type="text/javascript")
	script(src="/libs/js/min/Zepto.min.js",type="text/javascript")
	script(src="/libs/js/angular.js",type="text/javascript")
	script(src="/libs/js/angular-route.js",type="text/javascript")
	script(src="/libs/js/angular-touch.js",type="text/javascript")
	script(src="/libs/js/angular-animate.js",type="text/javascript")

	script(src="/libs/js/min/easeljs-0.8.0.min.js",type="text/javascript")
	//- script(src="/libs/js/min/movieclip-0beginload.8.0.min.js",type="text/javascript")
	//- script(src="/libs/js/min/soundjs-0.6.0.min.js",type="text/javascript")
	script(src="/libs/js/min/tweenjs-0.6.0.min.js",type="text/javascript")
	script(src="/libs/js/min/preloadjs-0.4.1.min.js",type="text/javascript")

	script(src="/ThreeMusketeers/js/base.js",type="text/javascript")