@import sass/base
// @import sass/row
@import ../../libs/sass/loader-ball

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "//image.giccoo.com/projects/starbucks/"

@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms
// animation, delay, duration
$fontColor: #000000;
$pageMainBGColor: #0c101a;
+keyframes(flashcamera)
	0%
		background-color: rgba(255,255,255,1)
	80%
		background-color: rgba(255,255,255,0.2)
	100%
		background-color: rgba(0,0,0,0.7)
+keyframes(zoomBigIn)
	0%
		+transform(scale(1,1))
		opacity: 0
	10%
		+transform(scale(1,1))
		opacity: 1
	100%
		+transform(scale(0.8,0.8))
		opacity: 1
+keyframes(fadeArrow)
	0%,100%
		opacity: 1
	50%
		opacity: 0.5
+keyframes(fadeBG)
	0%
		opacity: 0
	20%
		opacity: 1
	80%
		opacity: 1
	100%
		opacity: 0
+keyframes(iconFlash)
	0%,100%
		opacity: 1
		+transform(scale(1.2,1.2))
	50%
		opacity: 0.2
		+transform(scale(1,1))
+keyframes(moveLeft)
	0%
		+transform(translate3d(-50%,0,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(musicIcon)
	0%
		+transform(translate3d(0,40%,0))
		opacity: 0
	10%
		opacity: 1
	60%
		opacity: 1
	80%,100%
		+transform(translate3d(0,0,0))
		opacity: 0
+keyframes(swingIcon)
	0%,100%
		+transform(translate3d(0%,0,0) rotate(0deg))
	25%
		+transform(translate3d(-20%,0,0) rotate(10deg))
	75%
		+transform(translate3d(20%,0,0) rotate(-10deg))


+keyframes(textShow)
	0%
		opacity: 0
	10%
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
+keyframes(fadeOutCircle)
	0%
		+transform(scale(0.8,0.8))
		opacity: 0
	20%
		+transform(scale(1,1))
		opacity: 0.7
	100%
		+transform(scale(2,2))
		opacity: 0
+keyframes(swing)
	0%
		+transform(rotate(0))
	50%
		+transform(rotate(-6deg))
	100%
		+transform(rotate(0))
+keyframes(fadeInUpSmall)
	0%
		opacity: 0
		transform: translate3d(0,20px,0)
	100%
		opacity: 1
		transform: translate3d(0,0,0)
+keyframes(second)
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)
+keyframes(beforeWheel)
	0%
		opacity: 1
		transform: scale(0.9,0.9)
	70%
		opacity: 0.8
		transform: scale(1,1)
	100%
		opacity: 1
		transform: scale(0.9,0.9)
+keyframes(fadeInShow)
	0%
		opacity: 0
	45%
		opacity: 0
	50%
		opacity: 1
	100%
		opacity: 1

html,body
	+w
	+h
body
	color: $fontColor
	// +bc($pageMainBGColor)
	max-width: 640px
	+m
	+posr
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif


video,canvas,svg
	+w
	+h(auto)
	object-fit: fill
.hide
	+hide
.main,.load
	+w
	+h
	+posr
	max-width: 1280px
	+m
	font-size: 0
	+overhide
	+tran(all,4s,ease)
	+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
#game
	+h
	canvas
		+h

.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(0,-100%,0)
	& ~ .page-animation-leave
		transform: translate3d(0,100%,0)
.page-animation-leave
	transform: translate3d(0,100%,0)
	& ~ .page-animation-enter
		transform: translate3d(0,100%,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(0,100%,0)
.page-animation-leave-to
	transform: translate3d(0,-100%,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0

.page-zoom-enter-active
	transition: all .6s ease
	opacity: 1
.page-zoom-leave-active
	transition: all .3s linear
	opacity: 1
.page-zoom-enter,.page-zoom-leave-to
	opacity: 0
	+transform(scale(2,2))

.page-up-enter-active
	transition: all .6s ease
	opacity: 1
.page-up-leave-active
	transition: all .3s linear
	opacity: 1
.page-up-enter,.page-up-leave-to
	opacity: 0
	+transform(translate3d(0,-140%,0))

.page-down-enter-active
	transition: all .3s ease
	opacity: 1
.page-down-leave-active
	transition: all .5s linear
	opacity: 1
.page-down-enter,.page-down-leave-to
	opacity: 0
	+transform(translate3d(0,-100%,0))


.page-fadeflower-enter-active
	transition: all .6s ease
	opacity: 1
.page-fadeflower-leave-active
	transition: all .6s ease-in
	opacity: 1
.page-fadeflower-enter,.page-fadeflower-leave-to
	opacity: 0

.qrcode
	+bc(#fff)
	+posa
	+tl
	+w
	+h
	z-index: 9999
	+hide
	&.show
		+show
	.qr
		+w(300px)
		+m
		margin-top: 100px
		+text-center
		font-size: 16px

.load
	+posa
	+tl(0,50%)
	+transform(translate3d(-50%,0,0))
	// +bc($pageMainBGColor)
	z-index: 99
	// 3c080f
	// +hide
	// font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	// +b($cdn+"img/loading-bg.jpg",no-repeat,center,center,100% 100%)
	color: #000
	.content
		+w
		+text-center
		+abcentermiddle
		+font-size(0.8rem)
	.texts
		+posa
		+tl(36%)
		+w
		.item
			+posa
			+tl
			+w
	.loading-logo
		$w: 40%
		+posa
		+tl(5%, (100%-$w)/2)
		+w($w)
	.loading-text
		+posa
		+tl(50%,50%)
		+iw(580,750,100%)
		color: #fff
		+text-center
		+font-size(0.8rem)
		line-height: 1.4em
		margin-top: -0.7em
		// letter-spacing: 0.3em
		font-weight: normal
		// +transform(scale(0.8,1))
		+transform(translate3d(-50%,0,0))
		p
			+m
			// font-weight: lighter
			margin-top: 0.5em
		.cd
			+posa
			+tl(-100%,50%)
			+w(4rem)
			+transform(translate3d(-50%,-20%,0))
			.cd-item
				font-size: 0
				+animation(second,3s,linear,infinite)

	.animal
		+posr
		.snowman-hand
			+posa
			+tr(15.6%,16.1%)
			+iw(27,420,100%)
			transform-origin: bottom right
			+animation(swing,2s,ease,infinite)
		.icon-symbol-img
			+animation(swingIcon,.6s,linear,infinite)
		.icon-symbol
			+posa
			+animation(musicIcon,2s,linear,infinite)
			&.music-1
				+tl(-11%,20%)
				+w(4%)
				animation-delay: 2s/4*1
			&.music-2
				+tl(-5%,24%)
				+w(1.6%)
				animation-delay: 2s/4*2
			&.music-3
				+tl(-14%,28%)
				+w(1.6%)
				animation-delay: 2s/4*3
			&.music-4
				+tl(-22%,32%)
				+w(3%)
				animation-delay: 2s/4*4

	

.public
	+posa
	+tr(1em,1em)
	+wh(1.6rem,1.6rem)
	+font-size(1rem)
	z-index: 199
	font-family: "yrd-Medium"
	// +hide
	.note-text
		+posa
		+tr(50%,120%)
		+font-size(0.8rem)
		line-height: 1rem
		white-space: nowrap
		+text-right
		+m
		+transform(translate3d(0,-50%,0))
		color: #000
		// font-family: "yrd-Medium"
		p
			+m
		.arrow
			+posa
			+tr(50%,-37.5px)
			+transform(translate3d(0,-25%,0))
			font-size: 0
			+h(30px)
			.item
				+w(10px)
				+h
				+show-inline
				font-size: 0
			// .arrow-1
			// 	+animation(fadeArrow,1s,ease,infinite)
			// .arrow-2
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*1/3
			// .arrow-3
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*2/3

	.player
		+w
		+h
	.icon-play
		+w
		+h
		&.play
			+b($cdn+"img/icon-play.png",no-repeat,center,center,contain)
		&.pause
			+b($cdn+"img/icon-stop.png",no-repeat,center,center,contain)

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg,.ugc
		+posa
		+tl(50%)
		font-size: 0
		+transform(translate3d(0,-50%,0))
		.biger &
			+transform(translate3d(0,-50%,0) scale(1.1,1.1))
	.ugc
		+w
		+h
	.content
		+posa
		+tl
		+w
		+h
		box-sizing: border-box

	.next
		+posa
		+bl
		+w
		+h(1px)
		&:before
			content: " "
			+posa
			+bl(10px,50%)
			+w(30px)
			+h(10px)
			// +b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
		&:after
			content: " "
			+posa
			+bl(22px,50%)
			+w(30px)
			+h(10px)
			// +b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
			animation-delay: 300ms

.loading-page
	+posa
	+tl
	z-index: 9999
	+w
	+h
	+bc(rgba(0,0,0,0.6))
	.ball-spin-fade-loader
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))

.form
	+w(90%)
	+m
	color: #000
	+font-size(0.8rem)
	.form-group
		display: flex
		+box
		+w(90%)
		+m(5% auto)
		border-radius: 0px
		border: solid 1px #000
		+overhide
		label
			flex: 3
			+box
			+m(0.4em 0.2em)
			// padding-right: 5%
			+posr
			// border-right: solid 1px #555
			line-height: 1.6em
			justify-content: center
			align-items: center
			box-align: center
			// +bc(#8db637)
			+text-center
			color: #000
			border-right: solid 1px #000
			img
				+show-inline
				vertical-align: middle
		input,.form-group-items,.form-group-line,.select
			flex: 7
		input,.select
			border: none
			outline: none
			+bc(#fff)
			// color: #fff
			+box
			+p(0.2rem 0)
			line-height: 1.4em
			text-indent: 0.4rem
		.select
			+overhide
			+posr
			&:after
				content: " "
				+posa
				+tr(50%,0.5rem)
				+wh(0,0)
				// +bc(#6687b3)
				+transform(translate3d(0,-30%,0))
				border-width: 0.5rem;
				border-style: solid;
				border-color: #f9bb00 transparent transparent transparent;
			span
				+box
				+p(0.2rem 0)
				line-height: 1.8em
				text-indent: 0.4rem
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				vertical-align: middle
		select
			+posa
			+tl
			+br
			+wh(100%,100%)
			+show-inline
			opacity: 0
	.custom-select
		overflow: unset
		.select
			overflow: unset
		.box-select
			+posa
			+tl(105%)
			+bc(#fff)
			.option
				line-height: 2em
				+font-size(0.7rem)
				vertical-align: middle
				span
					line-height: 2em
					+wh(1rem,1rem)
					+show-inline
					vertical-align: middle
					border-radius: 50%

	.btn-submit
		+m(0.5rem auto)

.ugcsave
	+posa
	+tl
	+br
	+w
	+h
	opacity: 0
	z-index: 99

.ugc
	+posa
	+tl
	+br
	+w
	+h
	opacity: 0
	z-index: 99



.page-1
	// +b($cdn+"img/homepage-bg.jpg",no-repeat,center,center,cover)
	.content
		.text-1
			+posa
			+tl
			+iw(155,640,100%)
		.text-2
			+posa
			+tl(14%,10%)
			+iw(216,640,100%)
		.text-3
			+posa
			+tl(-38%,1%)
			+iw(234,576,100%)
		.text-4,.text-5,.text-6
			+posa
			+tr(26.5%,7%)
			+w(50%)
		.text-5
			margin-top: 5%
		.text-6
			margin-top: 16%
		.box
			+posa
			+tl(43%,6%)
			+w(88%)
			.slider
				+posa
				+tl(10%,5%)
				// +transform(translate3d(0,-50%,0))
				+w(90%)
				+h(82%)
				.slide
					+posr
					+w
					+h
					white-space: nowrap
					font-size: 0
					+overhide
					.item
						+posa
						+show-inline
						&.posa
							+posa
							+tl

		.logo-down
			+posa
			+bl(3%)

	

	
.page-2
	// font-family: "yrd-Bold"
	z-index: 110
	+tran
	&.blur
		filter: blur(5px)
	+overhide
	.content
	// .post-card
	// 	$titleSize: 0.9rem
	// 	$itemSize: 0.85rem
	// 	+posa
	// 	+tl(7.5%,(100%-78.9%)/2)
	// 	// +iw(671,750,100%)
	// 	+w(78.9%)
	// 	z-index: 109
	// 	.btn-next
	// 		+posa
	// 		+bl(-25%,33.75%)
	// 		+iw(217,671,100%)
	// 	.question-list
	// 		+w
	// 		+h
	// 		+posr
	// 		font-family: "YRDZST-Heavy"
	// 		.question
	// 			+w
	// 			+h
	// 			+posa
	// 			+tl
	// 			+box
	// 			+p(7% 15% 7% 9%)
	// 			&:nth-child(3)
	// 				+p(12% 15% 7% 9%)
	// 			&:nth-child(4)
	// 				+p(12% 15% 7% 9%)
	// 			&:nth-child(5)
	// 				+p(18% 15% 7% 7%)
	// 			&:nth-child(6)
	// 				+p(4% 13% 7% 7%)
	// 			.line
	// 				+show-inline
	// 				+w(2.5em)
	// 				border-bottom: solid 2px #000
	// 				margin-left: 0.2em
	// 				+h(1.4em)
	// 			.title
	// 				color: #000
	// 				+font-size($titleSize)
	// 				font-family: "YRDZST-Heavy"
	// 				line-height: 1.4em
	// 				margin-bottom: 0.9em
	// 				&.center
	// 					+text-center
	// 			.note
	// 				+posa
	// 				+w(96%)
	// 				+bl(10%,0)
	// 				+font-size(0.5rem)
	// 				+text-center
	// 				margin-top: 1em
	// 				font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	// 			.msg-card
	// 				+w(90%)
	// 				+h(1.6em*4)
	// 				line-height: 1.6em
	// 				+font-size(0.7rem)
	// 				+show
	// 				+m
	// 				+posr
	// 				&:after
	// 					+font-size(0.7rem)
	// 					content: " "
	// 					+posa
	// 					+bl(-0.4rem)
	// 					+w(100%)
	// 					+h(0.4rem)
	// 					+b($cdn+"img/input-line.png",no-repeat,center,center,99%)
	// 				.slider
	// 					+overhide
	// 					+w
	// 					+h
	// 				.box
	// 					+tran(transform,0.2s)
	// 					+w
	// 					+h
	// 					+posr
	// 					white-space: nowrap
						
	// 					&.on-1
	// 						+transform(translate3d(0,0,0))
	// 					&.on-2
	// 						+transform(translate3d(-100%,0,0))
	// 					&.on-3
	// 						+transform(translate3d(-200%,0,0))
	// 					&.on-4
	// 						+transform(translate3d(-300%,0,0))
	// 					&.on-5
	// 						+transform(translate3d(-400%,0,0))
	// 				.item
	// 					+posr
	// 					+w
	// 					+h
	// 					+show-inline
	// 					+text-center
	// 					font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	// 					color: #b1b1b1
	// 					vertical-align: top
	// 				.left
	// 					+w(2rem)
	// 					+abmiddle
	// 					margin-left: -1rem
	// 					z-index: 109
	// 				.right
	// 					+w(2rem)
	// 					+abmiddle
	// 					margin-right: -1rem
	// 					left: auto
	// 					right: 0
	// 					z-index: 109
	// 					img
	// 						+transform(scale(-1,1))

	// 			.answer
					
	// 				.item
	// 					+show-inline
	// 					+w(49.5%)
	// 					+box
	// 					+font-size($itemSize)
	// 					color: #bb0000
	// 					line-height: 1.6em
	// 					padding-left: 1.6em
	// 					+posr
	// 					// margin-bottom: 1rem
	// 					&.check
	// 						&:before
	// 							content: " "
	// 							+posa
	// 							+tl(.2em,.1em)
	// 							+wh(1.2em,1.2em)
	// 							+b($cdn+"img/check.png",no-repeat,center,center,99%)
	// 							+tran(all,0.2s)
	// 						&.on
	// 							&:before
	// 								+b($cdn+"img/check-selected.png",no-repeat,center,center,99%)

	// 					&.music-icon
	// 						&:before
	// 							content: " "
	// 							+posa
	// 							+tl(.3em,0)
	// 							+wh(1em,1em)
	// 							+b($cdn+"img/icon-m.png",no-repeat,center,center,99%)
	// 							+tran(all,0.2s)
	// 						&.on
	// 							&:before
	// 								+b($cdn+"img/icon-m.gif",no-repeat,center,center,99%)

	// 					&.radio
	// 						&:before
	// 							content: " "
	// 							+posa
	// 							+tl(.3em,0)
	// 							+wh(1em,1em)
	// 							+b($cdn+"img/radio.png",no-repeat,center,center,cover)
	// 							+tran(all,0.2s)
	// 						&.on
	// 							&:before
	// 								+b($cdn+"img/radio-selected.png",no-repeat,center,center,cover)
	// 					&.row
	// 						+w
	// 				&.input
	// 					+posr
	// 					+w(90%)
	// 					+m
	// 					textarea
	// 						+p
	// 						+w
	// 						+font-size(0.7rem)
	// 						+text-center
	// 						+bc(transparent)
	// 						border: none
	// 						box-shadow: none
	// 						font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	// 						outline: none
	// 						+h(1.6em*4)
	// 						line-height: 1.6em
	// 					input
	// 						+p
	// 						+w
	// 						+font-size(0.7rem)
	// 						+text-center
	// 						+bc(transparent)
	// 						border: none
	// 						box-shadow: none
	// 						font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	// 						outline: none
	// 						line-height: 1.6em
	// 					&:after
	// 						+font-size(0.7rem)
	// 						content: " "
	// 						+posa
	// 						+bl(-0.4rem)
	// 						+w(100%)
	// 						+h(0.4rem)
	// 						+b($cdn+"img/input-line.png",no-repeat,center,center,99%)
	// 				&.hidebody
	// 					+font-size(0.7rem)
	// 					+w(80%)
	// 					opacity: 0
	// 					margin-top: -1.6em*4
	// 					+posr
	// 					z-index: 9
	// .ctrl-box
	// 	+posa
	// 	+bl(2%, 5%)
	// 	+w(50%)
	// 	z-index: 109
	// 	.btn-more
	// 		+w(80%)
	// 	.btn-list
	// 		margin-top: 5%
	// 		+w(80%)
	// 		+text-center
	// 		white-space: nowrap
	// 		.btn
	// 			+w(30%)
	// 			+show-inline
	// 			+m(0 2%)

.page-3
	+b($cdn+"img/cover.jpg",no-repeat,center,center,cover)
	z-index: 111
	.content
		&.index-1
			+b($cdn+"img/waitpage-1.jpg",no-repeat,bottom,center,contain)
		&.index-2
			+b($cdn+"img/waitpage-2.jpg",no-repeat,bottom,center,contain)
		.smaller &
			background-position: top center
		.title
			margin-top: 15%

.nickname,.mobile
	+bc(#404040)
	+w(80%)
	+m
	+posr
	margin-top: 2%
	+overhide
	.btn-start
		+w(30%)
		+show-inline
		margin-left: 70%
	input
		+posa
		+tl
		+show-inline
		+w(70%)
		+h
		+box
		+p(0.3em 0.6em)
		+font-size(0.8rem)
		+bc(transparent)
		line-height: 1.4em
		color: #fff
		vertical-align: top
		border: none
		outline: none

.page-cover
	z-index: 1009
	// border: solid 1px red
	// +h(100%)
	// +w(100%)
	+box
	.goNormal
		+posa
		+tl
		+w
		+h
		z-index: 2
	.btn-web
		+posa
		+tr(30%,0%)
		+iw(100,750,100%)
		z-index: 99
	.btn-music
		+posa
		+tl(42%,5%)
		+w(50%)
		+h(20%)
		z-index: 99
	.form-box
		+posa
		+bl(5%)
		+w
		z-index: 99
		// margin-bottom: 5%
		.form-content
			+hide
		&.on
			bottom: 0%
			.form-content
				+show
	.btns
		white-space: nowrap
		+text-center
	.btn
		+w(30%)
		+show-inline
		// +box
		+bc(#fff)
		+m(0 3%)
	.btn-form
		+p(0 10%)
	.btn-share
		+bc(#4b738a)
	.form-content
		+bc(#fff)
		+p(1rem 0)
		.mobile
			margin-top: 0

.pop
	+posa
	+tl
	+br
	+w
	+h
	+bc(rgba(0,0,0,0.7))
	z-index: 1109
	&.flashcamera
		+animation(flashcamera,1s,ease)
		// animation-delay: 1s
		.content
			+animation(zoomBigIn,0.6s,ease)
			animation-delay: 0.5s

	.close
		+posa
		+bl(5%,50%)
		+iw(80,600,100%)
		+transform(translate3d(-50%,0,0))
	.small-size
		// +w(80%)
		// margin-top: 10%
		// margin-left: 10%
		+posr
		.close
			+bl(auto,auto)
			+tr(0%,0%)
			+transform(translate3d(0,0,0))
	.note
		+posa
		+bl(-2em)
		+text-center
		+font-size(0.8rem)
		+w
		color: #fff
	.title
		+w(100%)
		+m(10% auto)
		h2
			+font-size(1.6rem)
			line-height: 1.6em
			letter-spacing: 0.1em
			font-weight: bold
		p
			+font-size(0.9rem)
		h2,p
			color: #000
			+m
			+text-center
	.register
		+w(80%)
		+box
		// +posa
		// +bl(0%,50%)
		// +transform(translate3d(-50%,0,0))
		+abcentermiddle()
		+bc(#fff)
		// border: 4px solid #757575
		// border-radius: 5px
		// border: solid 0.4rem #ffb04a
		+p(5% 0)
		// +b($cdn+"img/pop-bg.jpg",no-repeat,top,center,cover)
		
		.btn-submit
			+w(40%)
			+m(0 auto)
			margin-top: 2%
		.btn-item
			+w(90%)
			+m(0.4rem auto)
		.footer
			+posr

	.lottery
		+w(80%)
		+box
		// +posa
		// +bl(0%,50%)
		// +transform(translate3d(-50%,0,0))
		+abcentermiddle()
		+bc(#fff)
		// border: solid 0.4rem #ffb04a
		// border-radius: 5px
		+p(15% 0)
		// +b($cdn+"img/pop-bg-lottery.jpg",no-repeat,center,center,cover)
		&.faild
			.title,.btn
				margin: 10% auto
			.btn
				+w(40%)
		&.success
			.title
				margin: 5% auto
			.code
				+font-size(1.4rem)
				color: #696969
				+text-center
				letter-spacing: 0.2em
			.btn
				margin: 2% auto




#myDiv
	+hide
	// opacity: 0.3

// #main
// 	+h(80%)
// 	+overhide
// 	min-height: 80% !important
#ugc
	+posa
	+tl
	+w
	+h
	z-index: 2
	// opacity: 0
	canvas
		+h
.videos
	+posa
	+tl
	+w
	+h
	z-index: 1
	+bc(#fff)
	.video
		+posa
		+tl
		z-index: 1
		&.old
			z-index: 4
		&.on
			z-index: 5

.website
	+posa
	+bl()
	+h(35%)
	+w
	display: block
	z-index: 9

.note-message
	+posf
	+tl
	+w
	+h(2em)
	line-height: 2em
	+font-size(0.7rem)
	+text-center
	+bc(rgba(0,0,0,0.7))
	color: #00e550
	z-index: 10009
	&.error
		color: #ff9595
