@import sass/base
@import ../../libs/sass/loading

$debug : false
$cdn : "../"
@if not $debug
	$cdn : "http://disk.giccoo.com/projects/yida/"

+keyframes(leftmove)
	0%
		+transform(translate3d(0%,0,0))
	100%
		+transform(translate3d(-100%,0,0))


// animation, delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

.playsound
	+posa
	+tr(10px,10px)
	+wh(2rem,2rem)
	z-index: 1009
	font-size: 0
	.icon-play
		&.play
			+animation(second,5s,ease,infinite)
			transform-origin: center center

.share-wechat
	+posa
	+tl
	+w
	+h
	+b("http://disk.giccoo.com/projects/libs/img/wechat.png",no-repeat,top,right,contain)
	+bc
	z-index: 1100
	+hide
	&.open
		+show

.wrap
	+wh(100%,100%)
	+posr
	// +large
	// 	max-width: 640px
	// 	+m
	// 	+show

.loading.loaded
	+large
		+hide

.slider
	+posr
	white-space: nowrap
	font-size: 0
	+tran(all,0s,linear)
	.slide
		+w(100%)
		display: inline-block
		vertical-align: top
	.bg
		font-size: 0
		+posr
		+transform(translate3d(0,-50%,0))
		+posr
		+tl(50%)
		.tag
			+posa
			+w(80px/2)
		.name
			+posa
			+bl
			font-size: 1rem
			+p(0.4rem)
			+box
			+bc(rgba(0,0,0,0.7))
			+w
			color: #fff

.share-icons
	+iw(600)
	+m
	margin-top: -8%
	.share-icon
		+show-inline
		+w(25%)
		+text-center
		+box
		+p(0 2%)
		font-size: 0
		
html,body
	+w
	+h
	// +bc(rgba(0,0,0,1))


// .loading.loaded
// 	+hide
.loading
	// +b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
	+bc(transparent)
	.new-load
		+posa
		+tl(50%,50%)
		+w
		+text-center
		// +p(100% 0 0 0)
		+transform(translate3d(-50%,-50%,0))
		.load-item
			+iw(230)
			+posr
			// > img
				// +animation(rubberBand,2s,ease,infinite)
			.load-item-note1
				+posa
				+bl(26%,27.5%)
				+w(45%)
				+h(5%)
				+tran($time: 100ms)
				overflow: hidden
				.load-move
					+animation(leftmove,2s,linear,infinite)
				img
					+w(180px)
					max-width: 180px
					
			.load-item-note2
				+posa
				+tr
				+w
				
		.load-progress
			+font-size(0.8rem)
			color: #fff
			+p(2% 0 0 0)
			+posa
			+tl(50%,50%)
			+transform(translate3d(-50%,-50%,0))
			
.pages,.page
	+posa
	+tl
	+w
	+h
	+overhide
	.slider,.slide
		+h

	
