register
	form.form(onsubmit="{submit}")
		.form-grounp
			label(for="username") 姓名:
			input#username(type="text",name="username")
		.form-grounp
			label(for="") 性别:
			.comb
				label(for="man") 先生
				input#man(type="radio",name="sex",value="男",checked)
				label(for="woman") 女士
				input#woman(type="radio",name="sex",value="女")
		.form-grounp
			label(for="mobile") 手机号码:
			input#mobile(type="text",name="mobile")
		//- .form-grounp
			label(form="email") 电子邮箱:
			input#email(type="text",name="email")
		.form-grounp
			label(for="province") 所在省/市:
			.comb
				.select
					span {provinceName}
					select#province(name="province",onchange="{changeProvince}")
						option(each="{name in province}",value="{name}") {name}
				.select
					span {cityName}
					select#city(name="city",onchange="{changeCity}")
						option(each="{name in city}",value="{name}") {name}
		.form-grounp
			label(for="dealer") 选择经销商:
			.select
				span {dealerName}
				select#dealer(name="dealer")
					option(each="{dealer}",value="{name}") {name}

		.form-btn
			button.submit(type="submit")
				img(src="img/submit.png")
	script.
		var self = this
		this.cityData = _citys
		var province = []
		for (name in this.cityData) {
			province.push(name)
		}
		var city = []
		for (name in this.cityData[province[0]]) {
			city.push(name)
		}
		var dealer = this.cityData[province[0]][city[0]]
		this.province = province
		this.city = city
		this.dealer = dealer

		this.provinceName = this.province[0]
		this.cityName = this.city[0]
		this.dealerName = this.dealer[0].name
		this.firstUpdate = true
		this.on("update",function(){
			if (this.firstUpdate) {return this.firstUpdate = false}
			this.provinceName = $("[name=province]",this.root).val()
			this.cityName = $("[name=city]",this.root).val()
			this.dealerName = $("[name=dealer]",this.root).val()
		})
		changeCity(evt) {
			var newName = $("[name=province]",self.root).val()
			var newCity = $("[name=city]",this.root).val()
			var dealer = self.cityData[newName][newCity]
			self.dealer = dealer
			self.update()
		}
		changeProvince(evt) {
			var newName = $("[name=province]",self.root).val()
			var city = []
			for (name in self.cityData[newName]) {
				city.push(name)
			}
			var dealer = self.cityData[newName][city[0]]
			self.city = city
			self.dealer = dealer
			self.update()
		}
		
		submit() {
			var data = $("form",this.root).serializeArray()
			if ( $("[name=username]",this.root).val().length < 1 || $("[name=username]",this.root).val() == "") {
				alert("姓名不能为空")
				return false
			}
			if ( $("[name=mobile]",this.root).val().length < 1 || $("[name=mobile]",this.root).val() == "") {
				alert("手机号码不能为空")
				return false
			}
			$.post("http://api.giccoo.com/volvo_xc60/insert/",data,function(msg){
				//- 提交
				if (msg.recode == 200) {
					alert("注册成功")
					//- window.location.href = "http://www.landrover.com.cn/vehicles/range-rover-sport/range-rover-sport-svr.html"
				}else{
					alert(msg.reason)
				}
			})
			return false
		}

