*{margin: 0;padding: 0;}
html,body{
	width:100%;height: 100%;position: relative;overflow:hidden;
}
img{ width: 100%; }
.wechat-share {  position: absolute;  top: -1000px;  left: 0px;  z-index: -100;  width: 1px; }
.page{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:hidden;
			perspective:300;
	-webkit-perspective: 300;
			transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;

	-webkit-transform: rotateZ(0deg);
			transform: rotateZ(0deg);
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 0;
}
.centerPart{
	position: absolute;
	width: 21.16%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
    font-size: 0;
	/*-webkit-transform-origin:50% 0%;
    		transform-origin:50% 0%;*/
}


#loadingNum{
	position: absolute;
	font-size: 0.6em;
	color: #3cd739;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);

}
#loadingPage{
	display: block;
}

.p1pic{
	position: absolute;
	width: 100%;
	top: 56.3%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);

}
.p1btn{
	position: absolute;
	width: 30%;
	top: 82.8%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
    font-size: 0;
    display: none;

	/*-webkit-transform-origin:50% 0%;
    		transform-origin:50% 0%;*/
}
.bottomPart{
	position: absolute;
	width: 100%;
	bottom: 0%;
	font-size: 0;
}
#fdoor{
	position: absolute;
	/*bottom: 0;*/
}
#innerBG{
	position: absolute;
}
.arrowLclass{
	position: absolute;
	width: 15.47%;
	left:61.38%;
	top: 83.7%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
    font-size: 0;
}
.arrowRclass{
	position: absolute;
	width: 15.47%;
	left:77.64%;
	top: 74.2%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
    font-size: 0;
}
.floatPart{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.cellphone{
	position: absolute;
	width: 100%;
	bottom: -50px;
}
.topPart{
	position: absolute;
	width: 100%;
	top: 0;
}
#p3t{
	display: none;
}
#p3t2{
	display: none;
}
/*#p4bg{
	position: absolute;
	font-size: 0;
	width: 100%;
	height: 100%;
}*/
#p4door2{
	position: absolute;
	font-size: 0;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);
    display: none;
	
}
#p5food{
	bottom: -5%;
}
.markVX{
	position: absolute;
	opacity: 0;
}
#p6hint{
	display: none;
}
.playM{
	background-image: url("../img/btnStop.png");
	position: absolute;width: 100%;top: 0;height: 7%;
	background-repeat:  no-repeat;
	background-size: 100% 100%;

}
.stopM{
	background-image: url("../img/btnPlay.png");
	position: absolute;width: 100%;top: 0;height: 7%;
	background-repeat:  no-repeat;
	background-size: 100% 100%;
}
#audioPlay{
	display: none;
}