
#userNickName{
	position: absolute;
	z-index: 999;
	width: 36.71875%;
	left:31.640625%;
	z-index: 9999;

	top: 54%;
	display: none;
}
#UserTextarea1{
	background: transparent;
	border-style: none;
	font-size: 1rem;
	color: #795927;
	width: 100%;

	/*height: 100%;*/
	text-align:center;
}

#pngHolder{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
	z-index: 100;
}
input::-webkit-input-placeholder {
/* placeholder颜色  */
color: #a9925f;
/* placeholder字体大小  */
font-size: .6rem;
/* placeholder位置  */
text-align: center;
}
