<!DOCTYPE html>
<html lang="en" ng-app="kelvin" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>你不知道的皇冠范儿</title>
    <link rel="stylesheet" href="/crown/css/base.css">
    <script>
      function showLoad() {
      	 document.getElementsByClassName('loading-logo-bg')[0].style.display = 'block';
      }
      
    </script>
  </head>
  <body>
    <div class="wechat-share-hide"><img src="http://disk.giccoo.com/projects/crown/img/share.jpg"></div>
    <div ng-controller="MainController" ng-hide="ori" class="wrap">
      <div ng-class="from" class="hideView"></div>
      <div ng-view ng-class="from" class="view-animate"></div>
      <div id="loading" class="loading loaded">
        <div class="loading-logo">
          <div class="loading-normal"><img src="http://disk.giccoo.com/projects/libs/img/loading-normal.png"></div>
        </div>
      </div>
      <div class="public-logo"><img src="http://disk.giccoo.com/projects/crown/img/crown-logo.png"></div>
      <div class="baiduindex"><img src="http://disk.giccoo.com/projects/crown/img/baiduindex.png"></div>
    </div>
    <div ng-show="ori" class="noteText"><span>请使用竖屏继续浏览</span></div>
    <div class="qrcode">
      <div class="text">建议您使用手机浏览</div><img src="http://disk.giccoo.com/projects/crown/img/qr.png">
    </div>
    <script src="http://disk.giccoo.com/projects/libs/js/min/Zepto.min.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/libs/js/angular.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/libs/js/min/angular-route.min.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/libs/js/min/angular-touch.min.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/libs/js/min/angular-animate.min.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/crown/js/protoclass.js" type="text/javascript"></script>
    <script src="http://disk.giccoo.com/projects/crown/js/box2d.js" type="text/javascript"></script>
    <script src="/crown/js/Main.js" type="text/javascript"></script>
    <script src="/crown/js/base.js" type="text/javascript"></script>
    <script type="text/ng-template" id="home.html">
      <div parallax ng-controller="swipeController" class="page home">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="crown-logo fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/crown-logo.jpg"></div>
        <div class="subtitle fadeIn delay-15 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-home-subtitle.jpg"></div>
        <div class="title Stamp delay-20 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-home-title.png"></div><a href="#/sex" class="engine slideToTop delay-25 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-home-engine.jpg"></a>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="sex.html">
      <div parallax ng-controller="swipeController" class="page sex">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-sex-title.png"></div>
        <div class="people standup delay-15 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-sex-people.png"></div>
        <div class="pie">
          <div class="pie-body rotateIn delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-sex-pie.png"></div>
          <div class="pie-text fadeIn delay-25 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-sex-pie-text.png"></div>
        </div>
        <div class="note-text fadeIn delay-30 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-sex-note-text.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="local.html">
      <div parallax ng-controller="swipeController" class="page local">
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="map fadeIn delay-10 duration-8">
          <div class="map-body slideToRight delay-10 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-local-map.jpg"></div>
          <div class="map-text fadeIn delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-local-map-text.png"></div>
        </div>
        <div class="note-text fadeIn delay-25 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-local-note-text.png"></div>
        <div class="title slideToTop delay-30 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-local-title.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="interest.html">
      <div parallax ng-controller="swipeController" class="page interest">
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-interest-title.png"></div>
        <div id="canvas" ng-controller="rollBallController" class="gameTag"></div>
        <div class="note-text"><img src="http://disk.giccoo.com/projects/crown/img/page-interest-note-text.png"></div>
      </div>
    </script>
    <script type="text/ng-template" id="mycar.html">
      <div parallax ng-controller="swipeController" class="page mycar">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="pie fadeIn delay-10 duration-7">
          <div class="pie-body slideToLeft delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-mycar-pie.png"></div>
          <div class="pie-car slideToRight delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-mycar-pie-car.png"></div>
          <div class="pie-text fadeIn delay-20 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-mycar-pie-text.png"></div>
        </div>
        <div class="note-text fadeIn delay-25 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-mycar-note-text.png"></div>
        <div class="title slideToTop delay-30 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-mycar-title.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="pet.html">
      <div parallax ng-controller="swipeController" class="page pet">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-pet-title.png"></div>
        <div class="pie fadeIn delay-15 duration-5">
          <div class="pie-body slideToBottom delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-pet-pie.png"></div>
          <div class="pie-text slideToLeft delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-pet-pie-text.png"></div>
        </div>
        <div class="note-text slideToTop delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-pet-note-text.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="travel.html">
      <div parallax ng-controller="swipeController" class="page travel">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="map">
          <div class="bg fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-map-bg.png"></div>
          <div class="point-1 slideToBottom delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-point-1.png"></div>
          <div class="point-1-text slideToRight delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-point-1-text.png"></div>
          <div class="point-2 slideToBottom delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-point-2.png"></div>
          <div class="point-2-text slideToRight delay-30 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-point-2-text.png"></div>
        </div>
        <div class="note-text fadeIn delay-35 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-note-text.png"></div>
        <div class="title slideToTop delay-37 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-travel-title.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="sport.html">
      <div parallax ng-controller="swipeController" class="page sport">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title bigbig delay-10 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-sport-title.png"></div>
        <div class="pie fadeInDown delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-sport-pie.png"></div>
        <div class="note-text fadeIn delay-25 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-sport-note-text.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="girl.html">
      <div parallax ng-controller="swipeController" class="page girl">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="superstar">
          <div class="item">
            <div class="avatar fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-angelababy.jpg"></div>
            <div class="text fadeInDown delay-12 duration-5">Angelababy</div>
            <div class="stars angelababy">
              <div class="star standup delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-30 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-35 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-40 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-45 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-50 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-55 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
            </div>
          </div>
          <div class="item">
            <div class="avatar fadeIn delay-12 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-chenyanxi.jpg"></div>
            <div class="text fadeInDown delay-14 duration-5">陈妍希</div>
            <div class="stars chenyanxi">
              <div class="star standup delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-30 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-35 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-40 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-45 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
            </div>
          </div>
          <div class="item">
            <div class="avatar fadeIn delay-14 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-zhaoliying.jpg"></div>
            <div class="text fadeInDown delay-16 duration-5">赵丽颖</div>
            <div class="stars zhaoliying">
              <div class="star standup delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-30 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-35 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-40 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
            </div>
          </div>
          <div class="item">
            <div class="avatar fadeIn delay-16 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-fanbingbing.jpg"></div>
            <div class="text fadeInDown delay-18 duration-5">范冰冰</div>
            <div class="stars fanbingbing">
              <div class="star standup delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-30 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-35 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
            </div>
          </div>
          <div class="item">
            <div class="avatar fadeIn delay-18 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-liuyifei.jpg"></div>
            <div class="text fadeInDown delay-20 duration-5">刘亦菲</div>
            <div class="stars liuyifei">
              <div class="star standup delay-15 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
              <div class="star standup delay-25 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/icon-heart.png"></div>
            </div>
          </div>
        </div>
        <div class="note-text fadeIn delay-50 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-note-text.png"></div>
        <div class="title slideToTop delay-55 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-girl-title.png"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="tag.html">
      <div parallax ng-controller="swipeController" class="page tag">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-title.png"></div>
        <div class="tag-item item1 slideToLeft delay-12 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-1.jpg"></div>
        <div class="tag-item item2 slideToLeft delay-14 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-2.jpg"></div>
        <div class="tag-item item3 slideToLeft delay-16 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-3.jpg"></div>
        <div class="tag-item item4 slideToLeft delay-18 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-4.jpg"></div>
        <div class="tag-item item5 slideToLeft delay-20 duration-10"><img src="http://disk.giccoo.com/projects/crown/img/page-tag-5.jpg"></div>
        <div class="nextpoint"></div>
      </div>
    </script>
    <script type="text/ng-template" id="history.html">
      <div class="page history">
        <div scroll-box class="scroll">
          <div class="title fadeInUp delay-15 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-history-title.jpg"></div>
          <div class="tree fadeInUp delay-17 duration-10">
            <div class="tree-body"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree.jpg">
              <div class="tree-point">
                <div class="item item1"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-1.jpg"></div>
                <div class="item item2"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-2.jpg"></div>
                <div class="item item3"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-3.jpg"></div>
                <div class="item item4"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-4.jpg"></div>
                <div class="item item5"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-5.jpg"></div>
                <div class="item item6"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-6.jpg"></div>
                <div class="item item7"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-7.jpg"></div>
                <div class="item item8"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-8.jpg"></div>
                <div class="item item9"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-9.jpg"></div>
                <div class="item item10"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-10.jpg"></div>
                <div class="item item11"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-11.jpg"></div>
                <div class="item item12"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-12.jpg"></div>
                <div class="item item13"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-13.jpg"></div>
                <div class="item item14"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-p-14.jpg"></div>
              </div>
            </div>
            <div class="tree-banner"><img src="http://disk.giccoo.com/projects/crown/img/page-history-tree-banner.jpg">
              <div parallax ng-controller="swipeController" class="goto"></div>
            </div>
          </div>
          <div class="nextpoint"></div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="touchid.html">
      <div parallax no-ctrl="down" ng-controller="swipeController" class="page touchid">
        <div class="zw"></div>
        <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
        <div class="title fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-touchid-title.png"></div>
        <div ng-controller="touchidController as touchid" class="touch">
          <div ng-click="touchid.select()" ng-class="touchid.sex" class="option fadeInDown delay-15 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-touchid-option.png">
            <div class="bar"><img src="http://disk.giccoo.com/projects/crown/img/page-touchid-option-bar.png"></div>
          </div>
          <div class="touch-id bigbig delay-20 duration-10">
            <div class="touch-mark"></div>
            <div class="touch-body"><img src="http://disk.giccoo.com/projects/crown/img/page-touchid-scan.jpg"></div>
            <div style="display:{{touchid.light}}" class="touch-light"><img src="http://disk.giccoo.com/projects/crown/img/page-touchid-scan-light.png"></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="share.html">
      <div parallax ng-controller="swipeController" class="page share">
        <div ng-controller="shareController as share" class="share-body">
          <div class="zw"></div>
          <div class="logo fadeInDown delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/logo.png"></div>
          <div class="title-icon fadeIn delay-10 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-share-title-icon.png"></div>
          <div class="congratulation fadeInDown delay-15 duration-5">
            <p>恭喜，你的测试结果为</p>
          </div>
          <div class="results bigbig delay-15 duration-10">
            <div class="text">{{share.text}}</div><img src="http://disk.giccoo.com/projects/crown/img/page-share-results.png">
          </div>
          <div class="share-link slideToTop delay-20 duration-5">
            <div class="share-text"><img src="http://disk.giccoo.com/projects/crown/img/page-share-share-text.png"></div>
            <div class="shares">
              <div ng-click="share.pop('wechat')" class="icon wechat"><img src="http://disk.giccoo.com/projects/crown/img/icon-wechat.png"></div><a data-share="weibo" ng-click="share.pop('weibo','.weibo')" class="icon weibo"><img src="http://disk.giccoo.com/projects/crown/img/icon-weibo.png"></a><a data-share="douban" ng-click="share.pop('douban','.douban')" class="icon douban"><img src="http://disk.giccoo.com/projects/crown/img/icon-douban.png"></a><a data-share="qzone" ng-click="share.pop('qzone','.qzone')" class="icon qzone"><img src="http://disk.giccoo.com/projects/crown/img/icon-qzone.png"></a>
            </div>
          </div><a href="http://ftmscrown.duapp.com/" ng-click="share.pop('qzone','.link')" class="link slideToTop delay-22 duration-5"><img src="http://disk.giccoo.com/projects/crown/img/page-share-link.png"></a>
          <div ng-show="share.wechat" ng-click="share.close()" class="wechat-share mark"></div>
        </div>
      </div>
    </script>
    <script>
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>