@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-1000%, 0, 0);
            transform: translate3d(-1000%, 0, 0); } }
@keyframes cloud {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-1000%, 0, 0);
            transform: translate3d(-1000%, 0, 0); } }
@-webkit-keyframes bird {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  50% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@keyframes bird {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  50% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes p3cloud1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }
@keyframes p3cloud1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }
@-webkit-keyframes p3cloud2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }
@keyframes p3cloud2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }
@-webkit-keyframes page7point5 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 40%, 0) scale(0.5, 0.5);
            transform: translate3d(100%, 40%, 0) scale(0.5, 0.5); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) scale(1, 1); } }
@keyframes page7point5 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 40%, 0) scale(0.5, 0.5);
            transform: translate3d(100%, 40%, 0) scale(0.5, 0.5); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) scale(1, 1); } }
