@import sass/base
@import ../../libs/sass/parallax
@import ../../libs/sass/loader-ball
@import box

$debug : false
$cdn : "../"
@if not $debug
	$cdn : "http://image.giccoo.com/projects/friso/"

// animation, delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

+keyframes(second)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
+keyframes(fadeIn)
	0%
		opacity: 0
	100%
		opacity: 1

html,body
	+w
	+h

body
	color: #fff
	+bc(#000)
video
	+w
	+h(auto)
body.pop-open
	position: fixed
	width: 100%

.wechat-share-hide,.load-before
	+posa
	+tl(-1000px)
	+hide
	+w(1px)
	+h(1px)

.playsound
	+posa
	+tr(1rem,1rem)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.pop
	+posf
	+tl
	+br
	+w
	+h
	+touch
	// +bc(rgba(233,233,233,0.9))
	+hide
	+b($cdn+"img/m-pop-bg.png",repeat,top,center,100% 1px)
	z-index: 10009
	+animation(fadeIn,1s,ease-out)
	.content
		font-size: 0
		.close
			// min-height: 10%
			+iw(60,640,100%)
	&.on
		+show
	.close
		+posa
		+tr(10px,10px)
		+iw(73,640,100%)
		font-size: 0
	.banner
		+w
	.video,.pop-text
		+w(90%)
		+m
	.video
		margin-top: 20px
	.pop-free,.pop-focus
		+w(84%)
		+m
		margin-top: 20px
	.pop-legal
		margin-top: 20px
		padding-bottom: 40px
	.pop-text
		color: #7a512d
		+w(80%)
		+m
		h3
			+text-center
			+font-size(1rem)
		p
			+font-size(0.8rem)
		h4
			+font-size(0.8rem)




.qrpage
	+w
	+h
	+text-center
	.content
		+m
		margin-top: 20%
		+show-inline
		color: #000
		+w(180px)

.main,.qrpage
	+b($cdn+"img/m-bg.png",repeat,top,center,100% 1px)
	.logo,.banner,.footer
		font-size: 0
	.logo
		+posa
		+tr(71.5%,0.3%)
		+iw(157,640,100%)
		z-index: 1001
		&.scroll
			+posf
			+tr(0,0.3%)
	.banner
		+w
		+posr
	.age
		+w(92.5%)
		+m
		.age-box
			+b($cdn+"img/m-q-bg.jpg",no-repeat,top,center,100% 100%)
			+p(35px 20px)
			p
				+m
				+font-size(0.8rem)
				color: #7a512d
				line-height: 1.8em
	.line
		margin-top: -15px
	.ten-q
		+w(92%)
		+m
		margin-top: 45px;
	.tzw
		.title
			font-size: 0
		.content
			+b($cdn+"img/m-tzw-bg.jpg",repeat,top,center,100% 1px)
			+posr
			min-height: 200px
			
			.footer
				font-size: 0
				padding-top: 20px
			.outlink
				+posa
				+bl(-22px,50%)
				+iw(200,640,100%)
				+h(50px)
				+b($cdn+"img/m-iwask.png",no-repeat,center,center,contain)
				font-size: 0
				margin-left: -15.5%
				img
					+hide
			h2
				+font-size(1rem)
				+w(80%)
				+m(0 auto)
				+p(15px 0)
				font-weight: 400
				color: #7a512d

			.answer-box
				+w(82%)
				+m
				+b($cdn+"img/m-answer-bg.png",repeat,top,center,100% 1px)
				border-radius: 6px
				border: solid 1px #a7852c
				.answer
					border-bottom: solid 1px #a7852c
					+p(15px)
					+font-size(0.8rem)
					&:last-child
						border-bottom: none
					.by
						display: inline-block
						+font-size(0.8rem)
						+w
						color: #7a512d
						// +p(6px 0)
						padding-bottom: 6px
					.answer-text
						+m
						display: inline-block
						+font-size(0.8rem)
						+w
						line-height: 1.2em
						color: #3b3b3d
						img
							vertical-align: top
							float: left
							max-width: 25%
							margin-right: 10px
							margin-bottom: 10px

	.free
		+w(80%)
		+m
		margin-top: 25px
	.q-list
		+posr
		+w(92.5%)
		+m
		min-height: 200px
		.loading
			+posa
			+tl(50%,50%)
		.question-list
			.question-box
				+b($cdn+"img/m-q-bg-2.jpg",no-repeat,top,center,100% 100%)
				margin-top: 45px
				padding-bottom: 40px
				+posr
				.outlink
					+posa
					+bl(-22px,50%)
					+iw(200,640,100%)
					+h(50px)
					+b($cdn+"img/outlink.png",no-repeat,center,center,contain)
					font-size: 0
					margin-left: -15.5%
					img
						+hide

				.title
					color: #7a512d
					+p(15px 40px)
					padding-left: 30%
					+posr
					cursor: pointer
					h2,p
						+m
					h2
						+font-size(1rem)
						font-weight: 400
						line-height: 1.2em
					p
						+font-size(0.8rem)
					.numbs
						margin-top: 6px
					.icon
						+posa
						+tl(0%,-2.3%)
						+iw(190,592,100%)
						+h
						+b($cdn+"img/m-icon-an.png",no-repeat,left,center,contain)
					.icon-more
						+b($cdn+"img/m-icon-more.png",no-repeat,left,center,contain)
						+wh(20px,20px)
						+posa
						+tr(50%,10px)
						left: auto
						margin-top: -10px
				.answer-box
					+w(90%)
					+m
					+b($cdn+"img/m-answer-bg.png",repeat,top,center,100% 1px)
					border-radius: 6px
					border: solid 1px #a7852c
					.answer
						border-bottom: solid 1px #a7852c
						+p(15px)
						+font-size(0.8rem)
						&:last-child
							border-bottom: none
						.by
							display: inline-block
							+font-size(0.8rem)
							+w
							color: #7a512d
							// +p(6px 0)
							padding-bottom: 6px
						.answer-text
							+m
							display: inline-block
							+font-size(0.8rem)
							+w
							line-height: 1.2em
							color: #3b3b3d
							a
								color: #3b3b3d	
								// text-decoration: none
								// font-weight: bold
							img
								vertical-align: top
								float: left
								max-width: 25%
								margin-right: 10px
								margin-bottom: 10px
				&.on
					+b($cdn+"img/m-q-bg-small.png",no-repeat,top,center,100% 100%)
					padding-bottom: 10px
					.icon-more
						+b($cdn+"img/m-icon-more.png",no-repeat,left,center,contain)
						+transform(scale3d(1,-1,1))
					.answer-box
						+hide
					.outlink
						+hide

		
		.new-list
			.question-list
				.question-box
					&.new
						.answer-box
							border: none
							.answer
								+p(8px 15px)
								&:first-child
									margin-top: 0
								+posr
								border: solid 1px #a7852c
								margin-top: 5%
								border-radius: 6px
								&:nth-child(1)
									.likeanswer
										margin-right: 100/640*0.9*110%
									&:after
										content: " "
										+posa
										+tr(0,-2%)
										+iw(110,640*0.9,100%)
										+b($cdn+"img/list-icon-1.png",no-repeat,top,center,contain)
										+h(40%)
										margin-top: -4px
								&:nth-child(2)
									.likeanswer
										margin-right: 100/640*0.9*110%
									&:after
										content: " "
										+posa
										+tr(0,-2%)
										+iw(110,640*0.9,100%)
										+b($cdn+"img/list-icon-2.png",no-repeat,top,center,contain)
										+h(40%)
										margin-top: -4px
								&:nth-child(3)
									.likeanswer
										margin-right: 100/640*0.9*110%
									&:after
										content: " "
										+posa
										+tr(0,-2%)
										+iw(110,640*0.9,100%)
										+b($cdn+"img/list-icon-3.png",no-repeat,top,center,contain)
										+h(40%)
										margin-top: -4px
								&:nth-child(4)
									.likeanswer
										margin-right: 100/640*0.9*110%
									&:after
										content: " "
										+posa
										+tr(0,-2%)
										+iw(110,640*0.9,100%)
										+b($cdn+"img/list-icon-4.png",no-repeat,top,center,contain)
										+h(40%)
										margin-top: -4px
.outlink
	z-index: 99

.answer
	+posr
	.likeanswer
		+posa
		+tr(0,0)
		+p(15px)
		+font-size(0.8rem)
		&.on
			.icon
				+b($cdn+"img/heart-on.png",no-repeat,left,center,100% 100%)
		.icon
			+wh(17px,17px)
			+show-inline
			+b($cdn+"img/heart-off.png",no-repeat,left,center,100% 100%)
			font-size: 0
			margin-right: 4px
			img
				opacity: 0
		.likeanswer-text
			+show-inline
			color: #333
			line-height: 17px
			vertical-align: top

p.center
	+text-center

.message
	+w(90%)
	+m
	+box
	color: #7a521d
	p
		+m
		+p
		+font-size(0.8rem)
	.message-item
		+w(80%)
		+b($cdn+"img/message-bg.png",no-repeat,left,center, 100% 100%)
		+p(5%)
		+box
		margin-top: 5%
		padding-left: 10%
		.name
			+text-right
			font-weight: bold
			margin-top: 0.2em
		&.right
			padding-left: 5%
			padding-right: 10%
			+b($cdn+"img/message-right-bg.png",no-repeat,left,center, 100% 100%)
			margin-left: 20%

	.message-text
		line-height: 1.8em
		font-weight: bold
		margin-top: 5%

	.outlink
		+show-inline
		+m
		+iw(255,640,100%)
		margin-top: 5%

.news
	.news-item
		+box
		// +p(10%)
		+w
		margin-top: 5%
		color: #784c03
		.news-header
			+p(0 7%)
			+box
			+w
			.avatar
				+w(20%)	
				+show-inline
			.desc
				+w(70%)
				+show-inline
				vertical-align: top
				+box
				padding-top: 2.6%
				margin-left: 5%
				.name
					+font-size(1rem)
					font-weight: bold
					line-height: 1.4em
				.subtitle
					+font-size(0.8rem)
					line-height: 1.4em
		.news-content
			+box
			+p(5% 10%)
			+b($cdn+"img/news-bg.png",no-repeat,center,center,100% 100%)
			h1
				padding-top: 0.4em
				+font-size(1.2rem)
				+m
				+text-center
				+w(80%)
			p
				+font-size(0.8rem)
				line-height: 1.4em
		.outline
			+m
			+posr
			+w(35%)
			+show-inline
			margin-left: 32.5%
			+transform(translate3d(0,-50%,0))
.tabs
	+posr
	.bg
		.tab-bg-1,.tab-bg-2
			+hide
	&.t1
		.bg
			.tab-bg-1
				+show
	&.t2
		.bg
			.tab-bg-2
				+show
	.tab-1
		+tr
	.tab-2
		+tl
	.tab-1,.tab-2
		+hide
		+posa
		+w(50%)
		+h
		z-index: 9
		&.on
			+show
.tab
	&.tab-1,&.tab-2
		+hide
		&.on
			+show
.tab
	.age
		margin-top: 5%

.hide
	+hide