/* for fix bootstrap*/
.row-fix {margin-left: -15px; margin-right: -15px;}
/* end */

.panelClose img{transition: all .3s linear}
.panelClose:hover img{transform: rotate(90deg)}
.about{background: url(../img/aboutbg.png) no-repeat center top;background-size:cover;}
.about-wrap{max-width: 1400px;margin: 0 auto}
.about-img{text-align: center;background: #030305}
.about-wrap .intro{padding: 0 5%;padding-top: 4%;}
.about-wrap .intro .intro-1{text-align: center;margin-bottom: 15%;margin-right: -5%;}
.about-wrap .intro .intro-1>div{position: relative; float: left; width: 28.33%;height: 0;padding-bottom: 28.33%; border-radius: 50%;border: 1px solid #3e6174;margin-right: 5%;transition: all .5s linear; animation: overBox 6s linear infinite;}
.about-wrap .intro .intro-1 .n1 { animation-delay: 2s; }
.about-wrap .intro .intro-1 .n2 { animation-delay: 4s; }
.about-wrap .intro .intro-1 h3{font-size: 40px;font-weight: lighter; animation: overBold 6s linear infinite;}
.about-wrap .intro .intro-1>div>div{position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);width: 100%}
/*.about-wrap .intro .intro-1>div:hover{background: #436e86}*/
.about-wrap .text h3{font-size: 45px;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px solid #3e6174;}
.about-wrap .text p{line-height: 2;margin-bottom: 3.5%;}
.about-wrap .text {margin-top: 3.2vh;font-size: 12px;}

.partner{margin: 0 -15px; background: url(../img/partnerbg.png) no-repeat center top;background-size:cover;padding: 4% 8%;}
.partner .photo{padding: 0 .6%;margin-bottom: 20px;cursor: pointer;}
.partner h3{font-size: 32px;color: #f8ba32;margin: 0 -10px;line-height: 1;margin-bottom: 1.5%;margin-top: 1.5%;}
.partner .photo .pic{position: relative;}
.partner .photo .pic img{width: 100%;transition: all .1s linear}
.partner .photo .pic:after{position: absolute;content: "";left: 0;bottom: -5px;width:0;height: 5px;background: #f8ba32;transition: all .3s linear }
.partner .photo:hover .pic:after{width: 100%}
.partner .photo .name{font-size: 16px;margin-top: 15px;}
.partner .photo p{color: #7f7f7f;font-size: 14px;}
.partner .photo img.hover{opacity: 0;;position: absolute; left: 0;top: 0;z-index: 2;}
.partner .photo:hover img.hover{opacity: 1;}
.partner .newpart {margin-top: 40px;}
.partner-panel{background: #232323 url(../img/panel-bg.png) no-repeat center center;background-size: cover; top: 54vh;overflow: initial;transition: all .3s linear}
.partner-panel .photo{padding: 0;}
.partner-panel .intro{padding: 10%;}
.partner-panel .intro .scrollBox{line-height: 1.8;padding-right: 9% !important;}
.partner-panel .intro h4{color: #f8ba32;font-size: 20px;margin: 10px 0;border-bottom: 1px solid #3b3d3d;padding:20px 0 10px 0}
.partner-panel.pop-out ~ .mask{background: rgba(0,0,0,.9)}

.partner-panel .row{height: 100%}
.partner-panel .i-close{position: absolute;right:0;top:-50px;width:40px;height: 40px;cursor: pointer;}
.partner-panel .intro h3,
.partner-panel .intro .title{width: 90%}
.partner-panel .intro .scrollBox{width: 100%;}


.title-wrap{height: 60px;position: relative;}
.title-wrap .title.fixed{position: fixed;top: 70px;width: 100%;left: 0;background-color: #2f3131;z-index: 2;padding:0 70px}
.portfolio{background: url(../img/portfoliobg.png) no-repeat center top;background-size:cover;padding:70px }
.portfolio .title{justify-content:space-between;align-items: center;border-bottom: 1px solid #32cdcc;height: 60px;padding-bottom: 10px;}
.portfolio .select-wrap{height: 54px;line-height: 54px;font-size: 26px;text-indent: 1vw;}
.portfolio .select-wrap .select{color: #32cdcc;}
.portfolio .search{height: 54px;position: absolute;width: 24%;border-radius: 27px;overflow: hidden;top: -1.5vh;right: 0;}
.portfolio .search input{color: #f9f1e6;position: absolute; right: 0;top: 0; height: 54px;background: none;border: 0;outline: none;border-radius: 27px;background: #232323;width: 0;text-indent: 10px;transition: width .3s linear}
.portfolio .search.active input{width: 100%}
.portfolio .search-btn{position: absolute;right: 0;top: -1.5vh; width: 54px;height: 54px; text-align: center; line-height: 54px; border-radius: 50%;background:#232323 ;background-size: 50% 50%;cursor: pointer;z-index: 2;}
.portfolio .search-btn i{ font-size: 20px; opacity: 0.5; transition: all 0.7s ease;line-height: 54px}
.portfolio .search-btn:hover i{opacity: 1;}

.portfolio-li li {font-size: 20px;border-bottom: 1px solid #7f7f7f;line-height: 80px;height: 80px;overflow: hidden;cursor: pointer;padding-left: 20px;transition: all .5s linear}
.portfolio-li .row div{padding: 0 5px}
.portfolio-li li:hover{color: #32cdcc;border-color: #32cdcc;background: #232323}

.news{background: url(../img/newbg.png) no-repeat center top;background-size:100%;padding:0px 0}
.new-menu{position: relative; text-align: center;margin: 0 auto;font-size: 20px;margin-bottom: 35px;}
.new-menu .new-nav{width: 60%;margin: 0 auto;position: relative;}
.new-nav div{cursor: pointer;height: 100%;}
.new-menu div b{display: block;padding-bottom: 8px;font-weight:normal;height: 100%;text-align: center}
.new-menu div b:after {content: " "; display: none; position: absolute; bottom: 0; left: 0; width: 100%; border-bottom:2px solid #8ebc33;}
.new-menu .new-nav div:hover b:after,
.new-menu .new-nav div.on b:after{ animation: bounceIn 0.7s ease; display: block; }

.new-menu .search{position: absolute;height: 54px;border-radius: 27px;overflow: hidden;transform: translateX(100%);right: 0;z-index: 3;}
.new-menu .search i{font-size: 20px; opacity: 0.5; transition: all 0.7s ease}
.new-menu .search:hover i{opacity: 1;}
.new-menu .search-btn{position: absolute;left: 0;top: 0; text-align: center; width: 100%;height: 100%;border-radius: 50%;background:#232323; cursor: pointer; z-index: 2;}

.search-bar{position: relative;overflow: hidden;height: 50px;transition: all .3s linear;line-height: 50px;margin-bottom: 10px;width: 0;margin: 0 auto;top: 47px;z-index: 2;border-radius: 25px;}
.search-bar input{position: absolute;left:15px;height: 100%;color: #fff; background: #232323;border:none;text-indent: 10px;outline: none;border-radius: 25px;}
.search-bar.active{
    width: 70%;
}

.search-bar .icon-close{position: absolute;width: 40px;height: 40px;right: 0;top:0}
.search-bar .icon-close::before,
.search-bar .icon-close::after{background: #fff}

.news-li{margin: 0 auto}
.news-li li{margin-bottom: 20px;}
.news-li li a:hover{opacity: .8;transition: all .3s linear}
.news-li .pic{padding: 0;width: 100%; height: 100%; overflow: hidden; background-position: center center; background-size: cover;}
.news-li .row{height: 100%;}
.news-li .pic img{width: 100%}
.news-li li .date{margin-right: 1em;}

.news-li .info{width: 100%;background: #242424;padding: 3vh 6%;}
.news-li .info .tags{margin-bottom: 10px;}
.news-li .info h3{ margin: 0.5em auto;font-size: 24px;color: #8ebc33; height: 3em;overflow: hidden;line-height: 1.5;}
.news-li .info span{color: #7f7f7f}
.news-li .info .tags span,
.news-intro .tags span{display: inline-block;height: 32px;line-height:32px;border-radius: 16px;padding: 0 20px;background: #1b1b1b;color: #7f7f7f;font-size: 16px;}

.news-intro .tags span{padding: 0 24px}

.news-li .info p{color: #7f7f7f;margin: 1em auto;height: 10vh;overflow: hidden;font-size: 16px;line-height: 1.8;}

.news-li .info div:last-child{margin-top: 1em; font-size: 14px;}
.news .more-btn{width: 20%;height: 48px;line-height: 48px;color: #7f7f7f;text-align: center;border: 1px solid #636363;border-radius: 24px;margin: 20px auto;cursor: pointer;transition: all .3s linear}
.news .more-btn:hover{background: #ccc;color: #030305;border-color: #ccc}

.newscontent{padding-top: 4vh}
.newscontent p{color: #fff;margin: 10px 0;}
.news-intro{padding:26px 0;background: #242424 }
.news-intro h3{margin: 10px 0 15px 0;font-size: 24px;width: 50%;color: #8ebc33;height: 2.8em;overflow: hidden;line-height: 1.4;}
.news-intro p{ color: #7f7f7f;}
.newtxt{font-size: 16px;line-height: 1.8;}
.share-list{width: 100%;margin: 0 auto;text-align: center;}
.share-list a{margin: 0 10px;display: inline-block;width: 30px;height: 30px}
.share-list a i {font-size: 24px;}
.share{text-align: center;color: #8ebc33;border: 1px solid #8ebc33;width: 20%;height: 56px;line-height: 56px;border-radius: 28px;margin: 5% auto;transition: all .3s linear}
.share:hover{background: #ccc;color: #030305;border:1px solid #ccc}

.album{
	background: #242424;
}
.card{
	border: none;background: #2d2f2f
}
.album .card-text{height: 63px;overflow: hidden; color: #8ebc33;margin-bottom: 1vh;}
.album .card-body .tags{overflow: hidden;margin-bottom: 1vh;}
.album .card-body .tags span{float: left;color: #7e7e7e;background: #1a1a1a;text-align: center;padding: 0 20px;height: 32px;line-height: 32px;border-radius: 16px}
.album .card-body .card-inf{color: #7f7f7f}

.hangye-panel{background: none;width: 400px;font-size: 46px;text-align: center; }
.hangye-panel li{line-height: 1;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid transparent;cursor: pointer;color: #7f7f7f;}
.hangye-panel li span{ font-size: 32px; -webkit-transition: all .5s linear; transition: all .5s linear}
.hangye-panel li:hover span{color: #32cdcc;border-bottom: 1px solid #32cdcc}
.hangye-panel .panelClose{width: 100%;text-align: center;cursor: pointer;}

.intro-panel{width: 36%;overflow: initial;padding: 5vh 4vw;color: #2f3131;font-size: 14px;border-bottom: 4px solid #32cdcc;}
.intro-panel .brandlogo{ width: 40%; height: 80px; margin: 0 auto; text-align: center;margin-bottom: 38px; background-position: center center; background-repeat: no-repeat; background-size: contain; }
.intro-panel .know-more{display: block;margin: 44px auto;margin-bottom: 0;width: 234px;height: 56px;line-height: 56px;color: #32cdcc;border: 1px solid #32cdcc;border-radius: 28px;text-align: center;-webkit-transition: all .3s linear;transition: all .3s linear;}
.intro-panel .know-more:hover{background: #32cdcc;color: #fff}
.intro-panel .i-close{width:40px;position: absolute;bottom: -60px;left: 50%;margin-left: -20px;cursor: pointer;}
.menuicon{
width:40px !important; margin: 0 auto;
}
.voice-panel{border-bottom: 4px solid #8ebc33; width: 55.7vw;}
.voice-panel .i-close{right:20px;top:20px;left: auto;bottom: auto;}
.voice-panel h3{color: #8ebc33;padding: 0 0 1% 0;text-align: center;font-size: 30px;}
.voice-panel .v-li{}
.voice-panel .v-li h4{font-size: 24px; height: 4.5vh; color: #8ebc33}
.voice-panel p{
	border-bottom: 2px solid #8ebc33;
	padding-bottom: 20px;
	margin-bottom: 3.5vh;
	color: #7f7f7f;
	font-size: 14px;
	line-height: 1.8;
}
.voice-panel p.cont-copy{
	border-bottom: none;
	padding-bottom: 0;
	padding-right: 2vw;
}
.voice-panel p.cont-copy a{
	color:#7f7f7f;
}
.for-pc::-webkit-scrollbar {
	width: 5px;
}

.for-pc::-webkit-scrollbar-thumb {
	height: .1rem;
	background: #5a5a5a;
}

.for-pc::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 .03rem rgba(0, 0, 0, 0);
	border-radius: .1rem;
	background: rgba(242, 242, 242, 1);
}
.img-responsive{
	display: block;
	margin: 0 auto;
	transform: translateY(38%);
}
.contact{position: relative;background: url(../img/map-sh.jpg) no-repeat center top;background-size:cover;}
.tab-wrap{ background-color: #fff;color: #7f7f7f;}

.mobile .contact{background-image: url(../img/map-sh-m.jpg)}

.tabs{padding: 5% 8.5%;overflow: hidden;}
.tabs a{color: #7f7f7f;float: left;width: 20%;text-align: center;line-height: 2.4em; vertical-align: top; font-size: 15px;border-bottom: 2px solid #d5d6d6;}
.tabs a.active{font-weight: bold;border-bottom-color: #ff5349;border-width: 2px;color: #1b1b1b;width: 18%;margin-left: .8%;margin-right: .8%;}

.contact-tab{text-align: center}
.contact-tab .swiper-slide{padding: 1% 8%;}
.contact-tab .swiper-slide .pic{
	width: 55%;
	margin:  0 auto;
}
.contact-tab h3{font-size: 24px;margin: 2.5vh 0;color: #1b1b1b;}
.contact-tab p{font-size: 14px;}
.contact-tab p.address{margin-bottom: 2.5vh;}
.share-wrap{background: #ff5349;color: #fff;text-align: center;padding: 20px;margin-top: 20px;}
.share-wrap p{padding: 10px 0 }
.share-wrap li{cursor: pointer;padding: 10px 0}
.trapbox { position: relative; top: 50%; transform: translateY(-50%); }
/*.contact-wrap { position: relative; }*/

.wx-panel{width: 200px;height: 200px;text-align: center;overflow: initial;padding: 10px}
.wx-panel .wx-qr{width: 100%}
.wx-panel .panelClose{position: absolute; bottom: -50px;width: 100%;left: 0;}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}
.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}
.progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.progress svg {
  width: 10rem;
  height: 10rem;
}
.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}




@media (min-width: 768px){
	.partner-panel{width:750px;height: 358px}
	.partner-panel .photo{padding: 0;height: 358px;overflow: hidden;}
	.partner-panel .intro{padding: 20px;height:100%;overflow: hidden;}
	.partner-panel .intro h3{font-size: 30px;}
	.partner-panel .intro .title{border-bottom: 1px solid #ebb132;color: #7f7f7f;font-size: 24px;padding: 10px 0;margin-bottom: 10px;}
	.partner-panel .scrollBox{height:224px;}

	.partner-panel .i-close{top:10px;right: 10px;width: 20px;height: 20px}

	.new-menu .search{width: 40px;height: 40px; line-height: 40px;}
}

@media (min-width: 992px){
	.partner-panel{width:970px;height: 460px}
	.partner-panel .photo{padding: 0;height: 460px;overflow: hidden;}
	.partner-panel .intro{padding: 40px;height:100%;overflow: hidden;}
	.partner-panel .intro h3{font-size: 26px;}
	.partner-panel .intro .title{border-bottom: 1px solid #ebb132;color: #7f7f7f;font-size: 16px;padding: 10px 0;margin-bottom: 10px;}
	.partner-panel .scrollBox{height:265px;}

	.partner-panel .i-close{top:20px;right: 20px; }

	.new-menu .search{width: 40px;height: 40px;  line-height: 40px;}
	
	
}

/*超大PC屏幕下的专用样式*/
@media screen and (min-width:1200px) {
	.about .intro .intro-1 h3{font-size: 60px}

	.partner-panel{width:1170px;height: 500px}
	.partner-panel .photo{padding: 0;height: 500px;overflow: hidden;}
	.partner-panel .intro{padding: 80px;height:100%;overflow: hidden;}
	.partner-panel .intro h3{font-size: 32px;}
	.partner-panel .intro .title{border-bottom: 1px solid #ebb132;color: #7f7f7f;font-size: 18px;padding: 10px 0;margin-bottom: 10px;}
	.partner-panel .scrollBox{height:225px;}

	.partner-panel .i-close{top:20px;right: 20px;width: 40px;height: 40px }

	.new-menu .search{width: 45px;height: 45px; line-height: 45px;}
	.new-nav div{height: 45px;line-height: 45px;}
	.news-li .info p{overflow: hidden;}
	.portfolio .select-wrap .select{margin-left: 40px;}
	.tab-wrap{}
}

@media screen and (min-width:768px) and (max-width: 992px) {
	.news-li .info p{display: none}
}
 /*中等PC屏幕下的专用样式*/
@media screen and (min-width:768px) and (max-width: 1199px) {
	.about .intro .intro-1 h3{font-size: 60px}
  .about .intro .intro-1 p{font-size: 12px; }
	.about .intro .text h3{font-size: 26px}

	.news-li .info p{}
	.news-li .info .tags span{font-size: 14px}
	.news-li .info h3{font-size: 18px;height: 53px;margin-bottom: 3%;line-height: 1.6;}
	.news-li .info{font-size: 14px;padding: 2% 4%}

	.intro-panel{padding: 3% 6%;width: 60%}
	.new-nav div{height: 50px;line-height: 20px;font-size: 16px}
	.new-nav div span{display: block}

	.new-menu .search-bar{margin-bottom: 0px;}
	.tab-wrap{ }
	.tabs a{font-size:16px}
	.contact-tab h3{font-size: 20px}
	.contact-tab p{font-size: 14px}

	.portfolio .select-wrap .select{margin-left: 40px;}
	.hangye-panel li span{ font-size: 26px; }
}


 /*PHONE屏幕下的专用样式*/
@media screen and (max-width:767px) {
	.about .intro .intro-1 h3{font-size: 30px}
   .about .intro .intro-1 p{font-size: 12px; transform: scale(0.8,0.8);}
	.about .intro .text h3{font-size: 20px}

	.new-menu{padding: 0}
	.new-menu div b{font-size: 14px;padding-top: 8px}
	.new-menu div b span{display: block}
	.new-menu{background:#232323;margin-bottom: 12px;}
	.new-menu .row{width: 82%;text-align: left;margin: 0 0 0 1%;}
	.new-menu .search-bar{margin: 0 auto;width: 0; margin-top: -40px;}
	.new-menu .search-bar.active{width: 93%;}
	.search-bar input{background: #2f3131;left: 0;text-indent: 0px;border-radius: 25px;}

	.partner{padding: 2% 4%}
	.partner h3{font-size: 18px}
	.partner .photo .name{font-size: 14px}
	.partner .photo p{font-size: 12px}
	.partner-panel{width:400px;height: 80%}
	.partner-panel .photo{padding: 0;height: 356px;overflow: hidden;}
	.partner-panel .intro{padding: 12px;height: calc(100% - 356px);overflow: hidden;}
	.partner-panel .intro h3{font-size: 18px;}
	.partner-panel .intro .title{border-bottom: 1px solid #ebb132;color: #7f7f7f;font-size: 14px;padding: 10px 0;margin-bottom: 10px;}
	.partner-panel .scrollBox{height: calc(100% - 80px);}

	.partner-panel .i-close{top:-30px;width:20px;height: 20px }

	.hangye-panel{width: 300px;font-size: 30px; }
	.hangye-panel li span{ font-size: 1.6rem; }
	.portfolio{padding: 20px}
	.portfolio .select-wrap{font-size: 16px;width: 100%;height: 35px;line-height: 35px}
	.portfolio-li li{font-size: 14px;padding: 0;height: 50px;line-height: 50px}


	.intro-panel {padding: 20px;width: 80%;font-size: 14px}
	.intro-panel .know-more{width: 160px;height: 40px;line-height: 40px;margin: 5vh auto;}
	.intro-panel .brandlogo{width: 60%; height: 54px;margin: 0 auto;margin-bottom: 22px;}

	.news{padding: 0}
	.new-menu .search{width: 40px;height: 40px;margin-top: .5vh;line-height: 40px;}
	.new-menu .search-btn{background-color: #2f3131;}
	.news-li .info{font-size: 12px;padding: 2% 4%}
	.news-li .info p{display: none}
	.news-li li{margin-bottom: 10px;}
	.news-li .info h3{font-size: 20px;height: 32px;line-height: 1.4}

	.news-li .info .tags span{font-size: 12px;height: 24px;line-height: 24px;}
	.news .more-btn{width: 120px}
	.news-intro .tags span{font-size: 14px}
	.title-wrap .title.fixed{padding: 15px}

	/*.tab-wrap{bottom: 4vh;top: auto; right: auto;left: 50%;transform: translateX(-50%)}*/
	.tabs{padding: 10px;}
	.trapbox {position: absolute; bottom: 0px; top: auto; transform: translate3d(0,0,0);  }
	.tabs a{font-size: 14px}
	.share-list{
		padding-bottom: 1vh;
	}
	.share-list a i {font-size: 20px;}
	.share-list a {line-height: 35px;}
	.contact-tab h3{font-size: 1.2rem}
	.contact-tab p{font-size: 12px;padding-bottom: 0}
	.contact-tab .pic img{width: 50%}
	.share-wrap{padding: 10px}
	.share-wrap li{padding: 0}
	.about-wrap .text {margin-top: 12px;}
	.about-wrap .text h3{font-size: 28px}
	.about-wrap .intro .intro-1 {margin-bottom: 5%;}
	.newscontent{padding: 20px 0;}
	.news-intro{padding: 20px 0}
	.news-intro h3{font-size: 20px;width: 100%;height: auto;line-height: 1.6}
	.newtxt{font-size: 14px;}
	.share{width: 200px}
	.share-list a{width: 20px;height: 25px;}
	.portfolio .title{padding-bottom: 0}
	.portfolio .search input{height: 35px}
	.portfolio .search.active input{width: 100%}
	.portfolio .search{width: 0;height: 35px;top: 1.5vh;transition: width .3s linear;}
	.portfolio .search-btn{width: 35px;height: 35px; top: 1.5vh;line-height: 35px;}
	.portfolio .search-btn i{
		font-size: 15px;
    line-height: 35px;
	}

	.hangye-panel li{margin-bottom:4vh ;font-size: 30px}

	.portfolio-li .row div:nth-child(n){padding-left: 0}
	.portfolio-li .row div:nth-child(2n){padding-right: 0}

	.portfolio .select-wrap .select{margin-left: 10px;}

	.center-pop.pop-out{padding:1vh 6vw;top: 53vh;}
	.voice-panel{}
	.voice-panel h3{font-size: 22px; margin-top: 2vh;}
	.voice-panel .v-li h4 {margin-top: 2vh; text-align: center;}
	.voice-panel .img-responsive {transform: none}
	.voice-panel .for-m .v-li li{align-items: center;margin-bottom: 2vh;}
	.voice-panel .for-m .v-li li div{width: 40%}
	.voice-panel .for-m .v-li li h4{height: auto;margin: 0;width: 60%;text-align: left;padding-left: 2vw}
	.voice-panel .i-close{top:auto;left:50%;bottom:-50px;right:auto;width:30px;height:30px}
	.contact-tab .swiper-slide .pic {width: 100%;}
	.contact-tab p.address {margin-bottom: 2vh;}
	.contact-tab h3 {margin: 2vh 0;}
	/*.share-wrap {margin-top: 0}*/
}

/* Custom, iPhone Retina 320 */ 
@media only screen and (max-width : 499px) {

	.news-li .info .tags span{font-size: 12px;height: 24px;line-height: 24px;}
	.news-li .info h3{font-size: 13px;height: 35px;overflow: hidden;line-height: 1.5;}
	.news-li .info{font-size: 12px;padding: 4% 8%;width: 100%}
	.news-li .pic{width: 100%}
	.news-li .info div:last-child{margin-top: 2vh;}

	.partner-panel{width:80%;height: 74%}
	.partner-panel .photo{height: 230px;}
	.partner-panel .intro{height: calc(100% - 230px);}
	.new-menu .search-bar.active{width: 93%;}
	.new-menu .search-btn{background-color: #2f3131;}
	.new-menu .new-nav{width: 82%;height: 54px;}
	.new-menu div b{height: 60px;font-size: 12px;}
	.new-nav div{padding: 0 8px;}
	.new-menu .search{margin-top: .5vh;}
	.portfolio .search.active input{width: 100%}

}
