*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;}
img{ width: 100%; }
.content{
	position: absolute;width: 100%;height: 100%;background-color: #333333;
}
.bottom{
	position: absolute;width: 100%;bottom: 0;
}
.up{
	position: absolute;width: 100%;top: 0;
}
.alpha{
	position: absolute;width: 100%;height: 100%;background-color: #666666;display: none;opacity: 0;
}