/* custom */


@-webkit-keyframes 'moonmove' {
 0% {
 margin-left:-46px;
}
 100% {
 margin-left:-162px;
}
}
@-webkit-keyframes 'cloudMove' {
 0% {
 margin-left:0px;
 opacity: 0;
}
25%{
margin-left:-187px;
 opacity: 0.6;
}
50% {
 margin-left:-374px;
 opacity: 0.6;
}
75% {
 margin-left:-561px;
 opacity: 0.6;
}
 100% {
 margin-left:-750px;
 opacity: 0;
}
}
@-webkit-keyframes 'faceMove' {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

@-webkit-keyframes 'scaleMove' {
 0% {
  transform:scale(1,1);
  -ms-transform:scale(1,1); /* Internet Explorer */
  -moz-transform:scale(1,1); /* Firefox */
  -webkit-transform:scale(1,1); /* Safari 和 Chrome */
  -o-transform:scale(1,1); /* Opera */
}
 100% {
  transform:scale(1.1,1.1);
  -ms-transform:scale(1.1,1.1); /* Internet Explorer */
  -moz-transform:scale(1.1,1.1); /* Firefox */
  -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
  -o-transform:scale(1.1,1.1); /* Opera */
}
}

@-webkit-keyframes 'smallscaleMove' {
 0% {
  transform:scale(1,1);
  -ms-transform:scale(1,1); /* Internet Explorer */
  -moz-transform:scale(1,1); /* Firefox */
  -webkit-transform:scale(1,1); /* Safari 和 Chrome */
  -o-transform:scale(1,1); /* Opera */
}
 100% {
  transform:scale(1.1,1.1);
  -ms-transform:scale(1.1,1.1); /* Internet Explorer */
  -moz-transform:scale(1.1,1.1); /* Firefox */
  -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
  -o-transform:scale(1.1,1.1); /* Opera */
}
}

@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block
}

img {
  width: 100%; }
html{
  height:100%;
  overflow:hidden;
}
body{
  margin: 0 auto;
  background-color: black;
  overflow: hidden;
  height: 100%;
  -webkit-text-size-adjust: none;
 -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/*loader-Page*/
.loader{
 height:100%;
 overflow: hidden;
}
.loader-content{
  position: relative;
  text-align: center;

  /*overflow: hidden;*/
}

.moon{
  position: absolute;
  width: 90px;
  height: 90px;
  /*border-radius: 46px;*/
  -moz-border-radius: 46px; 
  -webkit-border-radius: 46px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -120px;
}
.moonbox{
  position: absolute;
  
  width: 208px;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -46px;
  z-index: 996;
  -webkit-animation-name:'moonmove';/*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 10s;/*动画持续时间*/
  -webkit-animation-timing-function: linear; /*动画频率，和transition-timing-function是一样的*/
  -webkit-animation-delay: 0;/*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
  -webkit-animation-direction: normal;/*定义动画方式 alternate;*/
}
#moon-over{
  position: absolute;
  width: 92.5px;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -46px;
  z-index: 999;
}
#moon-over2{
  position: absolute;
  width: 92.5px;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -46px;
  z-index: 998;
}
.loading{
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -15px;
  color: #b1a4b4;
}
.fadeout {
  opacity: 0;
  filter:alpha(opacity=0);
}


/*Game-Page*/
.game {
   position: relative;
   margin: 0 auto;
   height:100%;
   text-align: center;
   display: none;
   overflow: hidden;
}
.face{
  position: absolute;
  width: 248px;
  top: 20%;
  left: 50%;
  margin-left: -124px;
  /*margin-top: 24%;*/
  z-index:3;
  -webkit-animation-name:'faceMove';
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.cloud{
  position: absolute;
  width: 1125px;
  top: 36%;
  margin-left: 0px;
  -webkit-animation-name:'cloudMove';
  -webkit-animation-duration: 34s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
.mirror{
  position: relative;
}
.mirror-board{
  position: absolute;
  width: 84%;
  margin:0 auto;
  top: 50%;
  left: 50%;
  margin-left: -42%;
  margin-top: -82%;
  z-index:2;
}
#logo{
  position: absolute;
  width: 36%;
  left: 50%;
  margin-left: -16%;
  margin-top: 30%;
  top: 0;
  z-index:4;
}
.bubbles{
  position: absolute;
  font-family: 楷体;
  text-align: left;
  line-height: 1em;
  font-size: 14px;
  color: #ba98cf;
  width: 100%;
  height: 48%;
  left: 13%;
  top: 34%;
  overflow:scroll;
  /*overflow: hidden;*/
}
#intro{
  position: relative;
  width: 100%;
  /*height: 30%;*/
  z-index: 4;
  
   overflow: auto;
  /*left: 12%;*/
  /*top: 9%;*/
}
#intro1{
  /*position: absolute;*/

  width: 70%;
  /*height: 207px;*/
 
}
#intro2{
 /*position: absolute;*/
 width: 70%;
}
#intro3{
 
 width: 70%;
}
#chat{
  
  display: none;
  /*top: 9%;*/
}
#chat1{
   margin-top: 3%;

  width: 70%;
  margin-left: 4%;
  display: none;
}
#chat2-1{
  margin-top: 3%;
  width: 70%;
  display: none;
}
#chat2{
  margin-top: 3%;
  width: 70%;
  display: none;
}
#chat3{
  margin-top: 3%;
  width: 70%;
  margin-left: 4%;
  display: none;
}
#chat4{
  margin-top: 3%;
  width: 70%;
  display: none;
}
#chat5{
  margin-top: 3%;
  width: 70%;
  display: none;
 /* width: 76%;
  margin-left: 26%;*/
}

.pic{
  /*position: absolute;*/
  z-index:4;
}
.txt{
  position: absolute;
  width: 83%;
  margin-left: 13%;
  font-family: 楷体;
  font-size: 0.7em;
  z-index:5;
}


.startBtton{
  position: fixed;
  /*margin-bottom: -20px;*/
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
  -webkit-animation-name:'scaleMove';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
#bar{
  position: absolute;
}
#txt{
  position: absolute;
  width: 40%;
  z-index: 6;
  left: 29%;
  margin-top: 6%;
}

.testBtton{
  position: fixed;
  display: none;
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
  -webkit-animation-name:'scaleMove';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
#testbar{
  position: absolute;
}
#testtxt{
  position: absolute;
  width: 100%;
  z-index: 6;
  left: 0;
  margin-top: 8%;
  font-family: 宋体;
  font-weight:900;
  text-align: center;
  font-size: 14px;
  letter-spacing: -1px;
  text-shadow:#fff 0 1px 1px;
  color: #000;
}
.shareBtton{
  position: fixed;
  display: none;
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
  -webkit-animation-name:'scaleMove';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

#sharetxt{
  position: absolute;
  width: 100%;
  z-index: 6;
  left: 0;
  margin-top: 8%;
  font-family: 宋体;
  font-weight:900;
  text-align: center;
  font-size: 14px;
  letter-spacing: -1px;
  text-shadow:#fff 0 1px 1px;
  color: #000;
}
#qa{
  display: none;
  position: relative;
  width: 70%;
 
}
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-q0a0 {
  width: 213.5px;
  height: 47px;
  background-position: 0 0;
}
.q0{
  margin-top: 3%;
  /*display: none;*/
}
.q1{
  margin-top: 3%;
  display: none;
}
.q2{
  margin-top: 3%;
  display: none;
}
.q3{
  margin-top: 3%;
  display: none;
}
.q4{
  margin-top: 3%;
  display: none;
}
.q5{
  margin-top: 3%;
  display: none;
}
.q6{
  margin-top: 3%;
  display: none;
}
.lastq{
  margin-top: 3%;
  display: none;
}
.a{

  position: relative;
  margin-top: 3%;
  display: none;
  
}
.answer{
  position: absolute;

  top:30%;
  font-family: 楷体;
  font-size: 1em;
  font-weight: bold;
  left: 7%;
  text-align: center;
  color: #41324b;
}
.result{
  position: absolute;
  left: 20%;
  top: 24%;
  width: 60%;
  display: none;
 z-index: 999;
}
.result1{
  display: none;
}
.result2{
  display: none;
}
.result3{
  display: none;
}
.result4{
  display: none;
}
.lessonBtn{
  width: 80%;
  margin: auto;
  -webkit-animation-name:'smallscaleMove';
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.qaBtton{
  position: fixed;
  display: none;
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
  -webkit-animation-name:'scaleMove';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
#qabar{
  position: absolute;
   z-index: 6;
}
#btns{
  position: absolute;
  z-index: 7;
}

.btn{
  float: left;
  width: 16%;
  list-style: none;
}
.music{
  position: absolute;
  width: 12%;
  top: 2%;
  right: 4%;
  animation: 9.5s linear 0s normal none infinite rotate;
}
.lesson{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10; /* 此处的图层要大于页面 */
  /*display:none;*/
}
.lessonMask{
  filter: alpha(opacity=80); /* IE的透明度 */
  opacity: 0.8;  /* 透明度 */
}
#close{
  position: absolute;
  top: -2%;
  width: 12%;
  left: 88%;
  z-index: 999;

}
.lessonPic{
  /*position: absolute;*/
  position: relative;
  top: -96%;
  width: 90%;
  left: 4%;
  z-index: 11;

}
#copyMask{
  width: 100%;
  height: 100%;
  display: flex;
  
}
#copy{
   position: absolute;
  width: 70%;
  color: #e7e7e7;
  text-align: left;
  line-height: 1.2em;
  left: 18%;
  top: 15%;
  overflow: auto;
  height: 61%;

}
.copyUl{
  list-style-type: disc;
  color:#e7e7e7;
  list-style-position: outside;
  padding-left: 7%;
  font-size: 0.8rem;
  margin-top: 3%;
}
.copyUl li{
  margin: 0;
  padding: 0;
  margin-bottom: 1.2%;
  line-height: 1.4em;

}
.copyUl span{
  color: #ffb474;
}
.copyp{
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color:#e7e7e7;
  margin-top: 5%;
}
.h3{
  margin: 0;
    padding: 0;
  margin-top: 4%;
  font-size: 1rem;
  color: #ffb474;
  line-height: 1.4em;
}
.p{
  font-size: 0.8rem;
  margin-top: 4%;

}
.sharePage{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10; /* 此处的图层要大于页面 */
  display: none;
}
.sharePic{
  position: relative;
    top: -100%;
    width: 70%;
    left: 28%;
    z-index: 11;
}
