/* custom */


@-webkit-keyframes 'moonmove' {
 0% {
 margin-left:-46px;
}
 100% {
 margin-left:-162px;
}
}
@-webkit-keyframes 'cloudMove' {
 0% {
 margin-left:0px;
 opacity: 0.6;
}
 100% {
 margin-left:-750px;
 opacity: 0.6;
}
}
@-webkit-keyframes 'faceMove' {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

img {
  width: 100%; }
body{
  margin: 0 auto;
  background-color: black;
 
}
/*loader-Page*/
.loader{
 overflow: hidden;
}
.loader-content{
  position: relative;
  text-align: center;

  /*overflow: hidden;*/
}

.moon{
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 46px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -120px;
}
.moonbox{
  position: absolute;
  
  width: 208px;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -46px;
  z-index: 996;
  -webkit-animation-name:'moonmove';/*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 10s;/*动画持续时间*/
  -webkit-animation-timing-function: linear; /*动画频率，和transition-timing-function是一样的*/
  -webkit-animation-delay: 0;/*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
  -webkit-animation-direction: normal;/*定义动画方式 alternate;*/
}
#moon-over{
  position: absolute;
  width: 92.5px;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -46px;
  z-index: 999;
}
#moon-over2{
  position: absolute;
  width: 92.5px;
  top: 50%;
  left: 50%;
  margin-left: -46px;
  margin-top: -46px;
  z-index: 998;
}
.loading{
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -15px;
  color: #b1a4b4;
}
.fadeout {
  opacity: 0;
  filter:alpha(opacity=0);
}


/*Game-Page*/
.game {
   position: relative;
   margin: 0 auto;
   /*background-image: url("../img/mainBg.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;*/
   text-align: center;
   display: none;
   overflow: hidden;
}
.face{
  position: absolute;
  width: 248px;
  top: 10%;
  left: 50%;
  margin-left: -124px;
  /*margin-top: 24%;*/
  z-index:3;
  -webkit-animation-name:'faceMove';
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.cloud{
  position: absolute;
  width: 1125px;
  top: 36%;
  margin-left: 0px;
  -webkit-animation-name:'cloudMove';
  -webkit-animation-duration: 34s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
.mirror{
  position: relative;
}
.mirror-board{
  position: absolute;
  width: 84%;
  margin:0 auto;
  top: 50%;
  left: 50%;
  margin-left: -42%;
  margin-top: -76%;
  z-index:2;
}
#logo{
  position: absolute;
  width: 36%;
  left: 50%;
  margin-left: -16%;
  margin-top: 30%;
  top: 0;
  z-index:4;
}
.bubbles{
  position: absolute;
  font-family: 楷体;
  text-align: left;
  line-height: 1em;
  font-size: 1em;
  color: #ba98cf;
  width: 100%;
  height: 320px;
  top: 34%;
  overflow: hidden;
}
#intro{
  position: relative;
  width: 72%;
  height: 30%;
  z-index: 4;
  left: 12%;
  /*top: 9%;*/
}
#intro1{
  position: absolute;
  width: 100%;
  /*height: 207px;*/
 
}
#intro2{
 position: absolute;
 width: 100%;
 top:240%;
}
.pic{
  position: absolute;
  z-index:4;
}
.txt{
  position: absolute;
  width: 83%;
  margin-left: 13%;
  font-family: 楷体;
  font-size: 0.7em;
  z-index:5;
}


.startBtton{
  position: fixed;
  /*margin-bottom: -20px;*/
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
}
#bar{
  position: absolute;
}
#txt{
  position: absolute;
  width: 40%;
  z-index: 6;
  left: 29%;
  margin-top: 6%;
}

.testBtton{
  position: fixed;
  display: none;
  width: 100%;
  top: 88%;
  left: 50%;
  margin-left: -50%;
  z-index: 6;
}
#testbar{
  position: absolute;
}
#testtxt{
  position: absolute;
  width: 100%;
  z-index: 6;
  left: 0;
  margin-top: 3%;
  font-family: 宋体;
  font-weight:900;
  text-align: center;
  font-size: 1em;
  letter-spacing: -1px;
  text-shadow:#fff 0 1px 1px;
  color: #000;
}
  

