@-webkit-keyframes 'cloudMove' {
 0% {
 margin-left:0px;
 opacity: 0;
}
25%{
margin-left:-187px;
 opacity: 0.6;
}
50% {
 margin-left:-374px;
 opacity: 0.6;
}
75% {
 margin-left:-561px;
 opacity: 0.6;
}
 100% {
 margin-left:-750px;
 opacity: 0;
}
}
@-webkit-keyframes 'faceMove' {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
body,div,ul,ol,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,
textarea,blockquote,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}
html{
	height:100%;  
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  width: 100%; }
body{
  margin: 0 auto;
  background-color: black;
  -webkit-text-size-adjust: none;
 	overflow: hidden;
 	height: 100%;
 	width:100%;
	
	text-align:left;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	line-height:1.5;
	height:100%;
	color:#656566;
	font-size:1.6rem;

}
h1, h2, h3, h4, h5, h6 { line-height:2;font-weight:normal}
h1 { font-size: 1.8rem;}  /*18px*/
h2 {font-size: 1.6rem;}   /*16px*/
h3 {font-size: 1.4rem;}  /*14px*/
a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #08c
}
ul,ol{list-style:none;}
img{border:0;max-width:100%;}
input,img{vertical-align:middle}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit; 
    font: inherit; 
    margin: 0; 
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
/*清除浮动*/
.clearfix:before,.clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}

.mainPage {
   position: relative;
   margin: 0 auto;
   /*background-image: url("../img/mainBg.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;*/
   text-align: center;
   overflow: hidden;
}
.face{
  position: absolute;
  width: 248px;
  top: 20%;
  left: 50%;
  margin-left: -124px;
  /*margin-top: 24%;*/
  z-index:3;
  -webkit-animation-name:'faceMove';
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.cloud{
  position: absolute;
  width: 1125px;
  top: 36%;
  margin-left: 0px;
  -webkit-animation-name:'cloudMove';
  -webkit-animation-duration: 34s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
.mirror{
  position: relative;
}
.mirror-board{
  position: absolute;
  width: 84%;
  margin:0 auto;
  top: 50%;
  left: 50%;
  margin-left: -42%;
  margin-top: -76%;
  z-index:2;
}
#logo{
  position: absolute;
  width: 36%;
  left: 50%;
  margin-left: -16%;
  margin-top: 30%;
  top: 0;
  z-index:4;
}
.btns{
	 width: 100%;
   margin: auto;
   color: #ffc8f4;
   font-size: 0.8rem;
   /*font-weight: bold;*/

}
#btn2{
	position: absolute;
	
}
.page1{
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  font-size: 0.6em;
  color: #ffaaed;
  height: 50%;
  
}

.page{
      position: relative;
    width: 100%;
    /* height: 600px; */
    max-height: 246px;
    overflow-y: scroll;
}
li{
	list-style: none;
  text-align: center;
  float: left;
  color: #ffaaed;
  /*font-size: 0.7em;*/
  margin-bottom:10px;
}
.box{
	border-radius:6px;
	padding-top: 6%;
	margin-top: 2%;
	/*background:#bd8dfe;*/
	background:rgba(189, 140, 254, 0.4); //背景透明
}
.myBox{
	border-radius:6px;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-top: 2%;
	display: inline-block;
	/*background:#bd8dfe;*/
	background:rgba(189, 140, 254, 0.4); //背景透明
}
.rank{
  width: 100%;
  /* height: 100%; */
  font-size: 0.6em;
  /* margin-top: 4%; */
  margin-bottom: 4%;
}
.rank1{
	margin: auto;
  width: 85%;
  /*margin-top: -4%;*/

}
.myRank{
	margin: auto;
  width: 85%;
  /*margin-top: -4%;*/

}
#ul{
	display:inline-block; 
	width:100%
}
.avatar{
    /* position: absolute; */
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 4%;
  /* margin-top: 4%; */
}
.pic{
	 border-radius: 18px;
}
.name{
	margin-left: 2%;
  /*position: absolute;*/
   float: left; 
  text-align: left;
  width: 18%;
  margin-top: 1%;
  line-height: 1.3em;
  /*margin-left: 17%;*/
}
.myname{
  margin-left: 2%;
  /*position: absolute;*/
   float: left; 
  text-align: left;
  width: 18%;
  margin-top: 4%;
  line-height: 1.3em;
  /*margin-left: 17%;*/
}
.line{
	/*position: absolute;*/
  border-top: 1px dashed #cccccc;
  height: 1px;
  margin-top: 8%;
  overflow: hidden;
  float: left;
  width: 40%;
  /*margin-left: 35%;*/
}
.title{
	/*position: absolute;*/
	float: left;
  /*margin-left: 76%;*/
  margin-top: 5%;
}