@import sass/base
@import ../../libs/sass/loader-ball

$debug : true
$cdn : "../"
$cdn2 : "../../Levi/"
@if not $debug
	$cdn : "//image.giccoo.com/projects/BobbiBrown/"

// animation, delay, duration
$fontColor: #000000;
$pageMainBGColor: #000;
+keyframes(second)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
+keyframes(fadeBG)
	0%
		opacity: 0
	20%
		opacity: 1
	80%
		opacity: 1
	100%
		opacity: 0
+keyframes(iconFlash)
	0%,100%
		opacity: 1
		+transform(scale(1.2,1.2))
	50%
		opacity: 0.2
		+transform(scale(1,1))
+keyframes(moveLeft)
	0%
		+transform(translate3d(-50%,0,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(musicIcon)
	0%
		height: 20%
		opacity: 0.8
	50%
		height: 100%
		opacity: 1
	100%
		height: 20%
		opacity: 0.8
+keyframes(textShow)
	0%
		opacity: 0
	10%
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
+keyframes(fadeOutCircle)
	0%
		+transform(scale(0.8,0.8))
		opacity: 0
	20%
		+transform(scale(1,1))
		opacity: 0.7
	100%
		+transform(scale(1.5,1.5))
		opacity: 0
+keyframes(fadeZoomOut)
	0%
		+transform(translate3d(0,0,0) scale(1,1))
		opacity: 1
	60%
		opacity: 1
	100%
		+transform(translate3d(-30%,-30%,0) scale(2,2))
		opacity: 0
+keyframes(neon)
	0%,50%,56%,65%,80%,100%
		opacity: 1
		+transform(translate3d(0,0,0) scale(1,1))
	53%
		opacity: 0.4
		// +transform(translate3d(1px,-1px,0))
		+transform(scale(1.01,1.01))
	59%
		opacity: 0
		// +transform(translate3d(-1px,1px,0))
		+transform(scale(1.01,1.01))
	75%
		opacity: 0.6
html,body
	+w
	+h
body
	color: $fontColor
	+bc($pageMainBGColor)
	max-width: 640px
	+m
	+posr
video,canvas,svg
	+w
	+h(auto)
.hide
	+hide
.main,.load
	+w
	+h
	+posr
	max-width: 1280px
	+m
	font-size: 0
	+overhide
	+tran(all,4s,ease)

.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(0,-100%,0)
	& ~ .page-animation-leave
		transform: translate3d(0,100%,0)
.page-animation-leave
	transform: translate3d(0,100%,0)
	& ~ .page-animation-enter
		transform: translate3d(0,100%,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(0,100%,0)
.page-animation-leave-to
	transform: translate3d(0,-100%,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0

.page-fadeflower-enter-active
	transition: all .6s ease
	opacity: 1
.page-fadeflower-leave-active
	transition: all .6s ease-in
	opacity: 1
.page-fadeflower-enter,.page-fadeflower-leave-to
	opacity: 0

.qrcode
	+bc(#fff)
	+posa
	+tl
	+w
	+h
	z-index: 9999
	+hide
	&.show
		+show
	.qr
		+w(300px)
		+m
		margin-top: 100px
		+text-center
		font-size: 16px

.load
	+b($cdn+"img/loading-bg.jpg",no-repeat,center,center,cover)
	+posa
	+tl
	+w
	+h
	// +transform(translate3d(-50%,0,0))
	+bc(#000)
	z-index: 1199
	// 3c080f
	animation-duration: 1.5s
	animation-timing-function: linear
	.open
		+posa
		+bl(4rem)
		+w
		+text-center
		+font-size(0.8rem)
		color: #fff
		&:after,&:before
			content: " "
			+posa
			+tl(-70%,50%)
			+w(3rem)
			+h(3rem)
			margin-left: -1.5rem
			border: solid 2px #fff
			border-radius: 50%
			+overhide
			+box
			transform-origin: center center
			+animation(fadeOutCircle,2s,ease,infinite)
		&:before
			animation-delay: 400ms
	.loading
		+posa
		+tl(50%)
		+transform(translate3d(0,-50%,0))
		+w(100%)
		+text-center
		animation-delay: 3000ms
	.text
		+posa
		+tl
		+transform(translate3d(0,-50%,0))
		animation-delay: 300ms
	.loading-text
		+posa
		+bl(20%)
		+w
		+text-center
		+font-size(0.8rem)
		color: #fff

.music-box
	+w(5%)
	+posr
	+tl(50%)
	+transform(translate3d(0,-50%,0))
	+show-inline
	+m
	&:after
		content: " "
		+posa
		+tl(50%,0)
		+w
		+h
		+transform(translate3d(0,-50%,0))
		+bc(#3c080f)
	@for $i from 1 through 15
		&:nth-child(#{$i})
			&:after
				+animation(musicIcon,1000ms+random(2000),ease,infinite)
				animation-delay: 100ms*$i
			


.public
	+posa
	+tr(1rem,1rem)
	+wh(30px,30px)
	font-size: 0
	z-index: 199
	.note-text
		+posa
		+tr(50%,250%)
		+font-size(0.8rem)
		line-height: 1.4em
		white-space: nowrap
		+text-right
		+m
		+transform(translate3d(0,-50%,0))
		color: #3f8f23
		p
			+m
		.arrow
			+posa
			+tr(50%,-37.5px)
			+transform(translate3d(0,-25%,0))
			font-size: 0
			+h(30px)
			.item
				+w(10px)
				+h
				+show-inline
				font-size: 0
			// .arrow-1
			// 	+animation(fadeArrow,1s,ease,infinite)
			// .arrow-2
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*1/3
			// .arrow-3
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*2/3

	.player
		+w
		+h
	.icon-play
		+w
		+h
		&.play
			+b($cdn+"img/icon-play.png",no-repeat,center,center,contain)
		&.pause
			+b($cdn+"img/icon-stop.png",no-repeat,center,center,contain)

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg,.ugc
		+posa
		+tl(50%)
		font-size: 0
		+transform(translate3d(0,-50%,0))
		.biger &
			+transform(translate3d(0,-50%,0) scale(1.1,1.1))
	.ugc
		+w
		+h
	.content
		+posa
		+tl
		+w
		+h
		box-sizing: border-box
	.next
		+posa
		+bl
		+w
		+h(1px)
		&:before
			content: " "
			+posa
			+bl(10px,50%)
			+w(30px)
			+h(10px)
			+b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
		&:after
			content: " "
			+posa
			+bl(22px,50%)
			+w(30px)
			+h(10px)
			+b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
			animation-delay: 300ms

.loading-page
	+posa
	+tl
	z-index: 9999
	+w
	+h
	+bc(rgba(0,0,0,0.6))
	.ball-spin-fade-loader
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))

.form
	+w(90%)
	+m
	color: #83570a
	+font-size(0.8rem)
	.form-group
		display: flex
		+box
		+m(5% 0)
		border-radius: 5px
		border: solid 1px #555
		+overhide
		label
			flex: 1
			+box
			+p(0.1rem 0.2rem)
			// padding-right: 5%
			+posr
			border-right: solid 1px #555
			line-height: 1.4em
			justify-content: center
			align-items: center
			box-align: center
			+bc(#dcdcdc)
			img
				+show-inline
				vertical-align: middle
		input,.form-group-items,.form-group-line,.select
			flex: 7
		input,.select
			border: none
			outline: none
			+bc(#fff)
			// color: #fff
			+box
			+p(0.2rem 0)
			line-height: 1.4em
			text-indent: 0.4rem
		.select
			+overhide
			+posr
			span
				+box
				+p(0.2rem 0)
				line-height: 1.8em
				text-indent: 0.4rem
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				vertical-align: middle
		select
			+posa
			+tl
			+br
			+wh(100%,100%)
			+show-inline
			opacity: 0
	.custom-select
		overflow: unset
		.select
			overflow: unset
		.box-select
			+posa
			+tl(105%)
			+bc(#fff)
			.option
				line-height: 2em
				+font-size(0.7rem)
				vertical-align: middle
				span
					line-height: 2em
					+wh(1rem,1rem)
					+show-inline
					vertical-align: middle
					border-radius: 50%

	.btn-submit
		+m(0.5rem auto)

.ugcsave
	+posa
	+tl
	+br
	+w
	+h
	opacity: 0
	z-index: 99

.ugc
	+posa
	+tl
	+br
	+w
	+h
	opacity: 0
	z-index: 99

.loading
	+b($cdn+"img/loading-bg.jpg",no-repeat,center,center,cover)

.page-music
	.bg
		+w
		+h
		background-size: cover
		background-position: top center
	.content
		.bg-box
			+posa
			+tl
			+w
			+h
			z-index: 0
			img
				+w
				+h
		.up
			+w
			+h
			+posr
			z-index: 5
			.smaller &
				+w(80%)
				+m
		.btn-next
			+posa
			+bl
			+w
			z-index: 100
		#cd
			+w
			+m
			.biger &
				margin-top: 5%
		.player
			+w(80%)
			+m
			+flex
			justify-content: center
			align-items: center
			.btn
				+show-inline
				flex: 1
			.time
				flex: 1
				+font-size(0.8rem)
				color: #fff
			.progress
				flex: 10
				+b($cdn2+"img/music-player-progress-bg.png",repeat,left,center,auto 100%)
				+h(10px)
				+m(0 0.5rem)
				border-radius: 5px
				+show-inline
				vertical-align: middle
				.line
					+w(0)
					+h
					+b($cdn2+"img/music-player-progress-line.png",repeat,left,center,auto 100%)
					border-radius: 5px
					+posr
					+tran(all,0.2s,ease)
					min-width: 10px
				.pointer
					+wh(12px,12px)
					+b($cdn2+"img/music-player-progress.png",no-repeat,left,center,contain)
					+posa
					+tr
		.message
			+text-center
			+m(0.5rem auto)
			+font-size(0.8rem)
			color: #fff
			margin-top: -5%
			.biger &
				margin-top: 0
			p
				+m
				opacity: 0.4
				+tran
				&.on
					opacity: 1
		.nickname
			+m(0.5rem auto)
			.my
				+text-center
				+font-size(0.8rem)
				color: #fff
		.select
			+w(90%)
			+m
			margin-top: 15%
			+text-center
			.btn
				+w(49%)
				+show-inline

.page-home
	.note
		+w(15%)
		+posa
		+tr(50%,5%)
		+transform(translate3d(0,-50%,0))
		z-index: 999
		.text
			+posa
			+tl
			+w
			+h
			&:before,&:after
				content: " "
				+posa
				+tl
				+w
				+h
				+b($cdn+"img/note-text.png",no-repeat,center,center,cover)
				transform-origin: center center
				+animation(fadeOutCircle,4s,ease,infinite)
			&:before
				animation-delay: 400ms
		&:before,&:after
			content: " "
			+posa
			+tl
			+w
			+h
			+b($cdn+"img/note.png",no-repeat,center,center,cover)
			transform-origin: center center
			+animation(fadeOutCircle,4s,ease,infinite)
		&:before
			animation-delay: 400ms
	.plant
		+w
		+h
		overflow-x: scroll
		+touch
		.bg-box
			+h
			+show-inline
			+posr
			> img
				pointer-events: none
				max-width: none
				+w(auto)
				+h
		.neon
			+posa
			+tl
			+iw(589,6961,100%)
			+h
			&:before
				content: " "
				+posa
				+tl
				+w
				+h
				+b($cdn+"img/neon-on.png",no-repeat,top,left,contain)
				z-index: 998
				+animation(neon,5s,ease,infinite)
		.btn-tv
			+posa
			+tl(15.5%,25%)
			+w(7%)
			+h(40%)
			z-index: 10
		.tv
			+posa
			+tl(35.5%,26%)
			+show-inline
			+w(6%)
			.tv-bg
				+posr
				.timg
					+posa
					+tl(5%,5%)
					+w(77%)
			.front
				+posa
				+tl
		.btn-audio-run
			+posa
			+tl(8.6%,79.8%)
			+w(7%)
			+h(49%)
			z-index: 10
		.audio-run
			+posa
			+tl(26.6%,80.8%)
			+w(6%)
			+h(33%)
			.item
				+show-inline
				+w(50%)
				+animation(second,4s,linear,infinite)
			.item-2
				animation-direction: reverse
		.cd-list
			+posa
			+tl(15%,36.3%)
			+w(15%)
			opacity: 0
			.line
				.cd
					+show-inline
					+w(21%)
					+m(0)
					margin-left: 2%
					box-shadow: 1px -1px 3px rgba(0,0,0,0.7)
					+posr
					.cover
						+posa
						+tl
						+show-inline
						+w
						+h
						z-index: 100
			.line-1
				margin-left: -2%
			.line-2
				margin-left: -5%
				padding-right: 2%
				margin-top: 2%
		.focus-join,.focus-join-light
			+posa
			+tl(15.5%,89.6%)
			+w(9.1%)
			+h(32%)
			.focus,.join
				+w(50%)
				+h
				+m
				+show-inline
		.focus-join-light
			+posa
			+tl(44%,91.2%)
			+w(8%)
			+h(12%)
			
#music
	+posa
	+tl
	z-index: 100
	+bc(rgba(0,0,0,0.7))
	.page-music
		+transform(scale(0.8,0.8))
	.close
		+posa
		+tr(10%,10%)
		z-index: 1000
		+wh(2rem,2rem)
		// +bc(#fff)
		+transform(translate3d(50%,-50%,0))


.page-gather
	.content
		+touch
		.bg-top
			+posa
			+tl
			z-index: -1
		.empty
			+h(30rem)
		.list
			.item
				+box
				+m
				+w(80%)
				margin-bottom: 10%
				+posr
				&:nth-child(even)
					.msg
						+tl(0,0)
					.cd
						margin-left: 69.5%
						.btn-play
							&:after
								+tl(0,-30%)
				.cd
					+posr
					+w(30%)
					+show-inline
					.btn-play
						+posa
						+tl
						+w
						+h
						+bc(rgba(0,0,0,0.5))
						&:after
							content: " "
							+posa
							+tl(0,30%)
							+w
							+h
							+b($cdn+"img/cd-bg.png",no-repeat,center,center,contain)
							z-index: -1
						&:before
							content: " "
							+posa
							+tl(25%,25%)
							+wh(50%,50%)
							+b($cdn+"img/icon-play-pause.png",no-repeat,left,top,200% 100%)
							background-position: left top
						&.pause
							&:before
								// +b($cdn+"img/icon-play-pause.png",no-repeat,center,center,200% 100%)
								background-position: right top
				.msg
					+show-inline
					+w(60%)
					+h
					+posa
					+tl(0,39.5%)
					.nickname
						+w
						+h(25%)
					.message
						+w
						+h(75%)
						+b($cdn+"img/gather-box.png",no-repeat,center,center,100% 100%)
						+box
						+p(2% 5% 5% 5%)
						+font-size(0.6rem)
						line-height: 1.4em
						color: #fff
.pop
	+posa
	+tl
	+br
	+w
	+h
	+bc(rgba(0,0,0,0.8))
	z-index: 1009
.pop
	.close
		+posa
		+bl(10%,50%)
		+w(3rem)
		margin-left: -1.5rem
	.video
		+posa
		+tl(50%,5%)
		+w(90%)
		+h(90%)
		+transform(translate3d(0,-50%,0))
		+b($cdn+"img/video-bg.jpg",no-repeat,center,center,100% 100%)
		+box
		+p(5%)
		.logo
			+w(50%)
			+m(10% auto)
			margin-top: 20%
