@import sass/base


+keyframes(second)
	0%
		+transform(rotate(0deg))
	100%
		+transform(rotate(360deg))
+keyframes(light)
	0%,100%
		+transform(translate3d(0,0,0))
		opacity: 0
	10%
		opacity: 1
	70%
		opacity: 1
	80%
		+transform(translate3d(9rem,0,0))
		opacity: 0
	



// animation,delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

.wechat-share-hide
	+posa
	+tl(-1000px)
	+hide
	+w(1px)

html,body
	+w
	+h
	+bc(#000)
.hide
	+hide
// .loading

.loading
	+posa
	+tl
	+w
	+h
	+bc(#fefcf0)
	z-index: 999
	.img
		+posa
		+tl(50%)
		+transform(translate3d(0,-50%,0))
	.text
		+posa
		+tl(68%,50%)
		+transform(translate3d(-50%,-50%,0))
		+text-center
		+font-size(1rem)
		line-height: 1.4em
		color: #f5c559
		.loadtext
			+font-size(1.4rem)
			margin-right: -1rem
			em
				font-style: normal
.main
	// +posa
	// +tl
	+posr
	+w
	+h
	+m
	max-width: 640px
	z-index: 99
	font-size: 0
	.homepage
		.bg
			+posr
			.content
				+posa
				+tl
				+br
			.sliders
				+overhide
			&.bg-3
				.sliders
					+posa
					+tl(11.25%)
					+w
		.outlink
			+posa
			+tr(33%,5%)
			+wh(40%,3rem)
			display: inline-block
		.left2
			+posa
			+tl(50%,0.4rem)
			+iw(23)
			font-size: 0
			+transform(translate3d(0,-50%,0))
		.right2
			+posa
			+tr(50%,0.4rem)
			+iw(23)
			font-size: 0
			+transform(translate3d(0,-50%,0) scale(-1,1))
		.left
			+posa
			+tl(50%,0)
			+iw(46)
			font-size: 0
			+transform(translate3d(0,-50%,0))
		.right
			+posa
			+tr(50%,0)
			+iw(46)
			font-size: 0
			+transform(translate3d(0,-50%,0) scale(-1,1))
		.last
			+posr
			.content
				+posa
				+tl
				+br
				+w
				+h
			.sliders
				// +posa
				// +bl(20%,10%)
				+overhide
				+w(75%)
				+m
				margin-top: 4rem
				max-width: 400px
				border: solid 4px #fff
			.points
				+w
				+text-center
				// +posa
				// +bl(15%,0)
				margin-top: 1rem
				span
					+show-inline
					+wh(0.5rem,0.5rem)
					+m(0 0.2rem)
					+bc(#fff)
					border-radius: 50%
					&.on
						+bc(#00d1c1)
			.title
				// +posa
				// +tl(18%)
				margin-top: 18%
		.form-box
			+posa
			+tl(0,0)
			+w(100%)
			+box
			+p(0 1.5rem)
			.title
				// +p(1rem 0)
				+posa
				+tl(2rem)
				+w
			.form
				margin-top: 3rem

.pop
	+posf
	+tl
	+w
	+h
	+bc(rgba(0,0,0,0.8))
	+hide
	.content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))

		+iw(450)

.tabs
	.tab
		+w(100%)
		white-space: nowrap
		.item
			+show-inline
			+w(50%)
			+text-center
			+bc(#003057)
			+p(0.8rem 0)
			&.on
				+bc(#024d89)
	.contents
		+p(0.8rem 0)
		// .sliders
		// 	+w(80%)
		// 	+m
		// 	+overhide
		// 	+bc(#fff)
		// 	border: solid 0.4rem #fff
			
		.points
			+text-center
			+p(0.2rem)
			+box
			span
				+show-inline
				+wh(0.4rem,0.4rem)
				+overhide
				border-radius: 50%
				+bc(#fff)
				+m(0 0.2rem)
				&.on
					+bc(#00d1c1)


.form
	+w(90%)
	+m
	+p(1.4rem 0)
	$labelColor: #9c8b57
	$borderColor: #9c8b57
	$inputColor: #000
	.form-grounp
		$h: 1.4rem
		vertical-align: top
		> label
			+wh(30%,$h)
			+show-inline
			+font-size(0.8rem)
			+m(0.2rem 0)
			line-height: $h
			vertical-align: top
			color: $labelColor
		> input
			+wh(68%,$h)
			+font-size(0.8rem)
			+bc(#fff)
			+show-inline
			+box
			+m(0.2rem 0)
			+p(0.2rem)
			line-height: $h
			vertical-align: top
			border: solid 1px $borderColor
			color: $inputColor
			outline: none
			border-radius: 0.4rem
		.comb
			+wh(68%,$h)
			+font-size(1rem)
			+show-inline
			+m(0.2rem 0)
			color: $inputColor
			white-space: nowrap
			label
				+wh(30%,$h)
				+show-inline
				+font-size(0.8rem)
				+text-center
				color: $labelColor
			input
				+show-inline
				+w(1rem)
			.select
				+w(48.5%)
				+m
		.select
			+posr
			+wh(68%,$h)
			+show-inline
			+bc(#fff)
			+m(0.2rem 0)
			+box
			+p(0 0.2rem)
			+font-size(0.8rem)
			color: $inputColor
			border: solid 1px $borderColor
			border-radius: 0.4rem
			&:after
				$size: 0.5rem
				content: " "
				+posa
				+tr(50%,$size)
				+transform(translate3d(0,-50%,0))
				z-index: 99
				border-left: $size/2 solid transparent
				border-right: $size/2 solid transparent
				border-top: $size solid $borderColor
			span
				text-overflow: ellipsis
				+show-inline
				+wh(100%,$h)
				+overhide
			select
				+posa
				+tl
				+br
				+w
				+h
				opacity: 0

	.form-btn
		+text-center
		margin-top: 0.8rem
		button
			+w(40%)
			+m
			+p(2px 0)
			+bc(transparent)
			border: none

.backTop
	+posf
	+br(1rem,1rem)
	+iw(80)
	

.slider
	+posr
	white-space: nowrap
	font-size: 0
	+tran(all,0s,linear)
	.slide
		+w(100%)
		display: inline-block
		vertical-align: top