<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>知食日报</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="http://image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="load" v-if="!loadend" class="loading">
      <transition name="page-animation">
        <div v-if="loading" class="loading-page">
          <div class="content">
            <div class="load-text">
              <div class="text"><img src="./img/load-text.png"></div>
            </div>
            <div class="progress">
              <div :class="start" class="line"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition v-on:leave="leave">
        <div v-if="note" :class="{note: note}" @click.stop.prevent="close">
          <div class="hand"><img src="http://image.giccoo.com/projects/zhihunews/img/p1hand.png"></div>
          <div class="bottom"><img src="http://image.giccoo.com/projects/zhihunews/img/p1arrow.png"></div>
        </div>
      </transition>
    </div>
    <div id="main" class="main f0 hide">
      <pages>
        <div class="page page-1 page-home">
          <div class="bg"><img src="./img/bg.jpg"></div>
          <div class="homepage f0"><img src="./img/homepage.jpg"></div>
        </div>
        <page arrow="true" class="page page-2 page-news touch f0">
          <div class="title f0"><img src="./img/page-2-title.jpg"></div>
          <div class="tabs f0">
            <div v-show="tab" class="tab tab-1"><img src="./img/page-2-tab-1.jpg">
              <div @click.stop.prevent="changetab" class="btn"></div>
            </div>
            <div v-show="!tab" class="tab tab-2"><img src="./img/page-2-tab-2.jpg">
              <div @click.stop.prevent="changetab" class="btn"></div>
            </div>
          </div>
          <div class="content f0"><img v-show="tab" src="./img/page-2-content-1.jpg"><img v-show="!tab" src="./img/page-2-content-2.jpg"></div>
        </page>
        <page arrow="true" class="page page-3 touch f0">
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-1.mp4','./img/page-3-p-1.jpg')" class="video video-1"><img src="./img/page-3-1.jpg"></div>
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-2.mp4','./img/page-3-p-2.jpg')" class="video video-2"><img src="./img/page-3-2.jpg"></div>
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-3-3.mp4','./img/page-3-p-3.jpg')" class="video video-3"><img src="./img/page-3-3.jpg"></div>
        </page>
        <div class="page page-6 page-video overhide f0">
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-1.mp4','./img/page-4-p-1.jpg')" class="video video-1"><img src="./img/page-4-1.jpg"></div>
        </div>
        <div class="page page-7 page-video overhide f0">
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-2.mp4','./img/page-4-p-2.jpg')" class="video video-2"><img src="./img/page-4-2.jpg"></div>
        </div>
        <div class="page page-8 page-video overhide f0">
          <div @click.stop.prevent="changeplayer('http://image.giccoo.com/projects/zhishinews/video/page-4-3.mp4','./img/page-4-p-3.jpg')" class="video video-4"><img src="./img/page-4-3.jpg"></div>
        </div>
        <page arrow="true" class="page page-9 touch f0">
          <div class="content"><img src="./img/page-6.jpg"></div>
        </page>
        <div class="page page-10 page-last overhide f0">
          <div class="bg"><img src="./img/bg.jpg"></div>
          <div class="content"><img src="./img/page-5.jpg"><a href="https://h5.dianping.com/app/app-poi-food-selection-guide/rank.html?notitlebar=1&amp;cityid=*&amp;activity_tlt=1116&amp;utm_source=zhihu" class="outlink"></a>
            <div @click.stop.prevent="shareshow" class="btn share"></div>
          </div>
        </div>
      </pages>
    </div>
    <div id="share" v-show="show" @click.stop.prevent="close" class="pop share fadeIn animated"><img src="./img/share.png"></div>
    <div id="videopop" v-show="show" class="pop fadeIn animated">
      <div class="video-box fadeIn animated delay-0">
        <div @click="close" class="close"><img src="./img/close.png"></div>
        <mp4 :src="src" :poster="poster"></mp4>
      </div>
    </div>
    <script src="http://image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="http://image.giccoo.com/projects/libs/js/min/TweenMax.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>