@import sass/base

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "//image.giccoo.com/projects/lancome/"

// animation, delay, duration
@for $i from 1 through 51
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms
$fontColor: #ffffff;
$pageMainBGColor: #030744;


html,body
	+w
	+h

body
	color: $fontColor
	+bc($pageMainBGColor)
	max-width: 640px
	max-height: 1138px
	+m
	+posr
video,canvas
	+w
	+h(auto)
body
	+overhide

.wechat-share-hide,.load-before
	+posa
	+tl(-1000px)
	+hide
	+w(1px)
	+h(1px)

.playsound
	+posa
	+tr(0.5rem,2%)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.hide
	display: none

.main
	+w
	+h
	+posr
	+overhide
	max-width: 1280px
	+m
	cursor: move
	z-index: 3
	&.pc
		max-width: 1280px
		max-height: 800px
	&.rotate90
		+transform(rotate(90deg) translate3d(0,-100%,0))
		transform-origin: top left
				
				
.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(-100%,0,0)
	& ~ .page-animation-leave
		transform: translate3d(100%,0,0)
.page-animation-leave
	transform: translate3d(100%,0,0)
	& ~ .page-animation-enter
		transform: translate3d(100%,0,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(100%,0,0)
.page-animation-leave-to
	transform: translate3d(-100%,0,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0


.f0
	font-size: 0

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg
		+posa
		+bl
		font-size: 0
.player-fix
	+posa
	+tr(0px,0px)
	z-index: 39
	font-size: 0
	.cursor
		+w(12px)
		+posa
		+tr(0,50%)
		z-index: 103
		transform: rotate(-30deg)
		transform-origin: top left
		transition: all 1s ease
		&.on
			transform: rotate(0deg)
	.record
		+posr
		+w(40px)
		+m(10px)
		font-size: 0
		+animation(second,2s,linear,infinite)
		&:after
			content: " "
			+posa
			+tl
			+w
			+h
			+b($cdn+"img/music-close.png",no-repeat,center,center,cover)
		&.on
			&:after
				display: none
			
.loading
	+w
	+h
	+posa
	+tl
	// +hide
	z-index: 4
	.content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+w(50%)
		.record
			font-size: 0
			+w(90px)
			+m
			+posr
			.light
				+posa
				+tl
				+w
				+h
				+b($cdn+"img/load-record-light.png",no-repeat,center,center,cover)
				+animation(second,8s,linear,infinite)
		.load-text
			+font-size(0.8rem)
			+m
			+text-center
			margin-top: 1em

.page-home
	+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
	.content
		+posa
		+tl
		+w
		+h
		.building
			+posa
			+bl
			font-size: 0
		.title
			+posa
			+tl(20%)
			.title-4,.title-5
				margin-top: 5px

.page-answer
	.bg
		font-size: 0
	.answer
		+posa
		h1
			+font-size(1rem)
		.item
			+font-size(0.8rem)
			+p(0.3rem 0)
			+box
			padding-left: 12%
			+posr
			line-height: 1.4em
			+m(0.4em 0)
			&:before
				content: " "
				+posa
				+tl(50%)
				+wh(1rem,1rem)
				border: solid 1px #fff
				+transform(translate3d(0,-50%,0))
			&.right
				&:after
					content: " "
					+posa
					+tl(40%)
					+wh(1.6rem,1.6rem)
					+transform(translate3d(0,-50%,0))
					+b($cdn+"img/right.png",no-repeat,center,center,cover)
					+animation(fadeIn,0.6s,ease)
		.note
			+font-size(0.6rem)
		.btn
			margin-top: 6%
			+w(35%)
			margin-left: 64%
		&.answer-0
			+br(10%,2%)
			+w(56%)
			+hide
		&.answer-1
			+tl(10%,10%)
			+w(70%)
			+hide
			.btn
				margin-left: 0
				+w(30%)
		&.answer-2
			+tl(5%,15%)
			+w(70%)
			+hide
			.btn
				margin-left: 0
				+w(30%)
	.answers
		&.on-0
			.answer.answer-0
				+show
		&.on-1
			.answer.answer-1
				+show
		&.on-2
			.answer.answer-2
				+show

.page-ugc
	+bc(#e5f4fc)
	.bg
		transform-origin: bottom center
	.btn
		+posa
		+bl(3%,8%)
		+w(40%)
	.ugc
		+posa
		+tl
		+w
		+h
		opacity: 0
		z-index: 99

.page-wait
	+bc(#e5f4fc)
	.content
		+posa
		+tl(50%)
		+w
		+transform(translate3d(0,-50%,0))
.page-last
	+bc(#e5f4fc)
	.bg
		transform-origin: bottom center
	
