extends ../libs/jade/layout
block title
	| 华为 G7
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/mobile.css")

block content
	.wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/huaweiG7/img/share.jpg")
	.loading
		.bg
		.logo
			img(src="img/logo.png")
		.phone
			img(src="img/phone.png")
		.text
			.text-bg
				img(src="img/loading.png")
			span#loading-text 0
		.in-list
			.in-text
				img(src="img/bar-text.png")
			.in-up
				img(src="img/bar-up.png")
			.in-in
				img(src="img/bar-in.png")

	
	.main
		select-list.select-list

block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="/libs/js/min/Zepto.min.js")
	script(src="/libs/js/min/fastclick.min.js")
	script(src="/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")
