register
	form.form(onsubmit="{submit}")
		.form-grounp
			label(for="username") 姓名:
			input#username(type="text",name="username")
		.form-grounp
			label(for="") 性别:
			.comb
				label(for="man") 先生
				input#man(type="radio",name="sex",value="男",checked)
				label(for="woman") 女士
				input#woman(type="radio",name="sex",value="女")
		.form-grounp
			label(form="mobile") 手机号码:
			input#mobile(type="text",name="mobile")
		.form-grounp
			label(form="email") 电子邮箱:
			input#email(type="text",name="email")
		.form-grounp
			label(form="email") 所在省/直辖市:
			.comb
				.select
					span {provinceName}
					select#province(name="province",onchange="{changeProvince}")
						option(each="{cityData}",value="{name}") {name}
				.select
					span {cityName}
					select#city(name="city",onchange="{changeCity}")
						option(each="{city}",value="{name}") {name}
		.form-grounp
			label(form="buytime") 购车时间:
			.select
				span {buytimeName}
				select#buytime(name="buytime",onchange="{changeSelect}")
					option(each="{name in buytimeData}",value="{name}") {name}
		.form-grounp
			label(form="buytime") 购车预算:
			.select
				span {howmuchName}
				select#howmuch(name="howmuch",onchange="{changeSelect}")
					option(each="{name in howmuchData}",value="{name}") {name}
		.form-btn
			button.submit(type="submit")
				img(src="/Landrover/img/submit.jpg")
	script.
		var self = this
		this.cityData = cityData
		this.city = this.cityData[0]["sub"]
		this.provinceName = this.cityData[0].name
		this.cityName = this.city[0].name
		this.firstUpdate = true
		this.on("update",function(){
			if (this.firstUpdate) {return this.firstUpdate = false}
			this.provinceName = $("[name=province]",this.root).val()
			this.cityName = $("[name=city]",this.root).val()
		})
		changeCity(evt) {
			this.update()
		}
		changeProvince(evt) {
			var name = $("[name=province]",this.root).val()
			for(var i=this.cityData.length-1;i>=0;i--) {
				if (this.cityData[i].name == name) {
					this.city = this.cityData[i]["sub"]
					this.update()
					return true
				}
			}
			return true
		}
		changeSelect(evt) {
			var val = $(evt.target).val()
			$(evt.target).prev().text(val)
			return true
		}
		submit() {
			var data = $("form",this.root).serializeArray()
			if ( $("[name=username]",this.root).val().length < 1 || $("[name=username]",this.root).val() == "") {
				alert("姓名不能为空")
				return false
			}
			if ( $("[name=mobile]",this.root).val().length < 1 || $("[name=mobile]",this.root).val() == "") {
				alert("手机号码不能为空")
				return false
			}
			if ( $("[name=email]",this.root).val().length < 1 || $("[name=email]",this.root).val() == "") {
				alert("电子邮箱不能为空")
				return false
			}
			$.post("http://api.giccoo.com/landrover/add/",data,function(msg){
				//- 提交
				if (msg.recode == 200) {
					alert("注册成功")
					//- window.location.href = "http://www.landrover.com.cn/vehicles/range-rover-sport/range-rover-sport-svr.html"
				}else{
					alert(msg.reason)
				}
			})
			return false
		}

		//- for 
		this.buytimeData = ["0-3个月","4-6个月","7-12个月","一年以上"]
		this.buytimeName = this.buytimeData[0]
		this.howmuchData = ["50万以下","50-99万","100-149万","150-200万","200万以上"]
		this.howmuchName = this.howmuchData[0]

