extends ../libs/jade/layout-clean
block title
	| 荣耀


block css
	meta(name="author",content="m.giccoo.com")
	link(rel="stylesheet",href="http://disk.giccoo.com/projects/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	form
		input-upload-image(name="file",classname="form-control")


block js
	- url = "/"	
	script(src="#{url}libs/js/min/riot.min.js")
	script(src="#{url}libs/js/min/Zepto.min.js")
	script(src="js/tags.js")

	script.
		riot.mount("*")
