doctype
html(lang="en").no-js
	- var url = "http://disk.giccoo.com/projects/"
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		title
			block title
		block css
		//- - for (var i =0;i<css.length;i++)
			//- link(rel="stylesheet",href="/#{work}/css/#{css[i]}.css")
	body
		block content
		block js