*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;}
img{ width: 100%; }
.wechat-share {  position: absolute;  top: -1000px;  left: 0px;  z-index: -100;  width: 1px; }


/*
透视效果 不加body上
			perspective:300;
	-webkit-perspective: 300;
			transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;


		-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);


点击不显黑框
      	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;*/


#mainCanvas{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	font-size: 0;
}
.topPart{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 0;
}
.bottomPart{
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
	display: none;
}
.alphaBtn{
	position: absolute;
	background-color: #764822;
	opacity: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
	display: none;
}
.btnABC{
	width: 100%;
	height: 30%;
}
#p4L{
	width: 25%;
	height: 25%;
	left: 0;
	bottom: 10%; 
}
#p4R{
	width: 25%;
	height: 25%;
	right: 0;
	bottom: 10%; 
}
#btnBag{
	width: 70%;
	left: 15%;
	height: 50%;
	top: 25%;
}
.caseBtn{

}
.casePage{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	display: none;
}
.casePic{
	position: absolute;
}

#case1_1{
	overflow: scroll;
}

#case2_1{
	overflow: scroll;
}
#case2_2{
	overflow: scroll;
}
#case2_3{
	overflow: scroll;
}

#case4_1{
	overflow: scroll;
}

.musicBtn{
	position: absolute;
	width: 12.35%;
	top: 0;
	right: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#musicOff{
	opacity: 1;
}