extends ../libs/jade/layout-clean
block title
	| “金诺奖”
block css
	meta(name="format-detection",content="telephone=no,email=no,adress=no,date=no")
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	//- - url = "/"
	.wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/years/img/share.jpg")
	
	.main
		.fisrt-page.page
			.banner.fadeIn.animated.delay-3
				img(src="./img/homepage-banner.png")
			.text.fadeIn.animated.delay-4
				img(src="./img/homepage-text.png")
			.btn-next.fadeIn.animated.delay-5
				img(src="./img/btn-into.png")
			.btn-show.fadeIn.animated.delay-6
				img(src="./img/btn-info.png")
		.info-page.page.fadeIn.animated.hide
			.title
				img(src="./img/infopage-title.png")
			.info-content
				//- h1 “金诺奖”暨中国保险品牌传播影响力评选活动规则
				h3 投票规则:
				p 每个微信号可以在每个奖项中选择三个以内案例进行投票。
				p 品牌传播是切实提升保险业社会形象的重要方式之一。为发挥中国保险报“权威、准确、专业”的行业舆论主阵地作用，促进保险行业面向社会正能量的传播，中国保险报联合中国传媒大学BBI商务品牌战略研究所共同举办“2015-2016年度中国保险品牌传播影响力”评选活动，阶段性总结我国保险行业品牌传播优秀案例及发展成果，促进行业影响力及社会形象的提升。
				h4 一、活动组织
				p 主办方：中国保险报业股份有限公司<br/>学术支持：中国传媒大学BBI商务品牌战略研究所
				h4 二、参评范围
				p 1.2015-2016年度，保险公司发起的品牌传播及产品营销案例。<br/>2.参选案例需主题鲜明、具有一定的传播广度和深度，传播保险行业正能量。
				h4 三、活动步骤:
				p 2016年12月-2017年2月：推荐候选品牌案例。通过公司报送、行业推荐等方式进行候选品牌案例推荐及搜集。<br/>2月-3月上旬：确定候选案例名单，案例评选。候选案例将在中保网及中国保险报官方微信上进行公示。<br/>网络投票：通过中国保险报官方微信对候选案例进行投票。<br/>专家评审：组织广告品牌专家学者、保险业界专家学者、资深媒体人等进行投票并点评。<br/>2017年3月中旬：公布评选结果。对大众投票结果与专家评定结果进行加权平均，最后综合评出“2015-2016年度中国保险品牌传播影响力”获奖名单。名单将在《中国保险报》、中保网、中国保险报官方微信及其他主流媒体刊登。
				h4 四、奖项设置：
				p 年度杰出影响力品牌传播奖
				p 参选者为公司品牌传播案例，注重体现公司的整体品牌内涵及价值,对提高品牌美誉度、认知度有积极意义；在主流媒体或社交媒体平台具有较为广泛的传播，受众广、参与度高，相应阅读及参与数据高于同业。参选案例可按照影视类\平面类\新媒体类报送。
				p 年度杰出创新品牌传播奖
				p 参选者为具有创新性的品牌传播案例，包括但不限于：内容创新、互动创新、数据合作创新、传播手法及传播渠道创新等。
				p 年度杰出社会责任传播奖
				p 参选品牌传播案例需面向社会传递保险正能量，或在传播保险公司品牌或行业价值的同时，对服务社会经济民生有正向意义，包括但不限于：公益活动、保险知识普及活动、保险扶贫活动等。
				p 年度最受欢迎保险品牌口号奖
				p 参选者为保险公司广告品牌口号，能体现公司发展特色及保险行业价值内涵。本奖项由大众保险消费者通过网络投票决出。
				p 年度杰出保险产品品牌传播奖
				p 参选者为以保险产品宣传为目的市场营销案例，注重对新媒体、新技术的使用及与用户的互动体验，对产品的市场效应有显著促进。
				h4 五、评选办法
				p 1. 除“年度最受欢迎保险品牌口号奖”由网络投票（100%）决出外，其他奖项最终评价结果由网络投票（30%）、专家评审(70%)加权得出。
				p 专家评审环节中将邀请清华大学、北京大学、中国人民大学、复旦大学、中国传媒大学等高校专家评选。
				p 2.专家评审打分总分为100分，需综合考虑案例的市场定位及策略、案例呈现、传播效果、商业社会价值等方面因素进行评定。
				p 市场定位及策略:是否有明确的目标市场定位及营销传播策略；是否与市场同类产品或案例具有差异化；是否在策划上具有创新性等。
				p 案例呈现：是否与公司品牌内涵有较好契合；案例呈现是否完整、美观、流畅；是否使用较为领先的内容及技术呈现形式等。
				p 传播效果：是否采取多种渠道及方式进行传播；是否有较为广泛的传播效果；是否与传播目标受众形成良好互动等。
				p 商业及社会价值：是否取得较好的社会正面效应；是否对产品市场营销有明显提升等。

			.btn-next
				img(src="./img/btn-into.png")

		box

	.qrcode#qrcode

block js
	- url = "/"
	script.
		var productsinfo = [
			{
				name: "年度杰出产品传播奖",
				list: [
					{
						code: 101,
						name: "随意宝产品多维度强互动传播（健康类）",
						company: "德华安顾人寿",
						introduce: "结合随意宝产品主要面向年轻消费群体的产品特色，德华安顾人寿充分利用该群体使用最为频繁的微信平台，组建新闻发布群（1个）与新品发布群（2个），共吸引到30余家媒体、约1000位客户及业内人士参与。发布会过程中，主持人充分利用微信红包、趣味表情、宣传小视频、产品海报等方式调动各方参与互动，形成了浓厚的互动氛围。发布会结束后，网络媒体在当天下午形成第一波新闻报道，平面媒体、广播媒体随后跟进，公司职工、客户与同业群体跟随转发，形成了多维度相对密集的传播态势。",
						spot: "德华安顾人寿随意宝产品多维度强互动传播案例从目标人群精准定位出发，选择社交新媒体平台在线发布，覆盖新媒体与传统媒体、公众媒体与自媒体等多样化渠道整合传播。发布会过程中，借助趣味表情包、短视频及微信红包等方式，保持浓厚的互动氛围。本次在线发布会有效地节约了传统发布会需要花费的各类成本，对发布方与参与方更为便捷；且与产品的在线销售渠道无缝对接，跟随发布会受众可随时在移动端点击进入销售界面DIY自己的保单，并可分享给好友共同讨论，有效促成二次传播。"
					}, {
						code: 102,
						name: "“关爱您的健康人生”健康险品牌宣传（健康类）",
						company: "大都会人寿",
						introduce: "2016年11月20日，大都会人寿正式发布全新的中文品牌徽标和“大都会人寿，共驭美好未来”标语，新品牌传递着一个更为主动的伙伴形象。伴随全新品牌发布，大都会人寿中国也同步更新了连接核心客群的价值主张——“全球保障，与您知心同行”，指导公司为客户提供量身定制的产品、服务和体验。在此客户价值主张下，大都会人寿推出“关爱您的健康人生”行动组合，以“都会康佑”终身重大疾病保险产品为核心，为客户提供一站式全程健康解决方案；陪伴并支持客户积极应对人生变化。此次活动推广，大都会人寿通过传统媒体与新媒体组合拳形式：在影响力巨大的媒体发布体现全新品牌形象视频宣传片、行动组合及产品特色平面广告；撰写发布新闻稿件阐述客户价值主张及行动组合；并运用主流财经媒体及保险专业媒体及社交新媒体传播相关资讯。同时，基于对核心客群“安全感”话题洞察，策划并推广了寓意健康人生未来的视频H5；通过大都会人寿官方自媒体平台发布并在核心内容平台进行深度沟通，选择了主流社交媒体平台上具有影响力的头部公众号，借势自媒体KOL影响力的证言及背书，深化新品牌好感度；触达核心目标人群圈层内的广泛曝光与互动声量讨论。本次活动通过视频传播曝光近1500万次，在人民日报、第一财经资讯、中国企业将、中国保险报、21时间经济报道等财经媒体推广，“黄生看今日”、“假博士”、“不二大叔”等自媒体KOL图文阅读量达100万+次；微博互动3万+，触达8000万+粉丝。",
						spot: "大都会人寿推出的“关爱您的健康人生”行动组合的亮点有：协同整合各大传播渠道扩大影响力：在“官方平台+社交自媒体+数字营销”精准投放“解决方案+新闻媒体+数字户外”；策划及制作平面广告、新闻通稿、H5、视频等多元化的内容载体，不仅通过大都会人寿官方自媒体平台进行发布，更创新在核心内容平台进行深度沟通，精心选择了主流社交媒体平台上具有影响力的头部和优质大号，借势自媒体KOL影响力的证言及背书，深化新品牌好感度，触达核心目标人群圈层内的广泛曝光与互动声量讨论。"
					}, {
						code: 103,
						name: "平安福+平安RUN•健行天下（健康类）",
						company: "平安人寿",
						introduce: "9月1日，平安人寿保障旗舰产品“平安福”重磅升级，平安福（2016）健康保障计划打造涵盖100种疾病综合健康保障计划。同时，平安健康险推出“健康行·平安RUN·健行天下”。本次活动以平安福为核心，结合平安RUN特点，策划三条线：1.硬广投放:通过央视、地铁、机场廊桥、楼宇、APP开屏广告、搜索引擎优化、影院映前广告、报纸宣传“守护健康、运动有赏”主题；2.事件营销:围绕“平安福，不只保险，给健康运动一个漂亮理由”为主题展开：包括：不运动理由意见收集→公众不运动理由权威发布→胡歌引导运动→平安福RUN发布会→爆点出街→持续宣传3.营销推动:推出金管家活动、新媒体贴等平安福运会金管家参与人数达98万；平安福+平安RUN线上预约H5阅读超400万。",
						spot: "本次传播围绕“平安福守护健康，平安RUN·健行天下运动有赏”展开，亮点如下：1、节奏清晰：整体传播分预热期-引爆期-持续期逐步开展，产品知名度逐步提升；2、充分运用新媒体、新技术：制作多个H5、微视频、线上活动，策划事件营销；线上传播与线下广告投放相结合，举办发布会，现场采用网红直播等最新宣传方式，充分借用明星影响力，覆盖面广；3、用户体验佳：客户通过线上活动参与可体验整个平安RUN全流程并了解产品，互动体验感。"
					}, {
						code: 104,
						name: "光大永明“永葆健康团体终身重大疾病保险”品牌宣传（健康类）",
						company: "光大永明人寿",
						introduce: "团购成为了一种被大众普遍承认和接受的、流行的购物方式，“永葆健康团体终身重大疾病保险”作为“一款可以团购的保险”吸引企业客户和个体客户 “拼团”购买。针对“永葆健康团体终身重大疾病保险”这款主打终身重大疾病保险，光大永明人寿突出其优于市场同类产品特点，尤其对比香港同类产品以吸引客户；同时突出其特有的7*24小时电话医生健康咨询、三甲医院专家门诊预约、国内二次诊疗、住院快速协调等产品服务，为客户打造全方位新型健康保障计划。自2016年7月18日上线以来，光大永明人寿在“光大永明团体客户服务公众号”上开设专区，并推送产品消息，在官网、官微、官博和今日头条号上宣传。同时广泛利用报纸、网络媒体、自媒体等多种渠道，积极宣传“永葆健康团体终身重大疾病保险”品牌。软文流量在1000以上，“光大永明团体客户服务公众号”上的H5产品宣传浏览量超过10000，今日头条宣传软文《超赞！逆袭香港保险的竟是她》浏览量近6000。和讯、中金在线等媒体报道《张晨松： 保险团购进入 “惠生活”时代》、《光大永明人寿“永葆健康”荣获“年度创新力保险产品”奖》等产品宣传内容。短短5个半月，“永葆健康团体终身重大疾病保险”期交保费超过2000万。",
						spot: "光大永明人寿“永葆健康团体终身重大疾病保险”的亮点有：1、这是一款能“拼团”购买的保险，在购买方式上创新。2、通过打造“保障+健康服务管理”的闭环，光大永明人寿制定全方位新型健康保障的计划。3、在传播方式上，通过软文宣传与新型H5、flash宣传相结合，生动形象。"
					}, {
						code: 105,
						name: "高端户外旅行保险“勇者部落”品牌宣传（旅游类）",
						company: "慧择网",
						introduce: "“勇者部落”的传播前期策划了多层次立体式的传播方式：第一，以发布会作为主体传播渠道。在综合类、创投类、旅游类、财经类等各类媒体上发稿共62篇，转载数百篇。百度指数在10月26日当天形成当月峰值1070，并形成前后两次有效传播。第二，为“勇者部落”专门准备了“旅游版”稿件，侧重于产品的保障内容以及操作步骤方法等，重点面向旅游类网站和论坛。这类稿件被8246、绿野、户外探险杂志、蚂蜂窝等网站转载，和主稿配合形成了传播梯度。第三，与慧择网同期策划的微博活动“带着小马去旅行”相呼应，形成微博端的传播声量。",
						spot: "慧择网高端户外旅行保险“勇者部落”在传播方面集中了各家的优势资源，用视频、文字、专题等多重方式展开立体式传播，百度搜索“慧择网+勇者部落”，搜到相关结果971条。可以说，“勇者部落”是慧择网近年来打造的一款“贴近市场、资源整合、弥补空白、传播有效”的旅游保险品牌。"
					}, {
						code: 106,
						name: "“东方红”年金保险上市传播（养老类）",
						company: "太保寿险",
						introduce: "太平洋寿险以“东方红”年金保险上市为契机，根据东方红保险产品特征，以受众角度，将东方红创意包装成“用情至深的红包”，引入新媒体、新技术，通过视频及H5形式在11月8日视频发布会现场及“太保个险”微信公众平台上进行推广传播。11月8日东方红发布会全辖视频接入机构2080家，参会人数32万；“太保个险”公众平台粉丝逾30万人，单次H5推送浏览量逾20万人次。该案例截止至2016年11月11日14:00，传播量突破50万人次。",
						spot: "太平洋寿险“东方红”项目以年金保险上市为契机，根据“东方红”保险产品特征，策划“东方红——用情至深的红包”活动，将红包和书信概念相融合，通过两种角色的代入感，以娓娓道来的温情基调，同时传播养老、教育保险的投资价值和“爱”的内涵。"
					}, {
						code: 107,
						name: "“太好赔”传播案例（汽车类）",
						company: "太保产险",
						introduce: "太平洋产险“太好赔”从车险客户需求出发，对车险理赔现有服务、流程和工具进行梳理、提炼和规划，构建了以“三极三动，无忧无虑”为核心的服务体系。三极服务：以“极速、极易、极暖”客户体验为目标。三动模式：以“移动、自动、互动”技术平台为支持。人伤无忧：以“当场赔、上门赔、全程爱”为主的人伤服务举措。车损无虑：以“实时赔、随心赔、全程爱”为主的车损服务举措。“太好赔”推出以后，太平洋产险对此进行充分宣导：1.营造氛围。制定“三愿三有三考验”行动纲领，召开视频会，制作H5，发布微信专题。2.响应积极。分公司开展方案宣导，主题培训，客户宣传。3.工具竞赛。新工具推广应用，微信自助理赔试点上线，以新工具竞赛为牵引，提升指尖查勘、指尖人伤等工具使用效果。4.国庆体验。国庆假日现场理赔服务，布局服务网点近千个，发送关爱短信340万人次，H5访问量25万。5.倾听改善。开展主题征文和问卷调查，倾听基层和客户声音，寻找共性服务需求和服务短板。征文建议超140篇。",
						spot: "太好赔通过“移动、自动、互动”技术支撑，提供“极速、极易、极暖”客户体验，让车险理赔进入“人伤无忧、车损无虑”时代。太平洋产险依托线上线下多种途径，高频发布推进情况数据，在积极推动体系建设、完善服务的同时，帮助更多客户享受太平洋产险“三极三动、无忧无虑”的优质服务，致力打造行业领先的车险理赔服务品牌。"
					}, {
						code: 108,
						name: "基于用户画像的健康险精准营销传播（健康类）",
						company: "慧择网",
						introduce: "利用数据分析技术描绘出慧择健康险用户画像：从客户的生命周期维度，划分为单身、新婚、满巢（1-3期）【注：为已婚有孩子，但成人及孩子年龄有区别】、空巢【注：孩子已成年】和鳏寡7个大周期和14个特征分类，同时结合地域和职业特征分析用户需求，针对以上分析订制契合用户需求的健康险产品；透过SEO、搜索引擎推广、站内外广告、信息流及新媒体等手段，进行个性化精准推广，获得大批用户好评及转发。",
						spot: "用大数据分析勾勒用户画像及其家庭生命周期,并以此定制专属产品是亮点一；亮点二则是结合用户画像和媒体接触习惯，精准推荐满足用户需求的产品及活动。目前此项目有效送达用户数十万，项目期间保费提升27.5%，转介绍亲友购买率也高达15.2%。其中EDM（邮件）用户点击率提升至26%，产品访问率达92%；慧择公众号互动用户数近10万，同时在线咨询增长152%；页面预约转化率达3.8%。"
					}, {
						code: 109,
						name: "“全民运动意外保障计划（健康类）",
						company: "太保安联",
						introduce: "为满足运动爱好者在进行各项运动时的细分风险保障需求，太保安联健康险于2016年6月率先推出国内首款定制化运动意外保障——全民运动意外保障计划。该产品支持18-55周岁大众消费者，包含综合意外保障、特定运动意外伤害及意外医疗保障。其中特定运动项目涵盖跑步、潜水、登山、健身房和滑雪五类民众参与度较高的项目。不同于常规保险，此款产品还可以根据运动时间自由购买，保障期限最短1天，最长1年，灵活贴合民众的运动习惯，保费最低1天1元钱，线上投保流程便捷，是市场首款真正意义上的定制化运动意外保障产品。为让更多的客户知道这一产品，促进市场销售，公司对产品上市开展了三阶段的策划传播，依托线上渠道，通过信息告知、H5互动等方式，取得了良好的传播效果，曝光量近亿次，并有效转化为销售。",
						spot: "1.在整体传播上，采用线上传统新闻稿投放结合自媒体发声、KOL软文、网红推荐、线下健康活动等创新、精准的营销形式。从话题造势到引流导入，再到销售转化，有节奏地进行阶段性深入传播，获得了广泛的产品和品牌曝光度和高频优质的销售转化。2.配合产品特色设计的产品导入H5，主打“2016，遇见另一个你”为主题的传播切入点，将产品特色融入运动场景化演示，突出“自由、灵活、定制化”的优势，引发情感共鸣、激活购买需求。3.以“谁是你的时光守护者”为主题的交互式H5有奖活动，主打情感牌，从“亲情、友情、爱情、患难情”角度植入四个产品相关运动场景，设计“发送祝福给你想守护的人即可参与抽奖”的简单活动机制，从而点燃用户参与热情和引发病毒化广泛传播。"
					}, {
						code: 110,
						name: "2016世界过敏疾病日”接力挑战赛健康保险品牌传播方案（健康类）",
						company: "开心保",
						introduce: "“开心保”产品涵盖旅行险、意外险、健康险、理财险、寿险、车险等200余款，合作保险公司30余家，与5000多家机构合作，累计服务用户过300万，截止2015年，保费规模已突破2亿。为推广“开心保”品牌、转化销售，开心保赞助“2016世界过敏疾病日”接力挑战赛，该活动提供史带开心赛事综合运动保险，关注过敏疾病人群同时提供保险大礼包。1、活动现场当天现场吸引老中青三代、亲子及户外运动和医疗公益领域人群，扩大了品牌在医疗、公益、亲子、运动的影响力。现场放置易拉宝，扫码领520元保险礼券，拉动保险销售。2、微信传播影响力微信平台、微信群内传播，以活动传播带动开心保品牌，推动户外险。3、媒体传播在新浪体育、搜狐体育等19家媒体稿件传播。4、合作影响力在“乐动户外”微信平台上嫁接保险链接，针对精准人群推广相应保险，上线一周带来投保25人，共125元。",
						spot: "“世界过敏日”接力挑战赛以“拥抱自然 无惧敏感”为主题，围绕过敏日特点，通过接力挑战赛赞助，增加开心保健康险传播，提升开心保形象。1、增加开心保保险品牌曝光度涉及健康与运动话题带动关注，活动现场通过物料铺垫、媒体报道、现场口播等全方位品牌植入，获客近千人，提供综合优惠券大礼包614份，媒体曝光1000万+，现场品牌露出与宣讲，加深用户认知，通过现场扫码等体现了产品投保便捷性。2、提高线上曝光量，加深“高效服务”品牌认知度开心保宣讲“快速理赔”服务，让客户了解开心保快速理赔便捷服务，并选择含高风险责任健康保险，利于精准匹配用户需求，教育客户了解不同需求下不同产品作用。3、注重线上线下体验与实用性在提供保险外，给参与用户提供含户外运动、风险运动、境内外旅行航班延误、意外伤害等多险种的保险大礼包。在“乐动户外”微信嫁接开心保户外运动险链接，产生近百人投保。"
					}, {
						code: 111,
						name: "“保游天下”旅游组合保险",
						company: "人保财险",
						introduce: "为应对旅游场景保险产品认知度较低、变化繁多、出单系统便捷程度低、第三方网络平台对接频繁的情况，“保游天下”通过多项举措进行变革，并强化通过业务员、第三方渠道增强产品传播。注册“保游天下”商标作为旅游险品牌，通过品牌化的营销提高客户认知，为产品提供法律保障；开发灵活便捷的销售工具并在新型平台上线旅游保险，包括移动端、微信、二维码和新一代公司销售平台，一方面改善业务员出单体验，另一方面可以让特定客户依据自己的需求直接通过该系统选择合适方案出单从而实现按需定制及简化出单流程，通过降低业务员使用门槛提升传播效果；开发通用接口，降低与外部平台对接的开发成本和周期，促进与第三方平台合作。",
						spot: "1、利用自动化平台实现保单的自动销售，降低保单获取成本和流动环节；2、通过实现与第三方平台便利对接的方式以尽可能少的成本借助外部力量实现产品的宣传、推广；3、通过移动销售系统实现业务员随时出单的需求4、通过品牌化的经营管理塑造产品形象，提升传播力。"
					}, {
						code: 112,
						name: "“代售车”营销服务产品",
						company: "人保财险",
						introduce: "“代售车”营销服务产品是人保财险与主机厂或经销商合作，由其提供车源，通过整合内外部资源转化成购车客户资源，完成车辆销售并锁定客户和保险业务的新型模式，实现了车商渠道销售模式创新和升级。营销中人保财险举办“驾享生活 人保相伴——中国人民保险购车节”开展代售车活动，通过遍布全国的组织机构和销售队伍，组织城市大型车展、县域车展、团购会等，帮助汽车厂商和经销拓展车辆销售渠道。同时针对时事热点开展针对性活动例如公务员公车改革专场车展，暴雨水淹车换车团购会等，将优惠购车、汽车保险、购车贷款、融资租赁、上牌等服务与代售车活动紧密结合，为客户提供一站式便捷购车服务。自2015年9月15日至2015年12月31日，人保财险在23个省市举办车展99场，实收新车增量保费1.28亿元。2016全年在38个省分公司开展1523场车展，预计带动保费收入12.8亿元。",
						spot: "1、在汽车经销商新车销售乏力，客户消费模式发生变化的背景下，“代售车”从前端进入汽车产业链，通过精准营销，优先锁定汽车新车优质业务，实现深度参与汽车产业链，在汽车销售源头掌控新车业务。2、完善的服务体系。开展代售车充分整合人保财险内外部资源，完善代售车项目服务体系，为客户提供汽车销售和售后全方位服务，提升了代售车项目的竞争力和客户满意度。3、提供一站式优质购车服务和多样宣传推广方式扩大了“要买车，找人保”品牌效应，抢占新车业务市场，助推了新车保费增量的提升。4、提供了“一站式服务”，让客户享受优质服务的同时，增强了客户的黏性。5、针对城区、县域、乡镇等不同市场需求，开展了大型车展、县域车展、微车展（团购会）等活动，活动形式多样。"
					}, {
						code: 113,
						name: "中国人保微信O2O创新营销案例",
						company: "人保财险",
						introduce: "面对商车费改和市场环境变化以及互联网快速发展，人保财险将传统汽车保险互联网销售与微信平台相结合，上线了微信O2O营销平台。利用微信优惠券、卡券等形式与保险销售相结合，与传统买赠方式相比是一次创新突破突破。该项目自2015年进行研发，历经10个月，于2016年2月采用“试点先行，稳步推广”的方式测试上线。通过使用微信支付，有效提升了人保财险车险产品在互联网销售中的在线支付占比，从业务统计效果看，微信支付占比增长较快，有效促进直通业务保费。截至6月底，四川、北京、青岛、重庆、山东共五家试点分公司陆续上线，在线支付占比高达95%，三家分公司二季度直通保费累计破亿。该项目在2016年10月22日第九届中国保险文化与品牌创新论坛暨第十一届中国保险创新大奖颁奖盛典中，获得营销企划拓普奖。",
						spot: "微信O2O营销平台的上线，是人保财险创新营销工具在实践车险O2O上的创新突破，通过在线支付有效的改变了客户的维系模式，提高了客户的购买效率，为用户节省了时间，提高了客户体验，促进了车险产品的销售和业务发展，强化了客户的品牌忠诚度。"
					}
				]
			}, {
				name: "年度杰出影响力品牌传播奖",
				list: [
					{
						code: 201,
						name: "生生不息——中国人民保险首展•白明艺术",
						company: "中国人民保险集团",
						introduce: "中国人保成立67周年之际，携手当代艺术家白明先生，举办“生生不息——中国人民保险首展·白明艺术”。 1.巧妙借助国内外知名人士传播保险理念，引起国内外广泛关注。一方面本次活动成功引入保险内涵，以文化为载体向国际传递保险理念；另一方面活动成功实现了保险理念向艺术界的传递渗透。2.推广了艺术品保险产品。3.为中国人保品牌添加了高贵的艺术内涵，提升了品牌在文化、艺术、社会等领域的品牌影响力和认知度。从传播角度看，本次艺术展报道形式丰富、渠道多元、传播领域广泛。1、实现图、文、音频、视频等全媒体、多角度、立体化报道。2、宣传渠道实现纸媒、网络等传统媒体和APP客户端、微博、微信、社区等多媒体融合发布。3、传播领域实现从单一财经类报道向文化、社会、综合类新闻领域扩展。",
						spot: "一是立足品牌，面向文化。作为一次成功的品牌推广活动，在社会公众中产生较大反响，进一步提升了中国人保品牌的认知度和影响力。同时，有效实现了保险文化与传统文化的相互融合与渗透，在提升整体品牌内在品质的同时更在国际国内广泛传递了保险文化理念。二是立足行业，面向社会。既广泛推广了保险理念，进一步提升公众对保险的认知，又深挖保险对文化艺术的积极作用及贡献，提高保险业在文化艺术界的影响力。三是立足中国，面向世界。与2014年中法建交50周年活动相续接，以国际社会所认可的中国艺术为切入点，扩大了活动在国内、国外的影响力。"
					}, {
						code: 202,
						name: "太平洋保险25周年司庆整合传播",
						company: "太平洋保险集团",
						introduce: "2016年太平洋保险迎来25周岁，成为一家万亿资产、上亿客户、中国保险市场领先的综合性保险集团。以司庆25周年为契机，聚焦“增强员工凝聚力，提升客户体验”目标，太平洋保险开展司庆市场品牌活动，在平面、网络及新媒体立体传播，展现太平洋保险发展历程和转型成就。1.策划司庆系列活动。25名“客户眼中的太保人”和“25大客户体验流程优化举措评选活动”，开展运动会、长期服务员工荣誉激励活动、爱心捐赠社会、“乐行天下”新年音乐会等。活动中，统一司庆25周年视觉，统一传播物料和形象品，强化司庆主题，实现品牌传播一致性。2.开展贯穿全年25周年司庆整合传播活动，采写深度文章，记录太平洋保险25岁成长历程和战略转型成果。3.制作《太平洋保险25岁》宣传片，在人民网、新华网等媒体传播，新浪视频单日播放达230万，点赞3万，并在机场、陆家嘴大屏投放。",
						spot: "1.主线鲜明。以司庆为主线，策划组织亮点，传播太平洋保险25年发展历程和“以客户需求为导向”战略转型成就。2.传播策略上，重点依托3.15全国消费者权益保护日、25周年司庆、7.8全国保险公众宣传日、年报/半年报发布等重要节点，围绕太平洋保险深入实施战略转型、维护保险消费者权益、借助新媒体平台创新服务、提升客户体验等方面成果，正面引导舆论。		3.传播内容上，围绕转型三大目标、转型项目开展及落地情况，精准销售和精细服务，创新覆盖客户全生命周期的保险需求产品、创新农产品指数保险，新技术应用实现客户端、销售端及理赔端多领域覆盖，践行社会公益等挖掘传播素材。"
					}, {
						code: 203,
						name: "新华保险二十周年司庆整合传播",
						company: "新华保险",
						introduce: "2016年，新华保险经过20年发展，成为国内具有广泛社会影响力的大型上市险企，并获评《财富》、《福布斯》世界500强。20周年之际，新华保险开展涵盖产品、服务、公益、业务、员工、宣传、文化活动、专题片、文化产品、庆典、回顾展的“10+1”项目。主要活动如下:开发一款专属产品推出司庆专属产品“附加2016住院费用医疗保险A/B款”及“附加2016门急诊费用医疗保险A/B款”，至9月13日，销售突破2万件。筹建公益基金会新华人寿保险公益基金会获得民政部颁发基金会法人登记证书。拍摄一部专题片《20年·见证新华力量》专题片在腾讯视频点击量超过618万次。举办一场庆典活动 20周年庆典在延庆培训中心举行，《我骄傲我是新华人》周年庆典场外新闻纪实在腾讯视频点击量近630万次。开展一次集中大型宣传以“致敬20年”、“感动20年”、“荣耀20年”、“蓄力20年”为主题的微信原创图文600多篇。1-10月发稿超2万篇次。制作一套文化产品司庆纪念文集《新华人讲自己的故事》发行３万册。",
						spot: "1.项目联动好：通过产品、服务、公益、业务、员工、宣传、文化活动、专题片、文化产品、庆典、回顾展的“10+1”项目联动，使司庆实现全员覆盖、全年贯穿，充分发挥多维度的联动效果；2.参与人数广：全国机构组织20周年司庆主题各类客户和员工活动1800多场，参加人数230多万，实现了全员参与、全员同乐；3.传播效果佳：《我骄傲我是新华人》20周年场外新闻纪实、《新华保险20周年司庆盛典》集锦、《20年•见证新华力量》专题片在腾讯视频点击量合计约1300万次，实现了传播可视化与延续性。"
					}, {
						code: 204,
						name: "友邦保险高净值品牌 “致精英”",
						company: "友邦保险",
						introduce: "2016年4月，友邦中国全新推出针对高净值人士专属品牌——致精英， 以“财富根植”为品牌价值诉求。首轮推广：1.基于消费者调研，创建友邦中国专属高净值品牌名——致精英2.“财富根植”系列广告，向精英人群传递品牌核心主张与价值：让财富牢牢根植，守护家业，精准传承，护佑健康。3.通过高端楼宇广告，优质财经新闻类网站，权威平面媒体及社交媒体整合广告宣传。第二轮推广：1.特邀财经专家精英对话 2.品质医疗纪录片3.精英故事4．深入沟通产品和服务内涵“致精英”通过广告，公关，自媒体，系列线下活动等，两轮推广总曝光量和影响人群高达2.3亿，点击量159万。通过名人效应，权威媒体，以及真实力量，影响带动高净值人士对财富传承与保障的关注。",
						spot: "建立针对高净值人士的专属品牌 ——致精英：洞悉市场发展趋势，用精英产品、服务、体验，为高净值人群实现财富保障和传承。并创立高净值人士专属品牌——致精英，就受众需求进行更有针对性的沟通。“财富根植”系列广告，传播“财富根植”的价值诉求：以客户需求为导向，向精英人群传递品牌核心主张与价值，引发受众共鸣。与意见领袖和权威媒体合作，创新性运用新媒体，扩大影响：—与秦朔、吴晓波为代表的财经专家合作，通过其在高净值圈的影响力推广品牌，传播保险知识，并为客户提供独有“名家对话”机会；- 与权威媒体第一财经合作，拍摄友邦高端医疗纪录片，在电视、网络和社交媒体上进行立体式传播，引起高净值人群对于品质医疗的需求。"
					}, {
						code: 205,
						name: "人际关系亲密指数项目传播",
						company: "信诚人寿",
						introduce: "信诚人寿人际关系亲密指数项目是一项针对人际关系亲密指数的探索性研究、面向亚洲地区，对十个市场人际关系现状进行调查与分析。调研报告形成后，信诚人寿于2016年11月9日向媒体和社会公众公布该研究成果。活动在平面媒体、网站、视频网站、微信公众号等新媒体上得到传播，形成持续稳定的话题效应，信诚人寿品牌美誉度和知名度得到较大提升。传统媒体：发布141篇报道；社交媒体：数十个微信公众号发表上百篇文章，其中，《为什么不要轻易拒绝保险》获得十万加点击，著名情感专家苏芩个人微信公众号等多个大V针对该话题传播量接近5万。拥有近5000万粉丝的苏芩针对该传播话题发表的微博得到大量讨论。“信诚人寿人际关系亲密指数” 视频在多家网站上热播，总点击量达数十万。",
						spot: "信诚人寿该项目是中国第一项针对人际关系亲密指数的探索性研究，从“聆听”文化出发，表达了对客户更深层次情感需求的关注，希望帮助人们更好地认识他们的人际关系。该案例是中国第一项开展的关于人际关系亲密指数的研究，体现了对客户更深层次情感需求的关注。该案例的影响力不仅限于中国市场，通过在亚洲十个市场同时开展的调研，增加了该调研的全面性和权威性。今年是该项目实施第一年，在获得成功的基础上今后可以连续举办，可复制、传承性较强。"
					}, {
						code: 206,
						name: "“乐活百年•家庭季”2016百年人寿客户节",
						company: "百年人寿",
						introduce: "“乐活百年•家庭季”线上活动以百年人寿微信服务号为媒体平台，引发客户高频互动，“我爱我家微信投票”吸引1.8万人关注百年微信服务号；线下开展“家庭日”“绘生绘色”“健康大讲堂”“为爱传递”四大主题活动，累计开展千余场，参与十余万人。除微信平台外，传统媒体传播主要依靠行业网站信息发布，活动期间总计发布了1963篇次媒体稿件，配合客户节主题网页及H5图文信息传播。在外部传播的同时，百年人寿内部通过“乐活服务大使”“乐活荣誉会”和“乐活主题头像”三项活动强化乐活主题。本次活动的主题宣传片”爱家庭快乐活“制作精良，感人至深，也成为机构柜面争相播放的形象宣传片。",
						spot: "亮点一：“乐活”主题创新引领“乐活”这个概念极具张力和生命力，非常适合与客户进行情感交流，且与当今社会主流思想吻合，因此，百年人寿将 “乐活百年”设为客户节的注册品牌，并创新性地引入“乐活”这个主题，提倡大家以健康、可持续的方式生活。亮点二：传统活动创新思维“健康大讲堂”是百年人寿的传统活动，但2016年的活动与往年不同，具有“全国巡讲，贯穿全年”“更多讲座，更多机会”“多重媒体，立体宣传”的特色。2016年全国巡讲举办了八站，近7500余名客户聆听讲座，机构自办89场，累计到场7152人。亮点三：主题宣传片制作精良主题宣传片“爱家庭快乐活”感人至深，成为机构柜面争相播放的形象宣传片。"
					}, {
						code: 207,
						name: "两个娃娃好，华夏保险好——华夏保险2016开门红传播",
						company: "华夏保险",
						introduce: "为打造全国性知名品牌，促进2016年开门红业务开拓，华夏保险于2016年2月6日至2月22日（农历腊月二十八至正月十五），在中央电视台集中投放“二孩”创意广告，同步打响“二孩”主题公关传播战役。1.奠定全国性知名品牌：春节期间，CCTV-1、4、9、13累计投放1163频次，日最高57频次，覆盖4.24亿人群，收看3次以上人数达24%；北京西站LED大屏4200次滚动播出，覆盖1400万人次；公关传播影响1100万人次，其中，视频总播放量261.49万，微博热门话题阅读量751.2万，新闻APP阅读量47.9万；2.有效提升品牌美誉度：共计4.8万人次参与互动讨论，其中，微博好评率92%以上，微信点赞率高达1%以上，好评如潮。",
						spot: "1.广告核心创意新颖独特，借势“二孩政策”“猴年”“周星驰”等热点，从春节期间众多广告中脱颖而出；2.公关传播配合广告投放，突破业内传统的单打一模式，最大化扩散“二孩”广告效果；3.公关传播策略大胆创新，精心策划“明星挺二孩”鬼畜视频、春晚六小龄童热点稿件等优质内容，寓庄于谐，增强感染力。"
					}, {
						code: 208,
						name: "不忘初心 再创辉煌—中国人民保险成立67周年品牌传播",
						company: "中国人民保险集团",
						introduce: "《不忘初心 再创辉煌：中国人民保险成立67周年》，是中国人保在成立67周年及中国人保总部重返长安街之际，特别制作推出展现中国人保历史变迁、文化传承、辉煌成就和发展规划的H5品牌推广项目。《不忘初心 再创辉煌》H5于10月18日正式上线，通过中国人保官方微信公众号发布，24小时内在全国32家分公司同步上线，分公司以微信头条消息发布，形成全国范围内分支机构联动传播。从10月18日上线，到10月25日抽奖活动结束， H5活动页面浏览次数达812万，是2015年前100位H5作品98.39万次平均浏览量的8.25倍；页面点赞次数达739万，点赞比率91.01%；页面分享441万，分享比率达54.31%；页面独立访客数量275.3万，是大型品牌推广H5最高独立访问量的近5倍；页面平均浏览时长为1分35秒。",
						spot: "《不忘初心 再创辉煌》H5主题呼应习总书记在建党九十周年大会上提出的“不忘初心 继续前进”。主题确立“不忘初心 再创辉煌”，既展示了中国人保与新中国同生共长的红色基因传承和深厚历史底蕴，也抒发了“十三五”开局之初、重返长安街之际“再创辉煌”的壮志雄心。内容上，有中国人保九次总部地址变迁记录，有中国人保“十二五”发展成就展示，还有中国人保“十三五”发展蓝图。页面设计以线装书形式展现中国人保厚重历史，运用图片、文字和数字相结合方式提供简洁、直观、醒目观感。背景音乐《人保之声·给你》，体现中国人保“爱与分担”博爱精神，也增加了浏览时听觉体验。最后设“为中国人民保险点赞”抽奖环节，有效调动了读者浏览全文并点赞的积极性。"
					}, {
						code: 209,
						name: "互联互通广告传播",
						company: "太平洋保险集团",
						introduce: "太平洋保险《互联互通》广告根据真实故事改编，深入藏区全实景拍摄，诠释了太平洋保险“随时、随地、随心”，以客户需求为导向的服务理念。广告片在央视《焦点访谈》、《黄金剧场》和浙江卫视《奔跑吧兄弟》投放，央视到达人次超过10亿。在优酷、腾讯、乐视、搜狐、爱奇艺等视频及门户网站热门电视剧和综艺投放贴片广告，曝光人次近6亿，主动点击近300万次。 赞助央视《了不起的挑战》，植入保险场景和元素。独家冠名央视《我的新年一秒》，采用整合方式投放新年套装广告，覆盖2016年春晚、央视2015-2016跨年盛典及黄金档剧场，并采取“说出你的新年愿望上春晚”客户互动活动，拉近客户与品牌距离，提升受众参与度，引发与传播受众的情感共鸣。",
						spot: "太平洋保险《互联互通》广告通过真实故事人文叙事的手法，结合太平洋保险在“互联网+”时代互联互通背景下客户服务交互、创新方面的应用，拉近与传播受众之间的距离。配合新媒体与传统媒体相结合的整合传播方式。广泛传播，受众广，参与度高， 对品牌价值、美誉度均有极大提升。"
					}, {
						code: 210,
						name: "冠名赞助“汤尤杯”羽毛球赛事",
						company: "人保财险",
						introduce: "2016年5月15日至5月22日，2016年汤尤杯世界羽毛球团体锦标赛在苏州昆山举行。作为大赛主赞助商、战略合作伙伴、独家保险合作伙伴,人保财险提供了本届赛事全方位的风险保障和全天候的理赔服务，借势开展线下活动，积极提升公司品牌在当地县域市场影响力。本次活动，人保财险以“保险找人保，金牌服务好”为宣传主线，通过品牌露出、开设展厅、多媒体渠道宣传、线上线下互动等多种方式，积极拓宽和提高品牌宣传的覆盖面、到达率和渗透度。",
						spot: "1.利用多种媒体形式，构建立体化传播格局。以“用心护航”“美好生活”为传播诉求，依托“汤尤杯”元素创作音频，在电台播出；同时结合县域及新生代宣传主题，在平面稿，在户外大牌、纸媒等品牌宣传。2.挖掘赛场宣传资源，强化品牌露出。在赛事标识、印刷品、纪念品、场地广告、场馆广告、商业展示区等环节的广告宣传权益，同时在赛事现场直播及媒体采访和新闻报道中的品牌露出。在场馆内外专设展厅，提供现场保险服务，进行互动活动和宣传交流。3.线上线下互动，加强新媒体及县域市场线下品牌宣传。人保财险江苏省分公司通过微信平台组织门票回馈活动，4月29日至5月13日经过预热、报名、收官三个阶段宣传，专题页面点击量达37631人，决出了280位车险优质客户为中奖者。"
					}, {
						code: 211,
						name: "北京新华交响乐团音乐会巡演",
						company: "新华人寿",
						introduce: "作为国内寿险行业的领先企业，新华保险拥有国内由企业全资组建的专业交响乐团。乐团于2008年2月成立，由国内几十位知名音乐家和毕业于国内外著名音乐院校的音乐人组成。在2009年9月和2010年6月，新华保险交响乐团先后两次走进国家大剧院，成为首支亮相这一艺术圣殿的企业乐团。2014年1月新华交响乐团在北京民政部注册成立，更名为北京新华交响乐团。2016年，新华保险成立二十周年，为回馈社会各界和广大客户对新华保险厚爱与支持，新华保险在全国各地开展以交响音乐会形式感恩客户的全国巡演，共计18场，观众人数达3万人次。乐团八年来坚持公益特色，坚持服务大众，策划多场大型公益主题交响音乐会。",
						spot: "新华保险成立20周年感恩客户全国慰问巡演以音乐精品丰富了客户的文化生活，同时也展示了新华保险积极健康的员工风貌，提升了新华的品牌形象。乐团演出所到之处，都在社会上得到广泛好评，当地各大媒体、报刊、网络都给予了充分报道，很多分支机构都紧密结合营销节奏，借助乐团的品牌和服务，一次次创造业务新高和奇迹。乐团已成为新华保险跃动着的音符、写满“公益”与“责任”的企业名片。新华交响乐团曾在北京、天津、西安等地举办3场流行、时尚、动感的“快闪”活动。"
					}, {
						code: 212,
						name: "不忘初心 坚定不移—人保寿险成立11周年品牌传播",
						company: "人保寿险",
						introduce: "2016年11月18日是人保寿险成立11周年纪念日，人保寿险借成立11周年契机加大品牌传播力，彰显“人民保险，服务人民”光荣使命。同时，挖掘微信移动平台传播覆盖面大、传播速度快、传播力度强特点，策划主题为“不忘初心，坚定不移”——庆祝中国人民人寿保险股份有限公司成立11周年主题H5。H5制作了13页篇幅，首先展示成立11年来整体发展情况，随后展示集团董事长提出的 “七个能力建设”要求，以及新领导集体为开创新格局提出的“五七七”工程，确定“稳增长、重价值、强基础”新战略目标，最后，在总结人保寿险转型发展新成果基础上，号召大家不忘初心、坚定不移地开启新征程。为增加传播活动的互动性和趣味性，提高传播力，还设置了扫描二维码关注、转发有奖活动。H5于11月18日推送，至11月28日共有13454人次转发。人保寿险各省、地市级分公司和县区分支机构积极号召员工转发，传播覆盖全国。",
						spot: "1、	充分抓住人保寿险成立11周年契机，借势营造氛围，制造传播亮点。2、	互动性强，H5转发即有获奖资格，增强对转发者的吸引力，提高传播力度。3、	H5页面简洁精美，传播成本低，实现跨平台使用。"
					}
				]
			}, {
				name: "年度杰出创新品牌传播奖",
				list: [
					{
						code: 301,
						name: "平安车主节项目",
						company: "平安产险",
						introduce: "平安产险旗下首个专为车主定制节日，为广大车主打造一站式用车生活服务消费平台。车主节发布会前期推出“16.70”悬疑广告，由深圳晚报配合“16.70”发布“今天，每一个车主都是理科生”文案的头版及新媒体端传播，KOL及平安系统自媒体“叫板”晚报“好车主，不止理科生”。此悬念引发网友猜想，刺激用户扫二维码一探究竟，200万人参与互动。10月20日，平安产险在深圳平安金融中心举行了横跨建筑、科技、汽车、娱乐圈的车主节500米云端发布会，宣布平安好车主APP品牌定位重磅升级。8项汇集VR、AR黑科技支撑体验，邀高晓松和马东现场上演车主“奇葩说”，展现了平安产险在车主用车生活当中最前沿科技成果，展示了保险企业结合移动互联为消费者用车生活的便利。",
						spot: "11亿PC+移动端曝光量，话题传播渠道及内容传播，覆盖1.24亿人次，近千万车主参与车主节，搭载车主节平台的好车主APP日注册数达到2800万，绑车用户1500万。一个月的活动时间内，APP注册用户日均增长35.26%，活跃用户日均增长32.53%，日活跃人数首次突破100万，持续领跑汽车后市场领域。以传播本身原生传播话题的云端发布会，当日曝光量达1.67亿，共300万人同时收看直播。"
					}, {
						code: 302,
						name: "“一滴水”双屏互动传播",
						company: "太平洋保险集团",
						introduce: "太平洋保险“一滴水”双屏互动游戏通过传递水滴的方式，形象诠释了太平洋保险经典广告语“平时注入一滴水，难时拥有太平洋”的保险内涵，运用微信等交互媒体进行传播。受众以极高热情参与游戏互动，并领取完成互动后生成的免费保单。游戏在社交场景中广泛传播，成了人们生活交往、太平洋保险业务员展业的优秀工具。在注重品牌与业务结合的同时，也加强受众参与的趣味性与积极性。各传播渠道数据表现优异，参与及获赠保单的客户通过自媒体再次扩散传播，市场反应良好。通过微信传播渠道，双屏互动阅读量达20万人次，参与游戏15万人次。",
						spot: "太平洋保险“一滴水”双屏互动通过H5双屏技术，结合太平洋保险在“互联网+”时代互联互通背景下客户服务交互、创新方面的应用，拉近与传播受众之间的距离。配合新媒体的传播方式，广泛传播，受众广，互动性强，趣味性高，对品牌价值、客户参与度均有极大提升。"
					}, {
						code: 303,
						name: "中宏保险MOVE计划",
						company: "中宏人寿",
						introduce: "2016年9月，中宏保险推出创新保险理念“MOVE计划”，消费者成为MOVE会员后，即可免费获得配套的智能运动手环，不限场合和运动形式，随时了解自己运动情况，并在达成规定的运动目标后，即有机会获得最高20万元保额的保险。MOVE计划从“健身式追求健康”的消费者洞察出发，鼓励消费者拥抱积极健康生活方式，帮助他们实现“健康梦想”，树立了中宏保险“帮助客户解决身体及健康财富”的差异化品牌形象。",
						spot: "中宏保险MOVE计划在营销手段上，灵活运用和借鉴快消行业的营销模式，采用保险业非传统的营销手段，极大提高了MOVE计划的品牌认知度和品牌偏好度。在创意方面，推出了“MOVE创意摸高跳”“MOVE体式神总结”“MOVE人生词典”等一系列趣味运动主题，不仅仅局限于跑步等传统运动项目，而是将运动融入生活的方方面面，最大化的激发人们对运动的兴趣，以自然地形成长期习惯。在线下活动中，MOVE计划启动仪式得到加拿大总理Justin Trudeau和香港知名艺人周柏豪出席，肯定了MOVE计划对人们健康生活的追求和保障。同时，北京、上海、南京、杭州等多个城市的健康嘉年华也为MOVE计划的推动起到了渲染的作用。通过明星代言人、发布会及多城市线下活动、明星广告片、朋友圈广告、报纸广告、社会化媒体传播、百度搜索广告和户外广告8大营销手段的整合式营销，实现消费者对品牌知名度、活动认知度的营销目标，使中宏保险品牌知名度达到28%，相对于上半年提升11%。"
					}, {
						code: 304,
						name: "第三届世界互联网大会乌镇峰会特别支持企业传播方案",
						company: "中邮保险",
						introduce: "主题为“创新驱动，造福人类——携手共建网络空间命运共同体”的第三届世界互联网大会在浙江乌镇举办。来自全球五大洲110多个国家和地区、16个国际组织的1600位嘉宾齐聚美丽的乌镇，其中包括8位外国领导人、近50位外国部长级官员。习近平总书记以视频方式发表重要讲话，刘云山出席大会并将致辞。中邮保险作为第三届世界互联网大会乌镇峰会保险行业唯一一家特别支持企业亮相互联网行业，与世界各大企业、中外嘉宾探讨世界互联网发展未来。",
						spot: "三界世界互联网大会落地中国乌镇，展现了中国作为网络大国在互联网发展中的重要作用和价值。第三届世界互联网大会“创新驱动，造福人类——携手共建网络空间命运共同体”聚集了来自全球1600名中外嘉宾，作为中国优秀的保险公司中邮保险是一次难能可贵的展示机会。中邮保险善于紧抓热点、重点机遇，作为第三届乌镇大会特别支持企业展现了中国保险在互联网新技术、新时代的形象。"
					}, {
						code: 305,
						name: "阳光保险与开心麻花开启话剧娱乐营销新模式",
						company: "阳光保险",
						introduce: "2016年4月-12月，阳光保险与开心麻花开启娱乐营销新模式。阳光保险选定《乌龙山伯爵》《李茶的姑妈》两部景点爆笑喜剧进行剧情软植入，采用“剧情植入+剧场广告+线下推广+线上传播+用户互动”合作模式，包括：通过开心麻花线下剧场资源结合阳光保险保险产品、金融理财产品进行推广体验，线上话剧植入片段二次传播；与阳光保险客户和开心麻花观众、会员进行互动，通过微信微博社交平台开展赠演出门票，打造专属产品进行精准营销，达到与目标客户群直接互动地良好效果，提升阳光保险品牌好感度的目的。至11月20日，阳光保险与开心麻花共举办爆笑喜剧共100余场，精准覆盖10万余目标用户。开展60场线下活动，场均获客300人以上，粉丝增量是日常的203%。",
						spot: "阳光保险与开心麻花开启话剧娱乐营销新模式打造了“剧情植入+剧场广告+线下推广+线上传播”品牌传播和产品营销闭环，短时间内将品牌信息多次灌输，与精准目标用户零距离互动，创新了保险行业营销方式，开创了保险行业娱乐营销新模式。"
					}, {
						code: 306,
						name: "个人账户资金安全产品宣传",
						company: "人保财险",
						introduce: "随着互联网的迅速发展，“出门刷卡，在家网购”也成为了新的生活方式。与此同时，也让不法分子抓住一些可乘之机，通过钓鱼网站、虚假WiFi热点等方式获取用户个人身份信息，从而窃取个人的账户资产，令人防不胜防。由此人保财险财产保险部和人保财险北京市分公司联合推出了个人账户资金安全保险，同时开发设计了FLASH动画配合产品进行宣传推广，同时在优酷、微信等公众网络平台进行投放，达到了普及保险常识、进行产品宣传的目的。",
						spot: "个人账户资金安全保险宣传FLASH以通俗易懂的动画形式将账户安全保险的保障风险及要素生动的展现，贴近百姓生活，易于理解和接受，是一种直观、有效的创新品牌传播方式。"
					}, {
						code: 307,
						name: "“时空胶囊——爱的手书”",
						company: "百年人寿",
						introduce: "百年人寿创新性地将时空胶囊与保险相结合，以“爱的手书”为载体，推出“时空胶囊——爱的手书”项目：投保时为客户提供一个保存记忆的空间，将客户写给家人的爱的书信保留至理赔、满期或指定日期，传递给客户家人。项目上线后取得了优异的成果，截至11月中旬，全系统爱的手书使用总量为2576件，使用占比超过10%，各渠道及机构纷纷记录下客户书写爱的手书所传递的感动。",
						spot: "“时空胶囊——爱的手书”创新性地丰富了百年人寿与客户的互动环节，互动不仅仅体现在产品上，更多的是体现在服务层面，投保时选择书写一封爱的手书，将客户对家人之爱延续，在提供保险保障的同时传递精神关怀。“时空胶囊——爱的手书”是新契约投保环节的服务亮点，也是保险业内率先使用的新形式。保险公司在履行保险责任、社会责任，为客户和他们的家人提供经济补偿的同时，也可在他们不幸出险时送去一丝温情、一份勇气和力量。"
					}, {
						code: 308,
						name: "旅行月跨界推广",
						company: "大象保险",
						introduce: "“旅行月跨界推广”是互联网保险平台大象保险联手花椒直播共同推出的一次大型线下活动。在花椒直播和捷克旅游局的支持下，新加坡著名演员袁帅、旅行达人任紫玉前往布拉格开启了一段为期5天的浪漫之旅，而旅行中必不可少的保险则由大象保险全程支持。活动期间，品牌在花椒直播、微博、微信及360娱乐等媒体进行曝光和露出，且在其他直播平台、艺人双微、360娱乐、主流旅游网站、主流资讯网站也均有品牌露出，PR手段丰富，有层次感。",
						spot: "花椒APP日活用户超过3,000,000UV，花椒PC官网与手机总用户数超过30,000,000人，本次活动选择了全新的直播渠道花椒直播进行传播，每天一小时，持续露出大象Logo、品牌曝光30多次。本次品牌传播活动曝光量巨大，尤其是360娱乐的软文PV合计高达2000W，同时覆盖精准潜在用户，直接为“大象保保”订阅号导入新增粉丝816人。在微博上的传播效果也不错，微博同步植入大象保险3次，微信朋友圈同步推广，植入1次。"
					}, {
						code: 309,
						name: "买保险，上慧择—慧择首轮品牌传播",
						company: "慧择网",
						introduce: "本轮“买保险、上慧择”的品牌传播中，慧择首先进行了产品重构，打通PC端、移动端的连接渠道；其次从品牌形象的升级开始，打造一个全新的小马形象，拟人化的活泼小马成为慧择品牌形象的代言，彻底摆脱传统保险公司的冰冷形象；再次，联合保险公司创新险种，推出慧择自有品牌的险种如“乐游全球”、“骑行天下”等产品，给消费者提供耳目一新的保险产品。慧择重视线上活动与线下传播的同步配合，因频次较高影响面广，自8月1日正式启动以来，取得了良好的传播效果，北京地区的数据获得极大的提升。在本轮传播之前，慧择网的百度指数平均值为：600；投放后慧择网百度指数平均值提升为1600，在8月4日达到历史最高峰值2400，高出同行竞品四分之三。",
						spot: "1.两条视频广告以及一系列平面广告，如“神马超人”篇、“唉呀，我的马”篇及“驸马”篇，小马的俏皮可爱，表情生动，成功地吸引了受众的目光，并在广告投放期间获得了巨大的反响。2.七夕期间，慧择推出恋爱险，并通过H5《恋爱风险大测试》、黑色幽默漫画《恋爱有风险，爱情须保险》的内容，将恋爱险软性植入，并通过贴合年青人的微信自媒体、网络KOL、病毒视频、社交网络传播等方式迅速扩散。3.整体活动自8月1日正式启动以来，取得了良好的传播效果，北京地区的数据获得极大的提升。在本轮传播之前，慧择网的百度指数平均值为：600；投放后慧择网百度指数平均值提升为1600，在8月4日达到历史最高峰值2400，高出同行竞品四分之三。"
					}, {
						code: 310,
						name: "参与各大体育类赛事，积极传播行业理念",
						company: "东吴人寿",
						introduce: "2016年，东吴人寿冠名承保了苏州市第十四届体育运动会，承保服务了2016环金鸡湖国际半程马拉松赛、2016环太湖国际公路自行车赛、2016国际剑联女子重剑世界杯赛、2016镇江国际马拉松赛等一系重大列体育赛事，并开启了东吴人寿与苏州市体育赛事的全面战略合作。东吴人寿还与江苏省体育产业集团建立了全面战略合作关系，共同推进、深化在竞技体育、全民健身、体育保险、品牌推广等领域的合作。",
						spot: "东吴人寿通过赞助支持体育公益事业，积累了丰富的服务大型体育赛事的经验，树立了承保服务大型体育赛事的保险品牌，并通过与各大赛事的紧密合作，广泛宣传了保险行业理念。"
					}, {
						code: 311,
						name: "跑出阳光正能量，传播保险好声音—“阳光下奔跑”品牌活动",
						company: "阳光保险",
						introduce: "跑步项目具备客户优质（参加者大多经济条件尚可、身体健康）、差异化（系统化运作的同业公司较少）、能支持业务（线下直接接触意向客户）、创新性（相比进社区、产说会等传统主顾开拓方式）、能与阳光保险产品相结合等特性。为进一步提升阳光品牌影响力并有效支持业务发展，阳光人寿赞助马拉松、彩色跑等跑步项目并将这一活动主题确定为“阳光下奔跑”。“阳光下奔跑”品牌活动主要为各类跑步活动提供保险保障以及提供现场志愿服务。截至目前，阳光保险已赞助国内大型跑步赛事62场，为102.5万余名跑步爱好者提供了全方位的保险保障和志愿服务。",
						spot: "“阳光下奔跑”活动将线上线下相结合、品牌与业务相结合、传统媒体和新媒体相结合，实现了阳光保险品牌持续性传播，有力提升了阳光保险品牌形象。一、增加了阳光品牌的曝光率，提高了阳光保险品牌知名度及影响力。媒体新闻报道达1.4万余篇；微博微信活动贴及新闻贴约1200条；影响人群超500万人次；集团微信增粉约5万，微博增粉约4万；各地赛事现场广告A板、刀旗、阳光跑团、阳光展区等有阳光LOGO、企业信息等累计品牌展示超两千万次。二、塑造了阳光保险“直赔”的服务品牌。阳光保险为各类跑步赛事提供现场“直赔”以及高效赛后理赔服务，塑造了阳光良好的品牌形象。三、跑步活动现场设置展区，提供体验保险服务平台以及宣传保险知识窗口。"
					}, {
						code: 312,
						name: "泡泡跑活动品牌赞助传播方案",
						company: "开心保",
						introduce: "“开心保”赞助“泡泡跑——世界上最快乐的5公里”活动，提供报名者保险赞助，实现获客7395人，投保6879人，优惠券领取219份，增粉1000+，媒体传播100000次+。活动现场行李牌扫码关注送礼，转发优惠券积攒送礼，现场主舞台、主背板、起跑门等位置露出开心保元素，主持人现场致辞开心保等方式传播开心保品牌形象。在新浪体育、搜狐体育、今日头条等媒体发布稿件31篇，泡泡跑中国官方微信、跑步前进官方微信、微信群内传播，并在开心保官网、天猫、微信联合推出赠票活动，扩大开心保在户外运动圈影响力，让年轻人改变对保险的传统认知，对开心保有轻松直接认识，带动销售。",
						spot: "1、活动人群年龄层次跨度大从80、90学生、单身到亲子，在活动中都能找到相应环节，范围广，在年轻人中影响力将带动品牌传播和销售。2、泡泡跑全国巡回活动影响力大泡泡跑相继在沈阳、北京、长沙、大连等城市开展，借助泡泡跑在年轻人中关注度、全球影响力，带动开心保品牌传播。3、多渠道合作，联合推出赠票活动开心保官网、天猫、微信联合推出赠票活动，以“娱乐和保障同在”改变年轻人对保险认知，对开心保有直接认识。4、渗透专业领域，抓住需求人群开心保通过赞助影响户外运动圈层，让喜欢运动的年轻人了解户外险。5、吸引用户互动，扩大影响力活动现场物料布置与现场活动吸引关注：结合具体活动选择用户感兴趣物料，如选择色彩鲜艳吸引目光的气球，与整体气氛相契合，引起关注。"
					}, {
						code: 313,
						name: "车险微信报价平台",
						company: "人保财险",
						introduce: "人保财险微信报价平台是人保财险广州分公司根据银行需求开发的报价平台，可实现车险实时报价，报价信息记录在承保系统，只需车牌号即可在承保系统实时报价。银保渠道报价完毕后，人保财险承保系统记录报价信息，生成相应的报价单，并可直接转成投保单，实现无缝连接。车险微信报价平台自2016年上半年启动以来，已与工、农、建行55家一级支行，近千个网点合作，已绑定银行客户经理手机号1200多个，实现渠道保费800万元，同比增长60%，其中与工行开展的“千人千单”车险营销活动，获得显著成效。银行客户经理方面，除了支付代理手续费外，还配备培训积分奖励、时点存款奖励、业务规模奖励等，促进了银行客户经理的积极性；在客户方面，配备了“I保养”、“划痕补漆卡”、“VIP理赔服务”、银保渠道专属“家财卡”等增值服务内容，提高了银保渠道车险业务的竞争力。",
						spot: "人保财险微信报价平台业务规模潜力大，客户优质真实，网点多，后期可以与银行共享客户资源，据悉，广州地区预计可获得潜在客户数万人、保费规模过亿元。微信报价平台实现了银保渠道客户实时报价。银行大堂经理通过人保微信公众号，输入需要报价的车辆和险种等信息，操作简单易行，客户可实时了解车险报价，节约了客户的时间，可以更方便更快捷地为客户提供报价服务，提高工作效率，增加客户满意度。"
					}
				]
			}, {
				name: "年度最受欢迎保险品牌口号奖",
				list: [
					{
						code: 401,
						name: "信送到哪里，中邮保险就到哪里",
						company: "中邮保险",
						introduce: "中邮保险的优势在“邮”，特色在“邮”，特别是承接邮政代理保险十多年积累的可贵经验，依托整合邮政资源，创新打造了“自营+代管”的发展模式。围绕“经营重心下沉、服务端口前移”的营运建设总原则，建立总、省、市、县四级业务管理架构，确定了“两核集中、保全分级”的业务管理模式，实现了营运作业的高效、规范、有序，建设了运营作业中心，实现业务处理标准化、高效化、专业化，为客户提供优质保单服务。依托邮政组织架构,中邮保险提出“信送到哪里中邮保险就到哪里”的服务理念，设立自上而下的总、省、市、县、点五级营销服务网络，建立以网点营销为主体、以投递员流动营销为补充、以三农服务站为延伸的营销体系，将保险服务延伸至“最后一公里”。",
						spot: "“信送到哪里，中邮保险就到哪里”，作为中邮保险的宣传用语，朗朗上口，通俗易懂，准确地中邮保险脱胎于百年邮政的企业属性，完整地诠释了公司“服务基层、服务三农”的战略定位，深刻地体现了公司延伸保险服务到“最后一公里”的企业优势。"
					}, {
						code: 402,
						name: "新华人寿二十年，关爱人生每一天",
						company: "新华人寿",
						introduce: "二十年来，新华保险心系客户，专注寿险，追求成长，创造价值，努力打造中国优秀的以全方位寿险业务为核心的金融服务集团。通过覆盖全生命周期的产品和服务，新华保险致力于提升每一位客户的安全感、幸福感、尊严感。标识释义：（1）突出英文名称NCI品牌标识；（2）清晰的二十周年司庆年代印记；（3）体现火炬般薪火相传自强不息的精神；（4）象征巨龙腾飞和拼搏向上的美好寓意。 2015年6月25日至7月24日，新华保险通过官方微信平台公开征集20周年司庆口号等四项司庆标识，收到近3000件作品，网络点击数万次。",
						spot: "契合新华人寿战略。20年来聚焦寿险主业。体现新华人寿品牌精神。新华人寿口号是“关爱人生每一天”，在传播中突出体现了以人为本。 兼顾内外：针对内外部受众的媒体接触习惯，开展了组合式传播通路。对内，通过回顾展、微展、文集、展板、宣传册、折页、ppt等形式进行广泛传播；对外通过司庆logo嵌入等方式积极传播。广泛互动：采用H5、微信、视频等新媒体手段，实现广覆盖，并在庆典现场与花絮视频中全面融入。"
					}, {
						code: 403,
						name: "英大长安 品牌口号项目",
						company: "英大长安保险经纪",
						introduce: "英大长安结合经营管理特点，提出了“英大长安、伴您成长、助您平安”宣传语，从总体思路维度对品牌含义进行了诠释。英大长安：英大长安作为客户专业的风险管理顾问，始终致力于提高在风险管理方面的服务水平和技术能力，优化资源配置，发挥协同效应，为客户做好全面风险咨询和有效风险识别、化解、防范和转移。伴您成长：秉承“努力超越、追求卓越”的企业精神，以风险管理为基石，以保险服务、管理咨询为核心，以电子商务为创新平台。通过调整发展方式、经营模式和管理定式，在助力政府科学治理、防范企业发展风险、呵护大众美好生活方面精耕细作。助您平安：牢固树立诚信服务、永恒服务和真诚服务的理念，努力做专做精做优，打造核心竞争力，全面提升服务水平、服务能力和专业品质，帮助客户更好的识别风险、应对风险、解决风险和防范风险，以期实现客户的平稳、平顺，安全、安心。",
						spot: "英大长安作为客户专业的风险管理顾问，始终致力于提高在风险管理方面的服务水平和技术能力，优化资源配置，发挥协同效应，为各客户单位做好全面风险咨询和有效的风险识别、化解、防范和转移，全面体现英大长安的作用和价值。秉承“努力超越、追求卓越”的企业精神，以风险管理为基石，以保险服务、管理咨询为核心，以电子商务为创新平台。通过调整发展方式、经营模式和管理定式，在助力政府科学治理、防范企业发展风险、呵护大众美好生活方面精耕细作。在为客户员工、股东和社会创造最大化价值的同时，追求与各利益相关方的合作共赢、共同进步，最终达到一同成长的目的。英大长安努力践行“诚信、责任、创新、奉献”的核心价值观，对客户讲诚信、负责任，求创新、甘奉献。"
					}, {
						code: 404,
						name: "平日注入一滴水，难时拥有太平洋",
						company: "太平洋保险集团",
						introduce: "在太平洋保险曾举办的广告语征集活动上，太平洋保险基层业务人员结合展业经历，创作了“平日注入一滴水，难时拥有太平洋”。2015、2016年，为进一步扩大这句广告语的影响，彰显保险的本质、作用，进一步提升太平洋保险的品牌形象，太平洋保险又对该广告语进行整合传播。主要渠道有：运用微信制作成《赞！赞！赞！“一滴水”进入小学课本啦》微信；运用H5技术，紧扣“平日注入一滴水，难时拥有太平洋”的主题，用双屏互动游戏，通过传递水滴方式，形象诠释了该经典广告语的内涵；借助保险公众宣传日活动、“责任照亮未来”“乐行天下”品牌化活动等契机对广告语进行广泛传播。",
						spot: "微信《赞！赞！赞！“一滴水”进入小学课本啦》对该广告语内容进行了很好的阐述，认为该广告语将“平日”和“难时”、“一滴水”和“太平洋”恰到好处地形成呼应，对仗工整，朗朗上口，不仅形象地阐释了保险的本质及作用，培育了公众的保险意识，也成功地建立起人们对太平洋保险的品牌联想。该微信在“中国太平洋保险”微信号推送后，受到了客户、员工的热切关注和转发。“平日注入一滴水，难时拥有太平洋”品牌广告语整合传播通过微信对《赞！赞！赞！“一滴水”进入小学课本啦》的阐释，强化了公众对保险的本质、作用的认知及对太平洋保险品牌的忠诚。通过受众广、互动性强、趣味性高的H5双屏技术，拉近了与受众之间的距离，提升了太平洋保险的品牌形象。"
					}
				]
			}, {
				name: "年度杰出社会责任传播奖",
				list: [
					{
						code: 501,
						name: "“中国人民保险国学希望教室”公益活动",
						company: "中国人民保险集团",
						introduce: "“中国人民保险国学希望教室”是中国人保、人保公益慈善基金会与中国青少年发展基金会携手联合发起推出的公益项目，为乡村小学捐助国学图书室。每所图书室配备系统的国学教育书籍，并定期组织国学经典诵读活动，培养学生们的阅读习惯。中国人保连续三年举办“中国人民保险国学希望教室”系列活动，向全国30多个省市300多所偏远贫困地区小学6万多名学生赠送助学用品和运动服,累计捐赠315套体育用品，10万余册国学图书，为6万余名学生配发运动服。同时，中国人保积极响应援疆援藏精神，加大对西部少数民族地区的帮扶力度，在新疆、云南和西藏举办“中国人民保险国学希望教室”启动仪式，邀请北京市吟诵教育研讨会国学老师王琳前往西藏林芝里龙乡小学给学生讲授国学吟诵体验课。",
						spot: "“中国人民保险国学希望教室”公益活动充分利用媒介载体，通过公司内网、外网、微信、微博不同类型的新媒体的持续报道和宣传，从线上到线下，增加了“中国人民保险国学希望教室”项目的曝光度，助力弘扬中国传统文化，普及体育运动，积极推进国家教育事业发展的重要表现，有利于树立集团良好社会形象。"
					}, {
						code: 502,
						name: "广东省财政风险巨灾指数保险",
						company: "人保财险",
						introduce: "为贯彻落实广东省人民政府建立广东省巨灾保险制度工作要求，人保财险与广东省人民政府经过三年的研究与推动，创新以财政风险巨灾指数保险为巨灾保险模式，在全国首次运用商业保险机制为政府灾害救助、社会保障、改善民生保驾护航。2016年，全省十家试点地区财政风险巨灾指数保险落地，项目保费总规模2.63亿元。",
						spot: "广东省财政风险巨灾指数保险自开办以来在社会上造成强烈反响，多家主流媒体争相报道，其中，项目首单落地湛江以及2016年台风“海马”触发汕尾巨灾指数保险台风赔付1000万元等相关新闻报道转载200多篇。中央电视台财经频道、广州电视台经济频道、南方电视台、汕尾电视台对广东省财政风险巨灾指数保险项目进行了专题报道。"
					}, {
						code: 503,
						name: "致敬抗战老兵大型公益活动",
						company: "华夏保险",
						introduce: "华夏保险-华夏慈善基金“致敬抗战老兵”大型公益项目是在中国人民抗日战争暨世界反法西斯战争胜利70周年即将到来之际，由中国老龄事业发展基金会发起的一项大型公益活动,华夏人寿保险股份有限公司给予经费支持。项目自2014年启动以来，深入开展“一脉•1945”致敬抗战老兵、“老兵不朽”等行动。全面资助建立“抗战老兵照护中心”，已落地10省，并于2015年在首都纪念中国人民抗日战争暨世界反法西斯战争胜利70周年阅兵前夕，为参加阅兵老战士、老同志、支前英雄及英雄子女设计“致敬抗战老兵”综合保障计划，累计保额达1.2亿元。目前，致敬抗战老兵大型公益项目已经成为华夏保险-华夏慈善基金常态公益机制。活动得到了央视新闻联播、中国保险报、新华网、腾讯网、人民日报等权威媒体报道。",
						spot: "华夏保险-华夏慈善基金“致敬抗战老兵”公益项目积极响应习近平总书记号召，寻找健在的国共两党参加过抗日战争老兵，切实帮扶、救助生活困难抗战老兵，给予关爱。自启动以来华夏人寿先后投入1700多万元，2015年“致敬抗战老兵”活动入围民政部“中华慈善奖”评选。1.公益模式创新：著名影星黄海波作为志愿者全程参与“一脉•1945”，拍摄制作《一脉•1945》系列公益短片，明星影响、影像力量结合，摆脱单纯依靠“道德感召”的传统模式。2.传播模式创新：“一脉•1945”活动全媒体传播打“组合拳”，以“黄海波疑似出家”新闻全网刷屏，带出华夏保险、华夏慈善基金品牌曝光；“老兵不朽”采用老兵故事网络专题、“9•3阅兵”网络直播冠名、线上“阅兵”H5相结合的“系统战”。"
					}, {
						code: 504,
						name: "义务服务青年志愿者保险项目",
						company: "英大长安保险经纪",
						introduce: "中国青年志愿者行动随着志愿者人数和服务类型不断增多，志愿者在从事志愿活动时面临风险也在不断增加和复杂化，急需通过保险对志愿者提供保障。英大长安主动提出义务为团中央志愿者提供无偿保险服务。英大长安从专业角度，协助团中央完成全国志愿者保险安排工作，同时设计了理赔流程，避免了道德风险。另外，派出精算人员，参与项目评审和与保险公司谈判。英大长安义务服务的中国注册志愿者保险项目在“中国青年志愿者服务项目大赛暨志愿服务重庆交流会”上被选为2016年中国青年志愿者重点开展的十大项目。同时，英大长安与中国青年志愿者协会签订了为志愿者义务提供保险经纪服务的合作协议。为从根本上解决志愿者保险费来源问题，英大长安提出协助团中央研究设立中青互助保险公司。由英大长安等数家热心公益事业单位组成了中青互助保险研究小组，研究形成了《关于成立志愿者互助保险公司的研究报告》等多项成果。",
						spot: "（一）充分发挥专业优势，义务提供保险服务英大长安充分发挥保险专业优势，全面甄别项目风险特点，设计了科学合理的保险方案，作为保险专家和顾问，为团中央志工部组织提供了包括保险项目操作建议、项目纯风险分析及信息发布、竞争性谈判的组织和评审等保险经纪服务。在服务过程中，英大长安积极传递保险正能量，承诺全程无偿服务，充分发挥民族保险经纪品牌价值，为社会公益贡献力量。（二）积极履行社会责任，热心参与社会公益英大长安积极承担社会责任，投身政府、机关、社会团体等保险服务项目中，得到了共青团中央的赞誉，受到了中央电视台、共产党员网、重庆日报等新闻媒体的报道和宣传。（三）广泛开展调查研究，探索互助保险模式通过可行性研究，英大长安对成立志愿者互助保险市场前景进行了预测，对互助保险发展优势、定位、规划和运营模式等进行了分析，给团中央志工部提供了决策参考，进一步推动了注册志愿者保险项目发展。"
					}, {
						code: 505,
						name: "阳光育人暨百城千人助学项目",
						company: "东吴人寿",
						introduce: "东吴人寿“阳光育人”暨“百城千人”计划帮扶贫困大学生完成学业。目前该计划已在江苏、四川、河南、安徽、上海等省份实施，向苏州大学、四川省保险行业协会爱心基金、河南财经政法大学、安徽农业大学、上海金融学院保险学院和上海交大安泰经济与管理学院捐赠善款70.5万元，帮扶贫困学子45人。随着机构逐步延伸，东吴人寿将以更多省分公司为中心，在机构所在省市开展“阳光育人”暨“百城千人”项目，用“一市一校”或“一市多校”的方法，每个地方每期资助10名学生，每名学生每年给予5000元助学金，以帮助更多优秀贫困大学生完成学业，提供实习锻炼和就业工作机会。",
						spot: "东吴人寿“阳光育人”暨“百城千人”计划不仅为学生提供完成大学学业的资金支持，还组织东吴企业高管携手其他爱心成功人士以企业导师的身份，身体力行，为学生提供个人职业发展规划等方面的相关指导。东吴人寿还定期为受资助学生提供学习座谈、企业参观访问、企业实习等社会锻炼的机会，从物质、人力资源等多方面提供支持，帮助受资助学生全面成长。"
					}, {
						code: 506,
						name: "上海儿福院爱心捐助活动",
						company: "太平洋保险集团",
						introduce: "1996年，太平洋保险成立5周年之际省下庆典费用，出资50万元为上海市儿福院的50多名孤残儿童进行手术脱残治疗。此后，每年司庆日前后或儿童节，太平洋保险都会向儿福院的孩子们送去关爱、分享快乐。21年来，太平洋保险累计向上海儿福院捐款近250万元，赠送近100万元物资，500多名员工志愿者参与了爱心互动活动。",
						spot: "太平洋保险情牵上海市儿福院21载的佳话引起媒体广泛关注。《第一财经日报》、《中国证券报》、《新闻晨报》、界面等主流媒体记者先后来到上海市儿福院，详细了解太平洋保险与儿福院结缘21载的点滴历程，深入报道了《用爱架起沟通心灵的“彩虹”》、《情牵儿福院 爱满太平洋》、《关注孤残儿童成长 太平洋保险送爱心》等多篇文章。相关报道从庆典变公益的源起、精准慈善暖心帮扶、“责任照亮未来”公益品牌发展等角度进行报道，生动展示了中国太平洋保险集团21年来责任传承背后的公益精神。一个约定，信守21年，感人至深；一段真情，延续21年，暖人心田，取得了良好的社会传播效果。"
					}, {
						code: 507,
						name: "“绘生绘色童画安全”儿童绘画大赛",
						company: "百年人寿",
						introduce: "该活动线上通过官方微信“百年人寿订阅号”平台搭建“童画安全”活动微官网，设置儿童安全微测试及亲子游戏H5、进行线上微评选投票、配合安全话题长图文与机构活动报道；线下则以在分支机构举办的儿童绘画大赛等活动形式，引导孩子们用彩笔和色彩来描绘心中的安全世界。活动期间，百年人寿总分公司结合活动进展情况总计发布了1913 篇次媒体稿件；线下组织408 场绘画活动、近4 万人参与、发放环保画纸42762 张、共征集32608 幅精彩作品。",
						spot: "创新一：活动采用“绘画+填图”的形式，画纸正面绘画+写安全宣言，背面填图、寓教于乐，有别于传统的绘画模式，体现了此次活动更高的参与度，也受到了孩子和家长们的支持和喜爱。线下组织超过400 多场绘画活动、近4 万人参与、通过活动现场和线上两大渠道征集3 万余幅精彩作品。创新二：绘画+安全讲座+产品主顾开拓相结合，增强了互动体验。创新三：原创儿童安全系列长图文，击中父母诉求、引起公众关注。创新四：率先制作了儿童安全微测试H5 及亲子游戏H5。"
					}, {
						code: 508,
						name: "辽宁治安保险推广传播",
						company: "人保财险",
						introduce: "为落实辽宁省综治委下发的《关于深入推进全省治安保险工作的通知》（辽综治办［2015］70号）文件中加大治安保险宣传力度的指示精神，广泛宣传治安保险参与社会管理方面取得的成绩，提升治安保险社会认知度。人保财险辽宁省分公司结合近年工作实际制作了治安保险FLASH宣传片，并面向社会进行投放。2016年5月辽宁全省遭遇暴风天气，治安保险仅在辽宁阜新一地赔付金额近千万元，得到社会广泛关注和广大农户的认可。锦州凌海电视台等多家媒体对治安保险参与灾害救助的情况进行了报到，省综治办在2017年全省治安保险推动工作的文件中肯定了治安保险发挥的积极作用。",
						spot: "治安保险一直以来都是政府部门在推动的社会责任型保险，受益个人往往对晦涩难懂的保险内容并不了解，人保财险以flash的形式对治安保险进行宣传，形式新颖活泼，易于得到接受，达到了普遍宣传的目的，得到了消费者的认可。"
					}
				]
			}
		];
		
		var openid = "ou0Xrjg1bu-E272EawW3fF18-6nU";
		var voteList = [{"num":1,"product":204},{"num":1,"product":203},{"num":1,"product":205},{"num":1,"product":208},{"num":1,"product":301},{"num":1,"product":302},{"num":1,"product":303},{"num":1,"product":304},{"num":1,"product":305},{"num":1,"product":101}];
		var _votes = [{"_id":101,"counts":2},{"_id":203,"counts":1},{"_id":204,"counts":1},{"_id":205,"counts":1},{"_id":207,"counts":1},{"_id":208,"counts":1},{"_id":301,"counts":1},{"_id":302,"counts":1},{"_id":303,"counts":1},{"_id":304,"counts":1},{"_id":305,"counts":1}];
		var votes = {}
		var voteds = {}
		for (var i=0;i<_votes.length;i++) {
			votes[_votes[i]._id] = _votes[i].counts
		}
		for (var i=0;i<voteList.length;i++) {
			voteds[voteList[i].product] = voteList[i].num
		}


	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="http://disk.giccoo.com/projects/libs/js/head.built.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/Zepto.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/riot.min.js")
	//- script(src="/libs/js/min/cityData-min.js")
	//- script(src="http://disk.giccoo.com/projects/libs/js/min/layzr.min.js")
	//- script(src="http://kelvin-air.local:8990/config")
	script(src="js/tags.js")
	script(src="js/main.js")
	script.
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?54c76cfc457022758fa6779bf3fa02a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();