$z: 30
// .gif
// 	+show-inline
// 	font-size: 0

// +keyframes(strategyiconsnormal)
// 	0%
// 		background-position-x: 0px
// 	100%
// 		background-position-x: -12900px

// .strategyicons
// 	+b("../img/animate/strategy-icons/strategy.png",no-repeat,0,0,12900px 300px)
// 	+wh(300px,300px)
// 	&.normal
// 		+b("../img/pages-strategy-icons.png",no-repeat,-26px,4px,300px 300px)
// 	&.replay
// 		animation: strategyiconsnormal (43/$z)*1s steps(43)

// // +keyframes(brandbg)
// // 	0%
// // 		background-position-y: 0px
// // 	100%
// // 		background-position-y: -9072px

// // .brandbg
// // 	+b("../img/animate/brandbg/brandbg.png",no-repeat,0,-7938px,640px 9072px)
// // 	+wh(640px,1134px)
// // 	&.normal
// // 		background-position: 0 0
// // 	&.replay
// // 		animation: brandbg (8/20)*1s steps(8)
// // 	&.stop
// // 		background-position: 0 -7938px



// +keyframes(bottlestrategyreplay)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(0,-15600px,0))

// .bottlestrategy
// 	// +b("../img/animate/bottle-strategy/strategy.png",no-repeat,0,-15400px,850px 15600px)
// 	+wh(850px,200px)
// 	+overhide
// 	// &.normal
// 	&.replay
// 		.gif-content
// 			animation: bottlestrategyreplay (78/$z)*1s steps(78)
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: 0 -15400px
// 		.gif-content
// 			+transform(translate3d(0,-15400px,0))

// +keyframes(logo-movie)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(-12160px,0,0))

// .logo-movie
// 	.gif-content
// 		+wh(12800px,1134px)
// 	&.replay
// 		.gif-content
// 			animation: logo-movie (20/10)*1s steps(19)
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: 0 -15400px
// 		.gif-content
// 			+transform(translate3d(-12160px,0,0))

// +keyframes(bottlelogoreplay)
// 	0%
// 		// background-position-x: 0px
// 		+transform(translate3d(0,0,0))
// 	100%
// 		// background-position-x: -30240px
// 		+transform(translate3d(-29760px,0,0))

.bottlelogo
	+wh(480px,620px)
// 	// +b("../img/animate/bottle-logo/logo.png",no-repeat,-29760px,0,30240px 620px)
// 	+wh(480px,620px)
// 	+overhide
// 	.gif-content
// 		+wh(30240px,620px)
// 	&.normal
// 		background-position: 0 0
// 	&.replay
// 		.gif-content
// 			animation: bottlelogoreplay (62/$z)*1s steps(62) 1
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: -29760px 0
// 		.gif-content
// 			+transform(translate3d(-29760px,0,0))

// +keyframes(bottletechnologyreplay)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(0,-15600px,0))
// .bottletechnology
// 	// +b("../img/animate/bottle-technology/technology.png",no-repeat,0,-15600px,800px 15600px)
// 	+wh(800px,260px)
// 	+overhide
// 	.gif-content
// 		+wh(800px,15600px)
// 	&.normal
// 		background-position: 0 0
// 	&.replay
// 		.gif-content
// 			animation: bottletechnologyreplay (60/$z)*1s steps(60)
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: 0 -15600px
// 		.gif-content
// 			+transform(translate3d(0,-15600px,0))

// +keyframes(bottlemediareplay)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(0,-28880px,0))

.bottlemedia
	+wh(380px,380px)
// 	// +b("../img/animate/bottle-media/media.png",no-repeat,0,-28880px,380px 28880px)
// 	+wh(380px,380px)
// 	+overhide
// 	.gif-content
// 		+wh(380px,28880px)
// 	// &.normal
// 		// background-position: 0 0
// 	&.replay
// 		.gif-content
// 			animation: bottlemediareplay (76/$z)*1s steps(76)
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: 0 -28880px
// 		.gif-content
// 			+transform(translate3d(0,-28880px,0))

// +keyframes(bottlecontactusreplay)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(-30240px,0,0))
.bottlecontactus
	+wh(480px,480px)
// 	// +b("../img/animate/bottle-contactus/contactus.png",no-repeat,-30240px,0,30720px 480px)
// 	+wh(480px,480px)
// 	+overhide

// 	.gif-content
// 		+wh(30720px,480px)
// 	// &.normal
// 		// background-position: 0 0
// 	&.replay
// 		.gif-content
// 			animation: bottlecontactusreplay (63/$z)*1s steps(63)
// 			animation-fill-mode: forwards
// 	&.stop
// 		+transform(translate3d(-30240px,0,0))

// // +keyframes(bottleawardreplay)
// // 	0%
// // 		+transform(translate3d(0,0,0))
// // 	100%
// // 		+transform(translate3d(0,-24300px,0))
.bottleaward
	+wh(550px,265px)
// // 	// +b("../img/animate/bottle-award/award.png",no-repeat,0,-24300px,600px 24600px)
// // 	+wh(600px,300px)
// // 	+overhide
// // 	.gif-content
// // 		+wh(600px,24600px)
// // 	&.normal
// // 		background-position: 0 0
// // 	&.replay
// // 		.gif-content
// // 			animation: bottleawardreplay (81/$z)*1s steps(81)
// // 			animation-fill-mode: forwards
// // 	&.stop
// // 		.gif-content
// // 			+transform(translate3d(0,-24300px,0))


// +keyframes(bottlebrandreplay)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(-15300px,0,0))
.bottlebrand
	+wh(300px,750px)
// 	// +b("../img/animate/bottle-brand/brand.png",no-repeat,-15000px,0,15300px 750px)
	
// 	+overhide
// 	.gif-content
// 		+wh(15300px,750px)
// 	&.normal
// 		background-position: 0 0
// 	&.replay
// 		.gif-content
// 			animation: bottlebrandreplay (51/$z)*1s steps(51)
// 			animation-fill-mode: forwards
// 	&.stop
// 		// background-position: -15000px 0
// 		.gif-content
// 			+transform(translate3d(-15300px,0,0))

// +keyframes(bottlemediamovie)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		+transform(translate3d(-7600px,0,0))
// .bottle-media-movie
// 	.gif-content
// 		+wh(200px*38,200px)
// 	&.replay
// 		.gif-content
// 			animation: bottlemediamovie (38/$z)*1s steps(38) infinite
// 			// animation-fill-mode: forwards
// 	&.stop
// 		// background-position: -15000px 0
// 		.gif-content
// 			+transform(translate3d(-7600px,0,0))

// +keyframes(strategypeople1)
// 	0%
// 		background-position-x: 0px
// 	100%
// 		background-position-x: -6150px

// .strategypeople1
// 	+b("../img/animate/strategy-icons/p1.png",no-repeat,-6150px,0,6150px 150px)
// 	+wh(150px,150px)
// 	&.normal
// 		background-position: -6150px 0
// 	&.replay
// 		animation: strategypeople1 (41/$z)*1s steps(41) infinite

// +keyframes(strategypeople2)
// 	0%
// 		background-position-x: 0px
// 	100%
// 		background-position-x: -6150px

// .strategypeople2
// 	+b("../img/animate/strategy-icons/p2.png",no-repeat,-6150px,0,6150px 150px)
// 	+wh(150px,150px)
// 	&.normal
// 		background-position: -6150px 0
// 	&.replay
// 		animation: strategypeople2 (41/$z)*1s steps(41) infinite

// +keyframes(technologylogo)
// 	0%
// 		background-position-x: 0px
// 	100%
// 		background-position-x: -8670px

// .technologylogo
// 	+b("../img/animate/bottle-technology/logo.png",no-repeat,-8500px,0,8670px 200px)
// 	+wh(170px,200px)
// 	&.normal
// 		background-position: -8500px 0
// 	&.replay
// 		animation: technologylogo (51/$z)*1s steps(51)

+keyframes(loadbox)
	0%
		background-position-x: 0px
	100%
		background-position-x: -8700px

.loadbox
	+b("../img/loaded/box.png",no-repeat,-8700px,0,8700px 500px)
	+wh(300px,500px)
	&.normal
		background-position: -8700px 0
	&.replay
		animation: loadbox (29/$z)*1s steps(29) infinite


// // brand movies
// +keyframes(brandMovie1)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		// background-position-x: -
// 		+transform(translate3d(-32000px,0,0))

// +keyframes(brandMovie2)
// 	0%
// 		+transform(translate3d(0,0,0))
// 	100%
// 		// background-position-x: -25600px
// 		+transform(translate3d(-25600px,0,0))