@import sass/base
@import animate

// animation,delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

// animate clickover
+keyframes(switch)
	0%,100%
		+transform(rotate(-20deg))
	15%,80%
		+transform(rotate(30deg))
+keyframes(cloudL)
	0%,100%
		+transform(translate3d(0,0,0))
		margin-left: 0px
	50%
		+transform(translate3d(0,0,0))
		// +transform(translate3d(200px,0,0))
		margin-left: 100px
+keyframes(cloudR)
	0%,60%,100%
		+transform(translate3d(0,0,0))
		margin-right: 0px
	30%
		+transform(translate3d(0,0,0))
		// +transform(translate3d(200px,0,0))
		margin-right: 100px
+keyframes(cloudLineA)
	0%,60%
		+transform(translate3d(-100%,0,0))
		opacity: 1
	70%
		+transform(translate3d(0,0,0))
	95%
		opacity: 1
	100%
		opacity: 1
+keyframes(cloudLineB)
	0%,70%
		+transform(translate3d(0,100%,0))
		opacity: 1
	90%
		+transform(translate3d(0,0,0))
	95%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowA)
	0%
		opacity: 0.4
	10%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowB)
	0%
		opacity: 0.4
	10%
		opacity: 0.4
	20%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowC)
	0%
		opacity: 0.4
	20%
		opacity: 0.4
	30%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowD)
	0%
		opacity: 0.4
	30%
		opacity: 0.4
	40%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowE)
	0%
		opacity: 0.4
	40%
		opacity: 0.4
	50%
		opacity: 1
	100%
		opacity: 1


+keyframes(flash)
	0%,60%,100%
		opacity: 1
	30%,80%
		opacity: 0.4
+keyframes(flashM)
	0%,100%
		opacity: 1
	50%
		opacity: 0.4
+keyframes(flashF)
	0%,100%
		opacity: 0.4
	50%
		opacity: 1
+keyframes(soundBG)
	to
		background-position-x: -165px
+keyframes(whiteH)
	from
		+h(100%)
	to
		+h(0%)
+keyframes(whiteW)
	from
		+w(100%)
	to
		+w(0%)
+keyframes(peopleA)
	0%
		+transform(scale(-1,1) translate3d(190px,0,0))
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
		+transform(scale(-1,1) translate3d(-700px,0,0))
+keyframes(peopleB)
	0%
		+transform(scale(-1,1) translate3d(-90px,0,0))
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
	100%
		+transform(scale(-1,1) translate3d(740px,0,0))
+keyframes(rotateP)
	from
		+transform(rotate(0deg))
	to
		+transform(rotate(360deg))
+keyframes(rotatePF)
	from
		+transform(rotate(0deg))
	to
		+transform(rotate(-360deg))
+keyframes(rotatePW)
	0%
		+transform(rotate(0deg))
	30%
		+transform(rotate(360deg))
	100%
		+transform(rotate(360deg))
+keyframes(canvasM)
	0%,100%
		+transform(translate3d(0,0,0))
	40%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,-100%,0))
	90%
		+transform(translate3d(0,-100%,0))
+keyframes(iconShow)
	0%
		+transform(rotate(0deg) scale(0,0))
	10%
		+transform(rotate(360deg) scale(1.4,1.4))
	15%
		+transform(rotate(720deg) scale(0.7,0.7))
	25%
		+transform(rotate(360deg) scale(1.1,1.1))
	50%,90%
		+transform(rotate(0deg) scale(1,1))
	100%
		+transform(rotate(-360deg) scale(0,0))
+keyframes(bubble)
	0%,100%
		+transform(translate3d(0,80px,0) scale(0,0))
		opacity: 0
	10%,20%
		opacity: 1
	30%
		+transform(translate3d(0,0px,0) scale(1,1))
		opacity: 1
	35%
		+transform(translate3d(0,-20px,0) scale(0,0))
		opacity: 0
+keyframes(pointerM)
	0%,70%,100%
		+transform(rotate(0deg))
	40%
		+transform(rotate(40deg))
	50%
		+transform(rotate(20deg))
	60%
		+transform(rotate(30deg))
+keyframes(showB)
	0%
		opacity: 0
	20%
		opacity: 0
	25%
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
+keyframes(showD)
	0%,100%
		opacity: 0
		+transform(scale(0,0) translate3d(0,0,0))
	13%
		opacity: 1
		+transform(scale(1,1) translate3d(0,0,0))
	20%
		+transform(scale(1,1) translate3d(0,200%,0))
		opacity: 1
	22%
		opacity: 0
+keyframes(music)
	0%,100%
		+h(0%)
	15%
		+h(50%)
	30%
		+h(70%)
	45%
		+h(20%)
	60%
		+h(70%)
	90%
		+h(45%)
+keyframes(fire)
	0%
		opacity: 0.5
	20%
		opacity: 0.7
	40%
		opacity: 1
	50%
		opacity: 0.4
	60%
		opacity: 0.7
	80%
		opacity: 0.6
	90%
		opacity: 0.9
	100%
		opacity: 0.5
+keyframes(bottleshadow)
	0%,100%
		opacity: 0.3
	50%
		opacity: 1
+keyframes(images)
	0%
		background-position-x: 0px
	100%
		background-position-x: -12900px
+keyframes(tvShow)
	0%,50%,100%
		+transform(translate3d(-50%,-50%,0))
		filter: blur(0px)
		opacity: 1
	25%
		+transform(translate3d(-50%,-200%,0))
		filter: blur(10px)
		opacity: 0
	30%
		+transform(translate3d(-50%,100%,0))
		filter: blur(10px)
		opacity: 0
	
+keyframes(tP1)
	0%
		+transform(translate3d(0,0,0))
	100%
		+transform(translate3d(400px,0,0))
+keyframes(tP2)
	0%
		+transform(translate3d(0,0,0))
	100%
		+transform(translate3d(215px,0,0))
+keyframes(tP3)
	0%
		+transform(translate3d(-215px,0,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(po1)
	0%,100%
		opacity: 1
+keyframes(po2)
	0%,20%
		opacity: 0
	20.1%,100%
		opacity: 1
+keyframes(po3)
	0%,40%
		opacity: 0
	40.1%,100%
		opacity: 1
+keyframes(po4)
	0%,60%
		opacity: 0
	60.1%,100%
		opacity: 1
+keyframes(po5)
	0%,80%
		opacity: 0
	80.1%,100%
		opacity: 1

+keyframes(lo1)
	0%,10%,100%
		opacity: 0
	2%,8%
		opacity: 1
+keyframes(lo2)
	0%,20%,30%,100%
		opacity: 0
	22%,28%
		opacity: 1
+keyframes(lo3)
	0%,40%,50%,100%
		opacity: 0
	42%,48%
		opacity: 1
+keyframes(lo4)
	0%,60%,70%,100%
		opacity: 0
	62%,68%
		opacity: 1
+keyframes(lo5)
	0%,80%,90%,100%
		opacity: 0
	82%,88%
		opacity: 1
+keyframes(moveIconText)
	0%,8%
		+transform(translate3d(0,0,0))
		filter: blur(0px)
	10%
		filter: blur(5px)
	22%,28%
		+transform(translate3d(0,-250px*0.2,0))
		filter: blur(0px)
	30%
		filter: blur(5px)
	42%,48%
		+transform(translate3d(0,-250px*0.4,0))
		filter: blur(0px)
	50%
		filter: blur(5px)
	62%,68%
		+transform(translate3d(0,-250px*0.6,0))
		filter: blur(0px)
	70%
		filter: blur(5px)
	82%,88%
		+transform(translate3d(0,-250px*0.8,0))
		filter: blur(0px)
	90%
		filter: blur(5px)
	100%
		+transform(translate3d(0,-250px,0))
		filter: blur(0px)
+keyframes(moveIconBox)
	0%,8%
		+transform(translate3d(0,0,0))
		filter: blur(0px)
	10%
		filter: blur(5px)
	22%,28%
		+transform(translate3d(0,-300px*0.2,0))
		filter: blur(0px)
	30%
		filter: blur(5px)
	42%,48%
		+transform(translate3d(0,-300px*0.4,0))
		filter: blur(0px)
	50%
		filter: blur(5px)
	62%,68%
		+transform(translate3d(0,-300px*0.6,0))
		filter: blur(0px)
	70%
		filter: blur(5px)
	82%,88%
		+transform(translate3d(0,-300px*0.8,0))
		filter: blur(0px)
	90%
		filter: blur(5px)
	100%
		+transform(translate3d(0,-300px,0))
		filter: blur(0px)
+keyframes(compU)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,-100%,0))
+keyframes(compU2)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,-200%,0))
+keyframes(compD)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,100%,0))
+keyframes(compD2)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,200%,0))

+keyframes(handLine)
	0%,100%
		+h(40px)
	20%,80%
		+h(90px)

+keyframes(bomt1)
	0%,19%
		opacity: 0
	19.1%,100%
		opacity: 1
+keyframes(bomt2)
	0%,39%
		opacity: 0
	39.1%,100%
		opacity: 1
+keyframes(bomt3)
	0%,59%
		opacity: 0
	59.1%,100%
		opacity: 1
+keyframes(bomt4)
	0%,79%
		opacity: 0
	79.1%,100%
		opacity: 1
+keyframes(bomt5)
	0%,99%
		opacity: 0
	99.1%,100%
		opacity: 1

+keyframes(downHandBox1)
	0%,10%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	19.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	19.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox2)
	0%,30%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	39.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	39.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox3)
	0%,50%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	59.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	59.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox4)
	0%,70%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	79.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	79.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox5)
	0%,90%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	99.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	99.2%
		opacity: 0
		+transform(translate3d(0,74px,0))



.wechat-share-hide
	+posa
	+tl(-1000px)
	+hide
	+w(1px)

html,body
	+w
	+h
	touch-callout: none
.hide
	+hide
// .loading




.bottle
	+posa
	+show
	.newbottle
		+hide
		+posa
		+tl
		+w
		+h
	&.Mybottle
		+show
	.on-button
		+posa
		cursor: pointer
		z-index: 999
	.white
		+tran($time: 2s)
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 998
	.shadow
		+posa
		+animation(bottleshadow,3s,ease,infinite)
.bottle-logo
	$w: 403px
	$h: 581px
	+tl(-420px,-110px)
	#bottlelogo
		+posa
		+tl(-16px,-40px)

	.on-button
		+br(0px,55px)
		+wh(165px,60px)
	.white
		+tran
		+w(100%)
		left: auto
		right: 0
		&.on
			+w(0%)
			& *
				+hide
		img
			+posa
			+tr
			+w($w)
			max-width: $w
	.white-1,.white-2
		+posa
		+tl
		+w($w)
		+h($h)
		+overhide
		img
			+posa
			+tl
	.newbottle
		opacity: 0
		+show
	&.Mybottle
		.newbottle
			// +show
			opacity: 1
			// img
			// 	+w
			// 	+h
		.white-1
			+tran($time: 1s)
			+h(0%)
		.white-2
			+tran($time: 1s)
			+w(0%)
			transition-delay: 1s
.bottle-strategy
	$w: 1020px
	+tl(-196px,-230px)
	+w($w)
	#bottlestrategy
		+posa
		+tl(157px,-27px)
	.shadow
		+tl(169px,522px)
		z-index: -1
	.on-button
		+tl(0,563px)
		+wh(240px,290px)
	.white
		+w(70%)
		&.on
			+w(0%)
		img
			+w($w)
			max-width: $w
.bottle-technology
	$w: 953px
	+tl(110px,-180px)
	+w($w)
	#bottletechnology
		+posa
		+tl(-22px,-78px)
	.shadow
		+tl(72px,225px)
		z-index: -1
	.on-button
		+tl(60px,250px)
		+wh(200px,100px)
	.white
		img
			+w($w)
			max-width: $w
.bottle-brand
	$w: 411px
	+w($w)
	+tl(-260px,-20px)
	#bottlebrand
		+posa
		+tl(-12px,184px)
		
	.on-button
		+br(0,0px)
		+wh(160px,230px)
	.white
		img
			+w($w)
			max-width: $w
		&.on
			+h(0%)
	.bubbles
		+posa
		+bl(120px,130px)
		z-index: -1
		+w(28px*3)
		+h(120px)

		.bubble
			+posa
			transform-origin: center center
			img
				+wh(28px,28px)
		.bubble-1
			+tl(0,20px)
			+animation(bubble,2.5s,linear,infinite)
		.bubble-2
			+tl(30px,0)
			+animation(bubble,3s,linear,infinite)
			img
				+wh(20px,20px)
		.bubble-3
			+tl(50px,15px)
			+animation(bubble,3.5s,linear,infinite)
			img
				+wh(18px,18px)
	&.Mybottle ~ .bottle-logo
		+tran
		opacity: 0
		transition-delay: 0.7s
.bottle-media
	$w: 953px
	+tl(110px,-180px)
	+w($w)
	#bottlemedia
		+posa
		+tl(-30px,580px)
		// z-index: -1
	.shadow
		+tl(170px,582px)
		z-index: -1
	.on-button
		+tl(110px,610px)
		+wh(155px,230px)
	.white
		left: auto
		right: 0
		&.on
			+w(0%)
		img
			+posa
			+tr
			+w($w)
			max-width: $w
.bottle-contactus
	$w: 452px
	+tr(510px,-230px)
	+w($w)
	#bottlecontactus
		+show-inline
		margin-top: -8px
		margin-left: -12px
	.shadow
		+tl(89px,-45px)
		z-index: -1
	.on-button
		+tl(90px,10px)
		+wh(145px,170px)
	.white
		right: 0
		left: auto
		+overhide
		&.on
			+w(0%)
		img
			+posa
			+tr
			+w($w)
			max-width: $w
.bottle-award
	$w: 520px
	+w($w)
	+tl(575px,-132px)
	#bottleaward
		+show-inline
		margin-top: -8px
		margin-left: -12px
	.shadow
		+tl(16px,295px)
		z-index: -1
		+w(300px)
		animation-delay: 500ms
	.on-button
		+tl(90px,408px)
		+wh(85px,140px)
	.white
		img
			+w($w)
			max-width: $w
		&.on
			+w(0%)
.bottle-fire-1
	$w: 78px
	+w($w)
	+tl(411px,90px)
.bottle-fire-2
	$w: 65px
	+w($w)
	+tr(778px,115px)
.bottle-fire-1,.bottle-fire-2
	.fire
		+posa
		+tl
		z-index: 2
		+animation(fire,5s,ease,infinite)
.bottle-search
	$w: 70px
	+w($w)
	+tl(678px,135px)
.middle-tower
	$w: 155px
	+tl(370px,239px)
	+w($w)
.left-tower
	$w: 341px
	+tl(290px,-130px)
	+w($w)
.right-tower
	$w: 155px
	+tr(210px,90px)
	+w($w)
	.timer
		+posa
		+tl(33%)
		.timer-box
			+posa
			+tl
			+w
			+h
			.hour,.mint
				+posa
				+bl(50%,50%)
				+w(4px)
				+h(24px)
				margin-left: -1px
				+bc(#596272)
				font-size: 0
				transform-origin: bottom center
				border-radius: 1px
			.hour
				+h(18px)
			.sec
				+posa
				+bl(50%,50%)
				+w(4px)
				+h(30px)
				margin-left: -1px
				+bc(#f06640)
				font-size: 0
				transform-origin: bottom center
				border-radius: 1px
	.playsound
		+posa
		+tl(14px,27px)
		z-index: 999
		.icon-play
			+wh(33px,25px)
			+b("../img/right-tower-sound.png",no-repeat,0,0,165px 25px)
			&.play
				animation: soundBG 0.8s steps(5) infinite
.last-bottle
	+posa
	+bl


.firstPage
	+posa
	+tl
	+w
	+h
	+overhide
	z-index: 999
	+b("../img/loaded/bg.jpg",no-repeat,center,center,cover)
	font-size: 0
	.content
		+posa
		+tl(50%,50%)
		z-index: 3
		opacity: 1
		+transform(translate3d(-50%,-50%,0))
		.home
			+w(393px)
		.door
			+tran
			+posa
			+tl(198px,166px)
			+w(60px)
			z-index: -1
		.thermometer
			+posa
			+tl
			.line
				+posa
				+bl(30px,17px)
				+w(3px)
				+h(100px)
				+bc(#f06640)
				+animation(music,5s,ease,infinite)
			&.thermometer-1
				+tl(188px,114px)
				.line
					animation-delay: 500ms
			&.thermometer-2
				+tl(188px,240px)
		.logo
			+posa
			+tl(-30px,50%)
			+w(340px)
			+transform(translate3d(-50%,0,0))
			.on
				+posa
				+tl
				+animation(flashF,2s,ease,infinite)
		.enter
			+w(100%)
			+text-center
			.text
				margin-top: 10px
				+animation(flashF,2.5s,linear,infinite)
			.arrow
				+show
				+m
			.arrow-1
				+w(25px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 1500ms
			.arrow-2
				+w(30px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 1000ms
			.arrow-3
				+w(35px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 500ms

	.loading
		+posa
		+tl
		z-index: 2
		+b("../img/bg.jpg",no-repeat,center,center,cover)
		+w
		+h
		+transform(scale(0.2,0.2))
		transform-origin: center center
		.box
			+wh(300px,500px)
			+posa
			+tl(50%,50%)
			+transform(translate3d(-50%,-50%,0))
			.text
				+posa
				+tl(50%,50%)
				+transform(translate3d(-50%,-50%,0))
				// margin-left: 0.4rem
				color: #fff
				// +font-size(2rem)
				font-size: 24px
			.bubbles
				+posa
				+tl(120px,131px)
				+wh(36px,90px)
				.bubble
					+posa
				.bubble-1
					+tl(0,20px)
					+animation(bubble,2.5s,linear,infinite)
				.bubble-2
					+tl(30px,0)
					+animation(bubble,3s,linear,infinite)
					img
						+wh(20px,20px)
				.bubble-3
					+tl(50px,15px)
					+animation(bubble,3.5s,linear,infinite)
					img
						+wh(18px,18px)

	&.on
		.loading
			+tran($time: 1s)
			+transform(scale(1,1))
			transition-delay: 1s
		.content
			+tran($time: 1s)
			+transform(translate3d(-50%,-50%,0) scale(4,4))
			transition-delay: 1s
			opacity: 0
			.door
				+tl(198px,106px)

.main
	+posa
	+tl
	+w(640px)
	+h
	// +h(1136px)
	+b("../img/bg.jpg",no-repeat,center,center,cover)
	+overhide
	font-size: 0
	// +transform(scale(0.5,0.5))
	transform-origin: top left
	.homepage
		+posa
		+tl
		+w
		+h
		+tran($time: 0.5s,$ease: linear)
		transition-delay: 0s
		z-index: 2
		// &.page-logo
			// +transform(translate3d(400px,400px,0))
	&.page-technology .homepage
		+tran($time: 1.2s,$ease: linear)
		transition-delay: 0.8s
		+transform(translate3d(763px,-173px,0))
		.bottle-award,.left-tower
			+tran
			opacity: 0
			transition-delay: 1.3s
		
	&.page-strategy .homepage
		+tran($time: 1.4s,$ease: linear)
		transition-delay: 1.2s
		+transform(translate3d(770px,0,0))
	&.page-brand .homepage
		+tran($time: 1s,$ease: linear)
		transition-delay: 0.7s
		+transform(translate3d(-128px,105%,0))
		
	&.page-logo .homepage
		+tran($time: 1.3s,$ease: linear)
		transition-delay: 0.8s
		+transform(translate3d(260px,113%,0))
		
	&.page-contactus .homepage
		+tran($time: 2.2s,$ease: linear)
		+transform(translate3d(-670px,-500px,0))
	&.page-media .homepage
		+tran($time: 1.5s,$ease: linear)
		transition-delay: 1s
		+transform(translate3d(-700px,550px,0))
		// transition-delay: 2.2s
	&.page-award .homepage
		+tran($time: 1.3s,$ease: linear)
		transition-delay: 1.4s
		+transform(translate3d(670px,-550px,0))
	// &.page-technology .homepage
		// +tran($time: 2s,$ease: linear)
		// +transform(translate3d(780px,-100px,0))

.pages-item
	+hide

.pages-technology
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(-763px,173px,0))
	&.thispage
		+tran($time: 1.2s,$ease: linear)
		transition-delay: 0.8s
		+transform(translate3d(0,0,0))
	.content
		+posa
		+tl
		+w
		+h
		z-index: 1
		.m-top
			.bg
				padding-top: 40px
			.texts
				+posa
				+tl(366px,230px)
				+wh(80px,50px)
				+overhide
				font-size: 0
				.text-box
					+animation(moveIconText,10s,linear,infinite)
					&.first
						// margin-top: -250px

			.gear
				+posa
				z-index: -1
				&.gear-1
					+tl(324px,314px)
					+animation(rotateP,4s,linear,infinite)
				&.gear-2
					+tl(270px,350px)
					+animation(rotatePF,4s,linear,infinite)
				&.gear-3
					+tl(240px,330px)
					+animation(rotateP,4s,linear,infinite)
			.item-lighter
				+posa
				+tl(510px,489px)
				z-index: -1
				+animation(flash,4s,ease,infinite)
				animation-delay: 200ms
			.item-switch
				+posa
				+tl(258px,525px)
				z-index: -1
				transform-origin: left center
				+animation(switch,4.6s,ease,infinite)
			.item-bt
				+posa
				+tl(140px,228px)
				.full
					+posa
					+bl
					z-index: 1
					+overhide
					+w
					+h(30%)
					+animation(music,5s,ease,infinite)
					min-height: 30%
					img
						+posa
						+bl
			.item-comp
				+posa
				+tl(174px,276px)
				.item
					+posa
					+wh(30px,8px)
					+bc(#d15f4b)
					&.item-1
						+tl
						+animation(compD2,2s,linear,infinite)
						animation-delay: 500ms
					&.item-2
						+tl(15px)
						+animation(compD,2s,linear,infinite)
						animation-delay: 500ms
					&.item-3
						+tl(30px)
						+animation(compU,2s,linear,infinite)
						animation-delay: 500ms
					&.item-4
						+tl(45px)
						+animation(compU2,2s,linear,infinite)
						animation-delay: 500ms
			.logo
				+posa
				+tl(170px,382px)
			.box-logo
				+posa
				+tl(196px,411px)
				z-index: 1
			.item-light-red
				+posa
				+tl(106px,182px)
				z-index: 11
				transform-origin: left center
				+animation(flash,2s,ease,infinite)
			.item-light-blue
				+posa
				+tl(84px,182px)
				z-index: 11
				transform-origin: left center
				+animation(flashM,2s,ease,infinite)
				animation-delay: 1s
			.m-hand
				+posa
				+tl(210px,60px)
				.line
					+wh(6px,40px)
					+bc(#496683)
					margin-left: 100px
					+animation(handLine,2s,linear,infinite)
					animation-delay: 500ms
				.hand
					+posr
					margin-top: -2px
					.hand-box
						+posa
						+tl(0px,20px)
						+w(33px)
						z-index: -1
						.b
							+posa
							+tl
							@for $i from 1 through 5
								&.b-#{$i}
									+animation(downHandBox#{$i},10s,linear,infinite)

			.b-boxs-boxs
				+posa
				+tl(366px,78px)
				+w(215px)
				white-space: nowrap
				+overhide
				font-size: 0
				z-index: -1
				// +bc(#fff)
				.b-boxs
					+w(215px*3)
					// margin-left: -115px
					// +transform(translate3d(-215px,0,0))
					+animation(tP3,10s,linear,infinite)
				.b-box-box
					+show-inline
					// +animation(tP2,10s,linear,infinite)
					.b-m
						+show-inline
						+p(0 5px)
				.first
					@for $i from 1 through 5
						.b-m-#{$i}
							+animation(bomt#{$i},10s,linear,infinite)
					

		.lights
			+posa
			+tl(520px,50%)
			bottom: 30px
			+transform(translate3d(-17%,0,0))
			z-index: -1
			+w(55px)
			.light
				+posa
				+tl
				+w
				+h
				img
					+w
					+h
				@for $i from 1 through 5
					&.i-#{$i}
						+animation(lo#{$i},10s,linear,infinite)
		.m-bottom
			+posa
			+bl
			.bg
				+w(906px)
				margin-left: -(906px-640px)/2
			.icons
				+posa
				+bl(130px,18px)
				+wh(60px,60px)
				+overhide
				font-size: 0
				.icon-box
					+animation(moveIconBox,10s,linear,infinite)
					&.first
						margin-top: -300px



			.peoples
				+posa
				+bl(36px,-50px)
				white-space: nowrap
				z-index: -1
				font-size: 0
				.p-box
					+show-inline
					+animation(tP1,10s,linear,infinite)
					&:first-child
						+posa
						+tl(0,-50%)
					&.index
						.p-1
							.over
								+animation(po1,10s,linear,infinite)
						.p-2
							.over
								+animation(po2,10s,linear,infinite)
						.p-3
							.over
								+animation(po3,10s,linear,infinite)
						.p-4
							.over
								+animation(po4,10s,linear,infinite)
						.p-5
							.over
								+animation(po5,10s,linear,infinite)

				.people
					+show-inline
					+posr
					+p(0 15px)
					.over
						+posa
						+tl
						+p(0 15px)
						z-index: 2
					// &.p-1
						// +animation(tP1,6s,linear,infinite)
				
.pages-award
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(-670px,550px,0))
	&.thispage
		+tran($time: 1.3s,$ease: linear)
		transition-delay: 1.4s
		+transform(translate3d(0,0,0))
	.bg
		+posa
		+tl(80px)
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.icons,.bottles
			+posa
			+w(400px)
			+m
			+text-left
			.icon
				+show-inline
				+m(0 8px)
		.icons-1
			+tl(90px+80px,120px)
		.icons-2
			+tl(364px+80px,120px)
		.icons-3
			+tl(616px+80px,120px)
		.other
			+posa
		.other-1
			+tl(139px+80px,393px)
		.other-2
			+tl(736px+80px,393px)
	.pop
		.alert-1,.alert-3,.alert-4
			+w(411px)
		.alert-2,.alert-5,.alert-6,.alert-7
			+w(412px)

.pages-media
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(700px,-550px,0))
	&.thispage
		+tran($time: 1.5s,$ease: linear)
		transition-delay: 1s
		+transform(translate3d(0,0,0))
		
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.icons,.bottles
			+posa
			+w(500px)
			+m
			+text-center
			vertical-align: bottom
			.icon
				+show-inline
				+m(0 4px)
				+posr
				.light
					+posa
					+tl(-30px,-15px)
					+w(90px)
					+animation(flashF,2s,ease,infinite)

				.alert
					+posa
					+tl(-60px,50%)
					+w(82px)
					+transform(translate3d(-50%,0,0))
					opacity: 0
					&.on
						opacity: 1
		.icons-1
			+tl(168px,70px)
		.icons-2
			+tl(357px,70px)
		.bottle-1
			+tl(535px,70px)
		.bottle-2
			+tl(790px,70px)
		.ml-30
			margin-left: -30px
		.bottle-media-movie
			+wh(200px,200px)
			+overhide
			+show-inline
			vertical-align: bottom
			margin-bottom: -24px
			margin-left: -40px
			margin-right: -30px
			
				
	.bg
		+posa
		+tl(80px)

.pages-contactus
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	// +hide
	z-index: 102
	+transform(translate3d(670px,500px,0))
	&.thispage
		+tran($time: 2.2s,$ease: linear)
		+transform(translate3d(0,0,0))
		.content
			.qrcode
				+transform(translate3d(0,0,0))
				transition-delay: 1.5s
				opacity: 1
			.bottle-full
				.full
					+tran
					+h(100%)
					transition-delay: 2.2s
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.bg
			+posa
			+tl(80px)
		.pointer
			+posa
			+tl(256px,121px)
			transform-origin: 9px 3.5px
			font-size: 0
			+animation(pointerM,3s,ease,infinite)
			z-index: 102
		.title
			+posa
			+tl(420px,(640px-300px)/2)
			z-index: 102
		.text
			+posa
			+tl(800px,(640px-219px)/2)
			z-index: 102
		.qrcode
			+posa
			+tl(430px+60px,(640px-274px)/2)
			z-index: 102
			opacity: 0
			+transform(translate3d(-100%,0,0))
			+tran($time: 1s)
		.gear
			+posa
			+tl(292px,220px)
			z-index: 102
		.bottle-full
			+posa
			+tl(118px,176px)
			+wh(28px,206px)
			.full
				+posa
				+tl
				+h(0)
				+w
				+overhide
			img
				+w
				+h
			z-index: 102
		.bubbles
			+posa
			+tl(195px,262px)
			+wh(24px,124px)
			+overhide
			z-index: 102
			+animation(showB,6s,linear,infinite)
			.bubble
				+posa
				img
					+w(100%)
			@for $i from 0 through 10
				.bubble-#{$i}
					+w((8+$i)*1px)
					+tl(random(90)*1%,random(50)*1%)
					+animation(bubble,0.5s,ease,infinite)
					animation-duration: (random(2000)+1000)*1ms
					animation-delay: 500ms+$i*100ms
		.drops
			+posa
			+tl(150px,275px)
			+animation(showD,6s,linear,infinite)
			font-size: 0
			z-index: 102
		.music
			+posa
			+tl(250px,487px)
			+wh(81px,71px)
			z-index: 102
			.c1,.c2,.c3
				+posa
				+bl
				+wh(10px,100%)
			.c1
				+bl
				+bc(#94c141)
				+animation(music,3s,ease,infinite)
				animation-delay: 600ms
			.c2
				+bl(0,33px)
				+bc(#7fc286)
				+animation(music,3.3s,ease,infinite)
				animation-delay: 300ms
			.c3
				+bl(0,68px)
				+bc(#d5725f)
				+animation(music,4.8s,ease,infinite)
			.line
				+posa
				+tl(28px,0)
				+wh(80px,3px)
				+bc(#355e91)

.pages-logo
	$w: 300px
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	// +hide
	+transform(translate3d(-260px,-113%,0))
	+b("../img/pages-logo-bg-start.jpg",no-repeat,center,center,cover)
	&.thispage
		+tran($time: 1.3s,$ease: linear)
		transition-delay: 0.8s
		+transform(translate3d(0,0,0))
		
		// z-index: 120
		.bg
			+animation(fadeIn,0.5s,ease)
			animation-delay: 2s
			z-index: -1
		.logo-text
			+animation(fadeIn,0.5s,ease)
			animation-delay: 3.5s
		
	.content
		+posa
		+tl
		+w
		+h
		z-index: 1
	.bg
		+posa
		+tl
		+w
		+h
		font-size: 0
		img
			+w
			+h
	.logo-page-bottle
		+posa
		+bl(-52px,160px)
		z-index: 120
	.vitro
		+posa
		+bl(100px,-46px)
		z-index: 110
		+wh(700px,1000px)
	.logo-text
		+posa
		+bl(520px,10px)
		+wh(600px,400px)
		z-index: 109

	.bottle-logo-next
		+posa
		+bl(28px,0px)
		$w: 604px
		$h: 905px
		+wh($w,$h)
		z-index: 120
		+hide
		.text
			+posa
			+tl(180px)

		.white-1,.white-2,.white-3,.white-4
			+tran($time: 0.5)
			+posa
			+overhide
			+w(100%)
			+h(100%)
			img
				+w($w)
				+h($h)
				max-width: $w
		.white
			// transition-delay: 0s
			// +overhide
			// +w(100%)
			&.on
				+w(0%)
			img
				+w($w)
				+h($h)
				max-width: $w
	.logo-movie
		+wh(640px,1134px)
		+overhide
		+posa
		+bl(-60px,0)

.pages-brand
	+posa
	+tl
	+w
	+h
	// +bc(#73ea9c)
	+tran($time: 0.5s,$ease: linear)
	z-index: 1
	// opacity: 0
	+transform(translate3d(128px,-105%,0))
	&.thispage
		+tran($time: 1s,$ease: linear)
		transition-delay: 0.7s
		+transform(translate3d(0,0,0))
		// opacity: 1
	.bg
		+posa
		+tl
		+w
		+h
		font-size: 0
		img
			+w
			+h
		// +b("../img/pages-brand-bg.jpg",no-repeat,center,center,cover)
	.content
		+posa
		+tl
		+w
		+h
		z-index: 1
		
		#brand,.ctrls,.brands-item
			+posa
			+tl(-120px)
			// +transform(translate3d(0,-50%,0))
		.brands-item
			+wh(640,1134px)
			.brand-item
				+posa
				+tl
				+wh(640px,1134px)
				+overhide
			.brand-item-1
				// +b("../img/animate/brands/brand-1.png",no-repeat,-25600px,0,25600px 1134px)
				.gif-content
					+wh(32000px,1134px)
					animation: brandMovie1 (50/20)*1s steps(50) 1
					animation-fill-mode: forwards
			.brand-item-2
				// +b("../img/animate/brands/brand-2.png",no-repeat,-25600px,0,25600px 1134px)
				.gif-content
					+wh(25600px,1134px)
					animation: brandMovie2 (40/20)*1s steps(40) infinite
					animation-delay: (50/20)*1s
			


		.ctrls
			+wh(640px,1134px)
			z-index: 102
			.item
				+posa
				+tl
				+wh(100px,100px)
				// +bc(#fff)
			.item-1
				+tl(305px,56px)
			.item-2
				+tl(497px,413px)
			.item-3
				+tl(730px,485px)

.pages-strategy
	+posa
	+tl
	+w
	+h
	+tran($time: 0.5s,$ease: linear)
	z-index: 11
	opacity: 0
	+transform(translate3d(-770px,0,0))
	// +bc(#73ea9c)
	&.thispage
		+tran($time: 1.4s,$ease: linear)
		transition-delay: 1.2s
		+transform(translate3d(0,0,0))
		opacity: 1
	.content
		+w
		+h
		.m-top
			+posr
			z-index: 10
			.item-arrow-white
				+posa
				+tl(100px,170px)

			.item-lighter
				+posa
				+tl(240px,288px)
				z-index: -1
				+animation(flash,4s,ease,infinite)
				animation-delay: 200ms
			.item-switch
				+posa
				+tl(310px,480px)
				z-index: -1
				transform-origin: left center
				+animation(switch,3s,ease,infinite)
			.item-tv
				+posa
				+tl(282px,372px)
				+wh(74px,58px)
				z-index: 11
				transform-origin: left center
				.item-logo
					+posa
					+tl(50%,50%)
					+transform(translate3d(-50%,-50%,0))
					+w(63px)
					+animation(tvShow,3s,ease,infinite)

			.item-arrow
				+posa
				+br(-40px,80px)
				.arrow1
					+animation(arrowA,6s,linear,infinite)
				.arrow2
					+animation(arrowB,6s,linear,infinite)
				.arrow3
					+animation(arrowC,6s,linear,infinite)
				.arrow4
					+animation(arrowD,6s,linear,infinite)
				.arrow5
					+animation(arrowE,6s,linear,infinite)
			.item-light-red
				+posa
				+tl(307px,325px)
				z-index: 11
				transform-origin: left center
				+animation(flash,2s,ease,infinite)
			.item-light-blue
				+posa
				+tl(325px,325px)
				z-index: 11
				transform-origin: left center
				+animation(flashM,2s,ease,infinite)
				animation-delay: 1s
			.item-light-all
				+posa
				+tl(143px,91px)
				z-index: 11
				transform-origin: left center
				+w(11px)
				.lights
					+posa
					+tl
					+animation(flashM,2s,ease,infinite)
					&:nth-child(n+1)
						animation-delay: 2000ms
					&:nth-child(n+2)
						animation-delay: 150ms
					&:nth-child(n+3)
						animation-delay: 1000ms
					&:nth-child(n+4)
						animation-delay: 500ms
			.item-lines
				+posa
				+tl(255px,480px)
				+wh(64px,92px)
				+overhide
				.line1,.line2
					+posa
					+tl
				.line1
					+animation(cloudLineA,5s,linear,infinite)
				.line2
					+animation(cloudLineB,5s,linear,infinite)



			.item-pointer
				+posa
				+tl(330px,115px)
				+wh(4px,16px)
				+bc(#e1effa)
				transform-origin: bottom center
				border-radius: 4px
				+animation(pointerM,3s,ease,infinite)
				z-index: 1
			.item-screw
				+posa
				+tl(347px,370px)
				+animation(rotateP,3s,linear,infinite)
			.item-icloud-1
				+posa
				+tl(263px,41px)
				z-index: -1
				transform-origin: left center
				+animation(cloudL,5.5s,ease,infinite)
				+w(100px)
			.item-icloud-2
				+posa
				+tl(233px,31px)
				z-index: -1
				transform-origin: left center
				+animation(cloudL,4s,ease,infinite)
				+w(200px)
			.item-icloud-3
				+posa
				+tr(233px,44px)
				z-index: -1
				transform-origin: left center
				+animation(cloudR,5s,ease,infinite)
				+w(109px)
			.item-icons
				+posa
				+tl(-30px,198px)
				z-index: 2
				.test
					+wh(300px,300px)
					+b("../img/animate/strategy-icons/strategy.png",no-repeat,left,center,12900px 300px)
					animation: images 4.3s steps(43) infinite
				.box
					+posa
					+tl(3px,-24px)
				// +animation(iconShow,8s,ease,infinite)
		.m-bottom
			+posa
			+tl(460px)
			+br
			+w
			z-index: -1
			.line1,.line2
				+posa
				+tl
				+w(8px)
				+h(50%)
				+bc(#c9c4c6)
			.line1
				+tl(0,132px)
			.line2
				+tl(0,447px)
			.p1
				+posa
				+bl
				+animation(peopleA,12s,linear,infinite)
				z-index: 99
				transform-origin: right center
				animation-delay: 2s
			.p2
				+posa
				+br
				+animation(peopleB,15s,linear,infinite)
				z-index: 99
				transform-origin: center center
			.parts1,.parts2,.parts3
				+posa
				+tl(154px,510px)
				z-index: 99
			.parts1
				+animation(rotateP,2s,linear,infinite)
			.parts2
				+tl(200px,536px)
				+animation(rotatePF,2s,linear,infinite)
			.parts3
				+tl(252px,531px)
				+animation(rotatePW,4s,linear,infinite)
			.fcanvas
				+posa
				+tl(120px,120px)
				+wh(385px,308px)
				+overhide
				font-size: 0
				z-index: 99
				.item-arrow
					+posa
					+tr(40px,20px)
					.arrow1
						+animation(arrow1,4s,linear,infinite)
					.arrow2
						+animation(arrow2,4s,linear,infinite)
					.arrow3
						+animation(arrow3,4s,linear,infinite)
					.arrow4
						+animation(arrow4,4s,linear,infinite)
					.arrow5
						+animation(arrow5,4s,linear,infinite)
				.items
					+w
					+h
					// +animation(canvasM,8s,linear,infinite)
				.item
					+show-inline
			.bg
				+posa
				+bl

.sliders
	overflow: hidden
	.slider
		+posr
		white-space: nowrap
		font-size: 0
		+tran(all,0s,linear)
		.slide
			+w(100%)
			display: inline-block
			vertical-align: topd


.pop
	+posf
	+tl
	+br
	+w
	+h
	+bc(rgba(0,0,0,0.8))
	+hide
	z-index: 10000
	.content,.pop-content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+touch
		+p(20px 0)
		+text-center
		max-height: 100%




