@import sass/base
@import animate

$cdn: "http://disk.giccoo.com/projects/zhiqu/"

// animation,delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

$people-width: 460px


// animate clickover
+keyframes(switch)
	0%,100%
		+transform(rotate(-20deg))
	15%,80%
		+transform(rotate(30deg))
+keyframes(cloudL)
	0%,100%
		+transform(translate3d(0,0,0))
		margin-left: 0px
	50%
		+transform(translate3d(0,0,0))
		// +transform(translate3d(200px,0,0))
		margin-left: 30px
+keyframes(cloudR)
	0%,60%,100%
		+transform(translate3d(0,0,0))
		margin-right: 0px
	30%
		+transform(translate3d(0,0,0))
		// +transform(translate3d(200px,0,0))
		margin-right: 40px
+keyframes(cloudLineA)
	0%,60%
		+transform(translate3d(-100%,0,0))
		opacity: 1
	70%
		+transform(translate3d(0,0,0))
	95%
		opacity: 1
	100%
		opacity: 1
+keyframes(cloudLineB)
	0%,70%
		+transform(translate3d(0,100%,0))
		opacity: 1
	90%
		+transform(translate3d(0,0,0))
	95%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowA)
	0%
		opacity: 0.4
	10%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowB)
	0%
		opacity: 0.4
	10%
		opacity: 0.4
	20%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowC)
	0%
		opacity: 0.4
	20%
		opacity: 0.4
	30%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowD)
	0%
		opacity: 0.4
	30%
		opacity: 0.4
	40%
		opacity: 1
	100%
		opacity: 1
+keyframes(arrowE)
	0%
		opacity: 0.4
	40%
		opacity: 0.4
	50%
		opacity: 1
	100%
		opacity: 1

+keyframes(BM)
	0%,14%
		+transform(translate3d(0,-50px,0))
		opacity: 0
	16%
		+transform(translate3d(0,0,0))
		opacity: 1
	100%
		+transform(translate3d(215px,0,0))

+keyframes(flash)
	0%,60%,100%
		opacity: 1
	30%,80%
		opacity: 0.4
+keyframes(flashM)
	0%,100%
		opacity: 1
	50%
		opacity: 0.4
+keyframes(flashF)
	0%,100%
		opacity: 0.4
	50%
		opacity: 1
+keyframes(enter)
	0%
		+transform(translate3d(0,0,0))
		opacity: 0
	5%,95%
		opacity: 1
	100%
		+transform(translate3d(0,-20px,0) scale(0.9,0.9))
		opacity: 0
+keyframes(enterDown)
	0%,100%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,10px,0))
+keyframes(soundBG)
	to
		background-position-x: -180px
+keyframes(whiteH)
	from
		+h(100%)
	to
		+h(0%)
+keyframes(whiteW)
	from
		+w(100%)
	to
		+w(0%)
+keyframes(peopleA)
	0%
		+transform(scale(-1,1) translate3d(300px,0,0))
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
		+transform(scale(-1,1) translate3d(-700px,0,0))
+keyframes(peopleB)
	0%
		+transform(scale(-1,1) translate3d(-90px,0,0))
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
	100%
		+transform(scale(-1,1) translate3d(740px,0,0))
+keyframes(rotateP)
	from
		+transform(rotate(0deg))
	to
		+transform(rotate(360deg))
+keyframes(rotatePF)
	from
		+transform(rotate(0deg))
	to
		+transform(rotate(-360deg))
+keyframes(rotatePW)
	0%
		+transform(rotate(0deg))
	30%
		+transform(rotate(360deg))
	100%
		+transform(rotate(360deg))
+keyframes(canvasM)
	0%,100%
		+transform(translate3d(0,0,0))
	40%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,-100%,0))
	90%
		+transform(translate3d(0,-100%,0))
+keyframes(iconShow)
	0%
		+transform(rotate(0deg) scale(0,0))
	10%
		+transform(rotate(360deg) scale(1.4,1.4))
	15%
		+transform(rotate(720deg) scale(0.7,0.7))
	25%
		+transform(rotate(360deg) scale(1.1,1.1))
	50%,90%
		+transform(rotate(0deg) scale(1,1))
	100%
		+transform(rotate(-360deg) scale(0,0))
+keyframes(bubble)
	0%,100%
		+transform(translate3d(0,80px,0) scale(0,0))
		opacity: 0
	10%,20%
		opacity: 1
	30%
		+transform(translate3d(0,0px,0) scale(1,1))
		opacity: 1
	35%
		+transform(translate3d(0,-20px,0) scale(0,0))
		opacity: 0
+keyframes(pointerM)
	0%,70%,100%
		+transform(rotate(0deg))
	40%
		+transform(rotate(40deg))
	50%
		+transform(rotate(20deg))
	60%
		+transform(rotate(30deg))
+keyframes(showB)
	0%
		opacity: 0
	20%
		opacity: 0
	25%
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
+keyframes(showD)
	0%,100%
		opacity: 0
		+transform(scale(0,0) translate3d(0,0,0))
	13%
		opacity: 1
		+transform(scale(1,1) translate3d(0,0,0))
	20%
		+transform(scale(1,1) translate3d(0,200%,0))
		opacity: 1
	22%
		opacity: 0
+keyframes(music)
	0%,100%
		+h(0%)
	15%
		+h(50%)
	30%
		+h(70%)
	45%
		+h(20%)
	60%
		+h(70%)
	90%
		+h(45%)
+keyframes(fire)
	0%
		opacity: 0.5
	20%
		opacity: 0.7
	40%
		opacity: 1
	50%
		opacity: 0.4
	60%
		opacity: 0.7
	80%
		opacity: 0.6
	90%
		opacity: 0.9
	100%
		opacity: 0.5
+keyframes(bottleshadow)
	0%,100%
		opacity: 0.3
	50%
		opacity: 1
+keyframes(images)
	0%
		background-position-x: 0px
	100%
		background-position-x: -12900px
+keyframes(tvShow)
	0%,50%,100%
		+transform(translate3d(-50%,-50%,0))
		filter: blur(0px)
		opacity: 1
	25%
		+transform(translate3d(-50%,-200%,0))
		filter: blur(10px)
		opacity: 0
	30%
		+transform(translate3d(-50%,100%,0))
		filter: blur(10px)
		opacity: 0
	
+keyframes(tP1)
	$tpw: $people-width
	0%,10%
		+transform(translate3d(0,0,0))
	20%,30%
		+transform(translate3d($tpw*1/5,0,0))
	40%,50%
		+transform(translate3d($tpw*2/5,0,0))
	60%,70%
		+transform(translate3d($tpw*3/5,0,0))
	80%,90%
		+transform(translate3d($tpw*4/5,0,0))
	100%
		+transform(translate3d($tpw,0,0))
+keyframes(tP2)
	0%
		+transform(translate3d(0,0,0))
	100%
		+transform(translate3d(215px,0,0))
+keyframes(tP3)
	0%
		+transform(translate3d(-215px,0,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(po1)
	0%,100%
		opacity: 1
+keyframes(po2)
	0%,20%
		opacity: 0
	20.1%,100%
		opacity: 1
+keyframes(po3)
	0%,40%
		opacity: 0
	40.1%,100%
		opacity: 1
+keyframes(po4)
	0%,60%
		opacity: 0
	60.1%,100%
		opacity: 1
+keyframes(po5)
	0%,80%
		opacity: 0
	80.1%,100%
		opacity: 1

+keyframes(lo1)
	0%,100%
		opacity: 0
		+h(0)
	2%,8%
		opacity: 1
		+h(100%)
	10%
		opacity: 0
		+h(100%)
+keyframes(lo2)
	0%,20%,100%
		opacity: 0
		+h(0)
	22%,28%
		opacity: 1
		+h(100%)
	30%
		opacity: 0
		+h(100%)
+keyframes(lo3)
	0%,40%,100%
		opacity: 0
		+h(0)
	42%,48%
		opacity: 1
		+h(100%)
	50%
		opacity: 0
		+h(100%)
+keyframes(lo4)
	0%,60%,100%
		opacity: 0
		+h(0)
	62%,68%
		opacity: 1
		+h(100%)
	70%
		opacity: 0
		+h(100%)
+keyframes(lo5)
	0%,80%,100%
		opacity: 0
		+h(0)
	82%,88%
		opacity: 1
		+h(100%)
	90%
		opacity: 0
		+h(100%)
+keyframes(moveIconText)
	0%,8%
		+transform(translate3d(0,0,0))
		filter: blur(0px)
	10%
		filter: blur(5px)
	22%,28%
		+transform(translate3d(0,-250px*0.2,0))
		filter: blur(0px)
	30%
		filter: blur(5px)
	42%,48%
		+transform(translate3d(0,-250px*0.4,0))
		filter: blur(0px)
	50%
		filter: blur(5px)
	62%,68%
		+transform(translate3d(0,-250px*0.6,0))
		filter: blur(0px)
	70%
		filter: blur(5px)
	82%,88%
		+transform(translate3d(0,-250px*0.8,0))
		filter: blur(0px)
	90%
		filter: blur(5px)
	100%
		+transform(translate3d(0,-250px,0))
		filter: blur(0px)
+keyframes(moveIconBox)
	0%,8%
		+transform(translate3d(0,0,0))
		filter: blur(0px)
	10%
		filter: blur(5px)
	22%,28%
		+transform(translate3d(0,-300px*0.2,0))
		filter: blur(0px)
	30%
		filter: blur(5px)
	42%,48%
		+transform(translate3d(0,-300px*0.4,0))
		filter: blur(0px)
	50%
		filter: blur(5px)
	62%,68%
		+transform(translate3d(0,-300px*0.6,0))
		filter: blur(0px)
	70%
		filter: blur(5px)
	82%,88%
		+transform(translate3d(0,-300px*0.8,0))
		filter: blur(0px)
	90%
		filter: blur(5px)
	100%
		+transform(translate3d(0,-300px,0))
		filter: blur(0px)
+keyframes(compU)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,-100%,0))
+keyframes(compU2)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,-200%,0))
+keyframes(compD)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,100%,0))
+keyframes(compD2)
	0%,30%,100%
		+transform(translate3d(0,0,0))
	20%
		+transform(translate3d(0,200%,0))

+keyframes(handLine)
	0%,10%,80%,100%
		+h(40px)
	30%,70%
		+h(90px)

+keyframes(bomtA)
	0%,19%
		opacity: 0
	19.1%,100%
		opacity: 1
+keyframes(bomtB)
	0%,39%
		opacity: 0
	39.1%,100%
		opacity: 1
+keyframes(bomtC)
	0%,59%
		opacity: 0
	59.1%,100%
		opacity: 1
+keyframes(bomtD)
	0%,79%
		opacity: 0
	79.1%,100%
		opacity: 1
+keyframes(bomtE)
	0%,99%
		opacity: 0
	99.1%,100%
		opacity: 1

+keyframes(downHandBox1)
	0%,10%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	19.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	19.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox2)
	0%,30%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	39.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	39.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox3)
	0%,50%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	59.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	59.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox4)
	0%,70%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	79.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	79.2%
		opacity: 0
		+transform(translate3d(0,74px,0))
+keyframes(downHandBox5)
	0%,90%,100%
		opacity: 0
		+transform(translate3d(0,0,0))
	99.1%
		opacity: 1
		+transform(translate3d(0,74px,0))
	99.2%
		opacity: 0
		+transform(translate3d(0,74px,0))

+keyframes(pointM)
	0%
		+transform(scale(0.5,0.5))
		opacity: 0
	20%
		opacity: 1
	80%
		opacity: 1
	100%
		+transform(scale(2,2))
		opacity: 0

.wechat-share-hide
	+posa
	+tl(-1000px)
	+hide
	+w(1px)

html,body
	+w
	+h
	touch-callout: none
.hide
	+hide

$logo-delay: 1.2s
$strategy-delay: 3s
$technology-delay: 3.4s
$brand-delay: 2s
$media-delay: 2s
$contactus-delay: 1.4s
$award-delay: 1.8s

.gif
	img
		+w
		+h
		max-width: none

.bottle
	+posa
	+show
	> img
		+w
		max-width: auto
	.newbottle
		+hide
		+posa
		+tl
		+w
		+h
	&.Mybottle
		+show
	.on-button
		+posa
		cursor: pointer
		z-index: 999
	.white
		+tran($time: 2s)
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 998
	.shadow
		+posa
		+animation(bottleshadow,3s,ease,infinite)
.bottle-logo
	$w: 403px*1.1
	$h: 581px*1.1
	+tl(-462px,-136px)
	+w($w)
	#bottlelogo
		+posa
		+tl(-16px,-44px)
	.bottlelogo
		+wh(480px*1.1,620px*1.1)
	.on-button
		+br(0px,65px)
		+wh(165px,60px)
	.goon
		+posa
		+tl(258px,-150px)
		+w(339px)
		+transform(scale(1.1,1.1))
		z-index: -1
	.white
		+tran
		+w(100%)
		left: auto
		right: 0
		&.on
			+w(0%)
			& *
				+hide
		img
			+posa
			+tr
			+w($w)
			max-width: $w
	.white-1,.white-2
		+posa
		+tl
		+w($w)
		+h($h)
		+overhide
		img
			+posa
			+tl
	.newbottle
		opacity: 0
		+show
	&.Mybottle
		.newbottle
			// +show
			opacity: 1
			// img
			// 	+w
			// 	+h
		.white-1
			+tran($time: 1s)
			+h(0%)
		.white-2
			+tran($time: 1s)
			+w(0%)
			transition-delay: 1s
.bottle-strategy
	$w: 1020px*1.1
	+tl(-212px,-260px)
	+w($w)
	#bottlestrategy
		+posa
		+tl(172px,-26px)
	.bottlestrategy
		+wh(850px*1.1,200px*1.1)
	.shadow
		+tl(200px,600px)
		z-index: -1
	.on-button
		+tl(20px,633px)
		+wh(240px,290px)
	.white
		+w(70%)
		&.on
			+w(0%)
		img
			+w($w)
			max-width: $w
.bottle-technology
	$w: 953px*1.1
	+tl(110px,-208px)
	+w($w)
	#bottletechnology
		+posa
		+tl(-22px,-84px)
	.bottletechnology
		+wh(800px*1.1,260px*1.1)
	.shadow
		+tl(72px,255px)
		z-index: -1
	.on-button
		+tl(70px,286px)
		+wh(200px,110px)
	.white
		img
			+w($w)
			max-width: $w
.bottle-brand
	$w: 411px*1.1
	+w($w)
	+tl(-310px,-30px)
	#bottlebrand
		+posa
		+tl(-16px,200px)
	.bottlebrand
		+wh(300px*1.1,750px*1.1)
	.on-button
		+br(0,0px)
		+wh(160px,230px)
	.white
		img
			+w($w)
			max-width: $w
		&.on
			+h(0%)
	.goon
		+posa
		+tl(616px,-116px)
		z-index: -1
	.bubbles
		+posa
		+bl(120px,144px)
		z-index: -1
		+w(28px*3)
		+h(120px)

		.bubble
			+posa
			transform-origin: center center
			img
				+wh(28px,28px)
		.bubble-1
			+tl(0,20px)
			+animation(bubble,2.5s,linear,infinite)
		.bubble-2
			+tl(30px,0)
			+animation(bubble,3s,linear,infinite)
			img
				+wh(20px,20px)
		.bubble-3
			+tl(50px,15px)
			+animation(bubble,3.5s,linear,infinite)
			img
				+wh(18px,18px)
	&.Mybottle ~ .bottle-logo
		+tran
		opacity: 0
		transition-delay: 0.5s
.bottle-media
	$w: 953px*1.1
	+tl(110px,-206px)
	+w($w)
	#bottlemedia
		+posa
		+tl(-30px,640px)
		// z-index: -1
	.bottlemedia
		+wh(380px*1.1,380px*1.1)
	.shadow
		+tl(200px,652px)
		z-index: -1
	.on-button
		+tl(140px,680px)
		+wh(155px,230px)
	.white
		left: auto
		right: 0
		&.on
			+w(0%)
		img
			+posa
			+tr
			+w($w)
			max-width: $w
.bottle-contactus
	$w: 452px*1.1
	+tr(500px,-310px)
	+w($w)
	#bottlecontactus
		+show-inline
		margin-top: -8px
		margin-left: -12px
	.bottlecontactus
		+wh(480px*1.1,480px*1.1)
	.shadow
		+tl(118px,-36px)
		z-index: -1
	.on-button
		+tl(120px,20px)
		+wh(145px,170px)
	.white
		right: 0
		left: auto
		+overhide
		&.on
			+w(0%)
		img
			+posa
			+tr
			+w($w)
			max-width: $w
.bottle-award
	$w: 520px*1.2
	+w($w)
	+tl(592px,-200px)
	z-index: 3
	#bottleaward
		+show-inline
		margin-top: -8px
		margin-left: -12px
	.bottleaward
		+wh(550px*1.2,265px*1.2)
	.shadow
		+tl(54px,378px)
		z-index: -1
		+w(300px*1.2)
		animation-delay: 500ms
	.on-button
		+tl(120px,484px)
		+wh(105px,150px)
	.white
		img
			+w($w)
			max-width: $w
		&.on
			+w(0%)
.bottle-fire-1
	$w: 78px
	+w($w)
	+tl(448px,96px)
.bottle-fire-2
	$w: 65px
	+w($w)
	+tr(800px,75px)
.bottle-fire-1,.bottle-fire-2
	.fire
		+posa
		+tl
		z-index: 2
		+animation(fire,5s,ease,infinite)
.bottle-search
	$w: 70px*1.1
	+w($w)
	+tl(728px,165px)
.middle-tower
	$w: 155px*1.1
	+tl(378px,254px)
	+w($w)
.left-tower
	$w: 341px*1.1
	+tl(300px,-140px)
	+w($w)
.right-tower
	$w: 154px
	+tr(210px,44px)
	+w($w)
	.timer
		+posa
		+tl(33%,-18px)
		+wh(90px,90px)
		> img
			+w
			max-width: none
		.timer-box
			+posa
			+tl
			+w
			+h
			.hour,.mint
				+posa
				+bl(50%,50%)
				+w(4px)
				+h(28px)
				margin-left: -1px
				+bc(#596272)
				font-size: 0
				transform-origin: bottom center
				border-radius: 1px
			.hour
				+h(20px)
			.sec
				+posa
				+bl(50%,50%)
				+w(4px)
				+h(32px)
				margin-left: -1px
				+bc(#f06640)
				font-size: 0
				transform-origin: bottom center
				border-radius: 1px
	.playsound
		+posa
		+tl(14px,10px)
		z-index: 999
		.icon-play
			+wh(36px,27px)
			+b($cdn+"img/right-tower-sound.png",no-repeat,0,0,36px*5 27px)
			&.play
				animation: soundBG 0.8s steps(5) infinite
.last-bottle
	+posa
	+bl


.firstPage
	+hide
	+posa
	+tl
	+w
	+h
	+overhide
	z-index: 999
	// +b($cdn+"img/loaded/bg.jpg",no-repeat,center,center,cover)
	font-size: 0
	.content
		+posa
		// +tl(50%,50%)
		+tl
		+w
		+h
		z-index: 3
		opacity: 1
		// +transform(translate3d(-50%,-50%,0))
		+overhide
		.home
			+posa
			+tl(50%,50%)
			+transform(translate3d(-50%,-50%,0))
			+wh(640px,1136px)
		.door
			+tran
			+posa
			+tl(49.7%,288px)
			+w(60px)
			z-index: -1
		.thermometer
			+posa
			+tl
			.line
				+posa
				+bl(30px,17px)
				+w(3px)
				+h(100px)
				+bc(#f06640)
				+animation(music,5s,ease,infinite)
			&.thermometer-1
				+tl(558px,232px)
				.line
					+animation(music,4s,ease,infinite)
					animation-delay: 500ms
			&.thermometer-2
				+tl(558px,232px+136)
				.line
					+animation(music,5s,ease,infinite)
		.logo
			+posa
			+tl(390px,53%)
			+w(340px)
			+transform(translate3d(-50%,0,0))
			.on
				+posa
				+tl
				+animation(flashF,2s,ease,infinite)
		.text
			+posa
			+bl(300px,(640px-207)/2)
			+text-center
			+m
			z-index: 101
			margin-top: 10px
			+animation(flashF,2.5s,linear,infinite)
		.enter
			+posa
			+bl(360px,0)
			z-index: 2
			+w(100%)
			+text-center
			+animation(enter,5s,linear,infinite)
			.arrow
				+show
				+m
			.arrow-1
				+w(25px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 1500ms
			.arrow-2
				+w(30px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 1000ms
			.arrow-3
				+w(35px)
				+animation(flashF,2.5s,linear,infinite)
				animation-delay: 500ms

	.loading
		+posa
		+tl
		z-index: 2
		+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
		+w
		+h
		// +transform(translate3d(0,10%,0) scale(0.22,0.22))
		// transform-origin: center center
		.box
			+wh(300px,500px)
			+posa
			+tl(50%,50%)
			+transform(translate3d(-50%,-35%,0) scale(0.22,0.22))
			.text
				+posa
				+tl(50%,50%)
				+transform(translate3d(-50%,-50%,0))
				// margin-left: 0.4rem
				color: #fff
				// +font-size(2rem)
				font-size: 24px
			.bubbles
				+posa
				+tl(120px,131px)
				+wh(36px,90px)
				.bubble
					+posa
				.bubble-1
					+tl(0,20px)
					+animation(bubble,2.5s,linear,infinite)
				.bubble-2
					+tl(30px,0)
					+animation(bubble,3s,linear,infinite)
					img
						+wh(20px,20px)
				.bubble-3
					+tl(50px,15px)
					+animation(bubble,3.5s,linear,infinite)
					img
						+wh(18px,18px)
		.box-text
			+posa
			+tl(50%)
			+hide
			margin-top: -130px/2

	&.on
		.loading .box
			+tran($time: 1s)
			+transform(translate(-50%,-50%) scale(1,1))
			transition-delay: 1s
		.content
			+tran($time: 1s)
			+transform(translate(0,-70%) scale(14,14))
			transition-delay: 1s
			opacity: 0.5
			.door
				+tl(49.7%,290px-145)

.progress
	+posa
	+tl
	+w(100%)
	+h(8px)
	+tran($time: 1s)
	z-index: 99999
	opacity: 0
	&.show
		+tran($time: 0.1s)
		opacity: 1
		.line
			+tran($time: 0.2s)
			+w(15%)
	.line
		+w(0%)
		+h
		+bc(green)
		min-width: 5%

.main
	+hide
	+posa
	+tl
	+w(640px)
	+h
	// +h(1136px)
	+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
	+overhide
	font-size: 0
	// +transform(scale(0.5,0.5))
	transform-origin: top left
	.back-btn
		+posa
		+tl(30px,30px)
		// +tran
		z-index: 1001
		opacity: 0
	.homepage
		+posa
		+tl
		+w
		+h
		+tran($time: 0.5s,$ease: linear)
		transition-delay: 0s
		z-index: 2
		// &.page-logo
			// +transform(translate3d(400px,400px,0))
	.award-box
		.box
			+posa
			+tl(15%,50%)
			margin-left: -510px/2
			.content
				+posa
				+tl(50%,50%)
				margin-top: -270px/2
				margin-left: -240px/2
		.text
			+posa
			+tl(60%)
		.bingo-email
			+hide
			+posa
			+tl(15%,60px)
			+text-center
			+w(520px)
			.form
				+posa
				+tl(340px,0)
				+w
				+text-center
				.form-group
					margin-bottom: 20px
				input,button
					font-size: 24px
					line-height: 1.4em
					border: solid 1px #dc4c4c
					border-radius: 20px
					+bc(#fff)
					+box
					+p(5px 10px)
					outline: none
					margin: 0 5px
					+text-center
			.giveup
				display: inline-block

	.p-notes,.award-box
		+posa
		+tl
		+w
		+h
		+bc(rgba(0,0,0,0.7))
		z-index: 1999
		+hide
		&.show
			+show
		.note
			+posa
		.note-hand
			+tl(430px,322px)
			+transform(scale(-1,-1))
			z-index: 2
			.point
				+posa
				+tl(32px,4px)
				+wh(60px,60px)
				em
					+posa
					+tl(50%,50%)
					margin-top: -10px
					margin-left: -10px
					+show
					+wh(20px,20px)
					border: solid 2px white
					border-radius: 50%
					+animation(pointM,2s,ease,infinite)
					&.last
						animation-delay: 1s
		.note-text
			+tl(530px,150px)
			+w(358px)
		.note-1
			+tl(100px,54px)
		.note-2
			+tl(-8px,344px)
		.note-3
			+tl(230px,474px)
		.note-4
			+tl(226px,246px)
		.note-5
			+tl(164px,56px)
		.note-6
			+tl(702px,280px)
			+w(110px)
		.note-7
			+tl(594px,470px)
		.p-strategy
			+tl(41px,218px)
			& ~ .note-hand
				+tl(170px,310px)
				+transform(scale(-1,-1))
		.p-technology
			+tl(208px,368px)
			& ~ .note-hand
				+tl(310px,460px)
				+transform(scale(-1,-1))

	&.page-technology 
		$move: 1.2s
		.homepage
			+tran($time: $move,$ease: linear)
			transition-delay: 0
			+transform(translate3d(813px,-208px,0))
			.bottle-award,.left-tower
				+tran
				opacity: 0
				transition-delay: $move
		.back-btn
			// +tl(auto,auto)
			// +tr(10px,10px)
			opacity: 1
			+transform(rotate(-90deg))
			transition-delay: $move
	&.page-strategy 
		$move: 1.4s
		.homepage
			+tran($time: $move,$ease: linear)
			transition-delay: 0
			+transform(translate3d(820px,-20px,0))
			.bottle-technology
				+tran
				opacity: 0
				transition-delay: $move
		.back-btn
			// +tl(auto,auto)
			// +tr(50px,10px)
			+transform(rotate(-90deg))
			opacity: 1
			transition-delay: $move
	&.page-brand 
		$move: 0.6s
		.homepage
			+tran($time: $move,$ease: linear)
			transition-delay: 0
			+transform(translate3d(-148px,112%,0))
		.back-btn
			// +tl(auto,auto)
			// +bl(10px,10px)
			opacity: 1
			transition-delay: $move
	&.page-logo 
		.homepage
			+tran($time: 1s,$ease: linear)
			transition-delay: 0
			+transform(translate3d(266px,116%,0))
			.bottle-brand
				+tran
				opacity: 0
				transition-delay: 1s
			.bottle-logo
				.goon
					+tran
					opacity: 0
					transition-delay: 1.3s/2
		.back-btn
			// +tl(auto,auto)
			// +br(10px,10px)
			opacity: 1
			transition-delay: $logo-delay+1.3
		.pages-logo-bg
			+tran($time: 1s,$ease: linear)
			transition-delay: 0
			+transform(translate3d(0,0,0))
			opacity: 1
	&.page-contactus 
		.homepage
			+tran($time: 1.2s,$ease: linear)
			+transform(translate3d(-750px,-490px,0))
			transition-delay: 0
		.back-btn
			// +tl(70px,10px)
			+transform(rotate(90deg))
			opacity: 1
			transition-delay: 1.2s
	&.page-media 
		.homepage
			+tran($time: 1.5s,$ease: linear)
			transition-delay: 0
			+transform(translate3d(-780px,550px,0))
		.back-btn
			// +tl(10px,10px)
			+transform(rotate(90deg))
			opacity: 1
			transition-delay: 1.5s
	&.page-award 
		.homepage
			+tran($time: 1.3s,$ease: linear)
			transition-delay: 0
			+transform(translate3d(740px,-550px,0))
		.back-btn
			// +tl(auto,auto)
			// +tr(10px,10px)
			+transform(rotate(-90deg))
			opacity: 1
			transition-delay: 1.3s
	// &.page-technology .homepage
		// +tran($time: 2s,$ease: linear)
		// +transform(translate3d(780px,-100px,0))

.pages-item
	+hide

.pages-technology,.pages-award,.pages-media,.pages-contactus,.pages-logo,.pages-brand,.pages-strategy
	+hide

.pages-technology
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(-813px,208px,0))
	&.thispage
		+tran($time: 1.2s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		.content
			.m-top
				.gear
					&.gear-1
						+animation(rotateP,4s,linear,infinite)
					&.gear-2
						+animation(rotatePF,4s,linear,infinite)
					&.gear-3
						+animation(rotateP,4s,linear,infinite)
				.item-lighter
					+animation(flash,4s,ease,infinite)
				.item-switch
					+animation(switch,4.6s,ease,infinite)
				.item-bt
					.full
						+animation(music,5s,ease,infinite)
				.item-comp
					.item
						&.item-1
							+animation(compD2,2s,linear,infinite)
							animation-delay: 500ms
						&.item-2
							+animation(compD,2s,linear,infinite)
							animation-delay: 500ms
						&.item-3
							+animation(compU,2s,linear,infinite)
							animation-delay: 500ms
						&.item-4
							+animation(compU2,2s,linear,infinite)
							animation-delay: 500ms
				.item-light-red
					+animation(flash,2s,ease,infinite)
				.item-light-blue
					+animation(flashM,2s,ease,infinite)
					animation-delay: 1s
				.m-hand
					.line
						+animation(handLine,2s,linear,infinite)
					.hand-box
						.b
							@for $i from 1 through 5
								&.b-#{$i}
									+animation(downHandBox#{$i},10s,linear,infinite)
				// .b-boxs-boxs
					
	.content
		+posa
		+tl
		+w
		+h
		z-index: 1
		+overhide
		.m-top
			margin-top: -30px
			+transform(scale(1.1,1.1))
			transform-origin: top center
			.bg
				padding-top: 40px
			.texts
				+posa
				+tl(366px,230px)
				+wh(80px,50px)
				+overhide
				font-size: 0
				.text-box
					+animation(moveIconText,10s,linear,infinite)
					&.first
						// margin-top: -250px
			.gear
				+posa
				z-index: -1
				&.gear-1
					+tl(324px,314px)
				&.gear-2
					+tl(270px,350px)
				&.gear-3
					+tl(240px,330px)
			.item-lighter
				+posa
				+tl(510px,489px)
				z-index: -1
				animation-delay: 200ms
			.item-switch
				+posa
				+tl(258px,525px)
				z-index: -1
				transform-origin: left center
			.item-bt
				+posa
				+tl(140px,228px)
				.full
					+posa
					+bl
					z-index: 1
					+overhide
					+w
					+h(30%)
					min-height: 30%
					img
						+posa
						+bl
			.item-comp
				+posa
				+tl(174px,276px)
				.item
					+posa
					+wh(30px,8px)
					+bc(#d15f4b)
					&.item-1
						+tl
					&.item-2
						+tl(15px)
					&.item-3
						+tl(30px)
					&.item-4
						+tl(45px)
			.logo
				+posa
				+tl(200px,412px)
				+wh(100px,140px)
				+overhide
				#technologylogo
					+posa
					+tl(-24px,-20px)
					+wh(150px,200px)
			.box-logo
				+posa
				+tl(196px,411px)
				z-index: 1
			.item-light-red
				+posa
				+tl(106px,182px)
				z-index: 11
				transform-origin: left center
			.item-light-blue
				+posa
				+tl(84px,182px)
				z-index: 11
				transform-origin: left center
			.m-hand
				+posa
				+tl(210px,60px)
				.line
					+wh(6px,40px)
					+bc(#496683)
					margin-left: 100px
					animation-delay: 500ms
				.hand
					+posr
					margin-top: -2px
					#technologyhand
						+posa
						+tl(-20px,-40px)
					.hand-box
						+posa
						+tl(0px,20px)
						+w(33px)
						z-index: -1
						.b
							+posa
							+tl

			.b-boxs-boxs
				+posa
				+tl(366px,78px)
				+w(215px)
				white-space: nowrap
				// +overhide
				font-size: 0
				z-index: -1
				// +bc(#fff)
				.b-box-box
					+show-inline
					// +animation(tP2,10s,linear,infinite)
					.b-m
						+posa
						+show-inline
						+p(0 5px)
						+tl
					.b-m-1
						animation-name: BM
						animation-fill-mode: both
						animation-duration: 10s
						animation-iteration-count: infinite
						animation-timing-function: linear
						animation-delay: 2s
					.b-m-2
						animation-name: BM
						animation-fill-mode: both
						animation-duration: 10s
						animation-iteration-count: infinite
						animation-timing-function: linear
						animation-delay: 4s
					.b-m-3
						animation-name: BM
						animation-fill-mode: both
						animation-duration: 10s
						animation-iteration-count: infinite
						animation-timing-function: linear
						animation-delay: 6s
					.b-m-4
						animation-name: BM
						animation-fill-mode: both
						animation-duration: 10s
						animation-iteration-count: infinite
						animation-timing-function: linear
						animation-delay: 8s
					.b-m-5
						animation-name: BM
						animation-fill-mode: both
						animation-duration: 10s
						animation-iteration-count: infinite
						animation-timing-function: linear
						animation-delay: 10s
					

		.lights
			+posa
			+tl(520px,50%)
			bottom: 30px
			+transform(translate3d(-17%,0,0))
			z-index: -1
			+w(55px)
			.light
				+posa
				+tl
				+w
				+h
				img
					+w
					+h
				@for $i from 1 through 5
					&.i-#{$i}
						+animation(lo#{$i},10s,linear,infinite)
		.m-bottom
			+posa
			+bl
			.bg
				+w(906px)
				margin-left: -(906px-640px)/2
			.bottle-water
				+posa
				+bl(144px,130px)
				+overhide
				+wh(20px,40px)
				.over
					+h(0%)
					+overhide
					+posa
					+bl
					+animation(music,5s,ease,infinite)

			.icons
				+posa
				+bl(130px,18px)
				+wh(60px,60px)
				+overhide
				font-size: 0
				.icon-box
					+animation(moveIconBox,10s,linear,infinite)
					&.first
						margin-top: -300px



			.peoples
				+posa
				+bl(36px,-62px)
				white-space: nowrap
				z-index: -1
				font-size: 0
				.p-box
					+show-inline
					+animation(tP1,10s,linear,infinite)
					&:first-child
						+posa
						+tl(0,-50%)
					// &.index
					// 	.p-1
					// 		.over
					// 			+animation(po1,10s,linear,infinite)
					// 	.p-2
					// 		.over
					// 			+animation(po2,10s,linear,infinite)
					// 	.p-3
					// 		.over
					// 			+animation(po3,10s,linear,infinite)
					// 	.p-4
					// 		.over
					// 			+animation(po4,10s,linear,infinite)
					// 	.p-5
					// 		.over
					// 			+animation(po5,10s,linear,infinite)

				.people
					+show-inline
					+posr
					// +p(0 15px)
					+w($people-width/5)
					.normal
						+w(172px)
					.over
						+posa
						+tl
						+w
						+h
						z-index: 2
						.gif
							+posa
							+bl
							+w(66px)
							// +transform(translate3d(-50%,0,0))
					// &.p-1
						// +animation(tP1,6s,linear,infinite)
				
.pages-award
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(-740px,550px,0))
	&.thispage
		+tran($time: 1.3s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		.icons-1
			.icon
				&:nth-child(1)
					.star
						+animation(rotateIn,6s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
				&:nth-child(2)
					.star
						+tl
						+animation(rotateIn,5s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
		.icons-2
			.icon
				&:nth-child(1)
					.star
						+animation(rotateIn,4s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
						animation-delay: 500ms
				&:nth-child(2)
					.star
						+animation(rotateOut,4s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
						animation-delay: 1000ms
				&:nth-child(3)
					.star
						+animation(rotateOut,4s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
						animation-delay: 1500ms
		.icons-3
			.icon
				&:nth-child(1)
					.star
						+animation(rotateIn,5s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
						animation-delay: 500ms
				&:nth-child(2)
					.star
						+animation(rotateOut,5s,ease,infinite)
						animation-direction: alternate
						-webkit-animation-direction: alternate
						animation-delay: 1000ms
				
	.bg
		+posa
		+tl(30px,3%)
		+w(94%)
		img
			+w
			max-width: none
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.icons,.bottles
			+posa
			+w(460px)
			+m
			+text-left
			.icon
				+show-inline
				+m(0 16px)
				+posr
				+w(120px)
				img
					+w
				.star
					+posa
					+tl
		.icons-1
			+tl(186px-50,90px)
			.icon
				&:nth-child(1)
					.star
						+tl(70px,50px)
				&:nth-child(2)
					.star
						+tl
		.icons-2
			+tl(494px-50,90px)
			.icon
				&:nth-child(n+1)
					.star
						+tl(70px,50px)
				&:nth-child(n+2)
					.star
						+tl(30px,60px)
				&:nth-child(n+3)
					.star
						+tl(60px,50px)
		.icons-3
			+tl(772px-50,90px)
			.icon
				&:nth-child(n+1)
					.star
						+tl(66px,20px)
				&:nth-child(n+2)
					.star
						+tl(24px,60px)
		.other
			+posa
		.other-1
			+tl(249px-50,405px)
		.other-2
			+tl(906px-50,405px)
	.pop
		.alert-1,.alert-3,.alert-4
			+w(411px)
		.alert-2,.alert-5,.alert-6,.alert-7
			+w(412px)

.pages-media
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	z-index: 102
	+transform(translate3d(780px,-550px,0))
	&.thispage
		+tran($time: 1.5s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.icons,.bottles
			+posa
			+w(500px)
			+m
			+text-center
			vertical-align: bottom
			.icon
				+show-inline
				+m(0 14px)
				+posr
				.keep
					+posa
					+tl
					+w
					+h
					z-index: 1001
				.light
					+posa
					+tl(-30px,-15px)
					+w(90px)
					+animation(flashF,2s,ease,infinite)
					z-index: -1

				.alert
					+posa
					+tl(-60px,50%)
					+w(82px)
					+transform(translate3d(-50%,0,0))
					opacity: 0
					z-index: 2
					&.on
						opacity: 1
		.icons-1
			+tl(158px,70px)
		.icons-2
			+tl(347px,70px)
		.icons-3
			+tl(552px,84px)
			+wh(200px,159px)
			.icon
				+m(0 5px)
			.line
				+w
				+text-center
				&:last-child
					margin-top: -10px
		.bottle-1
			+tl(524px,270px)
			+w(300px)
			.icon
				+m(0 8px)
				+w(72px)
		.bottle-2
			+tl(750px,70px)
			.icon
				+m(0 8px)
			.ml-30
				margin-left: -30px
		.bottle-media-movie
			+posr
			+wh(200px,200px)
			+overhide
			+show-inline
			vertical-align: bottom
			margin-bottom: -24px
			margin-left: -40px
			margin-right: -30px
			.keep
				+posa
				+tl
				+w
				+h
				z-index: 101
	.bg
		+posa
		+tl(30px)

.pages-contactus
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	// +hide
	z-index: 102
	+transform(translate3d(750px,490px,0))
	&.thispage
		+tran($time: 1.2s,$ease: linear)
		+transform(translate3d(0,0,0))
		transition-delay: 0
		.content
			.bottle-full
				.full
					+tran
					+h(100%)
					// transition-delay: $contactus-delay+2.2
			.pointer
				+animation(pointerM,3s,ease,infinite)
			.bubbles
				+animation(showB,6s,linear,infinite)
				@for $i from 0 through 10
					.bubble-#{$i}
						+w((8+$i)*1px)
						+tl(random(90)*1%,random(50)*1%)
						+animation(bubble,0.5s,ease,infinite)
						animation-duration: (random(2000)+1000)*1ms
						animation-delay: 500ms+$i*100ms
	.content
		+posa
		+tl
		+w
		+h
		+overhide
		z-index: 1
		.bg
			+posa
			+tl(80px)
		.pointer
			+posa
			+tl(256px,121px)
			transform-origin: 9px 3.5px
			font-size: 0
			z-index: 102
		.title
			+posa
			+tl(420px,(640px-300px)/2)
			z-index: 102
		.text
			+posa
			+tl(800px,(640px-219px)/2)
			z-index: 102
		.qrcode
			+posa
			+tl(430px+60px,(640px-274px)/2)
			z-index: 102
			// opacity: 0
			// +transform(translate3d(-100%,0,0))
			// +tran($time: 1s)
		.gear
			+posa
			+tl(292px,220px)
			z-index: 102
		.bottle-full
			+posa
			+tl(115px,167px)
			+wh(48px,214px)
			.full
				+posa
				+tl
				+h(0)
				+w
				+overhide
				.gif,#contactusfull
					+w
					+h
					img
						+w
						+h
			img
				+w
				+h
			z-index: 102
		.bubbles
			+posa
			+tl(195px,262px)
			+wh(24px,124px)
			+overhide
			z-index: 102
			+animation(showB,6s,linear,infinite)
			.bubble
				+posa
				img
					+w(100%)
			
		.drops
			+posa
			+tl(150px,275px)
			+animation(showD,6s,linear,infinite)
			font-size: 0
			z-index: 102
		.music
			+posa
			+tl(250px,487px)
			+wh(81px,71px)
			z-index: 102
			.c1,.c2,.c3
				+posa
				+bl
				+wh(10px,100%)
			.c1
				+bl
				+bc(#94c141)
				+animation(music,3s,ease,infinite)
				animation-delay: 600ms
			.c2
				+bl(0,33px)
				+bc(#7fc286)
				+animation(music,3.3s,ease,infinite)
				animation-delay: 300ms
			.c3
				+bl(0,68px)
				+bc(#d5725f)
				+animation(music,4.8s,ease,infinite)
			.line
				+posa
				+tl(28px,0)
				+wh(80px,3px)
				+bc(#355e91)

.pages-logo,.pages-logo-bg
	$w: 300px
	+tran($time: 0.5s,$ease: linear)
	+posa
	+tl
	+w
	+h
	// +hide
	+transform(translate3d(-266px,-116%,0))
	// +b($cdn+"img/pages-logo-bg-start.jpg",no-repeat,center,center,cover)
	opacity: 0
	&.thispage
		+tran($time: 1s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		opacity: 1
		// z-index: 120
		.logo-text
			+animation(fadeIn,0.5s,ease)
			animation-delay: 3.5s
		
	.content
		+posa
		+tl
		+w
		+h
		z-index: 1
	.bg
		+posa
		+bl(0px)
		+w
		+h
		+tran
		font-size: 0
		opacity: 0
		#logobg
			+posa
			+bl
		img
			+w
			+h
		&.show
			+tran($time: 0)
			opacity: 1
	.logo-page-bottle
		+posa
		+bl(-52px,160px)
		z-index: 120
	.vitro
		+posa
		+bl(-40px,0)
		z-index: 110
		+wh(640px,1144px)
		#logovitro
			+posa
			+bl
			+w
			+h
	.logo-text
		+posa
		+bl(430px,10px)
		+wh(600px,400px)
		z-index: 109

	.bottle-logo-next
		+posa
		+bl(28px,0px)
		$w: 604px
		$h: 905px
		+wh($w,$h)
		z-index: 120
		+hide
		.text
			+posa
			+tl(180px)

		.white-1,.white-2,.white-3,.white-4
			+tran($time: 0.5)
			+posa
			+overhide
			+w(100%)
			+h(100%)
			img
				+w($w)
				+h($h)
				max-width: $w
		.white
			// transition-delay: 0s
			// +overhide
			// +w(100%)
			&.on
				+w(0%)
			img
				+w($w)
				+h($h)
				max-width: $w
	.logo-movie
		+wh(640px,1134px)
		+overhide
		+posa
		+bl(-60px,0)

.pages-logo
	z-index: 2

.pages-brand
	+posa
	+tl
	+w
	+h
	// +bc(#73ea9c)
	+tran($time: 0.5s,$ease: linear)
	z-index: 1
	// opacity: 0
	+transform(translate3d(148px,-112%,0))
	&.thispage
		+tran($time: 0.6s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		// opacity: 1
	.bg
		+posa
		+tl
		+w
		+h
		+tran
		font-size: 0
		opacity: 0
		img
			+w
			+h
		&.show
			+tran($time: 0)
			opacity: 1
		// +b($cdn+"img/pages-brand-bg.jpg",no-repeat,center,center,cover)
	.content
		+posa
		+bl(0px)
		+w
		+h(1136px)
		z-index: 1
		
		#brand,.ctrls,.brands-item
			+posa
			+tl
			// +transform(translate3d(0,-50%,0))
		.brands-item
			+wh(640,1134px)
			.brand-item
				+posa
				+tl
				+wh(640px,1134px)
				+overhide
			.brand-item-1
				// +b($cdn+"img/animate/brands/brand-1.png",no-repeat,-25600px,0,25600px 1134px)
				.gif-content
					+wh(32000px,1134px)
					animation: brandMovie1 (50/20)*1s steps(50) 1
					animation-fill-mode: forwards
			.brand-item-2
				// +b($cdn+"img/animate/brands/brand-2.png",no-repeat,-25600px,0,25600px 1134px)
				.gif-content
					+wh(25600px,1134px)
					animation: brandMovie2 (40/20)*1s steps(40) infinite
					animation-delay: (50/20)*1s
			


		.ctrls
			+wh(640px,1134px)
			z-index: 102
			.item
				+posa
				+tl
				+wh(100px,100px)
				// +bc(#fff)
			.item-1
				+tl(305px,56px)
			.item-2
				+tl(497px,413px)
			.item-3
				+tl(730px,485px)

.pages-strategy
	+posa
	+tl
	+w
	+h
	+tran($time: 0.5s,$ease: linear)
	+overhide
	z-index: 11
	// opacity: 0
	+transform(translate3d(-820px,20px,0))
	// +bc(#73ea9c)
	&.thispage
		+tran($time: 1.4s,$ease: linear)
		transition-delay: 0
		+transform(translate3d(0,0,0))
		// opacity: 1
		.content
			.m-top
				.item-arrow-white
					+animation(enterDown, 2s, ease, infinite)
				.item-lighter
					+animation(flash,4s,ease,infinite)
					animation-delay: 200ms
				.item-switch
					+animation(switch,3s,ease,infinite)
				.item-logo
					+animation(tvShow,3s,ease,infinite)
				.item-arrow
					+animation(enterDown, 2s, ease, infinite)
				.item-light-red
					+animation(flash,2s,ease,infinite)
				.item-light-blue
					+animation(flashM,2s,ease,infinite)
					animation-delay: 1s
				.item-light-all
					.lights
						+animation(flashM,2s,ease,infinite)
				.item-lines
					.line1
						+animation(cloudLineA,5s,linear,infinite)
					.line2
						+animation(cloudLineB,5s,linear,infinite)
			.m-bottom
				.p1
					+animation(peopleA,40s,linear,infinite)
					transform-origin: right center
					animation-delay: 2s
				.p2
					+animation(peopleB,35s,linear,infinite)
				.parts1
					+animation(rotateP,2s,linear,infinite)
				.parts2
					+animation(rotatePF,2s,linear,infinite)
				.parts3
					+animation(rotatePW,4s,linear,infinite)
				.item-arrow
					+animation(enterDown, 2s, ease, infinite)
	.content
		+w
		+h
		.m-top
			+posr
			z-index: 10
			transform-origin: top center
			.item-arrow-white
				+posa
				+tl(100px,170px)
			.item-lighter
				+posa
				+tl(240px,288px)
				z-index: -1
			.item-switch
				+posa
				+tl(310px,480px)
				z-index: -1
				transform-origin: left center
			.item-tv
				+posa
				+tl(282px,372px)
				+wh(74px,58px)
				z-index: 11
				transform-origin: left center
				.item-logo
					+posa
					+tl(50%,50%)
					+transform(translate3d(-50%,-50%,0))
					+wh(63px,21px)
			.item-arrow
				+posa
				+br(-40px,80px)
			.item-light-red
				+posa
				+tl(307px,325px)
				z-index: 11
				transform-origin: left center
			.item-light-blue
				+posa
				+tl(325px,325px)
				z-index: 11
				transform-origin: left center
			.item-light-all
				+posa
				+tl(143px,91px)
				z-index: 11
				transform-origin: left center
				+w(11px)
				.lights
					+posa
					+tl
					&:nth-child(n+1)
						animation-delay: 2000ms
					&:nth-child(n+2)
						animation-delay: 150ms
					&:nth-child(n+3)
						animation-delay: 1000ms
					&:nth-child(n+4)
						animation-delay: 500ms
			.item-lines
				+posa
				+tl(255px,480px)
				+wh(64px,92px)
				+overhide
				.line1,.line2
					+posa
					+tl
				



			.item-pointer
				+posa
				+tl(330px,115px)
				+wh(4px,16px)
				+bc(#e1effa)
				transform-origin: bottom center
				border-radius: 4px
				+animation(pointerM,3s,ease,infinite)
				z-index: 1
			.item-screw
				+posa
				+tl(347px,370px)
				+animation(rotateP,3s,linear,infinite)
			.item-icloud-1
				+posa
				+tl(263px,41px)
				z-index: -1
				transform-origin: left center
				+animation(cloudL,5.5s,linear,infinite)
				+w(100px)
			.item-icloud-2
				+posa
				+tl(233px,31px)
				z-index: -1
				transform-origin: left center
				+animation(cloudL,4s,linear,infinite)
				+w(200px)
			.item-icloud-3
				+posa
				+tr(233px,44px)
				z-index: -1
				transform-origin: left center
				+animation(cloudR,5s,linear,infinite)
				+w(109px)
			.item-icons
				+posa
				+tl(40px,240px)
				+wh(166px,166px)
				border-radius: 50%
				+overhide
				z-index: 2
				#strategyicons
					+posa
					+tl(-50px,-70px)
					+wh(300px,300px)
			.item-box
				+posa
				+tl(-26px,174px)
				z-index: 3
				// +animation(iconShow,8s,ease,infinite)
		.m-bottom
			+posa
			+tl(460px)
			+br
			+w
			z-index: 1
			transform-origin: bottom center
			.hand
				+posa
				+tl(-22px,186px)
				z-index: 2
			.line1,.line2
				+posa
				+tl
				+w(6px)
				+h(0%)
				+bc(#c9c4c6)
			.line1
				+tl(12%,134px)
				bottom: 50%
				+h(auto)
			.line2
				+tl(12%,448px)
				bottom: 50%
				+h(auto)
			.p1
				+posa
				+bl(-20px)
				z-index: 99
			.p2
				+posa
				+br(-24px)
				z-index: 99
				transform-origin: center center
			.parts1,.parts2,.parts3
				+posa
				+tl(154px,510px)
				z-index: 99
			.parts2
				+tl(200px,536px)
			.parts3
				+tl(252px,531px)
			.fcanvas
				+posa
				+tl(120px,120px)
				+wh(385px,308px)
				+overhide
				font-size: 0
				z-index: 99
				.item-arrow
					+posa
					+tr(40px,20px)
					
				.items
					+w
					+h
					// +animation(canvasM,8s,linear,infinite)
				.item
					+show-inline
			.bg
				+posa
				+bl
				padding-bottom: 30px
		.m-top,.m-bottom
			+transform(scale(1.1,1.1))

.sliders
	overflow: hidden
	.slider
		+posr
		white-space: nowrap
		font-size: 0
		+tran(all,0s,linear)
		.slide
			+w(100%)
			display: inline-block
			vertical-align: topd

.pop
	+posf
	+tl
	+br
	+w
	+h
	+bc(rgba(0,0,0,0.8))
	+hide
	z-index: 10000
	.content,.pop-content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+touch
		+p(20px 0)
		+text-center
		max-height: 100%

#pop.pop
	.pop-content
		+touch
		+tl(0,0)
		+w
		+h
		+p
		+transform(translate3d(0,0,0))
		.close-1
			+posa
			+tl(930px,520px)
			+wh(70px,70px)
			background: none
		.close-2
			+posa
			+tl(930px,520px)
			+wh(70px,70px)
			background: none
		.close-3
			+posa
			+tl(930px,520px)
			+wh(70px,70px)
			background: none
	.close
		+posf
		+tl(10px,10px)
		+wh(37px,37px)
		+b($cdn+"img/pop-close.png",no-repeat,center,center,cover)
		z-index: 1000


