@import sass/base
// @import ../../libs/sass/parallax
@import ../../libs/sass/loader-ball

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "http://image.giccoo.com/projects/zhishinews/"

+keyframes(light)
	0%
		transform: translateY(-100%)
	100%
		transform: translateY(100%)
+keyframes(fingermove)
	0%,100%
		transform: translateX(-100px)
	50%
		transform: translateX(100px)
+keyframes(progressline)
	0%
		width: 0%
	100%
		width: 100%
+keyframes(arrow)
	0%
		opacity: 1
		+transform(translateY(0))
	100%
		opacity: 0
		+transform(translateY(10px))
+keyframes(arrow-right)
	0%
		opacity: 1
		+transform(translateX(0) rotate(-90deg))
	100%
		opacity: 0
		+transform(translateX(10px) rotate(-90deg))


// animation, delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

$fontColor: #ffffff;
$pageMainBGColor: #000000;

html,body
	+w
	+h

body
	color: $fontColor
	+bc($pageMainBGColor)
video,canvas
	+w
	+h(auto)
body
	+overhide

.wechat-share-hide,.load-before
	+posa
	+tl(-1000px)
	+hide
	+w(1px)
	+h(1px)

.playsound
	+posa
	+tr(0.5rem,2%)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.hide
	display: none

.main
	+w
	+h
	+posr
	+touch
.page-animation-enter-active
	transition: all .6s ease
.page-animation-leave-active
	transition: all .6s linear
.page-animation-enter, .page-animation-leave-to
	opacity: 0

.loading
	+posa
	+tl
	+w
	+h
	+bc(rgba(0,0,0,0.5))
	z-index: 10010
	&.hidebg
		background-image: none
	.ball-spin-fade-loader
		+posa
		+tl(50%,50%)
	.loading-page
		+posa
		+tl
		+w
		+h
		+b($cdn+"img/bg.jpg",no-repeat,center,center,cover,#000)
	.note
		+posa
		+bl
		z-index: 109
		.hand
			+posa
			+bl
			+animation(fingermove,3s,ease,infinite)
			z-index: 110
	.content
		+posa
		+tl(50%,20%)
		+w(60%)
		+transform(translateY(-50%))
		.load-text
			font-size: 0
		.progress
			+w(96%)
			+h(4px)
			+bc(#ccc)
			+m
			+posr
			margin-top: 2px
			.line
				+posa
				+tl
				+w(0%)
				+h(4px)
				+bc(#000)
				&.on
					+animation(progressline,2s,ease,1)

.player,.video
	$iconColor: #fff
	$iconBColor: rgba(0,0,0,0.0)
	+posr
	+w(auto)
	display: inline-block
	font-size: 0
	.ytp-svg-fill
		fill: $iconColor
	// .ytp-svg-shadow
	// 	stroke: #000
	// 	stroke-opacity: .15
	// 	stroke-width: 2px
	// 	fill: none
	.icon-play
		+posa
		+tl(50%,50%)
		+wh(40%,40%)
		+transform(translate3d(-50%,-50%,0))
		border: solid 2px $iconColor
		border-radius: 50%
		+bc($iconBColor)
		+overhide
.video
	.icon-play
		+tl(50%,50%)
		+h(auto)
		+bc(rgba(80,80,80,0.6))
		+w(20%)
		+transform(translate3d(-50%,-50%,0))

.f0
	font-size: 0

.pop
	$bgColor: rgba(0,0,0,0.6)
	+posa
	+tl
	+w
	+h
	z-index: 1000
	+bc($bgColor)

	.video-box
		+posa
		+tl(50%)
		+transform(translateY(-50%))

		.close
			+posa
			+tr(-10%,3%)
			font-size: 0
			z-index: 1000
			+iw(30,640,100%)

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		// +b($cdn+"img/bg.jpg",no-repeat,center,center,cover,#000)
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.arrow
			+posf
			+bl(2%,50%)
			+transform(translateX(-50%))
			+w(20px)
			+h(20px)
			font-size: 0
			+b($cdn+"img/arrow-black.png",no-repeat,center,center, contain)
			+animation(arrow,2.5s,ease,infinite)
			z-index: 109
			&.right
				+bl(auto,auto)
				+tr(50%,2%)
				+animation(arrow-right,2.5s,ease,infinite)
				// animation: none
			// +bc(#000)
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		&.on
			z-index: 20
			+show
			& + .page
				+show
				& + .page
					+show
		&.overhide
			+overhide
		&.touch
			+touch
		@for $i from 1 through 30
			&.page-#{$i}
				z-index: 20-$i

.page-home
	.homepage
		+w(90%)
		+m
	.logo
		+posa
		+tl(2%,10%)
		+iw(180,640,100%)
.page-news
	.tabs
		+posr
		.tab-1
			.btn
				+posa
				+tr
				+w(50%)
				+h
		.tab-2
			.btn
				+posa
				+tl
				+w(50%)
				+h
.page-video
	.video
		top: 50%
		+transform(translateY(-50%))
.page-last
	.content
		+posa
		top: 50%
		left: (100%-64%)/2
		+transform(translateY(-50%))
		+w(64%)
		.outlink
			+show
			+posa
			+bl(7%)
			+wh(100%,6.5%)
		.btn
			+show
			+posa
			+br
			+wh(100%,6.5%)