.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

/*select, input {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  outline: 0;
}*/
@font-face {
  font-family: 'myCNfont';
  src: url("../font/PingFangSC.ttf");
  font-weight: normal;
  font-style: normal; }
.title, .number, .subtext, .post_number, .result_title, .result_copy, .link_btn {
  font-family: myCNfont; }

html {
  width: 100%;
  font-size: 100px; }

img {
  width: 100%; }

iframe {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0; }

.contanier {
  height: 100%;
  max-width: 640px !important;
  margin: auto; }
  .contanier .page5 {
    position: relative; }
    .contanier .page5 .join_btn {
      cursor: pointer;
      width: 2.8rem;
      height: 0.8rem;
      position: absolute;
      top: 2.2rem;
      left: 50%;
      margin-left: -1.4rem;
      z-index: 99; }
  .contanier .page7 {
    position: relative; }
    .contanier .page7 .dish {
      position: relative;
      padding: 0.12rem 0.22rem;
      height: 2.38rem; }
      .contanier .page7 .dish .dishLeft {
        width: 3.52rem;
        height: 2.38rem;
        float: left; }
        .contanier .page7 .dish .dishLeft .dishLink {
          position: absolute;
          top: 0.12rem;
          left: 0.22rem;
          width: 3.53rem;
          height: 2.38rem;
          display: block; }
        .contanier .page7 .dish .dishLeft .dish_pic {
          width: 3.52rem;
          height: 2.38rem; }
      .contanier .page7 .dish .dish_info {
        text-align: center;
        width: 2.44rem;
        float: left;
        padding-top: 0.1rem; }
        .contanier .page7 .dish .dish_info .dish_makerPic {
          width: 0.76rem;
          height: 0.76rem;
          border-radius: 100%;
          border: 0.02rem #dddddd solid;
          display: block;
          margin: auto; }
        .contanier .page7 .dish .dish_info .user_name {
          font-size: 0.14rem;
          color: #babab7;
          margin-top: 0.06rem; }
        .contanier .page7 .dish .dish_info .dish_name {
          font-size: 0.21rem;
          color: black;
          line-height: 0.22rem;
          margin-top: 0.22rem; }
        .contanier .page7 .dish .dish_info .tips_fakeBtn {
          width: 1.11rem;
          height: 0.23rem;
          border-radius: 0.02rem;
          background-color: #86c12d;
          font-size: 0.13rem;
          color: #ffffff;
          line-height: 0.23rem;
          text-align: center;
          margin-top: 0.18rem;
          margin-left: 0.7rem; }
    .contanier .page7 .tips_btn {
      cursor: pointer;
      width: 1.4rem;
      height: 0.6rem;
      position: absolute;
      bottom: 0.1rem;
      left: 4.2rem;
      z-index: 99; }
    .contanier .page7 .dish_btn {
      cursor: pointer;
      width: 3.8rem;
      height: 2.8rem;
      position: absolute;
      bottom: 0;
      left: 0.1rem;
      z-index: 99; }
  .contanier .page8 {
    position: relative; }
    .contanier .page8 .save_btn {
      cursor: pointer;
      width: 3rem;
      height: 0.8rem;
      position: absolute;
      top: 0.3rem;
      left: 50%;
      margin-left: -1.5rem;
      z-index: 99; }
  .contanier .page3 {
    padding: 0.15rem 0.22rem 0.15rem 0.22rem;
    overflow: hidden; }
    .contanier .page3 .main_video {
      height: 4rem; }
    .contanier .page3 .videos {
      height: 100%;
      margin-left: -0.2rem; }
      .contanier .page3 .videos .small_video {
        width: 2.87rem;
        height: 2.48rem;
        float: left;
        margin-left: 0.2rem;
        text-align: center;
        cursor: pointer; }
        .contanier .page3 .videos .small_video .video_pic {
          display: block; }
          .contanier .page3 .videos .small_video .video_pic .pic_container {
            overflow: hidden; }
        .contanier .page3 .videos .small_video .videoName {
          line-height: 0.28rem;
          font-size: 0.22rem;
          color: #a4a4a4; }
      .contanier .page3 .videos #video_click {
        margin-left: 0.2rem;
        cursor: pointer;
        width: 2.87rem;
        height: 2.48rem;
        float: left; }
      .contanier .page3 .videos .video_back {
        cursor: pointer;
        user-select: none; }
  .contanier .page9 {
    position: relative; }
    .contanier .page9 .lottery_btn {
      cursor: pointer;
      width: 3rem;
      height: 1rem;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      margin-left: -1.5rem;
      z-index: 99; }
  .contanier .lottery_overlay {
    display: none;
    z-index: 9999999;
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 6.4rem;
    position: fixed;
    /* Stay in place */
    top: 0;
    background-color: black;
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/opacity */
    overflow: hidden;
    /* Disable horizontal scroll */ }
    .contanier .lottery_overlay .lottery_conent {
      position: relative;
      height: 100%; }
      .contanier .lottery_overlay .lottery_conent .start {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 5.4rem;
        height: 4rem;
        margin-left: -2.75rem;
        margin-top: -1.9rem; }
        .contanier .lottery_overlay .lottery_conent .start .title {
          font-size: 1.12rem;
          color: #fff; }
        .contanier .lottery_overlay .lottery_conent .start .number {
          margin-top: 0.5rem;
          font-size: 0.22rem;
          color: #fff; }
          .contanier .lottery_overlay .lottery_conent .start .number .input_phone {
            width: 3.85rem;
            height: 0.5rem;
            margin-left: 0.12rem; }
        .contanier .lottery_overlay .lottery_conent .start .subtext {
          margin-top: 0.06rem;
          margin-left: 1rem;
          font-size: 0.16rem;
          color: #fff; }
        .contanier .lottery_overlay .lottery_conent .start .post_number {
          cursor: pointer;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -1.5rem;
          font-size: 0.24rem;
          line-height: 0.6rem;
          width: 3rem;
          height: 0.6rem;
          text-align: center;
          background-color: #86c12d;
          border-radius: 0.04rem;
          color: #fff; }
      .contanier .lottery_overlay .lottery_conent .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -0.45rem;
        margin-top: -0.45rem;
        width: 0.9rem;
        height: 0.9rem;
        display: none; }
      .contanier .lottery_overlay .lottery_conent .result {
        display: none;
        position: absolute;
        top: 30%;
        left: 50%;
        width: 5.4rem;
        height: 5.5rem;
        margin-left: -2.75rem;
        margin-top: -1.9rem; }
        .contanier .lottery_overlay .lottery_conent .result .result_title {
          font-size: 1.1rem;
          color: #fff; }
        .contanier .lottery_overlay .lottery_conent .result .result_copy {
          text-align: center;
          margin-top: 0.2rem;
          font-size: 0.3rem;
          color: #fff; }
        .contanier .lottery_overlay .lottery_conent .result .link_btn {
          cursor: pointer;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -1.5rem;
          font-size: 0.24rem;
          line-height: 0.6rem;
          width: 3rem;
          height: 0.6rem;
          text-align: center;
          background-color: #86c12d;
          border-radius: 0.04rem;
          color: #fff; }
  .contanier .tips_overlay {
    display: none;
    z-index: 9999999;
    height: 100%;
    width: 6.4rem;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; }
    .contanier .tips_overlay .tips_conent .tips_pic {
      width: 6.4rem;
      height: 11.8rem; }
    .contanier .tips_overlay .tips_conent .colseBtn {
      cursor: pointer;
      position: absolute;
      top: 2.3rem;
      right: 0.3rem;
      user-select: none;
      width: 1rem;
      height: 1rem; }
