<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>科颜氏</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="http://image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="load" class="load">
      <div id="loading" v-show="mounted" style="display: none" class="content">
        <div class="bottle"><img src="./img/loading-frame.png">
          <div class="bg"><img src="./img/loading-bg.png"></div>
          <div :style="{transform: 'translate3d(0,-'+(progress/3*1.6)+'%,0)'}" class="wave">
            <div class="img"><img src="./img/loading-wave.png"></div>
            <div class="img"><img src="./img/loading-wave.png"></div>
          </div>
        </div>
        <p class="centeralign">Loading {{progress}}%</p>
      </div>
    </div>
    <div id="main" v-show="mounted" :class="{biger: biger, smaller:smaller}" :style="{width: w+'px',height: h+'px'}" style="display: none" class="main">
      <transition name="page-down">
        <div v-show="noteShow" @click="noteShow = false" class="note-message">
          <div class="note-text">{{noteText}}</div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="loading" class="loading-page">
          <div class="ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 1" class="page page-1">
          <div class="content">
            <div class="clouds">
              <div class="cloud cloud-1">
                <div class="cl"><img src="./img/cloud1.png"></div>
              </div>
              <div class="cloud cloud-2">
                <div class="cl"><img src="./img/cloud2.png"></div>
              </div>
              <div class="cloud cloud-3">
                <div class="cl"><img src="./img/cloud3.png"></div>
              </div>
            </div>
            <div class="homepage-icon">
              <div class="icon bounceIn animated delay-7"><img src="./img/homepage-icon.png"></div>
              <div class="tree fadeIn animated delay-5"><img src="./img/homepage-tree.png"></div>
              <div @click="start" class="btn bounceIn animated delay-9"><img src="./img/btn-start.png"></div>
              <div @click="rankingShow = true" class="btn-info bounceIn animated delay-11">查看排行榜</div>
            </div>
            <div class="ship fadeInLeft animated delay-13"><img src="./img/ship.png"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 3" class="page page-3">
          <div class="content">
            <div class="logo"><img src="./img/hitpage-logo.png"></div>
            <div class="texts">
              <div class="text">
                <p class="fadeInUp animated delay-3">TA在科颜氏极限冲浪挑战赛中</p>
                <p class="fadeInUp animated delay-5">共获得了<span>{{score}}</span>分</p>
                <p class="fadeInUp animated delay-7">成功战胜了全国<span>全国{{hit}}%</span>的玩家！</p>
                <p class="fadeInUp animated delay-9">在挑战极限的路上</p>
                <p class="fadeInUp animated delay-11">科颜氏高保湿面霜和你一起超越自我</p>
              </div>
            </div>
            <div @click="start" class="btn"><img src="./img/btn-hit.png"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 2" :class="{blur: rankingShow}" class="page page-2">
          <div class="content">
            <div id="ugc"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="lotteryShow" class="pop pop-lottery">
          <div class="content">
            <div class="bg"><img src="./img/pop-bg.png">
              <div class="cover"><img src="./img/pop-bg-cover.png"></div>
            </div>
            <div v-show="lotteryInfo.id == null" class="box full">
              <div class="title-faild"><img src="./img/lottery-faild.png"></div>
              <div @click="regame" class="btn btn-regame"><img src="./img/btn-again.png"></div>
              <div @click="gobuy" class="btn btn-buy"><img src="./img/btn-buy.png"></div>
              <div class="more"><img src="./img/lottery-faild-more.png"></div>
            </div>
            <div v-show="lotteryInfo.id != null &amp;&amp; lotteryEndShow" class="box full">
              <div class="title-faild"><img src="./img/lottery-title-success.png"></div>
              <form-grounp v-bind:form="form" v-on:submit="submit"></form-grounp>
              <div class="more"><img src="./img/lottery-note.png"></div>
            </div>
            <div v-show="lotteryInfo.id != null &amp;&amp; !lotteryEndShow" class="box full">
              <div class="title-faild"><img src="./img/lottery-success.png"></div>
              <div @click="gobuy" class="btn btn-buy"><img src="./img/btn-buy.png"></div>
              <div class="more"><img src="./img/lottery-faild-more.png"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="registerShow" class="pop pop-register">
          <div class="content">
            <div class="bg"><img src="./img/pop-bg.png"></div>
            <div class="box">
              <div class="title"><img src="./img/pop-title.png"></div>
              <div class="form">
                <div class="form-group">
                  <input type="text" v-reset-input placeholder="点击输入姓名" v-model="nickname">
                </div>
              </div>
              <div class="title-sex"><img src="./img/pop-title-sex.png"></div>
              <div class="sexs">
                <div :class="{on: (sex == 1)}" @click="sex = 1" class="item male"><img src="./img/pop-male.png"></div>
                <div :class="{on: (sex == 2)}" @click="sex = 2" class="item female"><img src="./img/pop-female.png"></div>
              </div>
              <div @click="startGame" class="btn"><img src="./img/btn-select.png"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="shareNotePage" @click="shareNotePage = false" class="pop pop-note">
          <div class="content"><img src="./img/sharenote.png"></div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="rankingShow" :class="{end: gameEnd}" class="pop pop-ranking">
          <div class="content">
            <div class="title"><img src="./img/ranking-title.png">
              <p>共获得了<span>{{score}}</span>分</p>
              <p>成功战胜了<span>全国{{hit}}%</span>的玩家！</p>
            </div>
            <div class="ranking-title"><img src="./img/ranking-title-sub.png"></div>
            <ul class="ranking-list">
              <li v-for="v,index in list" :class="{on: v.id == insertId}"><span class="numb">No.{{index+1}}</span><span class="name">{{v.nickname}}</span><span class="score">{{v.score}}分</span></li>
            </ul>
            <div class="btns">
              <div @click="regame" class="btn btn-reload"><img src="./img/btn-regame.png"></div>
              <div @click="shareWeb" class="btn btn-share"><img src="./img/btn-share.png"></div>
            </div>
            <div @click="rankingShow = false" class="btn-close"><img src="./img/icon-close.png"></div>
          </div>
        </div>
      </transition>
      <div v-show="ugcShow" class="pop flashcamera">
        <div class="content">
          <div class="small-size">
            <div @click="closeUGC" class="close"><img src="./img/icon-close.png"></div><img :src="ugc">
            <div class="note">长按保存图片</div>
          </div>
        </div>
      </div>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/pixi.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/ntes.id.js"></script>
    <script src="js/public_funciton.js"></script>
    <script src="js/build.js?v=1"></script>
    <script src="js/main.js?v=1"></script>
    <script src="js/ani.js?v=1"></script>
  </body>
</html>