* {
  padding: 0;
  margin: 0; }

html, body, div, img, span, a, table, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1 {
  font-family: fzltzh;
  font-weight: bold;
  font-size: 0.54rem;
  line-height: 0.54rem;
  text-align: left;
  color: black; }

.h1-line {
  margin-top: 0.32rem;
  width: 0.74rem;
  height: 0.02rem;
  background-color: black; }

.content {
  padding-top: 1.02rem; }

.swiper-wrapper {
  transition-timing-function: cubic-bezier(1, 0.01, 0.56, 0.91) !important; }

li {
  list-style: none; }

div {
  box-sizing: border-box;
  background-size: 100% 100%; }

.pa {
  position: absolute; }

.pr {
  position: relative; }

.pf {
  position: fixed; }

.dn {
  display: none; }

.db {
  display: block; }

.cp {
  cursor: pointer; }

.full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fulljustify {
  text-align: justify; }

.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%; }

.contanier {
  text-align: center;
  color: #1b7339;
  font-size: 0.28rem;
  padding-bottom: 1rem; }

img {
  width: 100%;
  height: 100%; }

.weather-con {
  padding: 0.28rem 0.36rem;
  background: url("../img/top-bg.jpg") no-repeat;
  background-size: cover;
  background-position-y: -1.33rem; }
  .weather-con .today-status {
    margin-top: 0.98rem;
    font-size: 0.66rem; }
  .weather-con .tips {
    margin-top: 0.6rem; }

.today-detail-con {
  width: 100%;
  height: 1.47rem;
  background: url("../img/detail-bg.jpg") no-repeat;
  background-size: cover;
  padding: 0.3rem 0.36rem 0 0.36rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  color: #fff; }
  .today-detail-con .today {
    font-size: 0.36rem;
    text-align: left; }
  .today-detail-con .today-tem, .today-detail-con .nums {
    font-size: 0.6rem;
    line-height: 0.6rem;
    font-weight: bolder; }
  .today-detail-con .cloud-bar {
    width: 0.9rem; }
  .today-detail-con .white-line {
    width: 0.02rem;
    height: 0.82rem;
    background-color: white; }
  .today-detail-con .today-air-condition .pm2-5-con .pm2-5 {
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: white; }
  .today-detail-con .today-air-condition .air-bar {
    width: 1.9rem; }
  .today-detail-con .bar {
    margin-top: 0.06rem;
    font-size: 0.2rem;
    background-color: white;
    color: #1b7339;
    text-align: center;
    line-height: 0.26rem;
    border-radius: 0.14rem;
    height: 0.26rem;
    letter-spacing: 0.02rem; }

.banner {
  width: 100%;
  height: 3.1rem;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover; }

.buy-con {
  padding: 0.33rem 0 0.42rem 0;
  background-color: white; }
  .buy-con .buyES-img {
    width: 100%;
    height: 1.09rem; }
  .buy-con .btns-con {
    margin-top: 0.22rem;
    padding: 0 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .buy-con .btns-con .space {
      width: 0.34rem; }
    .buy-con .btns-con .btn {
      width: 2.47rem;
      height: 0.55rem;
      background: url("../img/btn-bg.png") no-repeat;
      background-size: cover;
      color: white;
      font-size: 0.22rem;
      text-align: center;
      line-height: 0.55rem; }

.class-con .title {
  width: 100%;
  height: 1rem;
  background: url("../img/class-title.jpg") no-repeat;
  background-size: cover; }
.class-con .questions-con {
  padding: 0 0.36rem; }
  .class-con .questions-con a {
    display: block; }
  .class-con .questions-con .question {
    width: 100%;
    height: 0.66rem;
    text-align: left;
    border-bottom: #1b7339 solid 1px; }
  .class-con .questions-con .text {
    padding-left: 0.1rem;
    padding-top: 0.2rem;
    font-size: 0.28rem;
    color: #1b7339;
    letter-spacing: 0.02rem; }

/*# sourceMappingURL=index.css.map */
