* {
  padding: 0;
  margin: 0; }

html, body, div, img, span, a, table, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1 {
  font-family: fzltzh;
  font-weight: bold;
  font-size: 0.54rem;
  line-height: 0.54rem;
  text-align: left;
  color: black; }

.h1-line {
  margin-top: 0.32rem;
  width: 0.74rem;
  height: 0.02rem;
  background-color: black; }

.swiper-wrapper {
  transition-timing-function: cubic-bezier(1, 0.01, 0.56, 0.91) !important; }

li {
  list-style: none; }

div {
  box-sizing: border-box;
  background-size: 100% 100%; }

.pa {
  position: absolute; }

.pr {
  position: relative; }

.pf {
  position: fixed; }

.dn {
  display: none; }

.db {
  display: block; }

.cp {
  cursor: pointer; }

.full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fulljustify {
  text-align: justify; }

.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%; }

* {
  padding: 0;
  margin: 0; }

html, body, div, img, span, a, table, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1 {
  font-family: fzltzh;
  font-weight: bold;
  font-size: 0.54rem;
  line-height: 0.54rem;
  text-align: left;
  color: black; }

.h1-line {
  margin-top: 0.32rem;
  width: 0.74rem;
  height: 0.02rem;
  background-color: black; }

.swiper-wrapper {
  transition-timing-function: cubic-bezier(1, 0.01, 0.56, 0.91) !important; }

li {
  list-style: none; }

div {
  box-sizing: border-box;
  background-size: 100% 100%; }

.pa {
  position: absolute; }

.pr {
  position: relative; }

.pf {
  position: fixed; }

.dn {
  display: none; }

.db {
  display: block; }

.cp {
  cursor: pointer; }

.full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fulljustify {
  text-align: justify; }

.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%; }

.loading-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }
  .loading-con .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.08rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.3rem; }

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 0.64rem;
  height: 0.64rem; }

.lds-spinner div {
  transform-origin: 0.32rem 0.32rem;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.03rem;
  left: 0.29rem;
  width: 0.05rem;
  height: 0.14rem;
  border-radius: 20%;
  background: #fff; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.contanier {
  text-align: center;
  color: #1b7339;
  font-size: 0.28rem;
  padding-bottom: 1rem; }

img {
  height: 100%; }

.weather-con {
  padding: 0.28rem 0.36rem;
  background: url("//image.giccoo.com/projects/omp-moji/img/top-bg.jpg") no-repeat;
  background-size: cover;
  background-position-y: -1.33rem; }
  .weather-con .wind {
    margin-left: 0.12rem; }
  .weather-con .today-status {
    margin-top: 0.98rem;
    font-size: 0.66rem; }
  .weather-con .tips {
    margin-top: 0.6rem; }

.today-detail-con {
  width: 100%;
  height: 1.47rem;
  background: url("//image.giccoo.com/projects/omp-moji/img/detail-bg.jpg") no-repeat;
  background-size: cover;
  padding: 0.3rem 0.36rem 0 0.36rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  color: #fff; }
  .today-detail-con .today {
    font-size: 0.36rem;
    text-align: left; }
  .today-detail-con .today-tem, .today-detail-con .nums {
    font-size: 0.6rem;
    line-height: 0.6rem;
    font-weight: bolder; }
  .today-detail-con .cloud-bar {
    width: 0.9rem; }
  .today-detail-con .white-line {
    width: 0.02rem;
    height: 0.82rem;
    background-color: white; }
  .today-detail-con .today-air-condition .pm2-5-con .pm2-5 {
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: white; }
  .today-detail-con .today-air-condition .air-bar {
    width: 1.9rem; }
  .today-detail-con .bar {
    margin-top: 0.06rem;
    font-size: 0.2rem;
    background-color: white;
    color: #1b7339;
    text-align: center;
    line-height: 0.26rem;
    border-radius: 0.14rem;
    height: 0.26rem;
    letter-spacing: 0.02rem; }

.banner {
  width: 100%;
  height: 3.1rem;
  background: url("//image.giccoo.com/projects/omp-moji/img/banner.jpg") no-repeat;
  background-size: cover; }

.buy-con {
  padding: 0.33rem 0 0.42rem 0;
  background-color: white; }
  .buy-con .storeCon .buyES-img {
    height: 0.86rem; }
  .buy-con .storeCon .buy-text {
    font-size: 0.24rem;
    color: #1b7339;
    text-align: center; }
  .buy-con .btns-con {
    margin-top: 0.22rem;
    padding: 0 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .buy-con .btns-con .space {
      width: 0.34rem; }
    .buy-con .btns-con .btn {
      width: 2.47rem;
      height: 0.55rem;
      background: url("//image.giccoo.com/projects/omp-moji/img/btn-bg.png") no-repeat;
      background-size: cover;
      color: white;
      font-size: 0.22rem;
      text-align: center;
      line-height: 0.55rem; }

.class-con .title {
  width: 100%;
  height: 1rem;
  background: url("//image.giccoo.com/projects/omp-moji/img/class-title.jpg") no-repeat;
  background-size: cover; }
.class-con .questions-con {
  padding: 0 0.36rem; }
  .class-con .questions-con a {
    display: block; }
  .class-con .questions-con .question {
    width: 100%;
    height: 0.66rem;
    text-align: left;
    border-bottom: #1b7339 solid 1px; }
  .class-con .questions-con .text {
    padding-left: 0.1rem;
    padding-top: 0.2rem;
    font-size: 0.28rem;
    color: #1b7339;
    letter-spacing: 0.02rem; }

.popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  transition: all 0.6s; }
  .popUp .pop-con {
    height: 100%;
    background: url("//image.giccoo.com/projects/omp-moji/img/pop.jpg") no-repeat;
    background-size: 100% auto;
    padding: 1.2rem 0.9rem; }
    .popUp .pop-con .wrapper {
      width: 100%;
      height: 8rem;
      overflow: hidden;
      position: relative; }
      .popUp .pop-con .wrapper .content {
        padding-right: 0.4rem; }
        .popUp .pop-con .wrapper .content .storeItem {
          margin-bottom: 0.35rem;
          color: white;
          text-align: left; }
          .popUp .pop-con .wrapper .content .storeItem .store-name {
            font-size: 0.26rem; }
          .popUp .pop-con .wrapper .content .storeItem .address {
            font-size: 0.2rem; }
    .popUp .pop-con .bscroll-vertical-scrollbar {
      width: 0.04rem;
      background: #22b25a; }
    .popUp .pop-con .bscroll-indicator {
      width: 0.08rem;
      border: none;
      background: #22b25a; }
    .popUp .pop-con .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1rem;
      height: 1rem; }

.bar-con {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 100%;
  padding: 0 0.34rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .bar-con .store-logo {
    height: 0.8rem; }
  .bar-con .static-text {
    font-size: 0.28rem;
    color: #1b7339;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
