// @import "reset"
@import "normalize"
@import "helper"
@import "screen"
// @import animation
// @import slider
.clearfix:after
	content: "."
	display: block
	height: 0
	clear: both
	visibility: hidden

img
	max-width: 100%

