<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>我的时代金曲</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="http://image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="public" class="public">
      <player icon="true" src="./mp3/bgm.mp3" loop="true">
        <div class="note-text"><img src="./img/bgm-text.png"></div>
      </player>
    </div>
    <div id="load" class="load">
      <div id="loading" v-show="mounted" style="display: none" class="content">
        <div class="box"></div>
        <div class="text-content">
          <p class="centeralign">{{progress}}%</p><img src="./img/load-text.png">
        </div>
      </div>
    </div>
    <div id="main" v-show="mounted" :class="{biger: biger, smaller:smaller}" :style="{width: w+'px',height: h+'px'}" style="display: none" @touchstart="startGame" class="main">
      <transition name="page-fade">   
        <div v-show="logo" class="logo"><img src="./img/logo.png"></div>
      </transition>
      <transition name="page-down">
        <div v-show="noteShow" @click="noteShow = false" class="note-message">
          <div class="note-text">{{noteText}}</div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="loading" class="loading-page">
          <div class="content">
            <div class="loading-icon"><img src="./img/loading-icon.png"></div>
            <div class="btns"><img src="./img/loading-btn.png">
              <div @click="goBack" class="btn btn-back"></div>
              <div @click="goMore" class="btn btn-more"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 1" class="page page-1">
          <div class="content">
            <div class="mark"></div>
            <div class="book"><img src="./img/bookc.png"></div>
            <div @click="pageIndex = 2" class="btn-start"><img src="./img/btn-start.png"></div>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 2" class="page page-2">
          <div class="content">
            <div class="mark"></div>
            <div v-show="yearName != 'none'" :class="'year-'+yearName" class="mark-year"></div>
            <div class="book"><img src="./img/book.png">
              <transition name="page-fade">
                <div v-show="step == 2" class="selectSection">
                  <div class="title"><img src="./img/select-title.png"></div>
                  <slider @number="number" class="slider-box">
                    <template slot="outside" slot-scope="slotProps">
                      <div @click="prev" class="left"><img src="./img/arrow.png"></div>
                      <div @click="next" class="right"><img src="./img/arrow.png"></div>
                    </template>
                    <template slot-scope="slotProps">
                      <div class="slide"><img src="./img/pic-1.png"></div>
                      <div class="slide"><img src="./img/pic-2.png"></div>
                      <div class="slide"><img src="./img/pic-3.png"></div>
                      <div class="slide"><img src="./img/pic-4.png"></div>
                      <div class="slide"><img src="./img/pic-5.png"></div>
                    </template>
                    <template slot="points" slot-scope="slotProps">
                      <div class="points"><span :class="{on: -slotProps.slideNumber == 0}"></span><span :class="{on: -slotProps.slideNumber == 1}"></span><span :class="{on: -slotProps.slideNumber == 2}"></span><span :class="{on: -slotProps.slideNumber == 3}"></span><span :class="{on: -slotProps.slideNumber == 4}"></span>
                      </div>
                    </template>
                  </slider>
                  <div @click="select" class="btn"><img src="./img/btn-select.png"></div>
                  <div class="note-text"><img src="./img/note-text.png"></div>
                </div>
              </transition>
              <transition name="page-fade">
                <div v-show="step == 3" class="inputSection">
                  <div class="title"><img :src="'./img/input-title-'+(carIndex+1)+'.png'"></div><img src="./img/line.png">
                  <div class="nickname">
                    <input type="text" v-model="nickname" placeholder="点击输入姓名">
                  </div>
                  <div class="message">
                    <textarea v-model="message" placeholder="我想对那时的TA说
（留言限制在100个字符内）"></textarea>
                    <div class="length">{{message.length}}/100</div>
                  </div>
                  <div @click="build" class="btn"><img src="./img/btn-build.png"></div>
                  <div class="note-text"><img src="./img/note-text.png"></div>
                </div>
              </transition>
            </div>
            <transition name="page-fade">
              <div v-show="step == 1" class="btns">
                <div @click="openYear('80')" class="btn fadeInLeft animated delay-3 btn-1"><img src="./img/btn-year-80.png"></div>
                <div @click="openYear('90')" class="btn fadeInLeft animated delay-5 btn-2"><img src="./img/btn-year-90.png"></div>
                <div @click="openYear('00')" class="btn fadeInLeft animated delay-7 btn-3"><img src="./img/btn-year-00.png"></div>
              </div>
            </transition>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 3" class="page page-3">
          <div id="manhua" class="content">
            <div class="arrow"><img v-if="yearName != 'none'" :src="'./img/arrow-'+yearName+'.png'"></div>
            <div class="box"><img v-if="yearName != 'none'" :src="'./img/long-'+yearName+'.jpg'">
              <div @click="goStep2" class="btn"><img src="./img/btn-find.png"></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 4" class="page page-4">
          <div class="content">
            <div id="ugc"></div>
          </div>
        </div>
      </transition>
      <div v-show="ugcShow" class="pop flashcamera">
        <div class="content">
          <div class="small-size">
            <div @click="closeUGC" class="close"><img src="./img/icon-close.png"></div><img :src="ugc">
            <div class="note">长按保存图片</div>
          </div>
        </div>
      </div>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/pixi.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/ntes.id.js"></script>
    <script src="js/public_funciton.js"></script>
    <script src="js/build.js?v=1"></script>
    <script src="js/main.js?v=1"></script>
    <script src="js/ani.js?v=1"></script>
  </body>
</html>