html,
body {
  height: 100%;
  font-family: 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
  font-size: 16;
}
input,
select,
textarea {
  font-family: 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
