.inline-block() {
    display: inline-block;
}
.ie-inline-block() {
    *display: inline;
    *zoom: 1;
}
.inline-block() when (@support-old-ie) {
    .ie-inline-block;
}
.left() {
    float:left;
}
.right() {
    float:right;
}
.t-left() {
    text-align: left;
}
.t-right() {
    text-align: right;
}
// margin and padding
.mp(@m : 0 auto,@p : 0px) {
    margin:@m;
    padding:@p;
}
// width and height
.wh(@w : auto,@h : auto) {
    width: @w;
    height: @h;
}
// top and left
.pos(@x: absolute) {
    position: @x;
}
.pcenter(@w: 100px,@h:40px){
    .tl(50%,50%);
    .wh(@w,@h);
    margin:-@h/2 0px 0px -@w/2;
}
.tl(@t : 0px,@l : 0px,@x : absolute) {
    .pos(@x);
    top:@t;
    left:@l;
}
// top and right
.tr(@t : 0px,@r : 0px,@x : absolute) {
    .pos(@x);
    top:@t;
    right:@r;
}
// 
.bl(@t : 0px,@l : 0px,@x : absolute) {
    .pos(@x);
    bottom:@t;
    left:@l;
}
.br(@t : 0px,@r : 0px,@x : absolute) {
    .pos(@x);
    bottom:@t;
    right:@r;
}
// top and bottom
.tb(@t : 0px,@b : 0px,@x : absolute) {
    .pos(@x);
    top: @t;
    bottom: @b;
}
// left and right
.lr(@l : 0px,@r : 0px,@x : absolute) {
    .pos(@x);
    left: @l;
    right: @r;
}
// background
.b(@url : "../img/bg.jpg",@r : no-repeat,@t : top,@l : left,@c : transparent) {
    background: url(@url) @r @t @l;
    background-color: @c;
}
// border-radius
.border-radius(@radius: @default-border-radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
.border-radius(@radius-x, @radius-y) {
    .border-radius(@radius-x ~`"/"` @radius-y);
}
// placeholder
.placeholder(@color: @default-input-placeholder-color) {
    &:-moz-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
        color: @color;
    }
    &::-webkit-input-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
}
.opacity(@op : 0) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}

.dis-box {
    display: box;
    display: -moz-box;
    display: -webkit-box; 
}

.dis-box-flex(@n : 1) {
    -moz-box-flex:@n;
    -webkit-box-flex:@n;
    box-flex:@n;
}

.bcl(@t : @cw ,@b : @cb) {
    background-color: @t;
    *background-color: @b;
    background-image: -moz-linear-gradient(top, @t, @b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@t), to(@b));
    background-image: -webkit-linear-gradient(top, @t, @b);
    background-image: -o-linear-gradient(top, @t, @b);
    background-image: linear-gradient(to bottom, @t, @b);
    background-repeat: repeat-x;
}
.no-bullet() {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

.no-bullets() {
    list-style: none;
    li {
        .no-bullet();
    }
}
.no-text() {
    text-indent: -9999em;
}

.tram (@style: all,@time: .5s,@anims: ease){ 
    -moz-transition: @style @time @anims ;
    -webkit-transition: @style @time @anims ;
    -o-transition: @style @time @anims ;
    transition: @style @time @anims ; 
}

.tran(@m) {
    -webkit-transform: @m;
    -moz-transform: @m;
    -ms-transform: @m;
    -o-transform: @m;
    transform: @m;
} 

.hover-link() {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.unstyled-link() {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    &:active, &:focus {
        outline: none;
    }
}
// font-face
.font-face(@family-name, @font-path, @font-weight : normal, @font-style : normal, @include-svg : false) when not (@include-svg) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.eot');
        src: url('@{font-path}.eot?#iefix') format('embedded-opentype'),
             url('@{font-path}.woff') format('woff'),
             url('@{font-path}.ttf') format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face(@family-name, @font-path, @font-weight : normal, @font-style : normal, @include-svg : false) when (@include-svg) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.eot');
        src: url('@{font-path}.eot?#iefix') format('embedded-opentype'),
             url('@{font-path}.woff') format('woff'),
             url('@{font-path}.ttf') format('truetype'),
             url('@{font-path}.svg#@{family-name}') format('svg');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.show {
    display: block !important;
    visibility: visible;
} 

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}