*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;background-color: #000;}
.wechat-share {  position: absolute;  top: -1000px;  left: 0px;  z-index: -100;  width: 1px; height: 1px;opacity: 0;}
.content{position: absolute;width: 100%;height: 100%;overflow: hidden;}
.bg{position: absolute;	width: 100%;	top: 50%;	transform:translate3d(0,-50%,0);	-webkit-transform:translate3d(0,-50%,0);}
.logo{position: absolute;width: 100%;}
.page{
	position: absolute;width: 100%;height: 100%;overflow: hidden;display: none;
}
#mateBook{
	position: absolute;
	width: 100%;
	top: 48%;
	left: 50%;
	transform:translate3d(-72%,-0%,0) scaleX(1.2) scaleY(1.2);
	-webkit-transform:translate3d(-72%,-0%,0) scaleX(1.2) scaleY(1.2);
}
.zz{
	position: absolute;
	width: 106.606%;
	transform:translate3d(0%,-50%,0);	-webkit-transform:translate3d(0%,-50%,0);
	display: none;
}
#btn1{
	position: absolute;
	width: 100%;
	top: 88%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);	-webkit-transform:translate3d(-50%,-50%,0);
}
#p1t{
	position: absolute;
	width: 100%;
	top: 70%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);	-webkit-transform:translate3d(-50%,-50%,0);
}
.bottomT{
	position: absolute;
	width: 100%;
	bottom: 0%;
	display: none;
	opacity: 0;
}
.p2t{
	position: absolute;
	width: 100%;
	top: 73%;
	left: 50%;
	opacity: 0;
	transform:translate3d(-50%,-50%,0);	-webkit-transform:translate3d(-50%,-50%,0);
	display: none;
}
#btnRule{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	text-decoration: underline;
	top: 77%;
	font-size: 0.9em;
	display: none;
}
#theRule{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;

}
.blackBG{
	position: absolute;
	width: 100%;
	height: 70%;
	top: 15%;
	background-color: #000;
	opacity: 0.8;
}
.rulePage{
	position: absolute;
	width: 100%;
	height: 75%;
	top: 10%;
	overflow: scroll;
	padding-top: 0em;
	padding-bottom: 0em;
	background-color: #000;
}
p{
	font-size: 1.1em;
	color: #fff;
	margin-top: 2em;
	margin-bottom: 0em;
	margin-left: 2em;
	margin-right: 2em;
	line-height: 1.4em;
	text-align: justify;
}
li{
	font-size: 1.1em;
	color: #fff;
	line-height: 1.4em;
	margin-left: 3em;
	margin-right: 2em;
	text-align: justify;
	/*list-style-type: none;*/
}
ul{
	text-indent: -3em;
	list-style-type: none;
	margin-left: 1.5em;
}
#btnCloseRule{
	color: #fff;
	font-size: 1.2em;
	position: absolute;
	top: 10%;
	right: 0%;
	transform:translate3d(-50%,40%,0);
	-webkit-transform:translate3d(-50%,40%,0);
	font-family: Helvetica;
}
#prints{
	position: absolute;
	width: 11.1%;
	top: 36.5%;
	right: 8%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
	display: none;
}
.alpha0{
	position: absolute;
	width: 100%;
	opacity: 0%;
}
#btnStart2{
	height: 60%;
	top: 17%;
}
#pc{
	position: absolute;
	width: 71.25%;
	left: 50%;
	top: 52%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
}
#p3t{
	position: absolute;
	width: 100%;
	top: 8%;
}
.card{
	position: absolute;
	width: 10%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
	top: 45%;
}
#card1{	left: 32%;}
#card2{	left: 44%;}
#card3{	left: 56%;}
#card4{	left: 68%;}
#pen{
	position: absolute;
	width: 15.3125%;
	top: 90%;
	left: 50%;
	transform:translate3d(0%,-100%,0);
	-webkit-transform:translate3d(0%,-100%,0);
}
#ooo{
	position: absolute;
	width: 13.75%;
	top: 90%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
}
#p3hint{
	position: absolute;
	width: 100%;
	top: 93%;
	color: #fff;
	font-size: .8em;
	text-align: center;
}
.yesno{
	position: absolute;
	width: 71.25%;
	left: 50%;
	top: 49%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
	display: none;
}
.blackBGall{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
	opacity: 0;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.bottomT2{
	position: absolute;
	width: 100%;
	bottom: 0%;
	display: none;
	opacity: 0;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.timeLeft{
	position: absolute;
	width: 100%;
	top: 49%;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	z-index: 101;
	display: none;
}
.p4t{
	position: absolute;
	width: 100%;
/*	z-index: 200;*/
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
#p4t1{
	top: 10%;
}
#p4t2{
	bottom: 0%;
}
#p4btn{
	top: 66%;
}
.game{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform:translate3d(-50%,-51%,0);
	-webkit-transform:translate3d(-50%,-51%,0);
	display: none;
}
#gameBG{
	width: 100%;
	opacity: 0;
}
.gameAll{
	position: absolute;
	width: 100%;
	top: 42%;
	left: 50%;
	transform:translate3d(-50%,-45%,0);
	-webkit-transform:translate3d(-50%,-45%,0);
	overflow: hidden;
}