@font-face {
    font-family: "MHGBLU";
    src: url("MHGBLU.eot"); /* IE9 */
    src: url("MHGBLU.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("MHGBLU.woff") format("woff"), /* chrome、firefox */
    url("MHGBLU.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("MHGBLU.svg#MHGBLU") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


