*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;position: relative;overflow:hidden;}
img{ width: 100%; }
.wechat-share {  position: absolute;  top: -1000px;  left: 0px;  z-index: -100;  width: 1px; }


/*
透视效果 不加body上
			perspective:300;
	-webkit-perspective: 300;
			transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;


		-webkit-transform: translate3d(-50%, -50%, 0);
       		transform: translate3d(-50%, -50%, 0);


点击不显黑框
      	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;*/

#mainCanvas{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 0;
}
.alphaBtn{
	position: absolute;
	background-color: #764822;
	opacity: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
	display: none;
}
.topPart{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
#logo{
	opacity: 0;
}
.Lbtn{
	width: 20%;
	height: 40%;
	top: 30%;
}
.Rbtn{
	width: 20%;
	height: 40%;
	top: 30%;
	right: 0;
}
#step1Nextbtn{
	width: 30%;
	height: 20%;
	left: 35%;
	bottom: 0;
}
#step1Backbtn{
	width: 30%;
	height: 20%;
	left: 20%;
	bottom: 0;
}
#pngHolder{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
}
.bottomPart{
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 0;
}
#endBtn111{
	display: none;
}
#endBtn222{
	display: none;
}
.endbtns{
	width: 22%;
	height: 17%;
	bottom: 0;
}
#endBtn1{
	left: 17%;
}
#endBtn2{
	left: 39%;
}
#endBtn3{
	left: 61%;
}
#shareHint{
	position: absolute;
	background-color: #000000;
	opacity: .8;
	width: 100%;
	height: 100%;
	display: none;
}
#screenHint{
	position: absolute;
	background-color: #000000;
	opacity: .8;
	width: 100%;
	height: 100%;
	display: none;
}
.musicBtn{
	position: absolute;
	width: 12.35%;
	top: 0;
	right: 0;
	-webkit-tap-highlight-color: transparent;
			tap-highlight-color: transparent;
}
#musicOff{
	opacity: 1;
}