extends ../libs/jade/layout-ng
block title
	| 送你一个 Iwatch
block css
	link(rel="stylesheet",href="/shrimp/css/base.css")

block content
	div.wrap(ng-controller="MainController")
		
		div.view-animate(ng-view)
		div#loading.loading.loaded
			div.loading-logo
				div.loading-logo-bg
				img(src="../libs/img/loading.png")


block ng-template
	script(type="text/ng-template",id="home.html")
		div Homepage
		a(href="#/share") goto share
	script(type="text/ng-template",id="share.html")
		div Share
		a(href="#/") goto Homepage
	script(type="text/ng-template",id="slider.html")
		


block js
	script(src="/libs/js/Zepto.min.js",type="text/javascript")
	script(src="/libs/js/angular.min.js",type="text/javascript")
	script(src="/libs/js/angular-route.min.js",type="text/javascript")
	script(src="/libs/js/angular-touch.min.js",type="text/javascript")
	script(src="/libs/js/angular-animate.min.js",type="text/javascript")
	script(src="/iwatch/js/base.js",type="text/javascript")