<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>一首歌，一段老友情</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="http://image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div class="load"></div>
    <audio id="bgm" src="http://image.giccoo.com/projects/corona/mp3/bgm.mp3" loop="true"></audio>
    <div id="page-image" v-show="show" style="display: none" class="page page-view-img"><a href="http://m.giccoo.com/corona/" class="back"><img src="./img/icon-back.png"></a>
      <div class="content"><img id="view-img"></div>
    </div>
    <div id="main" v-show="mount" style="display: none" class="main">
      <div class="logo-main"><img src="./img/logo.png"></div>
      <div class="player-fix">
        <div :class="{on: playing}" class="cursor"><img src="./img/music-touch.png"></div>
        <div :class="{on: playing}" @click="playing = !playing" class="record"><img src="./img/music.png"></div>
      </div>
      <div class="page page-home">
        <div @click="animate = true,animatend = true" class="btn btn-enter"></div>
        <div class="text f0"><img src="./img/home-text.png"></div>
      </div>
      <div v-show="animate" class="page page-animate">
        <div class="item animte-frame-1 duration-10 fadeInBig animated delay-0"></div>
        <div class="item animte-frame-2 duration-10 fadeInBig animated delay-25"></div>
        <div class="item animte-frame-3 duration-10 fadeInBig animated delay-50"></div>
        <div class="item animte-frame-4 duration-10 fadeInBig animated delay-75">
          <div class="text fadeOutUp duration-15 animated delay-125"><img src="./img/animate-bg-text.png"></div>
          <div class="sunlight fadeInUp duration-10 animated delay-125"></div>
          <div class="people fadeInUp durantion-12 animated delay-132"><img src="./img/animate-2-2.png"></div>
          <div id="btn-build-show" v-show="buildshow == false" @click="if (!animatend) {buildshow = true}" class="text-1 fadeInUp duration-10 animated delay-136"><img src="./img/animate-2-3.png"></div>
          <div v-show="buildshow == false" class="text-2 fadeInUp duration-10 animated delay-138"><img src="./img/animate-2-4.png"></div>
          <div v-show="buildshow == false" class="text-3 fadeInUp duration-10 animated delay-140"><img src="./img/animate-2-5.png"></div>
        </div>
      </div>
      <transition name="page-animation">
        <div v-show="buildshow &amp;&amp; buildstep == 1" class="page page-build">
          <div class="build build-1">
            <div class="title f0"><img :src="'./img/page-build-music-title.png'"></div>
            <div class="input">
              <input v-model="musicname" @focus="focus" @blur="blur">
            </div>
            <div class="title f0"><img :src="'./img/page-build-topic-title.png'"></div>
            <div class="input">
              <textarea v-model="topic" @focus="focusArea" @blur="blurArea"></textarea>
            </div>
            <div @click="reload" class="reload"><img :src="'./img/reload.png'"></div>
            <div @click="gobuild" class="btn btn-next"><img :src="'./img/btn-next.png'"></div>
            <div @click="pop = true" class="btn btn-pop">
              <p>* 活动奖品及细则</p>
            </div>
          </div>
          <div v-show="pop" class="pop fadeInUp animated duration-10">
            <div @click="pop = false" class="close"><img :src="'./img/close.jpg'"></div>
            <div class="content touch f0"><img :src="'./img/pop-info.jpg'">
              <div class="texts">
                <h3>四、活动规则：</h3>
                <p>1、2018年2月6日至2018年2月11日期间，用户可以通过网易云音乐平台的科罗娜H5参与互动，分享后赢取好礼。</p>
                <p>2、抽奖结果将在H5页面即时揭晓，如因任何原因未填写成功则将自动失去获奖资格。</p>
                <p>3、兑奖方式：</p>
                <p>主办方将会在活动结束后的40个工作日内，将相应奖品根据消费者填报的具体地址和信息发货。</p>
                <p>如主办方无法联系上中奖消费者领取以上奖项，则视消费者自动放弃获奖资格。</p>
                <h3>五、本次活动由百威英博（中国）销售有限公司主办。</h3>
                <h3>六、领奖规则：</h3>
                <p>1、 消费者在活动网站提交信息后用户将不能对个人信息进行修改，所有个人信息将作为获奖后领奖的凭证； </p>
                <p>2、 本次活动奖品个人所得税由获奖者自理，活动主办方有权按照中华人民共和国个人所得税法的有关规定，代扣代缴获奖者在本次活动中依法应当缴纳的个人所得税；</p>
                <p>3、 所有奖品以实物为准，不得再行转让或用于任何其他商业目的，所有奖品     仅限于个人使用，兑奖后不提供任何退换服务。</p>
                <h3>七、其他说明：</h3>
                <p>1、 活动参与者理解并同意，活动参与者本人在参加本活动前已完整阅读了本活动规则（包括活动网站的规则）；对活动规则已完全理解并全部同意。活动参与者保证，在活动过程中，将完全遵照活动规则的规定参与活动；凡在本此活动中涉嫌使用不正当手段者，或主办方确有证据证明认为其有舞弊或其他不正当行为的活动参与者，主办方有权取消其参与活动、兑换奖品的权利。如有违反活动规则的恶意刷票、破坏等行为，会对涉事账号进行封号和取消活动资格处理。</p>
                <p>本活动仅限个人参与，参与者需年满 18 周岁（以本活动开始之日起为准），且具有完全民事行为能力。</p>
                <p>主办方承诺根据中华人民共和国相关法律法规的规定就参与方参加本次活动而提供的信息予以保密。</p>
                <p>获奖者需提供照片并同意其姓名、肖像等信息被用于活动网站及相关的活动展示，所有获奖者的姓名及地区信息将被公布，获奖者应按照主办方要求签署有关授权文件及与活动有关的必要文件，否则视为自动放弃中奖资格。</p>
                <p>参加活动的消费者如发现有任何舞弊、欺诈或非真实交易的情形，主办方有权取消该消费者的中奖资格。</p>
                <p>获奖者需经主办方工作人员核实真实有效的身份信息和获奖凭证方可获取奖品，如无法提供，则主办方有权拒绝兑奖。</p>
                <p>因获奖者提供的联系方式有误，导致无法联系，视为获奖者自行放弃获奖资格及由此产生之权利，主办方不予补偿。</p>
                <p>若有获奖者自行放弃获奖资格或存在上述被视为放弃获奖资格情形。</p>
                <p>主办方对本规则做出修改时，最新版本之规则将载于活动网站。主办方有权根据法律法规、司法或行政命令的要求以及活动的实际情况，在法律允许的范围内随时取消、中止或终止此次活动。</p>
                <p>10、对本次活动的任何参与应被视为参与者认知并完全理解，其将从事的任何活动或者接受的任何奖品可能存在着伤害（包括但不仅限于终身伤残和死亡）和社会/经济损失的风险，原因可能不仅来自参与者自己的作为、不作为或疏忽，也可能来自他人的作为、不作为或疏忽以及活动规则或者所使用之场地或任何设备的状况，而且，可能还存在参与者在此时尚不知晓或者无法合理预见的其他风险。活动参与者特此声明其承担与其参加本活动有关的任何和所有风险及其后果。活动参与者明确免除和放弃由于参加本活动或其他原因而可能享有的或者在此后所产生的,就人身伤亡或财产损害而对活动主办单位、主办人、任何活动赞助商及其各自的每一相关实体和关系企业、遗产管理人、代理人、高阶员工、所有人、员工、以及其他参加者(合称“被免责者”)提起的任何和一切损害赔偿要求。</p>
                <p>12、活动过程中出现“不可抗力”事件或计算机系统故障直接或间接地造成活动主办方无法履行其全部或部分义务，则活动主办方将免予履行该义务，并无需承担相应的责任。“不可抗力”事件包括但不限于，地震、台风、火灾、水灾、战争、法律法规调整、政府命令禁止、因黑客攻击、计算机病毒影响、系统崩溃、数据丢失或其他人为原因造成计算机系统故障，及其他自然或人为灾害等导致活动无法继续开展的，且活动主办方不可预见、无法避免并无法控制的事件。</p>
              </div>
              <div class="blank"></div>
            </div>
            <div class="bg f0"><img :src="'./img/pop-bg.jpg'"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="buildstep == 2" class="page page-build-2 build-2">
          <div class="logo f0"><img :src="'./img/build-logo.png'"></div>
          <div @click="buildstep = 1" class="back f0"><img :src="'./img/icon-back.png'"></div>
          <div class="musicname">{{musicnamefull}}</div>
          <div class="build-image f0">
            <div class="bg"><img :src="'./img/build-image.png'"></div>
            <ctrl-image class="ctrl-image">
              <div class="preview"><img id="preview-img" :src="'./img/p-1.jpg'"></div>
            </ctrl-image>
          </div>
          <div @click="prevImage" class="left"><img :src="'./img/arrow.png'"></div>
          <div @click="nextImage" class="right"><img :src="'./img/arrow.png'"></div>
          <div v-html="topichtml" class="topic"></div>
          <div @click="buildimage" class="btn btn-build"><img :src="'./img/btn-create.png'"></div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="buildover" class="page page-image">
          <div @click="goback" v-if="postfail" class="back"><img src="./img/icon-back.png"></div>
          <div class="content">
            <canvas id="result"></canvas><img v-if="ugc" :src="ugcsrc" class="ugc">
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="shareNote" style="display: none" @click="shareNote = false" class="page share-note"><img :src="'./img/share-mark.png'"><img v-if="ugc" :src="ugcsrc" class="ugc"></div>
      </transition>
      <transition name="page-animation">
        <div v-show="lastpage" class="page last-page">
          <div class="logo"><img :src="'./img/award-logo.png'"></div>
          <div class="box">
            <div v-show="noaward" style="display: none" @click="window.location.reload()" class="fail"><img :src="'./img/award-faild-text.jpg'"></div>
            <div v-show="haveaward &amp;&amp; register == false &amp;&amp; registertext == false" style="display: none" @click="register = true" class="success"><img :src="'./img/award-success-text.jpg'"></div>
            <div v-if="haveaward &amp;&amp; register" class="register">
              <h2>请填写您的详细信息</h2>
              <form id="register" v-on:submit.prevent="onSubmit" class="form">
                <input v-model="form.code" type="hidden">
                <input v-model="form.random" type="hidden">
                <div class="form-grounp">
                  <label for="username">姓名:</label>
                  <input v-model="form.username">
                </div>
                <div class="form-grounp">
                  <label for="mobile">手机号码:</label>
                  <input v-model="form.mobile">
                </div>
                <div class="form-grounp">
                  <label for="address">详细地址:</label>
                  <input v-model="form.address">
                </div>
                <div class="form-btn">
                  <button type="submit" class="submit"><img :src="'img/submit.jpg'"></button>
                </div>
              </form>
            </div>
            <div v-show="registertext" style="display: none" class="text"><img :src="'./img/award-send-text.png'"></div>
          </div>
        </div>
      </transition>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/libs/js/exif.js"></script>
    <script src="/libs/js/min/vue.min.js"></script>
    <script src="/libs/js/min/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>