bingo
	- var images = "img"
	.bingo
		.bingo-img.shadow(onclick="{checkRight}")
			img(src="http://disk.giccoo.com/BingoMe/{opts.url}")
			.like.bounceIn.animated(if="{right}",style="top: {like.y}px; left: {like.x}px")
				img(src="http://disk.giccoo.com/projects/BingoMe-share/img/like.png")
		.bingo-info
			.time {opts.time}
			.views {opts.views}
			.bingoone {opts.bingoone}

	script.
		var self = this
		self.right = false
		self.like = {x: 0, y: 0}
		checkRight(evt) {
			if (self.right) { return false }
			self.right = true
			console.log(evt.pageX,evt.pageY,$(".bingo-img",self.root).offset())
			self.like.x = evt.pageX - $(".bingo-img",self.root).offset().left - 30
			self.like.y = evt.pageY - $(".bingo-img",self.root).offset().top - 30
			self.update()
			setTimeout(function(){
				//- console.log(riot.tags)
				download.showQR()
			},1000);
		}