recommend-list
	- var images = "img"
	.bingos
		.item.shadow(each="{item in list}")
			img(src="http://disk.giccoo.com/BingoMe/{item}")
			
	script.
		var self = this
		self.list = opts.urls.split(",")