@import sass/base


// animation,delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

// animate clickover
+keyframes(clickover)
	0%
		opacity: 0
	30%
		opacity: 0.7
	60%
		opacity: 0
	100%
		opacity: 0
+keyframes(bgshow)
	0%
		+transform(scale(1,1))
	100%
		+transform(scale(1.3,1.3))
+keyframes(bgsmall)
	0%
		+transform(scale(1.3,1.3))
	100%
		+transform(scale(1,1))
+keyframes(play1)
	0%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,50%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(play2)
	0%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,80%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(play3)
	0%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,30%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(play4)
	0%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,70%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(play5)
	0%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(0,70%,0))
	100%
		+transform(translate3d(0,0,0))
// end animate

.wechat-share-hide
	+posa
	+tl(-1000px)
	+hide
	+w(1px)

html,body
	+w
	+h
	+bc(#000)
.hide
	+hide
.loading
	color: #fff
	+posa
	+tl
	+w
	+h
	z-index: 199
	.bg
		+b("http://disk.giccoo.com/projects/huaweiG7/img/bg.jpg",no-repeat,center,center,cover)
		+posa
		+tl
		+w
		+h
		+tran
		filter: blur(10px)
		z-index: 50
	.text
		+posa
		+tl(50%,52%)
		+transform(translate3d(-50%,-50%,0))
		+font-size(1rem)
		+iw(187,640)
		+text-center
		+tran
		font-weight: normal
		z-index: 100
		span
			+posa
			+tl(36%,45%)
			+transform(translate3d(-50%,-50%,0))
	.in-list
		+posa
		+bl(50%)
		+w
		+transform(translate3d(0,50%,0))
		+tran
		z-index: 301
		opacity: 0
		.in-text
			+iw(479,640)
		.in-up
			+iw(89,640)
			+m(1rem auto)
		.in-in
			+iw(374,640)
		.in-info
			+iw(225,640)
			margin-top: 1rem
	.active-info
		+posa
		+tl
		+br
		+w
		+h
		+bc(rgba(0,0,0,0.8))
		+hide
		+box
		+overhide
		padding-top: 1rem
		z-index: 400
	&.load
		.bg
			filter: blur(0px)
		.text
			top: 0
			opacity: 0
		.in-list
			bottom: 50%
			opacity: 1

	&.end
		+tran
		+transform(scale(1.4,1.4))
		opacity: 0

.logo
	+posa
	+tr
	+w(80%)
	z-index: 200
.phone
	+posa
	+bl
	+w(80%)
	z-index: 200

.main
	+b("http://disk.giccoo.com/projects/huaweiG7/img/bar-bg.jpg",no-repeat,center,center,cover)
	+posa
	+tl
	+w
	+h
	z-index: 190
	.videos
		+posa
		+tl
		+w
		+h
		z-index: 301
		.video-screen
			+w(80%)
			border: solid 1px #ccc
			font-size: 0
			+p
			+m
			margin-top: 30%
			.video-no
				+posr
				+w
				+h
				+bc(rgba(0,0,0,0.8))
				+font-size(1rem)
				color: #fff
				video
					visibility: hidden
				span
					+posa
					+tl(50%,50%)
					+transform(translate3d(-50%,-50%,0))
			video
				+w
				+h
		.video-list
			+w(80%)
			+p
			+m
			+text-center
			font-size: 0
			margin-top: 1.2rem
			.video-btn
				+w(30%)
				display: inline-block
				padding-top: 30%
				&:nth-child(odd)
					+m(0 2%)
				&:nth-child(n+1)
					+b("http://disk.giccoo.com/projects/huaweiG7/img/video-thum.jpg",no-repeat,center,center,cover)
				&:nth-child(n+2)
					+b("http://disk.giccoo.com/projects/huaweiG7/img/video-thum-2.jpg",no-repeat,center,center,cover)
				&:nth-child(n+3)
					+b("http://disk.giccoo.com/projects/huaweiG7/img/video-no.png",no-repeat,center,center,cover)
		.btns
			+w(80%)
			+p
			+m
			+text-center
			margin-top: 2rem
		.back-home
			+w(40%)
			display: inline-block
		.share-btn
			+w(40%)
			display: inline-block
	.pop
		+posa
		+tl
		+w
		+h
		z-index: 301
		animation-duration: 1s
		.bg
			+posa
			+tl(50%,50%)
			+transform(translate3d(-50%,-50%,0))
			+iw(520)
			.answer
				+posa
				+tl
				+br
				+w
				+h
				z-index: 302
			.btn-video
				+posa
				+bl(15%,(1-409/596)*100%/2)
				+iw(409,596,100%)
				z-index: 303
		.share-btn
			+posa
			+br(5%,5%)
			+iw(322)
			z-index: 301
	.share-note
		+bc(rgba(0,0,0,0.7))
		+posa
		+tl
		+w
		+h
		z-index: 999
	.cup-select
		+posa
		+tl
		+w
		+h
		z-index: 201

		.sliders
			+h
			+posr
			.left
				+posa
				+tl(50%,5%)
				+iw(49)
				z-index: 300
			.right
				+posa
				+tr(50%,5%)
				+iw(49)
				z-index: 300
			.slider
				+h
				.slide
					+h
					+posr
		.notetitle
			+posa
			+tl(15%,50%)
			+transform(translate3d(-50%,-50%,0))
			+font-size(0.8rem)
			+text-center
			text-shadow: 1px 1px 3px #000,-1px -1px 3px #000
			color: #fff
		.select
			+posa
			+br(5%,5%)
			+iw(250,640)
			z-index: 301
		.cup
			+iw(500,640)
			+posa
			+tl(64%,50%)
			+transform(translate3d(-50%,-50%,0))
			.iphone4 &
				top: 70%
			span
				+posa
				+tl(-3%,50%)
				+transform(translate3d(-50%,0,0))
				+font-size(1.4rem)
				text-shadow: 1px 1px 3px #000,-1px -1px 3px #000
				color: #fff

.icon-play
	+posa
	+tl(10px,10px)
	z-index: 500
	+w(2rem)


.sliders
	overflow: hidden
	.slider
		+posr
		white-space: nowrap
		font-size: 0
		+tran(all,0s,linear)
		.slide
			+w(100%)
			display: inline-block
			vertical-align: topd