<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>点播圣诞星声</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="http://image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="/libs/font/YRDZST-Heavy.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="public" class="public">
      <player icon="true" src="./mp3/bgm.mp3"></player>
    </div>
    <div id="load" class="load">
      <div id="loading" v-show="mounted" style="display: none" class="content">
        <div class="loading-logo fadeIn animated"><img src="./img/logo.png"></div>
        <div class="loading-text">
          <div class="animal"><img src="./img/loading-animal.png">
            <div class="snowman-hand"><img src="./img/snowman-hand.png"></div>
            <div class="icon-symbol music-1"><img src="./img/icon-symbol-1.png"></div>
            <div class="icon-symbol music-2"><img src="./img/icon-symbol-2.png"></div>
            <div class="icon-symbol music-3"><img src="./img/icon-symbol-2.png"></div>
            <div class="icon-symbol music-4"><img src="./img/icon-symbol-3.png"></div>
          </div>
          <p class="centeralign">Loading..{{progress}}%</p>
        </div>
      </div>
    </div>
    <div id="main" v-show="mounted" :class="{biger: biger, smaller:smaller}" style="display: none" :style="{width: w+'px',minHeight: h+'px'}" class="main">
      <transition name="page-down">
        <div v-show="noteShow" @click="noteShow = false" class="note-message">
          <div class="note-text">{{noteText}}</div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="loading" class="loading-page">
          <div class="ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </transition>
      <transition name="page-zoom">
        <div v-show="pageIndex == 1" class="page page-1">
          <div class="content">
            <div @click="pageIndex = 2 ; questionShow = true" class="btn-start"><img src="./img/btn-start.png"></div>
            <div class="symbol">
              <div class="icon-symbol music-1">
                <div class="icon-symbol-img"><img src="./img/icon-symbol-1.png"></div>
              </div>
              <div class="icon-symbol music-2">
                <div class="icon-symbol-img"><img src="./img/icon-symbol-2.png"></div>
              </div>
              <div class="icon-symbol music-3">
                <div class="icon-symbol-img"><img src="./img/icon-symbol-2.png"></div>
              </div>
              <div class="icon-symbol music-4">
                <div class="icon-symbol-img"><img src="./img/icon-symbol-3.png"></div>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="pageIndex == 2" class="page page-2">
          <div class="content">
            <div id="ugc"></div>
            <transition name="page-up">
              <div v-show="questionShow" class="post-card">
                <div class="question-list">
                  <div class="bg-img"><img src="./img/envelope.png"></div>
                  <transition name="page-fade">
                    <div v-show="questionIndex == 0" class="question">
                      <div class="title">圣诞来袭，今年你要<span class="line"></span></div>
                      <div class="answer">
                        <div :class="{on: answer1==1}" @click="answer1 = 1" class="item radio row">躺在沙发上做有知觉的植物</div>
                        <div :class="{on: answer1==2}" @click="answer1 = 2" class="item radio row">就放肆吃放肆喝放肆去闯</div>
                        <div :class="{on: answer1==3}" @click="answer1 = 3" class="item radio row">就让这雪花 今夜一直重复</div>
                        <div :class="{on: answer1==4}" @click="answer1 = 4" class="item radio row">都怪我没能耐 加班才实在</div>
                      </div>
                    </div>
                  </transition>
                  <transition name="page-fade">
                    <div v-show="questionIndex == 1" class="question">
                      <div class="title">选一位圣诞DJ，<br/>专治你的秋裤太厚蹦不动</div>
                      <div class="answer">
                        <div :class="{on: answer2==1}" @click="answer2 = 1" class="item music-icon">乡村短腿鹅</div>
                        <div :class="{on: answer2==2}" @click="answer2 = 2" class="item music-icon">POP红鼻鹿</div>
                        <div :class="{on: answer2==3}" @click="answer2 = 3" class="item music-icon">古典绅士熊</div>
                        <div :class="{on: answer2==4}" @click="answer2 = 4" class="item music-icon">摇滚大雪人</div>
                      </div>
                    </div>
                  </transition>
                  <transition name="page-fade">
                    <div v-show="questionIndex == 2" class="question">
                      <div class="title">圣诞不要怂，<br/>喜提<span class="line"></span>让节日焕然一星。</div>
                      <div class="answer">
                        <div :class="{on: answer3.c1}" @click="answer3.c1 = !answer3.c1" class="item check">雪花</div>
                        <div :class="{on: answer3.c2}" @click="answer3.c2 = !answer3.c2" class="item check">火鸡</div>
                        <div :class="{on: answer3.c3}" @click="answer3.c3 = !answer3.c3" class="item check">礼物</div>
                        <div :class="{on: answer3.c4}" @click="answer3.c4 = !answer3.c4" class="item check">圣诞树</div>
                      </div>
                    </div>
                  </transition>
                  <transition name="page-fade">
                    <div v-show="questionIndex == 3" class="question">
                      <div class="title center">今年圣诞节，只想和<span class="line"></span>一起</div>
                      <div class="answer input">
                        <input type="input" placeholder="点击填写（Honey/母亲大人/给自己）" v-model="nickname">
                      </div>
                    </div>
                  </transition>
                  <transition name="page-fade">
                    <div v-show="questionIndex == 4" class="question">
                      <div class="title">最后，有句心底话不知当讲不当讲，还是写在这里吧</div>
                      <div v-show="!messageInput" class="msg-card">
                        <div @click="messageShow" class="slider">
                          <div :class="'on-'+messageIndex" class="box">
                            <div v-for="item in messageList" v-html="item" class="item"></div>
                          </div>
                        </div>
                        <div @click="messageSelectLeft" class="left"><img src="./img/left.png"></div>
                        <div @click="messageSelectRight" class="right"><img src="./img/left.png"></div>
                      </div>
                      <div :class="{hidebody: !messageInput}" class="answer input textarea">
                        <textarea id="message" v-model="message" @blur="messageBlur" @focus="messageFoucs"></textarea>
                      </div>
                      <div class="note">*点击左右可以切换，也可点击输入框撰写自己的蜜语</div>
                    </div>
                  </transition>
                </div>
              </div>
            </transition>
            <transition name="page-fade">
              <div v-show="questionShow" @click="nextQuestion" class="btn-next"><img src="./img/btn-next.png"></div>
            </transition>
            <transition name="page-fade">
              <div v-show="questionShow &amp;&amp; questionIndex &gt; 0" @click="backQuestion" class="btn-back"><img src="./img/btn-back.png"></div>
            </transition>
            <transition name="page-zoom">
              <div v-show="gameEnd" class="ctrl-box">
                <div @click="openMusic(2515752400)" class="btn-more"><img src="./img/btn-more.png"></div>
                <div class="btn-list">
                  <div @click="regame" class="btn"><img :src="'./img/btn-restart-'+(white?'white':'black')+'.png'"></div>
                  <div @click="goshare" class="btn"><img :src="'./img/btn-share-'+(white?'white':'black')+'.png'"></div>
                  <div @click="gobuy" :class="{tada: buyAn}" class="btn animated"><img :src="'./img/btn-buy-'+(white?'white':'black')+'.png'"></div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </transition>
      <div v-show="ugcShow" class="pop flashcamera">
        <div class="content">
          <div class="small-size">
            <div @click="ugcShow = false" class="close"><img src="./img/icon-close.png"></div><img :src="ugc">
            <div class="note">长按保存图片</div>
          </div>
        </div>
      </div>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/pixi.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/TweenMax.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/music-jssdk-1.0.5.js"></script>
    <script src="//image.giccoo.com/projects/genki/js/ntes.id.js"></script>
    <script src="js/public_funciton.js"></script>
    <script src="js/build.js?v=1"></script>
    <script src="js/main.js?v=1"></script>
    <script src="js/ani.js?v=1"></script>
  </body>
</html>