@import sass/base

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "//image.giccoo.com/projects/lancome/"

// animation, delay, duration
@for $i from 1 through 51
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms
$fontColor: #ffffff;
$pageMainBGColor: #000000;

+keyframes(lightShow)
	0%,100%
		opacity: 1
	50%
		opacity: 0.2

+keyframes(circleProgressLoad_right)
	0%
		transform: rotate(-135deg)
	50%,100%
		transform: rotate(45deg)

+keyframes(circleProgressLoad_left)
	0%,50%
		transform: rotate(-135deg)
	100%
		transform: rotate(45deg)

+keyframes(ball)
	0%,100%
		+transform(scale(1,1) translate3d(0,0,0))
		opacity: 0.8
	25%
		+transform(scale(0.95,0.95) translate3d(5%,-15%,0))
	50%
		+transform(scale(0.8,0.8) translate3d(0,-30%,0))
		opacity: 1
	75%
		+transform(scale(0.95,0.95) translate3d(-5%,-15%,0))

+keyframes(moveLeft)
	0%
		+transform(translate3d(10px,0,0))
		opacity: 0
	10%,90%
		opacity: 1
	100%
		+transform(translate3d(0,0,0))
		opacity: 0

+keyframes(moveRight)
	0%
		+transform(translate3d(-10px,0,0))
		opacity: 0
	10%,90%
		opacity: 1
	100%
		+transform(translate3d(0,0,0))
		opacity: 0

html,body
	+w
	+h
body
	color: $fontColor
	+bc($pageMainBGColor)
	max-width: 640px
	max-height: 1138px
	+m
	+posr
video,canvas
	+w
	+h(auto)
body
	+overhide

.wechat-share-hide,.load-before
	+posa
	+tl(-1000px)
	+hide
	+w(1px)
	+h(1px)

.playsound
	+posa
	+tr(0.5rem,2%)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.hide
	display: none

.main
	+w
	+h
	+posr
	+overhide
	max-width: 1280px
	+m
	cursor: move
	z-index: 3
	&.pc
		max-width: 1280px
		max-height: 800px
	&.rotate90
		+transform(rotate(90deg) translate3d(0,-100%,0))
		transform-origin: top left

	.nav
		+posa			
		+tl
		z-index: 109
		// pointer-events: none
		// user-select: none
		img
			pointer-events: none
			user-select: none
		+h(auto)
		+show-inline
		.sj
			+posa
			+tr
			+w(40%)
			+h
			+show-inline

.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(-100%,0,0)
	& ~ .page-animation-leave
		transform: translate3d(100%,0,0)
.page-animation-leave
	transform: translate3d(100%,0,0)
	& ~ .page-animation-enter
		transform: translate3d(100%,0,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(100%,0,0)
.page-animation-leave-to
	transform: translate3d(-100%,0,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0


.f0
	font-size: 0

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg
		+posa
		top: auto
		+bl
		+transform(translate3d(0,0,0))
		font-size: 0
		.animations
			+posa
			+tl
			+w
			+h
			.item
				+posa
				+tl

.loading
	+w
	+h
	+posa
	+tl
	// +hide
	z-index: 200
	.full
		+posa
		+tl
		+w
		+h
		+bc(#000)
	.content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+w
		.line
			+w
			+posr
		.texts
			+text-center
			+posa
			+tl(50%)
			padding-left: 1rem
			+box
			+w


.font
	+show-inline
	text-indent: -99px
	+font-size(0.8rem)
	+w(1em)
	+w(1em)
	+overhide
	&.opc
		opacity: 0
@for $i from 0 through 9
	.font-#{$i}
		+b($cdn+"img/font-#{$i}.png",no-repeat,center,center,cover)
.font-last
	+b($cdn+"img/font-last.png",no-repeat,center,center,cover)

.page
	.texts
		+posa
		+tl
		margin-top: 2%
	.content
		+posa
		+tl
		+w
		+h
		.btn-start
			+posa
			+bl(1%,50%)
			+iw(240,640,100%)
			+h(10%)
			+b($cdn+"img/btn-start.png",no-repeat,center,center,contain)
			+transform(translate3d(-50%,0,0))
		.texts
			+posa
			+tl
			margin-top: 2%
			// +transform(translate3d(0,-50%,0))
			.text
				+posa
				+tl
			.text-1
				+posr
		.right,.left
			+posa
			+w(1.5rem)
			+h(1.5rem)
			top: 50%
			+transform(translate3d(0,-50%,0))
		.right
			right: 1%
			+b($cdn+"img/right.png",no-repeat,center,center,cover)
			+animation(moveRight,2s,ease,infinite)
		.left
			left: 1%
			+b($cdn+"img/left.png",no-repeat,center,center,cover)
			+animation(moveLeft,2s,ease,infinite)




.bgm
	+posa
	+br(82%,2%)
	z-index: 99
	+iw(60,640,100%)
	.noteMsg
		+posa
		+tl(50%,0)
		+m
		+font-size(0.6rem)
		+transform(translate3d(-110%,-50%,0))
		white-space: nowrap

.page-home
	+tl
	.arrow
		+posa
		+tl
		@for $i from 1 through 4
			&.arrow-#{$i}
				+transform(translate3d($i*3%,0,0))
				+animation(fadeOut,300ms*4,linear,infinite)
				animation-delay: 300ms*$i

	.content
		+posa
		+w
		+h
		.texts

.page-2
	.hair
		+posa
		+tl(63.55%)
.page-3
	.ball
		+posa
		+tr(20%,15%)
		+iw(70)
		+animation(ball,8s,linear,infinite)
.page-6
	.mark
		+posa
		+tl(18.2%)
		+w
.page-regisiter
	+bc(rgba(0,0,0,0.7))
	z-index: 108
	.form
		+posa
		+tl(50%,10%)
		+transform(translate3d(0,-50%,0))
		+w(80%)
		+m
		+b($cdn+"img/form-bg.jpg",repeat,top,center,100% auto)
		+box
		+p(2%)
		padding-bottom: 10%
		+font-size(0.8rem)
		color: #555
		.form-title
			+w(50%)
			+m
			+p(1rem 0)
		.form-group
			display: flex
			+box
			+p(0.6rem 0)
			label
				flex: 1
				+box
				+p(0.2rem 0)
				padding-right: 5%
				+posr
				line-height: 1.4em
				justify-content: center
				align-items: center
				box-align: center
				img
					+show-inline
					vertical-align: middle
			input,select,.form-group-items,.form-group-line,.select
				flex: 4
			input,.select
				border: solid 1px #555
				outline: none
				+bc(#5a5a5a)
				color: #fff
				+box
				+p(0.2rem 0)
				line-height: 1.4em
				text-indent: 0.4rem
			.box
				+box
				+p(0.3rem 0)
				line-height: 1.4em
			.select
				+posr
				+overhide
				span
					+show-inline
					+w(94%)
					+box
					+overhide
					text-overflow: ellipsis
					white-space: nowrap
					text-indent: 0
					line-height: 1.4em
					vertical-align: middle
				select
					+posa
					+tl
					+br
					+w
					+h
					z-index: 99
					opacity: 0
		.form-group-items
			display: flex
			.item
				flex: 1
				+m
				+p
				&.r
					+text-right
				&.c
					+text-center
				&.select
					+box
					+p(0.2rem 0)
					line-height: 1.4em
				input
					vertical-align: middle
				.text
					vertical-align: middle
					+w(1.3rem)
					+show-inline
					font-size: 0
					+h
					&.big
						+box
						+p(0.3rem 0)
						+w(38%)
						+text-center
						+m
						+show-inline
						img
							+show-inline
							vertical-align: middle
		.form-btn
			+w(40%)
			+m
			margin-top: 1rem
		.close
			+posa
			+bl(0,50%)
			+w(23.5%)
			+transform(translate3d(-50%,50%,0))

.page-record
	z-index: 99
	// +b($cdn+"img/page-record-bg.jpg",no-repeat,center,center,cover)
	.record
		$size: 2.4rem
		$borderSize: $size * .07
		+posa
		+bl(2%,50%)
		+transform(translate3d(-50%,0,0))
		+w($size)
		+h($size)
		// +box
		+p($size*0.1)
		+bc(#fff)
		border-radius: 50%
		font-size: 0
		+overhide
		.mic
			+posa
			+tl(50%,50%)
			+w(50%)
			+transform(translate3d(-50%,-50%,0))
		.progress
			+posa
			+tl(8%,8%)
			+w($size)
			+h($size)
			z-index: 99
			font-size: 0
			+overhide
			.wrapper
				+w($size/2)
				+h
				+posa
				top: 0
				+overhide
				&.r
					right: 0
				&.l
					left: 0
			.circleProgress
				+posa
				top: 0
				+w($size - $borderSize*2)
				+h($size - $borderSize*2)
				border: solid $borderSize transparent
				border-radius: 50%
				transform: rotate(45deg)
				&.rightcircle
					border-top: $borderSize solid #b5272d
					border-right: $borderSize solid #b5272d
					right: 0
				&.leftcircle
					border-bottom: $borderSize solid #b5272d
					border-left: $borderSize solid #b5272d
					left: 0
		&.off
			.progress
				.circleProgress
					transform: rotate(-135deg)
		&.on
			.progress
				.circleProgress
					&.rightcircle
						animation: circleProgressLoad_right 5s linear
					&.leftcircle
						animation: circleProgressLoad_left 5s linear

.page-ugc
	z-index: 100
	.btns
		+posa
		+w
		+bl(1%)
		+text-center
		.btn
			+w(49%)
			+box
			font-size: 0
			+show-inline
	.mark
		+posa
		+tl(15%,10%)
		+wh(80%,70%)
		+overhide
		opacity: 0


.smaller
	.page
		.bg
			+tl(50%)
			bottom: auto
			+transform(translate3d(0,-50%,0))
			// +tl(50%)
			// +transform(translate3d(0,-50%,0))
			


// iphone x
.page-home,.page-1,.page-record,.page-ugc
	.bg
		top: auto
		+bl
		+transform(translate3d(0,0,0))
		// bottom: auto
.notsmall
	.page
		.content
			.texts
				margin-top: 8%
		