@import sass/base

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "//image.giccoo.com/projects/lancome/"

// animation, delay, duration
@for $i from 1 through 51
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms
$fontColor: #ffffff;
$pageMainBGColor: #000000;

+keyframes(lightShow)
	0%,100%
		opacity: 1
	50%
		opacity: 0.2

html,body
	+w
	+h
body
	color: $fontColor
	+bc($pageMainBGColor)
	max-width: 640px
	max-height: 1138px
	+m
	+posr
video,canvas
	+w
	+h(auto)
body
	+overhide

.wechat-share-hide,.load-before
	+posa
	+tl(-1000px)
	+hide
	+w(1px)
	+h(1px)

.playsound
	+posa
	+tr(0.5rem,2%)
	+iw(58)
	z-index: 99
	font-size: 0
	.play
		+animation(second,4s,ease,infinite)

.hide
	display: none

.main
	+w
	+h
	+posr
	+overhide
	max-width: 1280px
	+m
	cursor: move
	z-index: 3
	&.pc
		max-width: 1280px
		max-height: 800px
	&.rotate90
		+transform(rotate(90deg) translate3d(0,-100%,0))
		transform-origin: top left

	.nav
		+posa			
		+tl
		z-index: 109

.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(-100%,0,0)
	& ~ .page-animation-leave
		transform: translate3d(100%,0,0)
.page-animation-leave
	transform: translate3d(100%,0,0)
	& ~ .page-animation-enter
		transform: translate3d(100%,0,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(100%,0,0)
.page-animation-leave-to
	transform: translate3d(-100%,0,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0


.f0
	font-size: 0

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg
		+posa
		+bl
		font-size: 0
		.animations
			+posa
			+tl
			+w
			+h
			.item
				+posa
				+tl

.loading
	+w
	+h
	+posa
	+tl
	// +hide
	z-index: 4
	.content
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))
		+w
		.line
			+w
			+posr
		.texts
			+text-center
			+posa
			+tl(50%)
			padding-left: 1rem
			+box
			+w

.font
	+show-inline
	text-indent: -99px
	+font-size(0.8rem)
	+w(1em)
	+w(1em)
	+overhide
@for $i from 0 through 9
	.font-#{$i}
		+b($cdn+"img/font-#{$i}.png",no-repeat,center,center,cover)
.font-last
	+b($cdn+"img/font-last.png",no-repeat,center,center,cover)

.page
	.content
		.btn-start
			+posa
			+bl(1%,50%)
			+iw(240,640,100%)
			+h(10%)
			+b($cdn+"img/btn-start.png",no-repeat,center,center,contain)
			+transform(translate3d(-50%,0,0))
		.texts
			+posa
			+tl(28%)
			+transform(translate3d(0,-50%,0))
			.text
				+posa
				+tl
			.text-1
				+posr
		.right,.left
			+posa
			+w(2rem)
			+h(2rem)
			top: 50%
			+transform(translate3d(0,-50%,0))
		.right
			right: 1%
			+b($cdn+"img/right.png",no-repeat,center,center,cover)
		.left
			left: 1%
			+b($cdn+"img/left.png",no-repeat,center,center,cover)

.smaller
	.page
		.bg
			+tl(50%)
			+transform(translate3d(0,-50%,0))
			bottom: auto


.bgm
	+posa
	+br(82%,2%)
	z-index: 99
	+iw(60,640,100%)
	.noteMsg
		+posa
		+tl(50%,0)
		+m
		+font-size(0.6rem)
		+transform(translate3d(-110%,-50%,0))
		white-space: nowrap

.page-home
	+tl
	.content
		+posa
		+w
		+h
		.texts
			+tl(35%)

.page-2
	.hair
		+posa
		+tl(63.55%)

