<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>听，时光的声音</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="//image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="load" class="loading">
      <div class="content">
        <div class="record"><img src="//image.giccoo.com/projects/meizu-music/img/load-record.png">
          <div class="light"></div>
        </div>
        <div id="loadtext" v-show="mount" style="display: none" class="load-text">Loading...{{progress}}%</div>
      </div>
    </div>
    <div id="main" v-show="mount" style="display: none" :style="{width: w+'px',height: h+'px'}" class="main">
      <transition name="page-fade">
        <div v-show="loading" class="loading">
          <div class="content">
            <div class="record"><img src="//image.giccoo.com/projects/meizu-music/img/load-record.png">
              <div class="light"></div>
            </div>
            <div class="load-text">...解密中...</div>
          </div>
        </div>
      </transition>
      <div class="pages">
        <transition name="page-fade">
          <div v-show="homepageShow || gamepageShow" class="page page-build">
            <div class="record"><img src="//image.giccoo.com/projects/meizu-music/img/record.jpg">
              <div :class="{moving: playing}" class="light"><img src="//image.giccoo.com/projects/meizu-music/img/record-light.png"></div>
              <div :class="{moving: playing}" class="line"><img src="//image.giccoo.com/projects/meizu-music/img/record-line.png"></div>
            </div>
            <div @click="notepageShow = !notepageShow" class="note">
              <div :class="{off: gameStarted}" class="question-mark"><img src="//image.giccoo.com/projects/meizu-music/img/question-mark.png"></div>
              <div :class="{on: gameStarted,timeout: second&lt;=5}" class="time-last">{{second}}<span>s</span></div>
            </div>
            <div class="logo"><img src="//image.giccoo.com/projects/meizu-music/img/logo.png"></div>
            <transition name="page-animation">
              <div v-show="notepageShow" class="page-note">
                <div @click="notepageShow = !notepageShow" class="content"><img src="//image.giccoo.com/projects/meizu-music/img/pop-info.png"></div>
              </div>
            </transition>
            <transition name="page-fade">
              <div v-show="homepageShow" class="page-home">
                <div class="content">
                  <div :class="{on: playing}" class="title music-symbol fadeInUp duration-8 animated delay-5"><img src="//image.giccoo.com/projects/meizu-music/img/home-title.png">
                    <div class="symbol symbol-1 symbol-type-2">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-2 symbol-type-1">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-3 symbol-type-2">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-4 symbol-type-1">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-5 symbol-type-2">
                      <div class="c"></div>
                    </div>
                  </div>
                  <div class="input fadeInUp duration-8 animated delay-9">
                    <input type="text" maxlength="10" v-model="nickname" placeholder="请输入你的名字">
                  </div>
                  <div @click="startGame" class="btn fadeInUp duration-8 animated delay-12"><img src="//image.giccoo.com/projects/meizu-music/img/btn-submit-name.png"></div>
                </div>
              </div>
            </transition>
            <transition name="page-fade">
              <div v-show="gamepageShow" class="page-game">
                <audio id="audio" :src="gameMusicLink" preload="true" autoplay="false"></audio>
                <div v-show="gameNotePop" class="pop">
                  <div class="content">
                    <p>测试即将开始  请打开声音！</p>
                    <div @click="gameStart" class="btn btn-start"><img src="//image.giccoo.com/projects/meizu-music/img/btn-start.png"></div>
                  </div>
                </div>
                <div v-show="showAnswerPop" class="pop-answer">
                  <div class="success">
                    <h2>{{answers[now]==1?"恭喜你回答正确":answers[now]==0?"很遗憾回答错误":"很遗憾时间到了"}}</h2>
                    <p class="name">《{{answerName}}》</p>
                    <div v-show="now&lt;4" @click="nextMusic" class="btn btn-goon"><img src="//image.giccoo.com/projects/meizu-music/img/btn-goon.png"></div>
                    <div v-show="now&gt;=4" @click="gameEnd" class="btn btn-dna"><img src="//image.giccoo.com/projects/meizu-music/img/btn-dna.png"></div>
                  </div>
                </div>
                <div class="content">
                  <div :class="{on: playing}" class="title fadeInUp animated duration-8 delay-5"><img src="//image.giccoo.com/projects/meizu-music/img/game-title.png">
                    <div class="symbol symbol-1 symbol-type-2">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-2 symbol-type-1">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-3 symbol-type-2">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-4 symbol-type-1">
                      <div class="c"></div>
                    </div>
                    <div class="symbol symbol-5 symbol-type-2">
                      <div class="c"></div>
                    </div>
                  </div>
                  <div class="game-content fadeInUp animated duration-8 delay-9">
                    <div :class="{en: lang!='cn'}" class="game-btns">
                      <div v-for="mark,index in markList" @click="selectMark(mark)" class="item">{{mark}}</div>
                    </div>
                    <div class="game-input fadeInUp animated duration-8 delay-12">
                      <div class="answer">&nbsp;{{answer.join(' ')}}&nbsp;</div>
                      <div @click="delectOne" class="del"><img src="//image.giccoo.com/projects/meizu-music/img/icon-del.png"></div>
                      <div @click="checkAnswer" class="chr"><img src="//image.giccoo.com/projects/meizu-music/img/icon-check.png"></div>
                    </div>
                    <div :class="{on: errorShow}" class="error-text">回答错误请重新再答!</div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </transition>
        <transition name="page-fade">
          <div v-show="ugcpageShow" class="page page-ugc">
            <canvas id="result" width="640" height="1138"></canvas>
            <div class="ugc-bg"><img :src="ugc"></div>
            <div @click.stop.prevent="trySave" class="ugc-save"><img :src="ugcqr"></div>
            <div class="btns">
              <!-- .btn.btn-share-web(v-if="wy",@click="shareWeb")img(src="//image.giccoo.com/projects/meizu-music/img/btn-share-web.png")
              -->
              <div v-if="wy" @click="shareImage" class="btn btn-share"><img src="//image.giccoo.com/projects/meizu-music/img/btn-share.png"></div>
              <div v-if="!wy" @click.stop.prevent="trySave" class="btn btn-saveimage"><img src="//image.giccoo.com/projects/meizu-music/img/btn-saveimage.png">
                <div class="mark"><img :src="ugcqr"></div>
              </div>
              <div @click="regame" class="btn btn-regame"><img src="//image.giccoo.com/projects/meizu-music/img/btn-regame.png"></div>
            </div>
          </div>
        </transition>
        <transition name="page-animation">
          <div v-show="shareSuccessShow" class="page page-success">
            <div class="success"><a href="http://music.163.com/#/playlist/2192839055/"><img src="//image.giccoo.com/projects/meizu-music/img/share-success.png"></a></div>
          </div>
        </transition>
      </div>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="js/main.js?v=1"></script>
  </body>
</html>