@import sass/base
@import ../../libs/sass/loading

$debug : false
$cdn : "../"
@if not $debug
	$cdn : "http://disk.giccoo.com/projects/showman/"

+keyframes(Flash)
	0%
		opacity: 1
	50%
		opacity: 0.2
	100%
		opacity: 1

+keyframes(nextPoint)
	from
		+transform(scale(1,1))
		opacity: 1
	to
		+transform(scale(2,2))
		opacity: 0

// animation, delay, duration
@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms

.playsound
	+posa
	+tr(10px,10px)
	+wh(2rem,2rem)
	z-index: 1009
	font-size: 0
	.icon-play
		&.play
			+animation(second,5s,ease,infinite)
			transform-origin: center center

.share-wechat
	+posa
	+tl
	+w
	+h
	+b("http://disk.giccoo.com/projects/libs/img/wechat.png",no-repeat,top,right,contain)
	+bc
	z-index: 1100
	+hide
	&.open
		+show

.wrap
	+wh(100%,100%)
	+posr
	// +large
	// 	max-width: 640px
	// 	+m
	// 	+show

.loading.loaded
	+large
		+hide



.slider
	+posr
	white-space: nowrap
	font-size: 0
	+tran(all,0s,linear)
	.slide
		+w(100%)
		display: inline-block
		vertical-align: top
	.bg
		font-size: 0
		+posr
		.tag
			+posa
			+w(80px/2)

.share-icons
	+iw(600)
	+m
	margin-top: -8%
	.share-icon
		+show-inline
		+w(25%)
		+text-center
		+box
		+p(0 2%)
		font-size: 0
		
html,body
	+w
	+h

body
	+b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
	color: #3f6aff

// .loading.loaded
// 	+hide
.loading
	// +b($cdn+"img/bg.jpg",no-repeat,center,center,cover)
	+bc(#fff)
	.new-load
		+posa
		+tl(50%)
		+w
		+text-center
		// +p(100% 0 0 0)
		+transform(translate3d(0,-50%,0))
		.load-item-milk
			+iw(100,640,100%)
			+posr
			// > img
				// +animation(rubberBand,2s,ease,infinite)
			.load-item-note1,.load-item-note2
				+posa
				+tr
				+iw(60,100,100%)
				margin-top: -50%
			.load-item-note1
				+animation(rubberBand,2s,ease,infinite)
				animation-delay: 5*100ms
			.load-item-note2
				+animation(swing,1.5s,ease,infinite)
				transform-origin: bottom center
				
		.load-progress
			font-size: 1rem
			+p(2% 0 0 0)
			

.page
	+posa
	+tl
	+w
	+h
	&.hide
		+hide

.firstpage,.notepage,.listpage,.detailpage,.focusUs
	+posa
	+tl
	+w
	+h

.firstpage
	.content
		+w
		+h
	.btn
		+posa
		+bl(10%)
	.dove
		+posa
		+tl(5%)
		+w
	.background
		+posa
		+tl(22%)
		+w
	.cp
		// +posa
		+posa
		+tl(22%)
		+w
		> div
			+posa
			+tl
		> .cp-1
			+posr
	.stars
		+posa
		+tl
		+w
		+h
		.star
			+posa
			+tl
			+ada(animation-iteration-count, "infinite")
		@for $i from 0 through 10
			.star-#{$i}
				+w((8+$i)*1%)
				+tl(random(70)*1%,random(80)*1%)
				animation-duration: 3500ms
				animation-delay: 500ms+$i*100ms				

.notepage
	+bc(#fff)
	// .banner
	.text-content
		+w
		+posa
		+tl(40%)
		+br(10%)
		color: #cb3926
		p
			// +m(0 0 0.6em 0)
			+w(80%)
			+m
			line-height: 1.6em
			margin-bottom: 0.6em
			text-align: justify
		.text
			+posa
			+tl
			+br
			+m
			+h
			+touch
		.hide-D
			+posa
			+bl(-5px)
			+w
			font-size: 0

	.btn
		+posa
		+bl(2%)

.listpage
	+b($cdn+"img/bg-2.jpg",repeat,center,center,100% auto)
	.list-content
		+posa
		+tl
		+br
		+touch
		.note-note
			+w(90%)
			+m
			+p(0 0 0.4rem 0)
			p
				+m
				font-size: 0.7rem
				color: #fff
				+text-center
		.items
			+w(90%)
			+m
			.item
				+w(40%)
				+p(0 4%)
				padding-bottom: 2%
				+show-inline
				.avatar
					+box
					+p(5px)
					+bc(#fff)
					font-size: 0
					img
						+w(100%)
				.name
					color: #fff
					p
						+text-center
						+m
						&.username
							font-weight: bold
							font-size: 1.2rem
							+m(0.2em auto)
						&.subtitle
							font-size: 0.8rem
							+m(0.2em auto)
				.btn
					+w(80%)
					+m
					+p(0.4em 0)
	.abc-list
		+posa
		right: 0
		+w(10%)
		+text-center
		span
			+w(100%)
			+show-inline
			+p(3px 0)
			font-size: 1rem
			color: #fff
.detailpage
	+b($cdn+"img/bg-2.jpg",repeat,center,center,100% auto)
	.back
		margin-top: -4%
	.userinfo
		+posa
		+tl
		+br
		+w(90%)
		+m
		+touch
		color: #fff
		.info
			+w
			.avatar
				+w(40%)
				+box
				+p(5px)
				+bc(#fff)
				+show-inline
				vertical-align: top
			.user-name
				+w(55%)
				+p(0 0 0 3%)
				+show-inline
				vertical-align: top
				p
					+m(0 0 0.4em 0)
				.usertitle
					font-size: 1.4rem
					font-weight: bold
		.description
			text-align: justify


.focusUs
	z-index: 9999
	+bc(rgba(0,0,0,0.8))
	+animation(fadeIn)
	.box
		+posr
		top: 5%
		+w(80%)
		+p(10% 0 0 0)
		+m
		p
			color: #fff
			+m(0.4em auto)
			+text-center
			+font-size(0.8rem)
		.close
			+posa
			+tr(0,-10%)
			+iw(90)
.note
	+posa
	+tl
	+br
	+wh(100%,100%)
	z-index: 9999
	.note-box
		+text-center
		+posa
		+tl(50%)
		+w(100%)
		// z-index: 9999
		.note-content
			display: inline-block
			padding: 10px 11px 10px 10px
			background-color: rgba(0,0,0,0.7)
			color: #fff
			border-radius: 5px
			max-width: 90%
			+box
		.icon-form,.note-text
			display: inline-block
			vertical-align: top
			line-height: 25px
		.icon-form
			+wh(25px,25px)
		.note-text
			+font-size(0.8rem)
			letter-spacing: 2px
