@import sass/base
// @import ../../libs/sass/parallax
@import ../../libs/sass/loader-ball

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "http://image.giccoo.com/projects/zhishinews/"

.page-animation-enter-active
	transition: all .6s ease
.page-animation-leave-active
	transition: all .6s linear
.page-animation-enter, .page-animation-leave-to
	opacity: 0

html,body
	+bc(rgba(0,0,0,0.25))
	+w
	+h
video,canvas,svg
  +w
  +h(auto)

.btn
	+bc(#fff)
	+p(20px 30px)
	+show-inline
	+m(5px)
