note
	- var url = "http://disk.giccoo.com/projects/"
	.note-box
		.note-content(class="{animated:true,fadeInUp:!close,fadeOutUp:close}")
			
			.note-text
				.icon-form
					img(src="#{url}showman/img/icon-alert-note.png")
				|  {title}
	script.
		var self = this
		this.title = opts.title
		this.close = false
		this.time = opts.time?parseInt(opts.time):1500
		$(this.root).addClass("note")
		//- 
		this.on("mount",function(){
			setTimeout(function(){
				self.unmount()
			},self.time)
			setTimeout(function(){
				self.close = true
				self.update()
			},self.time-500)
		})
		