<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>我的爱情宣言</title>
    <meta name="author" content="m.giccoo.com">
    <link rel="stylesheet" href="//image.giccoo.com/projects/libs/css/animate.min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="load" :class="{hide:kill}" class="loading">
      <div :class="{fadeOut: !mount}" class="full animated duration-7">
        <div class="content">
          <div class="line"><img src="./img/loading-line.png">
            <div v-html="progressText" class="texts"><span class="opc font font-0">0</span><span class="opc font font-1">1</span><span class="opc font font-2">2</span><span class="opc font font-3">3</span><span class="opc font font-4">4</span><span class="opc font font-5">5</span><span class="opc font font-6">6</span><span class="opc font font-7">7</span><span class="opc font font-8">8</span><span class="opc font font-9">9</span><span class="opc font font-last">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main" v-show="mount" style="display: none" :style="{width: w+'px',height: h+'px'}" :class="{smaller: smaller,notsmall: !smaller}" class="main">
      <div @click="play" class="bgm">
        <audio id="bgm" :src="musiclink" autoplay="true" loop="true"></audio><img :src="'./img/audio-'+playing+'.png'">
        <transition name="page-fade">
          <p v-show="noteMsg" class="noteMsg">为保证体验效果<br/>请打开音乐</p>
        </transition>
      </div>
      <div id="nav" class="nav">
        <div class="logo"><img src="./img/navbar.jpg"><a href="https://special.mercedes-benz.com.cn/2018-dream-car/mobi/#e-cab" class="sj"></a></div>
      </div>
      <transition name="page-animation">
        <div v-show="pageIndex == 0" :class="{left: pageIndex &gt;= 0}" class="page page-home">
          <div class="bg"><img src="./img/page-home-bg.jpg">
            <div class="animations">
              <div class="arrow arrow-1"><img src="./img/arrow.png"></div>
              <div class="arrow arrow-2"><img src="./img/arrow.png"></div>
              <div class="arrow arrow-3"><img src="./img/arrow.png"></div>
              <div class="arrow arrow-4"><img src="./img/arrow.png"></div>
            </div>
          </div>
          <div class="content">
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 1" :class="{now: pageIndex == 1,right: pageIndex &lt; 1,left: pageIndex &gt; 1}" class="page page-1">
          <div class="bg"><img src="./img/page-1-bg.jpg">
            <div id="stars" class="animations"></div>
          </div>
          <div class="content">
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-1-text.png"></div>
            <div @click="moveNext" class="right"></div>
            <div @click="gameStart(1)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 2" :class="{now: pageIndex == 2,right: pageIndex &lt; 2,left: pageIndex &gt; 2}" class="page page-2">
          <div class="bg"><img src="./img/page-2-bg.jpg">
            <div class="animations">
              <div class="hair"><img src="./img/page-2-hair.gif"></div>
            </div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div @click="moveNext" class="right"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-2-text.png"></div>
            <div @click="gameStart(2)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 3" :class="{now: pageIndex == 3,right: pageIndex &lt; 3,left: pageIndex &gt; 3}" class="page page-3">
          <div class="bg"><img src="./img/page-3-bg.jpg">
            <div class="animations">
              <div class="ball"><img src="./img/page-3-ball.png"></div>
            </div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div @click="moveNext" class="right"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-3-text.png"></div>
            <div @click="gameStart(3)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 4" :class="{now: pageIndex == 4,right: pageIndex &lt; 4,left: pageIndex &gt; 4}" class="page page-4">
          <div class="bg"><img src="./img/page-4-bg.jpg">
            <div id="rain" class="animations"></div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div @click="moveNext" class="right"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-4-text.png"></div>
            <div @click="gameStart(4)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 5" :class="{now: pageIndex == 5,right: pageIndex &lt; 5,left: pageIndex &gt; 5}" class="page page-5">
          <div class="bg"><img src="./img/page-5-bg.jpg">
            <div class="animations">
              <div class="snow"><img src="./img/page-5-snow.gif"></div>
            </div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div @click="moveNext" class="right"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-5-text.png"></div>
            <div @click="gameStart(5)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 6" :class="{now: pageIndex == 6,right: pageIndex &lt; 6,left: pageIndex &gt; 6}" class="page page-6">
          <div class="bg"><img src="./img/page-6-bg.jpg">
            <div id="cloud" class="animations">
              <div class="mark"><img src="./img/page-6-mark.png"></div>
            </div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div @click="moveNext" class="right"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-6-text.png"></div>
            <div @click="gameStart(6)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-animation">
        <div v-show="pageIndex == 7" :class="{now: pageIndex == 7,right: pageIndex &lt; 7,left: pageIndex &gt; 7}" class="page page-7">
          <div class="bg"><img src="./img/page-7-bg.jpg">
            <div id="dog" class="animations"></div>
          </div>
          <div class="content">
            <div @click="movePrev" class="left"></div>
            <div :style="{top: navH+'%'}" class="texts"><img src="./img/page-7-text.png"></div>
            <div @click="gameStart(7)" class="btn btn-start"></div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="regisiterPageShow" class="page page-regisiter">
          <div class="content">
            <form class="form">
              <div class="form-title"><img src="./img/form-title.png"></div>
              <div class="form-group">
                <label for="username"><img src="./img/form-label-name.png"></label>
                <input id="username" type="text" v-model="form.username">
              </div>
              <div class="form-group">
                <label><img src="./img/form-label-sex.png"></label>
                <div class="form-group-items">
                  <div class="item">
                    <input id="man" type="radio" value="1" v-model="form.sex">
                    <label for="man" class="text"><img src="./img/form-man.png"></label>
                  </div>
                  <div class="item">
                    <input id="woman" type="radio" value="0" v-model="form.sex">
                    <label for="woman" class="text"><img src="./img/form-woman.png"></label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mobile"><img id="mobile" src="./img/form-label-mobile.png"></label>
                <input type="text" v-model="form.mobile">
              </div>
              <div class="form-group">
                <label><img src="./img/form-label-p.png"></label>
                <div class="form-group-items">
                  <div class="item select"><span>{{form.province != "" ? form.province : "请选择"}}</span>
                    <select v-model="form.province">
                      <option value="">请选择</option>
                      <option v-for="option in provinces" v-bind:value="option">{{option}}</option>
                    </select>
                  </div>
                  <div class="item c">
                    <div class="text big"><img src="./img/form-label-c.png"></div>
                  </div>
                  <div class="item select"><span>{{form.city != "" ? form.city : "请选择"}}</span>
                    <select v-model="form.city">
                      <option value="">请选择</option>
                      <option v-for="option in citys" v-bind:value="option">{{option}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><img src="./img/form-label-de.png"></label>
                <div class="select"><span>{{form.dealer != "" ? form.dealer : "请选择"}}</span>
                  <select v-model="form.dealer">
                    <option value="">请选择</option>
                    <option v-for="option in dealers" v-bind:value="option">{{option}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label><img src="./img/form-label-detail.png"></label>
                <div class="form-group-items box">
                  <div class="item">
                    <input id="detail" type="checkbox" value="1" checked v-model="form.detail">
                    <label for="detail">我同意以上信息提交给主办方</label>
                  </div>
                </div>
              </div>
              <div @click="submit" class="form-btn"><img src="./img/btn-submit.png"></div>
              <div @click="regisiterPageShow = false" class="close"><img src="./img/form-close.png"></div>
            </form>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="recordPageShow" class="page page-record">
          <div class="bg"><img src="./img/page-record-bg.jpg"></div>
          <div class="content">
            <div id="record" :class="{off: !recording,on: recording}" class="record">
              <div class="mic"><img src="./img/page-record-microphone.png"></div>
              <div class="progress">
                <div class="wrapper r">
                  <div class="circleProgress rightcircle"></div>
                </div>
                <div class="wrapper l">
                  <div class="circleProgress leftcircle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="page-fade">
        <div v-show="ugcPageShow" class="page page-ugc">
          <div id="ugc" class="bg">
          </div>
          <div class="content">
            <div v-if="wy" @click="share" class="mark"></div>
            <div v-if="!wy" class="mark"><img :src="ugc"></div>
            <div class="btns">
              <div @click="regisiterPageShow = true" class="btn btn-reg"><img src="./img/btn-reg.png"></div><a href="http://music.163.com/playlist?id=2222381288" class="btn btn-music"><img src="./img/btn-music.png"></a>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/vue.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/pixi.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/Tween.min.js"></script>
    <script src="//image.giccoo.com/projects/libs/js/min/axios.min.js"></script>
    <script src="js/main.js?v=1"></script>
  </body>
</html>