@font-face {
    font-family: "yrdzst-Bold";
    src: url("yrdzst-Bold.eot"); /* IE9 */
    src: url("yrdzst-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("yrdzst-Bold.woff") format("woff"), /* chrome、firefox */
    url("yrdzst-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("yrdzst-Bold.svg#yrdzst-Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


