/* custom */
@-webkit-keyframes UpDown {
  0%,100% {
    top: 50%; }
  50% {
    top: 40%; } }
@keyframes UpDown {
  0%,100% {
    top: 50%; }
  50% {
    top: 40%; } }
img {
  width: 100%; }


.sharePic {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -1000px; }

section[data-id="1"] {
  margin: 0 auto;
  background-image: url("../img/cover-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center; 
  }
  
  section[data-id="1"] #title {
    margin: 0 auto;
    width: 58%;
    /*margin: 0 auto;*/
    margin-top: 20%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
    }
   @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) };
     50% { -webkit-transform: scale(1.0) };
    }
 
  @keyframes bounce {
   0%, 100% { 
        transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
     transform: scale(1.0);
     -webkit-transform: scale(1.0);
   }
  }
    .iphone4 section[data-id="1"].title {
      width: 22.5%; }
  section[data-id="1"] .boss {
    position: absolute;
    width: 36%;
    margin: 0 auto;
    top: 35%;
    left: 25%; }
    .iphone4 section[data-id="1"].boss {
      width: 46%; }
  section[data-id="1"] .subline {
    position: absolute;
    width: 74%;
    margin: 0 auto;
    bottom: 10%;
    left: 13%; }
    .iphone4 section[data-id="1"].subline {
      width: 65%; }
section[data-id="2"] {
  background-image: url("../img/cover2-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center; 
}
.iphone4 section[data-id="2"] {
      background-size: 100% 100%}

  section[data-id="2"] .boss2 {
    position: absolute;
    margin: 0 auto;
    width: 26%;
    left: 10%;
    margin-top: 100%; }
    .iphone4 section[data-id="2"] .boss2 {
      width: 24%;
      margin-top: 100%; }
  section[data-id="2"] .txt {
    position: absolute;
    width: 51%;
    margin: 0 auto;
    right: 10%;
    top: 52%; }
    .iphone4 section[data-id="2"] .txt {
      width: 46%; 
      right: 12%;}
   
  
