extends ../libs/jade/layout
block title
	| 青春食堂
block css
	link(rel="stylesheet",href="/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="css/base.css")

block content
	// - var images = "http://disk.giccoo.com/projects/dazhong/img"
	- var images = "img"
	//- .wechat-share-hide
		img#share(src="http://disk.giccoo.com/projects/dazhong/img/share.jpg")
	.loading
		.img
			img(src="img/loading.jpg")
			.text
				span.loadtext
					em#loading-text 0
					|  %
				br
				span LOADING
	.main
		.homepage
			-for (var i=1; i<7;i++)
				.food.fadeIn.animated.duration-10(class="food-#{i} delay-#{i*2}")
					img(src="img/food-#{i}.jpg")
			.logo.fadeIn.animated.duration-15.delay-8
				img(src="img/logo.png")

			.star.fadeInUp.animated.duration-10.delay-12(onclick="hidePage()")
				.item.rubberBand.animated.duration-10.delay-17
					img(src="img/start.png")
		.otherpage
			//- http://t.douban.com/img/files/file-14483685209223.mp3
			playsound(src="mp3/bg.mp3",icon="true",icon-stop="img/icon-stop.png",icon-play="img/icon-play.png")
			.infopage.fadeIn.animated
				.bg
				.box
					img(src="img/box.png")
				.content
					.logo
						img(src="img/home-logo.png")
					.text
						img(src="img/home-text.png")
					.star(onclick="starEat()")
						img(src="img/button-eat.png")
			select-page.select-page
			.wechat.fadeIn.animated
				img(src="img/wechat.png")
block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script(src="/libs/js/min/Zepto.min.js")
	script(src="/libs/js/min/fastclick.min.js")
	script(src="/libs/js/min/riot.js")
	script(src="js/tag.js")
	script(src="js/main.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-66865226-2', 'auto');
		ga('send', 'pageview');
