@import sass/base
// @import sass/row
@import ../../libs/sass/loader-ball

$debug : true
$cdn : "../"
@if not $debug
	$cdn : "//image.giccoo.com/projects/maskterkong/"

@for $i from 1 through 30
	.delay-#{$i}
		animation-delay: $i*100ms
	.duration-#{$i}
		animation-duration: $i*100ms
// animation, delay, duration
$fontColor: #000000;
$pageMainBGColor: #0c101a;

+keyframes(flashcamera)
	0%
		background-color: rgba(255,255,255,1)
	80%
		background-color: rgba(255,255,255,0.2)
	100%
		background-color: rgba(0,0,0,0.7)
+keyframes(zoomBigInShow)
	0%
		+transform(scale(1,1))
		opacity: 0
	10%
		+transform(scale(1,1))
		opacity: 1
	100%
		+transform(scale(0.8,0.8))
		opacity: 1
+keyframes(zoomBigIn)
	0%
		+transform(scale(1,1))
		opacity: 0
	10%
		+transform(scale(1,1))
		opacity: 1
	100%
		+transform(scale(0.8,0.8))
		opacity: 1
+keyframes(fadeArrow)
	0%,100%
		opacity: 1
	50%
		opacity: 0.5
+keyframes(fadeBG)
	0%
		opacity: 0
	20%
		opacity: 1
	80%
		opacity: 1
	100%
		opacity: 0
+keyframes(iconFlash)
	0%,100%
		opacity: 1
		+transform(scale(1.2,1.2))
	50%
		opacity: 0.2
		+transform(scale(1,1))
+keyframes(moveLeft)
	0%
		+transform(translate3d(-50%,0,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(musicIcon)
	0%
		+transform(translate3d(0,40%,0))
		opacity: 0
	10%
		opacity: 1
	60%
		opacity: 1
	80%,100%
		+transform(translate3d(0,0,0))
		opacity: 0
+keyframes(swingIcon)
	0%,100%
		+transform(translate3d(0%,0,0) rotate(0deg))
	25%
		+transform(translate3d(-20%,0,0) rotate(10deg))
	75%
		+transform(translate3d(20%,0,0) rotate(-10deg))
+keyframes(textShow)
	0%
		opacity: 0
	10%
		opacity: 1
	90%
		opacity: 1
	100%
		opacity: 0
+keyframes(fadeOutCircle)
	0%
		+transform(scale(0.8,0.8))
		opacity: 0
	20%
		+transform(scale(1,1))
		opacity: 0.7
	100%
		+transform(scale(2,2))
		opacity: 0
+keyframes(swing)
	0%
		+transform(rotate(0))
	50%
		+transform(rotate(-6deg))
	100%
		+transform(rotate(0))
+keyframes(fadeInUpSmall)
	0%
		opacity: 0
		transform: translate3d(0,20px,0)
	100%
		opacity: 1
		transform: translate3d(0,0,0)
+keyframes(second)
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)
+keyframes(beforeWheel)
	0%
		opacity: 1
		transform: scale(0.9,0.9)
	70%
		opacity: 0.8
		transform: scale(1,1)
	100%
		opacity: 1
		transform: scale(0.9,0.9)
+keyframes(fadeInShow)
	0%
		opacity: 0
	45%
		opacity: 0
	50%
		opacity: 1
	100%
		opacity: 1
+keyframes(moveUp)
	0%
		+transform(translate3d(0,0,0))
	60%
		+transform(translate3d(0,-40%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(moveSmall)
	0%,100%
		+transform(translate3d(0,0,0))
	50%
		+transform(translate3d(3%,0,0))
+keyframes(slide-in)
	from
		transform: translateX(-1em) rotate(180deg) scale(0.5)
		opacity: 0
+keyframes(showhand)
	0%
		+transform(translate3d(-100%,100%,0))
	100%
		+transform(translate3d(0,0,0))
+keyframes(water)
	0%
		+transform(translate3d(0,0,0))
	100%
		+transform(translate3d(-50%,0,0))

+keyframes(overBold)
	0%
		font-weight: lighter
	30%
		font-weight: bold
	60%
		font-weight: lighter
	100%
		font-weight: lighter


html,body
	+w
	+h
body
	color: $fontColor
	// +bc(#fff5d0)
	max-width: 640px
	+m
	+posr
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	+overhide
.font
	font-family: "yrdzst-Bold" 

video,canvas,svg
	+w
	+h(auto)
	object-fit: fill
.hide
	+hide
.main,.load
	+w
	+h
	+posr
	max-width: 1280px
	+m
	font-size: 0
	+overhide
	+tran(all,4s,ease)
	+b($cdn+"img/bg.jpg",no-repeat,top,center,cover)

#game
	+h
	canvas
		+h

.page-animation-enter-active
	transition: all .4s linear
.page-animation-leave-active
	transition: all .4s linear
	transform: translate3d(0,0,0)
.page-animation-enter
	transform: translate3d(0,-100%,0)
	& ~ .page-animation-leave
		transform: translate3d(0,100%,0)
.page-animation-leave
	transform: translate3d(0,100%,0)
	& ~ .page-animation-enter
		transform: translate3d(0,100%,0)
.page-animation-enter-to
	transform: translate3d(0,0,0)
	& ~ .page-animation-leave-to
		transform: translate3d(0,100%,0)
.page-animation-leave-to
	transform: translate3d(0,-100%,0)


.page-fade-enter-active
	transition: all .6s ease
	opacity: 1
.page-fade-leave-active
	transition: all .3s linear
	opacity: 1
.page-fade-enter,.page-fade-leave-to
	opacity: 0

.page-zoom-enter-active
	transition: all .6s ease
	opacity: 1
.page-zoom-leave-active
	transition: all .3s linear
	opacity: 1
.page-zoom-enter,.page-zoom-leave-to
	opacity: 0
	+transform(scale(2,2))

.page-up-enter-active
	transition: all .6s ease
	opacity: 1
.page-up-leave-active
	transition: all .3s linear
	opacity: 1
.page-up-enter,.page-up-leave-to
	opacity: 0
	+transform(translate3d(0,-140%,0))

.page-down-enter-active
	transition: all .3s ease
	opacity: 1
.page-down-leave-active
	transition: all .5s linear
	opacity: 1
.page-down-enter,.page-down-leave-to
	opacity: 0
	+transform(translate3d(0,-100%,0))


.page-fadeflower-enter-active
	transition: all .6s ease
	opacity: 1
.page-fadeflower-leave-active
	transition: all .6s ease-in
	opacity: 1
.page-fadeflower-enter,.page-fadeflower-leave-to
	opacity: 0

.qrcode
	+bc(#fff)
	+posa
	+tl
	+w
	+h
	z-index: 9999
	+hide
	&.show
		+show
	.qr
		+w(300px)
		+m
		margin-top: 100px
		+text-center
		font-size: 16px

.load
	+posa
	+tl(0,50%)
	+transform(translate3d(-50%,0,0))
	// +bc($pageMainBGColor)
	z-index: 99
	// 3c080f
	// +hide
	// font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif
	color: #000
	.content
		+w
		+h
		+text-center
		+font-size(0.5rem)
		color: #16323e
		letter-spacing: 0.1em
		font-weight: bold
	.load-text
		+abcentermiddle
		+w
		+h(2em)
		+font-size(.9rem)
		margin-top: 15%
		// letter-spacing: 0.2em
		color: #008a43
	.bottle
		+bc(#dbf2db)
		+posa
		+tl(50%,50%-4.75)
		+iw(71,750,100%)
		+transform(translate3d(0,-60%,0))
		+overhide
		font-size: 0
		.water
			+posa
			+bl(-70%,0)
			+iw(255,71,100%)
			z-index: -1
			+animation(water,1s,ease,infinite)


.public
	+posa
	+tr(1em,1em)
	+wh(1.6rem,1.6rem)
	+font-size(1rem)
	z-index: 199
	font-family: "yrd-Medium"
	// +hide
	.note-text
		+posa
		+tr(50%,120%)
		+font-size(0.8rem)
		line-height: 1rem
		white-space: nowrap
		+text-right
		+m
		+transform(translate3d(0,-50%,0))
		color: #000
		// font-family: "yrd-Medium"
		p
			+m
		.arrow
			+posa
			+tr(50%,-37.5px)
			+transform(translate3d(0,-25%,0))
			font-size: 0
			+h(30px)
			.item
				+w(10px)
				+h
				+show-inline
				font-size: 0
			// .arrow-1
			// 	+animation(fadeArrow,1s,ease,infinite)
			// .arrow-2
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*1/3
			// .arrow-3
			// 	+animation(fadeArrow,1s,ease,infinite)
			// 	animation-delay: 1000ms*2/3

	.player
		+w
		+h
	.icon-play
		+w
		+h
		&.play
			+b($cdn+"img/icon-play.png",no-repeat,center,center,contain)
		&.pause
			+b($cdn+"img/icon-stop.png",no-repeat,center,center,contain)

.pages
	+w
	+h
	+posr
	+overhide
	perspective: 500
	-webkit-perspective: 500
			transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	.page
		+posa
		+tl
		+w
		+h
		+bc(#e3dbd5)
		+hide
		background-attachment: fixed
		z-index: 10
		.bg
			+posa
			+tl
			+w
			+h
			z-index: -1
			img
				+w
				+h
		
.page
	+posa
	+tl
	+w
	+h
	+overhide
	background-size: 100% auto
	.bg,.ugc
		+posa
		+tl(50%)
		font-size: 0
		+transform(translate3d(0,-50%,0))
		.biger &
			+transform(translate3d(0,-50%,0) scale(1.1,1.1))
	.ugc
		+w
		+h
	.content
		+posa
		+tl
		+w
		+h
		box-sizing: border-box

	.next
		+posa
		+bl
		+w
		+h(1px)
		&:before
			content: " "
			+posa
			+bl(10px,50%)
			+w(30px)
			+h(10px)
			// +b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
		&:after
			content: " "
			+posa
			+bl(22px,50%)
			+w(30px)
			+h(10px)
			// +b($cdn+"img/arrow-up.png",no-repeat,top,center,contain)
			+animation(fadeArrow,0.6s,ease,infinite)
			animation-delay: 300ms

.loading-page
	+posa
	+tl
	z-index: 9999
	+w
	+h
	+bc(rgba(0,0,0,0.6))
	.ball-spin-fade-loader
		+posa
		+tl(50%,50%)
		+transform(translate3d(-50%,-50%,0))

.form
	+w(86%)
	+m
	color: #000
	+font-size(0.9rem)
	.form-group
		display: flex
		+box
		+w(90%)
		+m(5% auto)
		border-radius: 0px
		// border: solid 1px #000
		+bc(#eeeeee)
		+overhide
		label
			flex: 3
			+box
			+m(0.4em 0.2em)
			// padding-right: 5%
			+posr
			// border-right: solid 1px #555
			line-height: 1.6em
			justify-content: center
			align-items: center
			box-align: center
			// +bc(#8db637)
			+text-center
			color: #000
			border-right: solid 1px #000
			img
				+show-inline
				vertical-align: middle
		input,.form-group-items,.form-group-line,.select
			flex: 7
		input,.select
			border: none
			outline: none
			+bc(#eeeeee)
			// color: #fff
			+box
			+p(0.6em)
			line-height: 1.4em
			text-indent: 0.4em
			+text-right
		.select
			+overhide
			+posr
			&:after
				content: " "
				+posa
				+tr(50%,0.5rem)
				+wh(0,0)
				// +bc(#6687b3)
				+transform(translate3d(0,-30%,0))
				border-width: 0.5rem;
				border-style: solid;
				border-color: #666666 transparent transparent transparent;
			span
				+box
				+p(0.2rem 0)
				line-height: 1.8em
				text-indent: 0.4rem
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				vertical-align: middle
				margin-right: 1.2em
		select
			+posa
			+tl
			+br
			+wh(100%,100%)
			+show-inline
			opacity: 0
	.custom-select
		overflow: unset
		.select
			overflow: unset
		.box-select
			+posa
			+tl(105%)
			+bc(#fff)
			.option
				line-height: 2em
				+font-size(0.7rem)
				vertical-align: middle
				span
					line-height: 2em
					+wh(1rem,1rem)
					+show-inline
					vertical-align: middle
					border-radius: 50%
	.type-checkbox
		+bc(transparent)
		color: #ccc
		a
			+show-inline
			color: #666
			font-weight: bold
			margin-left: 0.2em
		.checkbox
			+p(0.6em 0)
			+box
		label
			border: none
			+font-size(0.7rem)
			line-height: 0.9rem*2
			+text-left
			padding-left: 0.4em
	.btn-submit
		+m(0.5rem auto)
		+w(50%)

.ugcsave
	+posa
	+tl
	+br
	+w
	+h
	opacity: 0
	z-index: 99


.page-1
	// +b($cdn+"img/homepage-bg.jpg",no-repeat,center,center,cover)
	.content
		.home-handbag
			+posa
			+w(50%)
			+h(50%)
			font-size: 0
			&.left
				+tl(0,-50%)
				.home-hand
					+tl(50%,-10%)
					right: auto
					+transform(rotate(80deg) scale(-1,-1))
				.home-bag
					right: auto
					+tl(66%,55%)
					+transform(rotate(15deg))
			&.right
				+tr(0,-50%)
			.home-hand
				+iw(66,750/2,100%)
				+posa
				+tr(50%,-10%)
				+transform(rotate(110deg))
				transform-origin: center center
			.home-bag
				+iw(119,750/2,100%)
				+posa
				+tr(60%,55%)
				+transform(rotate(-15deg))
				transform-origin: center center


		.home-logo
			margin-top: 30%
			.smaller &
				margin-top: 15%
		.text
			margin-top: 10%
			+font-size(1rem)
			+text-center
			line-height: 2em
		.btn
			+posa
			+bl(5%)
			+w

.page-2
	.content
		.message
			+posa
			+bl(5%,0%)
			+w(100%)
			+font-size(1rem)
			+text-center
			line-height: 2em
			letter-spacing: 0.2em
			text-indent: 0.4em
			color: #f66064
			text-shadow: 1px 1px 2px rgba(0,0,0,0.3)
			
		.shake-hand
			+posa
			+bl(5%,25%)
			+w(50%)
			z-index: 10
			.text
				+font-size(0.8rem)
				+text-center
				margin-top: 24px
				color: #f66064
				letter-spacing: 0.2em
			.shake
				+w(60px)
				+show
				+m
				+posr
			.hand
				+posa
				+tl(-100%,20%)
				+iw(70,120,100%)
				.open
					+show
				.hold
					+hide
				&.hold
					.open
						+hide
					.hold
						+show

		.overMark
			+posa
			+bl(3%)
			+w
			z-index: 99
			font-size: 0
			.logo
				+w
				+show
				margin-top: 1%
			.btn
				+show-inline
				+w(50%)
				+box




.videos
	+posa
	+tl
	+w
	+h
	z-index: 1
	+bc(#fff)
	.video
		+posa
		+tl
		z-index: 1
		&.old
			z-index: 4
		&.on
			z-index: 5

.video
	+posr
	.icon-play
		+posa
		+tl
		+w
		+h
		z-index: 109
		// +bc(rgba(#000, 0.2))
		.icon
			+posa
			+tl(50%,50%)
			+w(20%)
			+transform(translate3d(-50%,-50%,0))
			+bc(rgba(255,255,255,0.7))
			border-radius: 50%
			+overhide
		&.hide
			+animation(fadeOut,1s)
			+show
		&.pause
			+animation(fadeIn,1s)


.player
	z-index: 10
	& + .gif
		+hide
		+posa
		+tl
		z-index: 1
	&.play + .gif
		+show

.fps
	+posa
	+tl(5%,5%)
	z-index: 101

#ugc
	+posa
	+tl
	z-index: 10

.pop
	+posa
	+tl
	+br
	+w
	+h
	+bc(rgba(0,0,0,0.7))
	z-index: 109
	&.flashcamera
		z-index: 3109
		+animation(flashcamera,1s,ease)
		// animation-delay: 1s
		.content
			+animation(zoomBigInShow,0.6s,ease)
			animation-delay: 0.5s
			+w
			+h
		.close
			+posa
			+bl(5%,50%)
			+iw(80,600,100%)
			+transform(translate3d(-50%,0,0))
		.small-size
			// +w(80%)
			// margin-top: 10%
			// margin-left: 10%
			+posr
			+w
			+h
			.close
				+bl(auto,auto)
				+tr(-2rem,-2rem)
				+wh(2rem,2rem)
				+transform(translate3d(0,0,0))
			.scroll
				+touch
				+w
				+h
			.note
				+posa
				+bl(-2em)
				+text-center
				+font-size(0.8rem)
				+w
				color: #fff

.pop-note
	+bc(transparent)
	.textbox
		+abcentermiddle
		+w(90%)
		$size: 8%
		margin-top: 10%
		.left
			+posa
			+tl(50%)
			+w($size)
			+transform(translate3d(0,-50%,0))
			margin-top: -0.7rem
		.right
			+posa
			+tr(50%)
			+w($size)
			+transform(translate3d(0,-50%,0) scale(-1,1))
			margin-top: -0.7rem
		.texts
			margin-left: 12%
			+w(76%)
			white-space: nowrap
			+overhide
			.text-move
				+w
			.messagecontent
				min-height: 1.6em*4
				white-space: normal
	.messages,.edit
		+posr
	.messages
		.note
			+posa
			+tr(-35%)
			+iw(266,750*0.9,100%)
			z-index: 1
	.edit
		.texts
			// +w
			+m
			+box
			+posr
		.close
			$size: 1.5rem
			+posa
			+tr(-$size/2,12%)
			+w($size)
			border-radius: 50%
			border: solid 1px #9e6c01
			+bc(#fff)
			margin-right: -$size/2
		textarea
			+w
			+m
			+font-size(1rem)
			+h(2rem+4rem)
			+p(1rem 0.5em)
			outline: none
			+bc(transparent)
			+box
			border: solid 1px #9e6c01
			color: #9e6c01
	.name
		margin-left: 12%
		margin-top: 0.4em
		+w(76%)
		color: #9e6c01
		+font-size(0.7rem)
		+text-right
		span
			margin-right: 0.2em
		input
			border: none
			border-radius: 0
			border-bottom: solid 1px #9e6c01
			color: #9e6c01
			+font-size(0.7rem)
			+bc(transparent)
			+text-center
			+w(8em)
			outline: none
	.text
		color: #9e6c01
		+font-size(0.9rem)
		font-weight: bold
		+show-inline
		+w
		p
			+m
			line-height: 1.6em
		.music-name
			margin-top: 0.6em
			+font-size(0.7em)
			+text-right
			span
				letter-spacing: -0.25em
				font-weight: normal;
	.btn-gb
		margin-top: 20%

.pop-question
	+bc(transparent)
	.question
		color: #9e6c01
		+text-center
		$size: 8%
		+abcentermiddle
		+w(100%)
		.box
			+posr
		.left
			+posa
			+tl(50%,5%)
			+w($size)
			+transform(translate3d(0,-50%,0))
			// margin-top: -0.7rem
		.right
			+posa
			+tr(50%,5%)
			+w($size)
			+transform(translate3d(0,-50%,0) scale(-1,1))
			// margin-top: -0.7rem
		.texts
			margin-left: 15%
			+w(70%)
			white-space: nowrap
			+overhide
			.text
				+w
				color: #9e6c01
				+font-size(0.9rem)
				font-weight: bold
				+show-inline
				p
					+m(0.5em auto)

			.text-move
				+w
		.note
			+font-size(0.8rem)
		.group
			+w(70%)
			+m(0.4em auto)
			+font-size(0.8rem)
			input
				border-radius: 0
				+font-size(0.6rem)
				border: dashed 1px #9e6c01
				+box
				+p(0.8em 0.4em)
				+w
				+text-center
				outline: none
		.btn-submit
			margin-top: 10%

.pop-answer
	.question
		+posa
		+tl(50%,0)
		+w
		+transform(translate3d(0,0,0))
		.btn-submit
			margin-top: 8%
	.content
		+posa
		+tl
		+w
		+h

.pop-info
	+bc(transparent)
	.info-box
		border: solid #7ac175 2px
		box-shadow: 3px 3px 6px rgba(0,0,0,0.6)
		+w(90%)
		+abcentermiddle
		color: #005d31
		+bc(#fff)
		+box
		+p(1em)
		+font-size(0.7rem)
		.article
			+box
			+h(22em)
			+touch
			+m(1em auto)
			line-height: 1.6
		h1
			+font-size(0.85rem)
			+text-center

		.btn
			+w(60%)
			+m



.splitting
	.char
		animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both
		animation-delay: calc(60ms * var(--char-index))
		+show-inline
		text-indent: 0

.main
	.play
		+posa
		+tr(0.5rem,0.5rem)
		+iw(80,750,100%)
		font-size: 0
		z-index: 99
		&.on
			.icon-play
				+show
			.icon-stop
				+hide
		.icon-play
			+hide
		.icon-stop
			+show



.note-message
	+posf
	+tl
	+w
	+h(2em)
	line-height: 2em
	+font-size(0.7rem)
	+text-center
	+bc(rgba(0,0,0,0.7))
	color: #ff9595
	z-index: 10009

#myDiv
	+hide