extends ../libs/jade/layout
block title
	| 2016年“3·15”保险消费者保险知识竞赛
block css
	link(rel="stylesheet",href="http://disk.giccoo.com/projects/libs/css/animate.min.css",media="none",onload="if(media!='all')media='all'")
	link(rel="stylesheet",href="/qa/css/base.css")

block content
	- var images = "http://disk.giccoo.com/projects/qa/img"
	// - var images = "img"
	//- .loading
		.img
			img(src="#{images}/loading.gif")
			.text
				| Loading 
				span#loading-text 0
				| %
	.main
		.page.info-page.on
			.slogan
				img(src="#{images}/slogan.png")
			.text
				h2 十分抱歉，您并没有中奖。
				p 请中奖用户与7日内领取，否则视为放弃奖品。
			.text
				h2 您已经填写了领取地址。
				p 请中奖用户与7日内领取，否则视为放弃奖品。
			register(action="http://i.giccoo.com/qa/to/lott")
				h3 恭喜中奖,请填写您的个人信息
				p 请中奖用户与7日内领取，否则视为放弃奖品。


		//- #pages
		//- #select-company.pop.select-company.fadeIn.animated
		//- #qa.page.question-page

block js
	//- script(src="/libs/js/min/localforage.min.js")
	script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
	script.
		var openid = "test";
		var subscribe = 1;
		var project = "qa";
		var POSTurl = "http://localhost:8990/qa/to/answer/";
		var QRCODE = "http://disk.giccoo.com/projects/qa/img/qrcode.jpg"
		var SHARETITLE = "2016年“3·15”保险消费者保险知识竞赛";
		var SHAREDESC = "保险消费者保险知识竞赛";
		var SHARELINK = "http://i.giccoo.com/qa/";
		var NOAD = true;
	script(src="http://disk.giccoo.com/projects/libs/js/min/Zepto.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/fastclick.min.js")
	script(src="http://disk.giccoo.com/projects/libs/js/min/riot.min.js")
	script(src="/qa/js/tag.js")
	script(src="/qa/js/main.js")
	
